@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
#style-1::-webkit-scrollbar {
  height: 1.5px; }

#style-1 {
  overflow-x: auto !important;
  overflow-y: inherit; }

.popup-dt {
  padding: 0 15px;
  top: 0 !important; }

.menu-scroll {
  z-index: 999 !important; }

thead tr {
  background: #E9E9EB; }

.section-acc .title-acc {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0; }
.section-acc tbody tr:nth-child(odd) {
  background: #F8F8F8 !important; }
.section-acc tbody tr:nth-child(even) {
  background: #fff !important; }
.section-acc tbody tr td {
  text-align: left;
  padding: 6px 15px; }
  .section-acc tbody tr td a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .section-acc tbody tr td a img {
      margin-right: 15px; }

.editor-affiliate .close {
  padding: 7px 10px !important;
  background: #8E8E8E;
  color: #fff; }
  .editor-affiliate .close b, .editor-affiliate .close span, .editor-affiliate .close label {
    font-size: 20px; }
.editor-affiliate #popup-register-affiliate .modal-header {
  display: flex;
  justify-content: center;
  align-items: center; }
.editor-affiliate #popup-register-affiliate .modal-body .select-selected {
  padding: 1px 0 0 5px;
  color: #572885; }

.title-order-details .title-order {
  margin: 0 6px;
  font-size: 18px !important;
  font-weight: 400 !important; }
.title-order-details .id-order-details {
  font-size: 18px !important;
  font-weight: 700 !important; }

.search-acc {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 25px;
  color: #fff;
  background: #d60000;
  border: #d60000;
  border-radius: 4px;
  margin: 12px 6px; }

.page-profile .pagging-page .pagination a {
  margin: 0 24px; }
.page-profile .tab-content .list-addr .custom-select {
  width: 100%; }
.page-profile .box-ychh {
  padding: 30px 20px; }
  .page-profile .box-ychh h2 {
    margin-bottom: 30px; }
  .page-profile .box-ychh .lich-su-hh {
    height: auto; }
  .page-profile .box-ychh .ttyc-filebox {
    width: 200px !important; }
  .page-profile .box-ychh .date-filebox {
    text-align: right;
    width: 200px !important; }
  .page-profile .box-ychh .thang-filebox {
    text-align: right; }
  .page-profile .box-ychh .rose-filebox {
    text-align: right; }
.page-profile .box-roselk .file-rose {
  height: auto !important; }
  .page-profile .box-roselk .file-rose .file-rose-tb {
    height: auto; }
  .page-profile .box-roselk .file-rose .turnover-filebox {
    width: inherit !important; }
  .page-profile .box-roselk .file-rose .rose-filebox {
    width: inherit !important; }
  .page-profile .box-roselk .file-rose .namectv-filebox {
    width: auto !important; }
  .page-profile .box-roselk .file-rose .so-luong-item-filebox {
    text-align: right;
    width: auto !important; }
.page-profile .box-roselk .da-xl {
  color: #BFA145; }
.page-profile .box-roselk .dang-xl {
  color: #572885; }
.page-profile .box-roselk .head-dg {
  justify-content: space-between; }
.page-profile .box-roselk .file-rose .box-taomoi.rose {
  margin: 18px 6px; }
.page-profile .box-roselk .file-rose .rose-filebox span::after {
  content: 'đ' !important; }
.page-profile .box-roselk .file-rose .namectv-filebox {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.page-profile .head-dg.rose {
  display: flex;
  padding: 20px 0; }
  .page-profile .head-dg.rose .tong-gia-rose {
    display: flex; }
    .page-profile .head-dg.rose .tong-gia-rose h4::after {
      content: 'đ' !important; }
  .page-profile .head-dg.rose .sl-nguoi-rose {
    display: flex;
    margin-left: 30px; }
  .page-profile .head-dg.rose .tong-hh-rose {
    display: flex;
    margin-left: 30px; }
    .page-profile .head-dg.rose .tong-hh-rose h4::after {
      content: 'đ' !important; }
  .page-profile .head-dg.rose .da-nhan-rose {
    display: flex;
    margin-left: 30px; }
    .page-profile .head-dg.rose .da-nhan-rose h4::after {
      content: 'đ' !important; }
  .page-profile .head-dg.rose .con-lai-rose {
    display: flex;
    margin-left: 30px; }
    .page-profile .head-dg.rose .con-lai-rose h4::after {
      content: 'đ' !important; }
.page-profile #date {
  border-radius: 4px !important;
  margin: 12px 6px; }
.page-profile .custom-select {
  width: 250px;
  margin: 12px 6px; }
.page-profile .custom-select {
  margin: 12px 6px; }
.page-profile .section-acc .filter-search .search-head {
  width: 250px !important; }
  .page-profile .section-acc .filter-search .search-head input {
    width: 250px !important; }
.page-profile .section-acc .top-social {
  display: flex;
  align-content: center;
  justify-content: center; }
  .page-profile .section-acc .top-social .link-dang-ky {
    width: 60px;
    margin-left: -20px;
    text-align: center; }
  .page-profile .section-acc .top-social .info-social h5 {
    margin-bottom: 0; }
.page-profile .section-acc #popup-taomoi .sl-filebox {
  width: 125px !important; }
.page-profile .section-acc #popup-taomoi .sl-filebox {
  padding: 0 !important; }
.page-profile .section-acc #popup-taomoi .icon-filebox {
  width: 50px !important; }
.page-profile .section-acc #popup-taomoi .add-item-sp {
  padding: 10px 0 0; }
  .page-profile .section-acc #popup-taomoi .add-item-sp a {
    padding: 6px 12px;
    border-radius: 4px;
    border: #D60000 1px solid;
    color: #D60000; }
  .page-profile .section-acc #popup-taomoi .add-item-sp i {
    margin-right: 6px;
    color: #D60000; }
.page-profile .section-acc #popup-taomoi .trang-thai-mt20 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 16px; }
  .page-profile .section-acc #popup-taomoi .trang-thai-mt20 span {
    margin-left: 6px;
    color: #BFA145;
    font-size: 16px; }
.page-profile .dai-ly {
  align-items: center;
  justify-content: space-between; }
.page-profile .head-tao-moi {
  display: flex;
  align-items: center;
  justify-content: center; }
.page-profile .search-head {
  margin-right: 12px !important; }
.page-profile .status-order {
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .page-profile .status-order .left-shipper {
    padding-right: 50px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .page-profile .status-order .left-shipper .shipper {
      margin-right: inherit; }
  .page-profile .status-order .shop-total {
    position: inherit;
    width: 35%;
    padding: 0;
    display: block; }
    .page-profile .status-order .shop-total .total-text {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .page-profile .status-order .shop-total .total-text span {
        font-size: 14px;
        font-weight: 700; }
      .page-profile .status-order .shop-total .total-text:nth-child(2) {
        margin: 20px 0; }
      .page-profile .status-order .shop-total .total-text .tong-tien-shop {
        font-size: 20px;
        font-weight: 700;
        color: #572885; }

.cart-area .pro-details .product-thumbnail {
  display: block; }
  .cart-area .pro-details .product-thumbnail p {
    margin-left: 28px;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .cart-area .pro-details .product-thumbnail .name-item {
    display: flex; }
    .cart-area .pro-details .product-thumbnail .name-item a {
      font-weight: 600;
      color: #454545; }

.success-page .section-cart .shipper span {
  color: #572885;
  margin-left: 10px; }

.returns-page .section-cart .title-order-details .nunber-item {
  font-size: 12px; }
  .returns-page .section-cart .title-order-details .nunber-item::before {
    content: "("; }
  .returns-page .section-cart .title-order-details .nunber-item::after {
    content: ")"; }
.returns-page .section-cart .head-order-detail {
  max-width: inherit;
  margin: 10px auto; }
.returns-page .section-cart .file-down {
  width: 1200px; }
  .returns-page .section-cart .file-down .sl-item-td {
    text-align: center; }
    .returns-page .section-cart .file-down .sl-item-td input {
      height: 26px;
      width: 85px;
      text-align: center; }
  .returns-page .section-cart .file-down .sl-item {
    width: 50%; }
  .returns-page .section-cart .file-down .ten-filebox input {
    border: 0;
    border-bottom: 1px solid #572885;
    border-radius: 0;
    font-size: 12px;
    background: none !important;
    padding: 0;
    color: #572885; }
    .returns-page .section-cart .file-down .ten-filebox input:disabled {
      border: 0 !important; }
  .returns-page .section-cart .file-down .ten-filebox span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .returns-page .section-cart .file-down .ten-filebox p {
    margin-bottom: 0;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .returns-page .section-cart .file-down .stt-filebox {
    width: 60px; }
  .returns-page .section-cart .file-down .so-luong-filebox {
    width: 150px;
    text-align: center; }
  .returns-page .section-cart .file-down .sl-tra-filebox {
    width: 150px;
    text-align: center; }
  .returns-page .section-cart .file-down .don-gia-filebox {
    width: 200px;
    text-align: right; }
  .returns-page .section-cart .file-down .thanh-tien-filebox {
    width: 200px;
    text-align: right; }
.returns-page thead tr {
  background: #E9E9EB; }
.returns-page tbody tr:nth-child(odd) {
  background: #F8F8F8; }
.returns-page tbody tr:nth-child(even) {
  background: #fff; }
.returns-page tbody tr td {
  text-align: left;
  padding: 6px 15px; }
  .returns-page tbody tr td a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .returns-page tbody tr td a img {
      margin-right: 15px; }

.body-table-shadow {
  display: inline-block;
  width: 100%; }

thead th {
  color: #454545;
  border-bottom: 1px solid #CFCFCF;
  padding: 15px;
  white-space: nowrap;
  font-weight: 600; }

.product-quantity {
  height: 42px;
  width: 135px; }
  .product-quantity input {
    font-size: 16px; }

.page-profile #popup-taomoi .head-body-file {
  padding: 20px 0 0 !important; }
.page-profile #popup-taomoi .box-tong-tien .center .center-btn {
  padding: 10px 15px;
  height: auto;
  width: 100%; }
  .page-profile #popup-taomoi .box-tong-tien .center .center-btn p {
    font-size: 13px;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 0; }
.page-profile #popup-taomoi .box-tong-tien .shop-total {
  padding: 0;
  display: block; }
  .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text p {
      font-size: 12px; }
    .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text:nth-child(2) {
      border-bottom: #F1F1F1 1px dashed; }
      .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text:nth-child(2) span {
        color: #BFA145;
        font-weight: 600; }
    .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text:nth-last-child(1) {
      margin-top: 20px; }
      .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text:nth-last-child(1) p {
        font-size: 14px;
        margin: 5px;
        font-weight: 700; }
      .page-profile #popup-taomoi .box-tong-tien .shop-total .total-text:nth-last-child(1) span {
        font-size: 20px;
        font-weight: 700;
        color: #572885; }
  .page-profile #popup-taomoi .box-tong-tien .shop-total .box-khuyen-mai {
    display: flex; }
    .page-profile #popup-taomoi .box-tong-tien .shop-total .box-khuyen-mai img {
      margin-left: 4px;
      width: 20px;
      height: 20px; }
.page-profile #popup-taomoi .box-dhang {
  min-width: inherit; }
.page-profile #popup-taomoi .head-popup-view {
  display: flex;
  align-items: center;
  justify-content: center; }
.page-profile .download-file.box-shadow .status-filebox {
  width: 200px !important; }
.page-profile .download-file.box-shadow .total-filebox {
  width: 60px !important; }
.page-profile .download-file.box-shadow .date-filebox {
  width: 120px; }
.page-profile .download-file.box-shadow {
  overflow: auto;
  height: inherit !important; }
  .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .form-group {
    padding: 0 5px 15px !important; }
  .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang {
    height: auto; }
  .page-profile .download-file.box-shadow .cbbox-daily {
    height: auto; }
    .page-profile .download-file.box-shadow .cbbox-daily .donhang-filebox {
      text-align: right;
      width: 180px; }
    .page-profile .download-file.box-shadow .cbbox-daily .date-filebox {
      text-align: center; }
  .page-profile .download-file.box-shadow .da-thanh-toan-filebox {
    text-align: right !important; }
    .page-profile .download-file.box-shadow .da-thanh-toan-filebox span::after {
      content: "đ"; }
  .page-profile .download-file.box-shadow .con-no-filebox {
    text-align: right !important; }
    .page-profile .download-file.box-shadow .con-no-filebox span::after {
      content: "đ"; }
.page-profile tbody tr .mo-ta-filebox {
  width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.daily-pp .form-group {
  padding: 0 15px 15px; }
.daily-pp .title-spdl {
  padding: 15px;
  font-weight: bold; }
.daily-pp .san-pham-dl {
  padding: 0 15px; }
.daily-pp .close {
  padding: 7px 10px !important;
  background: #8E8E8E;
  color: #fff; }
  .daily-pp .close b, .daily-pp .close span, .daily-pp .close label {
    font-size: 20px; }

@media only screen and (max-width: 1201px) {
  .page-profile .pagging-page .pagination a {
    margin: 0 20px; }
  .page-profile .box-roselk .box-headbd {
    display: inherit !important; }
    .page-profile .box-roselk .box-headbd .filter-search {
      justify-content: left; }

  header {
    z-index: 999 !important; }

  .page-profile .box-headbd .box-taomoi h2 {
    margin: 5px 0;
    font-size: 24px; }
  .page-profile .box-headbd .filter-search .search-head {
    max-width: 150px !important; }
    .page-profile .box-headbd .filter-search .search-head input {
      width: 150px !important; }
  .page-profile .section-acc .filebox-don-hang {
    height: 38vh; }
  .page-profile .section-acc .box-ychh {
    padding: 20px 15px;
    height: auto; }
    .page-profile .section-acc .box-ychh .lich-su-hh {
      height: 400px; }
  .page-profile .section-acc .cbbox-daily {
    height: auto; }
  .page-profile .section-acc .box-roselk .file-rose-tb {
    height: 400px;
    overflow: auto; }
    .page-profile .section-acc .box-roselk .file-rose-tb .file-rose {
      width: 1200px; } }
@media only screen and (max-width: 960px) {
  .ovan-online .section-website .pattern.pattern-flower {
    display: none; }
  .ovan-online .list-social.list-tiktok .pattern.pattern-flower {
    display: none; }

  .page-profile .file-rose.box-shadow {
    padding: 30px 15px !important; }
  .page-profile .pagging-page .pagination a {
    margin: 0 18px; }
  .page-profile .section-acc .top-social {
    display: flex !important;
    justify-content: center !important; }
  .page-profile .section-acc .box-roselk .box-taomoi {
    display: flex !important; }
  .page-profile .section-acc .box-roselk .file-rose-tb {
    height: auto; }
  .page-profile .section-acc .has-cart .status-order {
    display: flex !important; }
    .page-profile .section-acc .has-cart .status-order .left-shipper {
      display: block;
      padding-right: 0;
      width: 50%; }
    .page-profile .section-acc .has-cart .status-order .shop-total {
      width: 50%; }
  .page-profile .section-acc .download-file .file-down {
    width: 1000px !important; }
  .page-profile .section-acc .download-file .cbbox-daily {
    height: auto; }
  .page-profile .section-acc .box-taomoi {
    display: block !important; }
    .page-profile .section-acc .box-taomoi .dat-don-hang .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%; }
    .page-profile .section-acc .box-taomoi .dat-don-hang .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%; }
    .page-profile .section-acc .box-taomoi .head-tao-moi {
      justify-content: left; }
      .page-profile .section-acc .box-taomoi .head-tao-moi h2 {
        margin: 5px 0; }
    .page-profile .section-acc .box-taomoi .filter-search {
      margin-top: 10px;
      justify-content: center; }
      .page-profile .section-acc .box-taomoi .filter-search .search-head {
        padding-left: 5px;
        margin: 12px 6px; }
        .page-profile .section-acc .box-taomoi .filter-search .search-head input {
          width: 220px; }
  .page-profile .section-acc #popup-taomoi .file-don-hang.dai-ly {
    width: 1000px !important; }

  .close {
    background: #8E8E8E;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    line-height: 0; }

  .page-profile.modal-open #popup-tmdl .box-dhang {
    height: 28vh !important; } }
@media only screen and (max-width: 720px) {
  .editor-affiliate #popup-register-affiliate .modal-body .custom-select {
    margin-bottom: 16px; }

  .page-profile .file-rose {
    padding: 30px 15px !important; }
  .page-profile .pagging-page {
    margin: 30px 0px !important; }
    .page-profile .pagging-page .pagination a {
      margin: 0 6px !important; }
  .page-profile .section-acc .box-ychh .lich-su-hh {
    height: 48vh; }
  .page-profile .section-acc .box-roselk .box-gia-rose .head-dg .tong-gia-rose {
    justify-content: space-between; }
  .page-profile .section-acc .box-roselk .box-gia-rose .head-dg .sl-nguoi-rose {
    width: 100% !important;
    justify-content: space-between; }
  .page-profile .section-acc .box-roselk .box-gia-rose .head-dg .tong-hh-rose {
    width: 100% !important;
    margin-left: 0 !important;
    justify-content: space-between; }
  .page-profile .section-acc .box-roselk .box-gia-rose .head-dg .da-nhan-rose {
    width: 100% !important;
    justify-content: space-between; }
  .page-profile .section-acc .box-roselk .box-gia-rose .head-dg .con-lai-rose {
    width: 100% !important;
    margin-left: 0 !important;
    justify-content: space-between; }
  .page-profile .section-acc .box-roselk .file-rose-tb {
    padding-left: 0px;
    height: 48vh; }
  .page-profile .section-acc .box-roselk .box-headbd .box-taomoi {
    display: block !important; }
  .page-profile .section-acc .box-roselk .box-headbd .filter-search .custom-select {
    width: 100%; }
  .page-profile .section-acc .box-roselk .box-headbd .filter-search .search-head {
    max-width: 100% !important; }
    .page-profile .section-acc .box-roselk .box-headbd .filter-search .search-head input {
      width: 100% !important; }
  .page-profile .section-acc .box-roselk .box-headbd .filter-search .custom-select {
    margin: 12px 0 !important; }
  .page-profile .section-acc .has-cart .status-order {
    display: block !important; }
    .page-profile .section-acc .has-cart .status-order .left-shipper {
      position: absolute;
      bottom: 40px;
      left: 20px;
      width: auto; }
    .page-profile .section-acc .has-cart .status-order .shop-total {
      width: 100%; }
  .page-profile .section-acc .has-cart .payment-success {
    position: relative;
    padding-bottom: 130px !important; }
  .page-profile .section-acc .filter-search .search-head {
    width: 100% !important;
    margin-right: 0 !important; }
  .page-profile .section-acc .filter-search #date {
    margin: 12px 0 !important;
    padding-right: 10px; }
  .page-profile .section-acc .filter-search .search-acc {
    width: 100%;
    margin: 12px 0; }
  .page-profile .section-acc .download-file .cbbox-daily {
    padding-left: 0; }
  .page-profile .section-acc .download-file .daily-cbbox .filter-search .search-head {
    margin: 12px 0 !important;
    padding-left: 0 !important; }
  .page-profile .section-acc .download-file .cbbox-daily {
    height: auto !important; }
  .page-profile .section-acc #popup-taomoi {
    padding-right: 0px;
    top: 60px; }
    .page-profile .section-acc #popup-taomoi .modal-header {
      display: initial; }
      .page-profile .section-acc #popup-taomoi .modal-header .head-popup-view h5 {
        text-align: left; }
    .page-profile .section-acc #popup-taomoi .trang-thai-mt20 {
      margin: 30px 0 0; }
    .page-profile .section-acc #popup-taomoi .head-popup-view {
      display: block; }
    .page-profile .section-acc #popup-taomoi .box-tong-tien {
      margin-top: 20px; }
    .page-profile .section-acc #popup-taomoi .dat-don-hang .shop-total {
      padding: 0; }
      .page-profile .section-acc #popup-taomoi .dat-don-hang .shop-total .total-text {
        margin-top: 0; }
    .page-profile .section-acc #popup-taomoi .dat-don-hang .filebox-don-hang {
      height: 30vh; }
  .page-profile .section-acc .list-addr .custom-select {
    margin: 12px 0; } }
@media only screen and (max-width: 320px) {
  .page-profile .pagging-page .pagination .page-item a {
    margin: 0 2px !important; }
  .page-profile .section-acc .box-roselk .file-rose-tb {
    height: 68vh; }
  .page-profile .section-acc #popup-taomoi .modal-content {
    height: auto !important; }
  .page-profile .section-acc #popup-taomoi .filebox-don-hang {
    height: auto; }

  .page-profile .box-roselk .box-headbd .filter-search #date {
    padding-right: 8px !important; }

  .page-profile.modal-open .modal-content {
    height: 350px !important; } }

/*# sourceMappingURL=hai.css.map */
