@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
.page-profile.modal-open .custom-select .select-selected {
  color: #6A6A6A; }

.center-btn {
  border-color: transparent;
  display: inline-block;
  background: #D60000;
  border-radius: 6px;
  padding: 11px 50px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center; }

.page-profile {
  width: 100%;
  border-collapse: collapse; }
  .page-profile .btn_status {
    border: 1px solid #F1F1F1;
    background: white;
    color: #572885;
    border-radius: 6px;
    padding: 12px 10px 10px 10px; }
    .page-profile .btn_status span {
      color: #6A6A6A;
      margin-left: 6px; }
  .page-profile .tabs-nav-item .nav-item {
    text-align: center; }
  .page-profile .them-sp-tm {
    text-align: center; }
    .page-profile .them-sp-tm .btn-common {
      font-size: 14px;
      display: inline-block;
      background: transparent;
      color: #572885; }
      .page-profile .them-sp-tm .btn-common i {
        font-size: 14px;
        margin-left: 2px; }
  .page-profile .file-don-hang.dai-ly .form-group {
    margin-bottom: 0;
    height: 45px; }
    .page-profile .file-don-hang.dai-ly .form-group textarea {
      height: 45px !important;
      text-align: center;
      background: transparent; }
  .page-profile #popup-rosefile .ychh-box {
    text-align: center; }
  .page-profile .top-social {
    position: inherit;
    margin: 0;
    padding: 0;
    outline: none; }
    .page-profile .top-social .box-social {
      margin: 15px 20px;
      border: 1px dashed #E5E5E5;
      box-shadow: -2px 1px 20px rgba(110, 122, 138, 0.08);
      background: #FFFFFF;
      border-radius: 12px;
      padding: 30px;
      display: flex;
      align-items: center;
      max-width: 350px;
      height: 110px; }
      .page-profile .top-social .box-social .social-nhan-hang {
        background-color: transparent;
        top: 45px;
        width: 100px;
        height: 55px;
        margin-left: -54px;
        border-radius: 10px;
        padding: 10px;
        padding-top: 0px;
        text-align: center; }
        .page-profile .top-social .box-social .social-nhan-hang img {
          width: 80px; }
      .page-profile .top-social .box-social .info-social {
        padding-left: 10px !important;
        position: relative;
        display: inline-block;
        width: 100%; }
        .page-profile .top-social .box-social .info-social p {
          margin-top: 10px;
          margin-bottom: 0;
          display: inline-block;
          width: 100%; }
          .page-profile .top-social .box-social .info-social p a {
            color: #6A6A6A;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden; }
        .page-profile .top-social .box-social .info-social .btn-common {
          background: transparent;
          color: #572885;
          text-align: left;
          padding-left: 0;
          cursor: pointer; }
  .page-profile .box-ychh.box-shadow {
    margin-top: 40px; }
    .page-profile .box-ychh.box-shadow .file-down {
      width: 100%; }
      .page-profile .box-ychh.box-shadow .file-down .stt-filebox {
        width: 15px; }
      .page-profile .box-ychh.box-shadow .file-down .ttyc-filebox {
        width: 250px; }
      .page-profile .box-ychh.box-shadow .file-down .date-filebox {
        width: 200px; }
      .page-profile .box-ychh.box-shadow .file-down .thang-filebox {
        width: 150px; }
      .page-profile .box-ychh.box-shadow .file-down .dang-xl {
        color: #572885; }
      .page-profile .box-ychh.box-shadow .file-down .da-xl {
        color: #BFA145; }
  .page-profile .file-rose.box-shadow {
    padding: 30px 15px;
    margin-top: 20px; }
    .page-profile .file-rose.box-shadow .file-rose .namectv-filebox {
      width: 220px; }
    .page-profile .file-rose.box-shadow .file-rose .link-filebox {
      width: 320px; }
    .page-profile .file-rose.box-shadow .file-rose .category-filebox {
      width: 180px; }
    .page-profile .file-rose.box-shadow .file-rose .turnover-filebox {
      width: 120px;
      text-align: right; }
      .page-profile .file-rose.box-shadow .file-rose .turnover-filebox span::after {
        content: "đ"; }
    .page-profile .file-rose.box-shadow .file-rose .rose-filebox {
      width: 100px;
      text-align: right; }
      .page-profile .file-rose.box-shadow .file-rose .rose-filebox span::after {
        content: "%"; }
    .page-profile .file-rose.box-shadow .file-rose .date-tm-filebox {
      width: 140px;
      text-align: right; }
    .page-profile .file-rose.box-shadow .box-headbd {
      display: flex;
      justify-content: space-between; }
    .page-profile .file-rose.box-shadow .head-dg.rose {
      display: flex;
      padding: 20px 0; }
      .page-profile .file-rose.box-shadow .head-dg.rose h4 {
        margin-bottom: 0; }
      .page-profile .file-rose.box-shadow .head-dg.rose .tong-gia-rose {
        display: flex;
        align-items: center; }
        .page-profile .file-rose.box-shadow .head-dg.rose .tong-gia-rose h4::after {
          content: 'đ'; }
      .page-profile .file-rose.box-shadow .head-dg.rose .sl-nguoi-rose {
        display: flex;
        align-items: center;
        margin-left: 30px; }
      .page-profile .file-rose.box-shadow .head-dg.rose .tong-hh-rose {
        display: flex;
        align-items: center;
        margin-left: 30px; }
        .page-profile .file-rose.box-shadow .head-dg.rose .tong-hh-rose h4::after {
          content: '%'; }
      .page-profile .file-rose.box-shadow .head-dg.rose .da-nhan-rose {
        display: flex;
        align-items: center;
        margin-left: 30px; }
        .page-profile .file-rose.box-shadow .head-dg.rose .da-nhan-rose h4::after {
          content: '%'; }
      .page-profile .file-rose.box-shadow .head-dg.rose .con-lai-rose {
        display: flex;
        align-items: center;
        margin-left: 30px; }
        .page-profile .file-rose.box-shadow .head-dg.rose .con-lai-rose h4::after {
          content: '%'; }
      .page-profile .file-rose.box-shadow .head-dg.rose h4 {
        margin-left: 6px;
        color: #BFA145; }
    .page-profile .file-rose.box-shadow .box-taomoi.rose {
      display: flex; }
  .page-profile thead {
    background: #E9E9EB; }
    .page-profile thead th {
      padding: 15px; }
  .page-profile tbody tr:nth-child(odd) {
    background: #F8F8F8; }
  .page-profile tbody tr:nth-child(even) {
    background: #fff; }
  .page-profile tbody tr td {
    text-align: left;
    padding: 6px 15px; }
    .page-profile tbody tr td a {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .page-profile tbody tr td a img {
        margin-right: 15px; }
  .page-profile .title-taomoi {
    background-color: #D60000;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    margin-left: 20px;
    height: 40px;
    cursor: pointer; }
    .page-profile .title-taomoi i {
      margin-left: 6px; }
  .page-profile .file-rose {
    width: 100%; }
  .page-profile .btn-view {
    color: #454545;
    background-color: none;
    border-color: none;
    cursor: pointer; }
  .page-profile .btn-view:hover {
    color: #572885; }
  .page-profile .center.mt-72 {
    margin-top: 40px; }
  .page-profile .filter-search {
    display: flex;
    align-items: center;
    justify-content: right; }
    .page-profile .filter-search a img {
      height: 40px;
      max-width: inherit; }
    .page-profile .filter-search #date {
      border-radius: 6px 0 0 6px;
      max-width: 225px;
      color: #6A6A6A; }
  .page-profile .tabs-info.mt-60 .search-head {
    margin-right: 20px;
    max-width: 275px; }
    .page-profile .tabs-info.mt-60 .search-head input {
      width: 275px; }
    .page-profile .tabs-info.mt-60 .search-head .ti-search {
      background: inherit;
      color: #6A6A6A; }
  .page-profile .box-shadow {
    width: 100%;
    border-collapse: collapse; }
  .page-profile .download-file.box-shadow {
    padding: 30px 15px;
    margin-top: 20px;
    height: 46vh; }
    .page-profile .download-file.box-shadow .head-dg.rose {
      display: flex;
      padding: 0 0 20px; }
      .page-profile .download-file.box-shadow .head-dg.rose .tong-gia-rose {
        display: flex;
        margin-left: 30px; }
      .page-profile .download-file.box-shadow .head-dg.rose .sl-nguoi-rose {
        display: flex;
        margin-left: 30px; }
      .page-profile .download-file.box-shadow .head-dg.rose .tong-hh-rose {
        display: flex;
        margin-left: 30px; }
      .page-profile .download-file.box-shadow .head-dg.rose .da-nhan-rose {
        display: flex;
        margin-left: 30px; }
      .page-profile .download-file.box-shadow .head-dg.rose .con-lai-rose {
        display: flex;
        margin-left: 30px; }
      .page-profile .download-file.box-shadow .head-dg.rose h4 {
        margin-left: 6px;
        color: #BFA145; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .form-group {
      padding: 0 15px 15px; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .title-spdl {
      padding: 15px;
      font-weight: bold; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .san-pham-dl {
      padding: 0 15px; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .close {
      padding: 7px 10px !important;
      background: #8E8E8E;
      color: #fff; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .close b, .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .close span, .page-profile .download-file.box-shadow .box-taomoi.dai-ly #popup-tmdl .close label {
        font-size: 20px; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang {
      margin-top: 20px; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .sl-filebox.mt-15 {
        width: 160px; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .tt-filebox.tt-15 {
        text-align: right; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .dg-filebox.tt-15 {
        text-align: right; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .product-quantity {
        height: 40px;
        width: 125px; }
        .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .product-quantity .horizontal-quantity {
          background-color: transparent;
          border: transparent;
          text-align: center; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .form-group {
        margin-top: 0px; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .file-don-hang.dai-ly thead {
        background: transparent; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .box-dhang .file-don-hang.dai-ly tbody tr {
        background: transparent; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly .form-group {
      margin-top: 20px; }
    .page-profile .download-file.box-shadow .box-taomoi.dai-ly .filebox-don-hang.box-shadow {
      overflow: auto; }
      .page-profile .download-file.box-shadow .box-taomoi.dai-ly .filebox-don-hang.box-shadow .box-dhang {
        height: 250px;
        min-width: 1000px; }
    .page-profile .download-file.box-shadow .box-taomoi {
      display: flex;
      margin-bottom: 20px; }
      .page-profile .download-file.box-shadow .box-taomoi #popup-tmdl .modal-dialog {
        max-width: 800px; }
        .page-profile .download-file.box-shadow .box-taomoi #popup-tmdl .modal-dialog .box-dhang .file-don-hang.dai-ly {
          width: 100%; }
      .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-dialog {
        max-width: 1200px;
        min-height: 400px; }
      .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-header {
        justify-content: left;
        align-items: center; }
        .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-header .modal-title {
          width: inherit; }
      .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body {
        padding: 10px 0; }
        .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang {
          width: 100%; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .sp-filebox.mt-12 input {
            background-color: transparent; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .stt-filebox.mt-12 {
            width: 50px; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .dg-filebox.tt-12 {
            text-align: right !important; }
            .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .dg-filebox.tt-12 span::after {
              content: 'đ'; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .tt-filebox.tt-12 {
            text-align: right !important; }
            .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .tt-filebox.tt-12 span::after {
              content: 'đ'; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .gc-filebox.mt-12 {
            text-align: center !important; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .sp-filebox.mt-12 {
            width: 300px !important; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .sl-filebox.mt-12 {
            text-align: center;
            padding: 0px 0 0 60px; }
            .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .filebox-don-hang.box-shadow .file-don-hang .sl-filebox.mt-12 .box-file-mt12 {
              border: transparent;
              text-align: right;
              background-color: transparent; }
        .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .head-body-file {
          display: flex;
          padding: 20px 0; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .head-body-file .tong-gia-mt20 {
            display: flex; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .head-body-file .trang-thai-mt20 {
            display: flex;
            margin-left: 30px; }
          .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .modal-body .head-body-file a {
            margin-left: 6px;
            color: #BFA145; }
      .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .close {
        padding: 7px 10px !important;
        background: #8E8E8E;
        color: #fff; }
        .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .close b, .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .close span, .page-profile .download-file.box-shadow .box-taomoi #popup-taomoi .close label {
          font-size: 20px; }
    .page-profile .download-file.box-shadow .file-down {
      width: 100%;
      border-collapse: collapse; }
    .page-profile .download-file.box-shadow .stt-filebox {
      width: 20px; }
    .page-profile .download-file.box-shadow .date-filebox {
      width: 150px; }
    .page-profile .download-file.box-shadow .down-filebox {
      width: 100px; }
    .page-profile .download-file.box-shadow .money-filebox {
      width: 150px;
      text-align: right !important; }
      .page-profile .download-file.box-shadow .money-filebox span::after {
        content: "đ"; }
    .page-profile .download-file.box-shadow .total-filebox {
      width: 150px;
      text-align: right !important; }
    .page-profile .download-file.box-shadow .status-filebox {
      width: 300px;
      text-align: center !important; }
    .page-profile .download-file.box-shadow .icon-filebox {
      width: 100px; }
  .page-profile .pagging-page.mt-30.mb-30 {
    margin-bottom: 0px; }

.popup-rosefile-btn-close button.close {
  padding: 7px 10px !important;
  background: #8E8E8E;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  line-height: 0; }
  .popup-rosefile-btn-close button.close span {
    font-size: 20px; }

@media only screen and (max-width: 960px) {
  .page-profile.modal-open .download-file.box-shadow .box-taomoi .modal-dialog {
    padding: 10px; }
  .page-profile.modal-open .filebox-don-hang.box-shadow {
    padding: 0; }
  .page-profile.modal-open .icon-filebox {
    text-align: center;
    width: 50px; }
  .page-profile.modal-open .sl-filebox.mt-12 {
    width: 120px !important; }
  .page-profile.modal-open .gc-filebox.mt-12 {
    width: 150px; }
  .page-profile.modal-open .sl-filebox.mt-12 {
    padding: 15px !important; }
  .page-profile.modal-open .tt-filebox.tt-12 {
    width: 150px; }
  .page-profile.modal-open .dg-filebox.tt-12 {
    width: 150px; }

  .page-profile .section-acc.pt-0 {
    padding: 0; }
    .page-profile .section-acc.pt-0 .tabs-info.mt-60 .tabs-nav-item {
      overflow-x: auto; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 .tabs-nav-item ul {
        flex-wrap: inherit;
        min-width: 846px; }
  .page-profile .tabs-info.mt-60 {
    margin-top: 10px !important; }
  .page-profile h2 {
    font-size: 24px; }
  .page-profile .title-profile {
    margin-bottom: 10px !important; }
  .page-profile .pagging-page.mt-30.mb-30 {
    margin: 30px 0 !important; }
  .page-profile .download-file.box-shadow .center.mt-72 {
    margin-top: 20px; }
  .page-profile .download-file.box-shadow .cbbox-daily {
    overflow: auto; }
    .page-profile .download-file.box-shadow .cbbox-daily .file-down {
      min-width: 1000px; }
      .page-profile .download-file.box-shadow .cbbox-daily .file-down .donhang-filebox {
        width: 350px; }
  .page-profile #tiep-thi-lien-ket {
    padding: 0; }
    .page-profile #tiep-thi-lien-ket .row.top-social {
      display: inherit; }
      .page-profile #tiep-thi-lien-ket .row.top-social .box-social {
        width: 100%;
        margin: 15px; }
    .page-profile #tiep-thi-lien-ket .box-ychh.box-shadow {
      margin-bottom: 20px; }
  .page-profile .box-ychh.box-shadow {
    overflow: auto; }
    .page-profile .box-ychh.box-shadow .file-down {
      min-width: 1000px; }
  .page-profile .row.top-social {
    display: flex;
    justify-content: space-between; }
    .page-profile .row.top-social .box-social {
      width: 47%;
      margin: 0; }
      .page-profile .row.top-social .box-social h5 {
        font-size: 16px; }
  .page-profile .box-roselk .file-rose.box-shadow {
    padding: 30px 15px 0; }
    .page-profile .box-roselk .file-rose.box-shadow .head-dg.rose {
      display: inherit !important; }
      .page-profile .box-roselk .file-rose.box-shadow .head-dg.rose .sl-nguoi-rose {
        margin-left: 0 !important;
        width: 50%;
        float: left; }
      .page-profile .box-roselk .file-rose.box-shadow .head-dg.rose .tong-hh-rose {
        width: 50%; }
      .page-profile .box-roselk .file-rose.box-shadow .head-dg.rose .da-nhan-rose {
        margin-left: 0 !important;
        width: 50%;
        float: left; }
      .page-profile .box-roselk .file-rose.box-shadow .head-dg.rose .con-lai-rose {
        width: 50%; }
    .page-profile .box-roselk .file-rose.box-shadow .file-rose-tb {
      overflow: auto; }
      .page-profile .box-roselk .file-rose.box-shadow .file-rose-tb .file-rose {
        min-width: 1200px; }
  .page-profile .box-roselk .file-rose.box-shadow .box-headbd {
    display: inherit; }
    .page-profile .box-roselk .file-rose.box-shadow .box-headbd .filter-search {
      margin-top: 15px; }
  .page-profile .box-roselk .file-rose.box-shadow .filter-search {
    justify-content: left; }
    .page-profile .box-roselk .file-rose.box-shadow .filter-search .search-head {
      max-width: 225px; }
      .page-profile .box-roselk .file-rose.box-shadow .filter-search .search-head input {
        width: 225px; }
  .page-profile .box-roselk .nav-tabs .nav-item a {
    font-size: 14px; }

  footer .main-footer .info-footer {
    max-width: inherit;
    width: 50% !important; }
  footer .main-footer .info-footer:first-child {
    margin-bottom: 20px;
    width: 100% !important; } }
@media only screen and (max-width: 767px) {
  .page-profile.modal-open #popup-tmdl .box-dhang {
    height: 16vh;
    overflow-x: auto; }
    .page-profile.modal-open #popup-tmdl .box-dhang .file-don-hang.dai-ly {
      min-width: 700px; }
  .page-profile.modal-open .head-body-file {
    display: inherit !important; }
    .page-profile.modal-open .head-body-file .trang-thai-mt20 {
      margin-left: 0 !important; }
  .page-profile.modal-open .head-popup-view .modal-title {
    width: 100% !important;
    display: block;
    margin-bottom: 20px; }
  .page-profile.modal-open .head-popup-view .title-taomoi.dai-ly {
    margin-left: 0; }

  .page-profile .filter-search {
    display: inherit; }
    .page-profile .filter-search #date {
      max-width: 100%;
      padding-right: 65px;
      border-radius: 6px; }
    .page-profile .filter-search .filter-icon {
      margin-left: -60px; }
    .page-profile .filter-search .search-head {
      max-width: inherit !important;
      margin-bottom: 12px;
      width: 100% !important; }
      .page-profile .filter-search .search-head input {
        width: 100% !important; }
  .page-profile .box-roselk .box-headbd .box-taomoi.rose {
    margin-bottom: 20px; }
    .page-profile .box-roselk .box-headbd .box-taomoi.rose h2 {
      margin-bottom: 20px; }
    .page-profile .box-roselk .box-headbd .box-taomoi.rose .title-taomoi.rose {
      margin-left: 0; }
  .page-profile .file-rose.box-shadow .box-taomoi.rose {
    display: inherit;
    margin-left: 0px; }
  .page-profile .file-rose.box-shadow .filter-search {
    display: initial; }
  .page-profile .tabs-info.mt-60 .tabs-nav-item {
    overflow-x: auto; }
    .page-profile .tabs-info.mt-60 .tabs-nav-item .nav.nav-tabs {
      min-width: 700px !important; }
  .page-profile .tabs-info.mt-60 .search-head {
    margin-right: 10px; }
  .page-profile .nav-item {
    margin-right: 20px; }
    .page-profile .nav-item a {
      padding: 0 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      font-size: 14px !important;
      text-align: center;
      padding: 0 !important; }
  .page-profile #tai-lieu-huan-luyen .pagination {
    margin: 30px 0 40px; }
  .page-profile .download-file.box-shadow {
    overflow-x: auto; }
    .page-profile .download-file.box-shadow .file-down {
      min-width: 1500px; }
      .page-profile .download-file.box-shadow .file-down tbody tr td a {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }

  footer .main-footer .info-footer {
    max-width: inherit;
    width: 100% !important; }
  footer .main-footer .info-footer:first-child {
    margin-bottom: 0px; } }
@media only screen and (max-width: 320px) {
  .page-profile.modal-open #popup-taomoi .modal-body .head-body-file {
    padding: 10px 0 !important; }
    .page-profile.modal-open #popup-taomoi .modal-body .head-body-file a h4 {
      font-size: 16px; }
  .page-profile.modal-open .modal-content {
    height: auto;
    padding: 15px; }
  .page-profile.modal-open .filebox-don-hang.box-shadow {
    height: 220px; }
  .page-profile.modal-open .box-dhang {
    margin-top: 5px !important; }
  .page-profile.modal-open .title-spdl {
    padding: 0 !important; }
  .page-profile.modal-open .san-pham-dl {
    padding: 15px 0 0 !important; }
  .page-profile.modal-open .form-group {
    padding: 0 !important; }
  .page-profile.modal-open .modal-body {
    margin-top: 20px; }

  .page-profile {
    font-size: 13px; }
    .page-profile #tiep-thi-lien-ket .row.top-social {
      margin-right: 15px; }
    .page-profile .title-profile {
      margin-bottom: 20px !important; }
    .page-profile .section-acc.pt-0 .tabs-info.mt-60 {
      margin-top: 5px !important; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 .filter-search {
        display: inherit; }
        .page-profile .section-acc.pt-0 .tabs-info.mt-60 .filter-search .search-head {
          margin-bottom: 12px; }
        .page-profile .section-acc.pt-0 .tabs-info.mt-60 .filter-search .filter-icon {
          margin-left: -10px; }
      .page-profile .section-acc.pt-0 .tabs-info.mt-60 .filter-search .filter-icon {
        margin-left: -60px; }
    .page-profile .box-roselk .box-headbd .filter-search #date {
      padding-right: 65px; }
    .page-profile .head-dg.rose {
      display: flex;
      padding: 0 0 20px; }
      .page-profile .head-dg.rose .tong-gia-rose {
        width: 100% !important; }
      .page-profile .head-dg.rose .sl-nguoi-rose {
        width: 100% !important; }
      .page-profile .head-dg.rose .tong-hh-rose {
        width: 100% !important;
        margin-left: 0 !important; }
      .page-profile .head-dg.rose .da-nhan-rose {
        width: 100% !important; }
      .page-profile .head-dg.rose .con-lai-rose {
        width: 100% !important;
        margin-left: 0 !important; } }

/*# sourceMappingURL=update-css.css.map */
