body {
  font-family: "SVN-Gilroy", sans-serif;
  display: block;
  font-size: 14px;
  color: #333;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background: #23297d; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0; }

a:visited {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a {
  display: inline-block;
  width: 100%; }

.mr-10 {
  margin-right: 10px; }

.mt-30 {
  margin-top: 30px; }

.body-game {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .body-game .bg-home {
    background: url(../images/bg-home.png) no-repeat center bottom;
    background-size: cover;
    top: 0 !important;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .body-game .bg-home .bg-cat {
      bottom: 0;
      left: 0;
      position: fixed;
      width: 100%; }
      .body-game .bg-home .bg-cat img {
        width: 100%; }
      .body-game .bg-home .bg-cat .iconcat-bottom {
        position: absolute;
        width: 100%;
        bottom: 10px;
        display: flex;
        justify-content: space-between; }
        .body-game .bg-home .bg-cat .iconcat-bottom img {
          width: 120px;
          margin: 0 20px;
          height: 100%; }
    .body-game .bg-home .btn-nhanquangay {
      position: relative;
      z-index: 8; }
  .body-game .btn-nhanquangay {
    text-align: center; }
    .body-game .btn-nhanquangay img {
      width: 200px; }
  .body-game .logo-nd {
    margin: 0 0 30px 0; }
    .body-game .logo-nd img {
      width: 160px; }
  .body-game .tieude {
    text-align: center; }
  .body-game .box-phanqua .tieude {
    text-align: center; }
    .body-game .box-phanqua .tieude .text-nhansac img {
      width: 620px; }
    .body-game .box-phanqua .tieude h3 {
      color: #ffe4a4;
      font-size: 24px;
      font-weight: bold;
      margin: 15px 30px;
      line-height: 40px; }
    .body-game .box-phanqua .tieude .text-qua {
      color: #2b307c;
      font-size: 24px;
      font-weight: 700;
      background: linear-gradient(90deg, #FFF 0%, #FCF5E3 100%);
      border-radius: 50px;
      padding: 10px 40px;
      width: fit-content;
      margin: 0 auto 20px auto; }
  .body-game .box-phanqua .phanqua {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap; }
    .body-game .box-phanqua .phanqua .item {
      margin: 0 10px 20px 10px;
      color: #fff;
      width: 28%;
      border: 1px solid white;
      text-align: center;
      box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.13), inset 0px -2px 4px 4px #0f1361;
      background: #21268b;
      border-radius: 10px;
      padding: 15px; }
      .body-game .box-phanqua .phanqua .item img {
        border-radius: 10px;
        width: 100%; }
      .body-game .box-phanqua .phanqua .item p {
        font-size: 18px;
        font-weight: 600;
        margin: 8px 0 0 0; }
        .body-game .box-phanqua .phanqua .item p span {
          font-weight: normal; }
  .body-game .note {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 8;
    max-width: 55%;
    margin: 20px auto 0 auto; }
  .body-game .bg-form {
    background: url(../images/bg-home.png) no-repeat center top;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .body-game .bg-form .bg-cat {
      bottom: 0;
      left: 0;
      position: fixed;
      width: 100%; }
      .body-game .bg-form .bg-cat img {
        width: 100%; }
      .body-game .bg-form .bg-cat .iconcat-bottom {
        position: absolute;
        width: 100%;
        top: -430px;
        display: flex;
        justify-content: space-between; }
        .body-game .bg-form .bg-cat .iconcat-bottom img {
          width: 200px;
          margin: 0 20px;
          height: 100%; }
    .body-game .bg-form .box-step {
      padding: 40px 0 200px 0; }
    .body-game .bg-form .logo-nd {
      text-align: center; }
    .body-game .bg-form .content-form {
      background: linear-gradient(180deg, #6875E0 0%, #484DA1 100%);
      border-radius: 50px;
      padding: 30px 30px 5px 30px;
      margin: 0 auto;
      border: 1px solid white;
      max-width: 550px;
      position: relative;
      z-index: 1; }
      .body-game .bg-form .content-form input {
        font-weight: 500;
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        background: none;
        border-radius: 10px;
        border: 1px solid #fff;
        color: #fff; }
      .body-game .bg-form .content-form ::placeholder {
        color: #fff; }
      .body-game .bg-form .content-form select {
        font-weight: 500;
        height: 40px;
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        background: none;
        border-radius: 10px;
        border: 1px solid #fff;
        color: #fff; }
      .body-game .bg-form .content-form .thongtin .thongtin-nguoigui {
        position: relative;
        width: 100%;
        background-color: #4b50af;
        padding: 45px 15px 30px 15px;
        border-radius: 30px;
        border: 1px solid #ffffff42;
        margin-bottom: 50px; }
        .body-game .bg-form .content-form .thongtin .thongtin-nguoigui .title-nguoigui {
          text-transform: uppercase;
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          text-align: center;
          background-color: #484ad1;
          border-radius: 30px;
          padding: 6px;
          position: absolute;
          top: -18px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 300px; }
      .body-game .bg-form .content-form .thongtin .thongtin-nguoinhan {
        position: relative;
        width: 100%;
        background-color: #4b50af;
        padding: 45px 15px 30px 15px;
        border-radius: 30px;
        margin-bottom: 50px;
        border: 1px solid #ffffff42; }
        .body-game .bg-form .content-form .thongtin .thongtin-nguoinhan .title-nguoinhan {
          text-transform: uppercase;
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          text-align: center;
          background-color: #474ad1;
          border-radius: 30px;
          padding: 6px;
          position: absolute;
          top: -18px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 300px; }
    .body-game .bg-form .btn-xacnhan {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 170px;
      z-index: 3; }
      .body-game .bg-form .btn-xacnhan img {
        width: 200px; }
    .body-game .bg-form .info-family {
      display: flex; }
      .body-game .bg-form .info-family .form-group {
        width: 50%; }
  .body-game .bg-dangkythanhcong {
    background: url(../images/bg-home.png) no-repeat center top;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .body-game .bg-dangkythanhcong .bg-cat {
      bottom: 0;
      left: 0;
      position: fixed;
      width: 100%; }
      .body-game .bg-dangkythanhcong .bg-cat img {
        width: 100%; }
      .body-game .bg-dangkythanhcong .bg-cat .iconcat-bottom {
        display: none; }
    .body-game .bg-dangkythanhcong .text-qua {
      text-transform: inherit !important; }
    .body-game .bg-dangkythanhcong .tieude {
      margin-top: 20px; }

.box-step {
  padding: 160px 0 200px 0; }

.box-dkythanhcong {
  position: relative;
  background: #ffeec7;
  color: #232a7b;
  text-align: center;
  width: fit-content;
  border-radius: 30px;
  border: 4px solid #1727ba;
  margin: 0 auto;
  padding: 0 60px;
  margin-bottom: 30px;
  background: none;
  border: 0;
  max-width: 600px; }
  .box-dkythanhcong img {
    width: 100%; }
  .box-dkythanhcong .iconcat {
    position: absolute;
    left: -65px;
    top: -34px; }
    .box-dkythanhcong .iconcat img {
      width: 110px; }
  .box-dkythanhcong h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px; }
  .box-dkythanhcong p {
    font-size: 16px;
    margin-bottom: 15px; }

.align-center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px; }
  .label-custom:checked {
    color: #fff !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #fff !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #fff;
  border: 1px solid #fff; }

.input-custom:checked + .label-custom {
  color: #fff !important; }

@media only screen and (max-width: 1201px) {
  .body-game .bg-home {
    top: 200px !important; } }
@media only screen and (max-width: 950px) {
  .body-game .bg-home {
    top: 0 !important; } }
@media only screen and (max-width: 500px) {
  #btn-tieptuc {
    margin-top: 30px; }
    #btn-tieptuc img {
      width: 150px; }

  .body-game .box-phanqua .item {
    width: 40% !important;
    margin: 15px 10px 10px 10px !important; }
    .body-game .box-phanqua .item p {
      font-size: 16px !important; }
  .body-game .box-phanqua .tieude h3 {
    font-size: 20px;
    margin: 20px;
    line-height: 30px; }
  .body-game .box-phanqua .text-qua {
    font-size: 16px !important; }
  .body-game .bg-dangkythanhcong {
    height: 100%; }

  .box-step {
    padding: 0 0 100px 0; }

  .logo-nd {
    margin: 0 !important; }
    .logo-nd img {
      width: 135px !important; }

  .box-dkythanhcong {
    padding: 0 40px;
    margin: 20px auto 0 auto; }
    .box-dkythanhcong .iconcat {
      position: absolute;
      left: -30px;
      top: -10px; }
      .box-dkythanhcong .iconcat img {
        width: 80px; }
    .box-dkythanhcong h3 {
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px; }
    .box-dkythanhcong p {
      font-size: 16px; }

  .bg-form {
    height: 100%; }
    .bg-form .box-step {
      padding: 15px 0 200px 0 !important; }
    .bg-form .logo-nd {
      margin: 0px 0 30px 0 !important; }
    .bg-form .title-nguoinhan,
    .bg-form .title-nguoigui {
      padding: 6px 30px !important;
      width: fit-content !important; }
    .bg-form .thongtin-nguoinhan {
      margin-bottom: 30px !important; }
    .bg-form .btn-xacnhan {
      margin-top: 30px;
      position: inherit !important; }
      .bg-form .btn-xacnhan img {
        width: 200px !important; }
    .bg-form .content-form {
      margin: 0 30px !important;
      max-width: 100% !important;
      padding: 30px 30px 5px 30px !important; }
    .bg-form .iconcat-bottom {
      display: none !important; }
    .bg-form .bg-cat {
      z-index: 6; }

  .bg-home {
    height: 100%; }
    .bg-home .logo-nd {
      margin-top: 20px !important; }
    .bg-home .btn-nhanquangay img {
      width: 200px;
      margin-top: 20px; }
    .bg-home .text-nhansac img {
      width: 300px !important;
      margin-top: 20px; }
    .bg-home .note {
      font-size: 16px;
      max-width: 50%; }
    .bg-home .iconcat-bottom {
      bottom: 5px; }
      .bg-home .iconcat-bottom img {
        width: 80px !important; } }

/*# sourceMappingURL=style.css.map */
