<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/ion.rangeSlider.min.js"></script>
<script src="js/lightslider.js"></script>

<script src="js/main.js"></script>

<script>
    $(document).ready(function () {
  $('.hh-slider-items-camnhankhachhang-2').owlCarousel({
    loop: true,
    margin: 10,
    autoplayHoverPause: false,
    autoplay: 6000,
    smartSpeed: 700,
    responsiveClass: true,
    responsive: {
      0: {
        items: 1,
        nav: true
      },
      600: {
        items: 1,
        nav: false
      },
      1000: {
        items: 1,
        nav: true,
        loop: false,
        margin: 0
      },
      1300: {
        items: 1,
        nav: true,
        loop: false,
        margin: 0
      }
    }
  })
});
</script>

<!-- Add them thu vien cho hieu ung chay so-->