<footer>
    <div class="container-footer">
       <div class="tb-body-footer">
          <div class="tb-logo-footer">
             <img class="tb-img-logo-footer" src="images/logo.svg" alt="">
             <div class="social-footer">
                <a href=""><img src="images/facebook.svg" alt=""></a>
                <a href=""><img src="images/twitter.svg" alt=""></a>
                <a href=""><img src="images/linkedin.svg" alt=""></a>
                <a href=""><img src="images/instagram.svg" alt=""></a>
             </div>
             <div class="all-right">
               <p>All rights reserved | © 2023 Thai Binh Corporation</p>
             </div>
          </div>
          <div class="tb-link-footer tb-link-contact-footer">
             <div class="tb-title-footer">
                <b>Contact Us</b>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                <b>Head office:</b> 26B, Phan Chu Trinh, Hiep <br/> Phu Ward, Thu Duc City, HCMC, Việt Nam
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/ic-phone-footer.svg" alt="">
                <span>
                <a href="tel:(84 28) 3736 0231">(84 28) 3736 0231</a> <br/>
                <a href="tel:(84 28) 3736 0232">(84 28) 3736 0232</a>
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/adress-footer.svg" alt="">
                <span>
                <b>Cuba office:</b> Calle 32, No.308, e/ 3ra. y <br/> 5ta., Playa, La Habana, Cuba 
                </span>
             </div>
             <div class="tb-item-adress-footer">
                <img src="images/ic-phone-footer.svg" alt="">
                <span>
                <a href="tel:+537 2047791">+537 2047791</a><br/>
                <a href="tel:+537 2047792">+537 2047792</a><br/>
                <a href="tel:+537 2047793">+537 2047793</a>
                </span>
             </div>
             <div class="tb-mail-footer">
                <ul class="nav nav-tabs">
                   <li><a class="active" data-toggle="tab" href="#home">Buyer</a></li>
                   <li><a data-toggle="tab" href="#menu1">Supplier</a></li>
                   <li><a data-toggle="tab" href="#menu2">Investor</a></li>
                   <li><a data-toggle="tab" href="#menu3">Employee</a></li>
                </ul>
                <div class="tab-content">
                   <div id="home" class="tab-pane fade in show active">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>sales@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu1" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>supplier@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu2" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>investor@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                   <div id="menu3" class="tab-pane fade">
                      <div class="tb-content-tab-footer">
                         <a href="mailto:sales@thaibinh.com.vn">
                         <img src="images/mail-footer.svg" alt="">
                         <span>employee@thaibinh.com.vn</span>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="tb-link-footer">
             <div class="tb-title-footer">
                <b>Our corp</b>
             </div>
             <div class="tb-link-footer-editor">
                <a href="">About</a>
                <a href="">
                Product</a>
                <a href="">
                Investment</a>
                <a href="">
                Supplier</a>
                <a href="">
                Manufacturers</a>
                <a href="">
                Careers</a>
                <a href="">
                News</a>
             </div>
             <div class="tb-title-footer">
               <b>Cooperation</b>
            </div>
            <div class="tb-link-footer-editor">
               <a href="contact-coop.html">Buyers</a>
               <a href="contact-coop.html">
               Suppliers</a>
               <a href="contact-coop.html">
               Investors</a>
               <a href="contact-coop.html">
               Employee</a>
            </div>
          </div>
          <div class="tb-link-footer">
             <div class="tb-title-footer">
                <b>Our Product</b>
             </div>
             <div class="tb-link-footer-editor">
                <a href="">Household products</a>
                <a href="">
                Food & Beverage</a>
                <a href="">
                Industrial Manufacturing</a>
                <a href="">
                Clothing & Accessories</a>
                <a href="">
                Electronic Appliances</a>
                <a href="">
                Cosmetic & Pharmaceutical</a>
                <a href="">
                NFurnitureews</a>
                <a href="">
                Construction Materials</a>
                <a href="">
                Vehicle & Parts</a>
                <a href="">
                Stationery</a>
                <a href="">
                Sports Equipment</a>
                <a href="">
                Baby Kids & Toys</a>
             </div>
          </div>
       </div>
    </div>
 </footer>
  <!-- end update-html-mobile -->
 <footer class="footer-mb">
   <div class="container-footer">
      <div class="tb-body-footer">
         <div class="tb-logo-footer">
            <img class="tb-img-logo-footer" src="images/logo.svg" alt="">
           
         </div>
         <div class="tb-link-footer tb-link-contact-footer">
            
           <div class="address">
            <div class="tb-item-adress-footer">
               <img src="images/adress-footer.svg" alt="">
               <span>
               <b>Head office:</b> 26B, Phan Chu Trinh, Hiep <br/> Phu Ward, Thu Duc City, HCMC, Việt Nam
               </span>
            </div>
            <div class="tb-item-adress-footer">
               <img src="images/ic-phone-footer.svg" alt="">
               <span class="number-phone"> (84 28) 3736 0231 </span>
              <span class="number-phone">(84 28) 3736 0232</span>
               
               
            </div>
           </div>
          <div class="address">
            <div class="tb-item-adress-footer">
               <img src="images/adress-footer.svg" alt="">
               <span>
               <b>Cuba office:</b> Calle 32, No.308, e/ 3ra. y <br/> 5ta., Playa, La Habana, Cuba 
               </span>
            </div>
            <div class="tb-item-adress-footer">
               <img src="images/ic-phone-footer.svg" alt="">
               <span class="number-phone"> +537 2047791</span>
               <span class="number-phone"> +537 2047792</span>
               <span class="number-phone"> +537 2047793</span>
              
            </div>
          </div>
            <div class="tb-mail-footer">
               <ul class="nav nav-tabs">
                  <li>
                     <a  href="#">Buyer</a>
                     <div class="tb-content-tab-footer">
                        <a href="mailto:sales@thaibinh.com.vn">
                        <img src="images/mail-footer.svg" alt="">
                        <span>sales@thaibinh.com.vn</span>
                        </a>
                     </div>
                  </li>
                  <li>
                     <a  href="#">Supplier</a>
                     <div class="tb-content-tab-footer">
                        <a href="mailto:sales@thaibinh.com.vn">
                        <img src="images/mail-footer.svg" alt="">
                        <span>sales@thaibinh.com.vn</span>
                        </a>
                     </div>
                  </li>
                  <li>
                     <a  href="#">Investor</a>
                     <div class="tb-content-tab-footer">
                        <a href="mailto:sales@thaibinh.com.vn">
                        <img src="images/mail-footer.svg" alt="">
                        <span>sales@thaibinh.com.vn</span>
                        </a>
                     </div>
                  </li>
                  <li>
                     <a  href="#">Employee</a>
                     <div class="tb-content-tab-footer">
                        <a href="mailto:sales@thaibinh.com.vn">
                        <img src="images/mail-footer.svg" alt="">
                        <span>sales@thaibinh.com.vn</span>
                        </a>
                     </div>
                  </li>
               </ul>
              
            </div>
         </div>
         <div class="tb-link-footer">
            <div class="tb-title-footer">
               <b>Our corp</b>
               <img src="images/arrow-footer.svg" alt="" class="arrow-footer">
            </div>
            <div class="tb-link-footer-editor">
               <a href="">About</a>
               <a href="">
                  Manufacturers</a>
               <a href="">
               Product</a>
               <a href="">
                  Careers</a>
               <a href="">
               Investment</a>
               <a href="">
                  News</a>
               <a href="">
               Supplier</a>
              
              
              
            </div>
         </div>
         <div class="tb-link-footer">
            <div class="tb-title-footer">
               <b>Our Product</b>
               <img src="images/arrow-footer.svg" alt="" class="arrow-footer">
            </div>
            <div class="tb-link-footer-editor">
               <a href="">Household products</a>
               <a href="">
                  Furniture</a>
               <a href="">
               Food & Beverage</a>
               <a href="">
                  Construction Materials</a>
               <a href="">
               Industrial Manufacturing</a>
               <a href="">
                  Vehicle & Parts</a>
               <a href="">
               Clothing & Accessories</a>
               <a href="">
                  Stationery</a>
               <a href="">
               Electronic Appliances</a>
               <a href="">
                  Sports Equipment</a>
               <a href="">
               Cosmetic & Pharmaceutical</a>
               
               <a href="">
               Baby Kids & Toys</a>
            </div>
         </div>
         <div class="tb-link-footer">
            <div class="tb-title-footer">
               <b>Cooperation</b>
               <img src="images/arrow-footer.svg" alt="" class="arrow-footer">
            </div>
            <div class="tb-link-footer-editor">
               <a href="contact-coop.html">Buyers</a>
               <a href="contact-coop.html">
               Suppliers</a>
               <a href="contact-coop.html">
               Investors</a>
               <a href="contact-coop.html">
               Employee</a>
            </div>
         </div>
         <div class="box">
            <div class="social-footer">
               <a href=""><img src="images/facebook.svg" alt=""></a>
               <a href=""><img src="images/twitter.svg" alt=""></a>
               <a href=""><img src="images/linkedin.svg" alt=""></a>
               <a href=""><img src="images/instagram.svg" alt=""></a>
            </div>
            <div class="all-right">
              <p>All rights reserved | © 2023 Thai Binh Corporation</p>
            </div>
         </div>
      </div>
   </div>
</footer>
 <!-- end update-html-mobile -->
<!-- js-submenu-footer -->
<script>
    $(".tb-link-footer").click(function () {
         $('.tb-link-footer').removeClass('active');
         $(this).addClass('active');
      });
      
</script>
<!-- end js-submenu-footer -->