<header class="tb-header" id="tb-header">
    <nav>
       <ul>
         <li>
            <a href="">Home</a>
         </li>
          <li class="tb-submenu">
             <a href="">About</a><img class="tb-down" src="images/down.svg" alt="">
             <!--sub menu-->
             <div class="tb-submenu-body" >
                <div class="tb-submenu-content">
                   <div class="tp-submenu-title">
                      <h2>About us</h2>
                      <div class="tp-button tb-btn-white">
                         <a href="about.html">
                         <span>View our company</span>
                         <b><img src="images/arrowright-blue.svg" alt=""><img src="images/arrowright-white.svg" alt=""></b>
                         </a>
                      </div>
                   </div>
                   <div class="tb-box-submenu">
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Our history</a></li>
                            <li><a href="">Our mission</a></li>
                            <li><a href="">Our vision</a></li>
                         </ul>
                      </div>
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Our core value</a></li>
                            <li><a href="">Our manufacturers</a></li>
                            <li><a href="">Our achievements</a></li>
                         </ul>
                      </div>
                   </div>
                   <img class="tb-submenu-bg" src="images/sub-menu.svg" alt="">
                </div>
             </div>
             <!--end sub menu-->
          </li>
          <li class="tb-submenu">
             <a href="product.html">Products</a><img class="tb-down" src="images/down.svg" alt="">
             <!--sub menu-->
             <div class="tb-submenu-body">
                <div class="tb-submenu-content">
                   <div class="tp-submenu-title">
                      <h2>Products</h2>
                      <div class="tp-button tb-btn-white">
                         <a href="product.html">
                         <span>View Our products</span>
                         <b><img src="images/arrowright-blue.svg" alt=""><img src="images/arrowright-white.svg" alt=""></b>
                         </a>
                      </div>
                   </div>
                   <div class="tb-box-submenu">
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Household products</a></li>
                            <li><a href="">Baby kids & toys</a></li>
                            <li><a href="">Food & beverage</a></li>
                            <li><a href="">Cosmetic & Pharmaceutical</a></li>
                            <li><a href="">Clothing & accessories</a></li>
                         </ul>
                      </div>
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Construction materials</a></li>
                            <li><a href="">Stationery</a></li>
                            <li><a href="">Industrial Manufacturing</a></li>
                            <li><a href="">Furniture</a></li>
                            <li><a href="">Vehical & parts</a></li>
                         </ul>
                      </div>
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Electronic appliances</a></li>
                            <li><a href="">Sport equipment</a></li>
                         </ul>
                      </div>
                   </div>
                   <img class="tb-submenu-bg" src="images/sub-menu.svg" alt="">
                </div>
             </div>
             <!--end sub menu-->
          </li>
          <li class="tb-submenu">
             <a href="investment.html">Investments</a><img class="tb-down" src="images/down.svg" alt="">
             <!--sub menu-->
             <div class="tb-submenu-body">
                <div class="tb-submenu-content">
                   <div class="tp-submenu-title">
                      <h2>Investment</h2>
                      <div class="tp-button tb-btn-white">
                         <a href="investment.html">
                         <span>View Investment</span>
                         <b><img src="images/arrowright-blue.svg" alt=""><img src="images/arrowright-white.svg" alt=""></b>
                         </a>
                      </div>
                   </div>
                   <div class="tb-box-submenu">
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Our projects</a></li>
                            <li><a href="">Mariel Special Development Zone</a></li>
                            <li><a href="">Investment opportunities and policies</a></li>
                            <li><a href="">Compliant with international standard for environment</a></li>
                         </ul>
                      </div>
                   </div>
                   <img class="tb-submenu-bg" src="images/sub-menu.svg" alt="">
                </div>
             </div>
             <!--end sub menu-->
          </li>
          <li>
             <a href="index.html"><img src="images/logo.svg" alt="Thái Bình"/></a>
          </li>
          <li class="tb-submenu">
             <a href="">Suppliers</a><img class="tb-down" src="images/down.svg" alt="">
             <!--sub menu-->
             <div class="tb-submenu-body">
                <div class="tb-submenu-content">
                   <div class="tp-submenu-title">
                      <h2>Suppliers</h2>
                      <div class="tp-button tb-btn-white">
                         <a href="">
                         <span>View Suppliers</span>
                         <b><img src="images/arrowright-blue.svg" alt=""><img src="images/arrowright-white.svg" alt=""></b>
                         </a>
                      </div>
                   </div>
                   <div class="tb-box-submenu">
                      <div class="tb-nav-submenu">
                         <ul>
                            <li><a href="">Domestic products</a></li>
                            <li><a href="">Construction materials</a></li>
                            <li><a href="">Foods and beverages</a></li>
                            <li><a href="">Fashion</a></li>
                            <li><a href="">Industrial productions</a></li>
                         </ul>
                      </div>
                   </div>
                   <img class="tb-submenu-bg" src="images/sub-menu.svg" alt="">
                </div>
             </div>
             <!--end sub menu-->
          </li>
          <li>
             <a href="">Careers</a>
          </li>
          <li>
             <a href="">News</a>
          </li>
          <li>
             <a href="contact-coop.html">Contact</a>
          </li>
       </ul>
    </nav>
   
    <div class="languages-search">
      <div class="languages">
         <a href=""><img src="images/flag-vn.svg" alt=""></a>
        <div class="sub-languages">
          <div class="content-sub">
            <a href=""><img src="images/flag-vn.svg" alt=""><span>Tiếng Việt</span></a>
            <a href=""><img src="images/flag-en.svg" alt=""><span>English</span></a>
            <a href=""><img src="images/flag-spain.svg" alt=""><span>Spanish</span></a>
          </div>
        </div>
      </div>
      <div class="search-header">
        <img class="img-show-search" src="images/search.svg" alt="">
        <div class="sub-search">
          <div class="container-search">
            <div class="logo">
              <a href=""><img src="images/logo.svg" alt=""></a>
            </div>
            <div class="search-show">
              <div class="content-search-show">
                <img src="images/search-blue.svg" alt="">
                <input type="text" placeholder="Insert keyword">
                <button type="submit">Search</button>
              </div>
              <img class="close-sub-search" src="images/close.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
 </header>
 <!-- header menu mobile -->
 <header class="tb-header tb-heade-mb" id="tb-header">
   <nav>
      <ul>
        <li>
           <a href="">Home</a>
        </li>
        <li >
         <a href="#">About</a>
         <img class="arrow-down arrow-up" src="images/down.svg" alt="">
        
         <!--sub menu-->
         <ul class="submenu">
            <li><a href="about.html">Our history</a></li>
            <li><a href="about.html">Our mission</a></li>
            <li><a href="about.html">Our vision</a></li>
            <li><a href="about.html">Our core value</a></li>
            <li><a href="about.html">Our manufacturers</a></li>
            <li><a href="about.html">Our achievements</a></li>
         </ul>
         <!--end sub menu-->
      </li>
        
         <li >
            <a href="#">Products</a>
            <img class="arrow-down arrow-up" src="images/down.svg" alt="">
          
            <!--sub menu-->
           <ul class="submenu">
            <li><a href="product.html">Household products</a></li>
            <li><a href="product.html">Baby kids & toys</a></li>
            <li><a href="product.html">Food & beverage</a></li>
            <li><a href="product.html">Cosmetic & Pharmaceutical</a></li>
            <li><a href="product.html">Clothing & accessories</a></li>
            <li><a href="product.html">Electronic appliances</a></li>
            <li><a href="product.html">Construction materials</a></li>
            <li><a href="product.html">Stationery</a></li>
            <li><a href="product.html">Industrial Manufacturing</a></li>
            <li><a href="product.html">Furniture</a></li>
            <li><a href="product.html">Vehical & parts</a></li>
            <li><a href="product.html">Sport equipment</a></li>
           </ul>
         </li>
         <li >
            <a href="#">Investments</a>
            <img class="arrow-down arrow-up" src="images/down.svg" alt="">
            
            <!--sub menu-->
            <ul class="submenu">
               <li><a href="">Our projects</a></li>
               <li><a href="">Mariel Special Development Zone</a></li>
               <li><a href="">Investment opportunities and policies</a></li>
               <li><a href="">Compliant with international standard for environment</a></li>
            </ul>
         </li>
        
         <li >
            <a href="">Suppliers</a>
            <img class="arrow-down arrow-up" src="images/down.svg" alt="">
           
            <!--sub menu-->
            <ul class="submenu">
               <li><a href="">Domestic products</a></li>
               <li><a href="">Construction materials</a></li>
               <li><a href="">Foods and beverages</a></li>
               <li><a href="">Fashion</a></li>
               <li><a href="">Industrial productions</a></li>
            </ul>
            <!--end sub menu-->
         </li>
         <li>
            <a href="">Careers</a>
         </li>
         <li>
            <a href="">News</a>
         </li>
         <li>
            <a href="contact-coop.html">Contact</a>
         </li>
      </ul>
   </nav>
   
   <div class="box-head-mb">
      <div class="logo-mb">
         <a href="index.html"><img src="images/logo.svg" alt="Thái Bình"/></a>
      </div>
      <div class="content-right">
         <div class="languages-search">
            <div class="search-header">
               <img class="img-show-search" src="images/search.svg" alt="">
               <div class="sub-search">
                 <div class="container-search">
                   <div class="logo">
                     <a href=""><img src="images/logo.svg" alt=""></a>
                   </div>
                   <div class="search-show">
                     <div class="content-search-show">
                       <img src="images/search-blue.svg" alt="">
                       <input type="text" placeholder="Insert keyword">
                       <button type="submit">Search</button>
                     </div>
                     <img class="close-sub-search" src="images/close.svg" alt="">
                   </div>
                 </div>
               </div>
             </div>
            <div class="languages">
               <a href="#" id="flag-mb"><img src="images/flag-vn.svg" alt=""></a>
              
            </div>
          
          </div>
        
         <div class="menu-mobile">
            <i class="ti-menu"></i>
            <i class="ti-close close-menu"></i>
         </div>
      </div>
   </div>
   <div class="sub-languages sub-languages-mb">
      <div class="head-logo-mb">
         <img src="images/logo.svg" alt="">
         <img id="close-language-mb" src="images/ic-close-mb.svg" alt=""> 
      </div>
      <div class="content-sub">
         <a href=""><img src="images/flag-vn.svg" alt=""><span>Tiếng Việt</span></a>
         <a href=""><img src="images/flag-en.svg" alt=""><span>English</span></a>
         <a href=""><img src="images/flag-spain.svg" alt=""><span>Spanish</span></a>
       </div>
     </div>
</header>

 <!-- <script src="js/jquery.min.js"></script> -->

 <!-- js-menu-mobile-header  -->
 <script>
      $(".img-show-search").click(function () {
         $('.sub-search').addClass('active');
      });
      $(".close-sub-search").click(function () {
         $('.sub-search').removeClass('active');
      });
      $("#flag-mb").click(function () {
         $('.sub-languages-mb').addClass('active');
      });
      $("#close-language-mb").click(function () {
         $('.sub-languages-mb').removeClass('active');
      });
      
      $(".ti-menu").click(function () {
         $('.tb-heade-mb').addClass('show');
      });
      $(".close-menu").click(function () {
         $('.tb-heade-mb').removeClass('show');
      });

      $(".horizontal-mb ul li").click(function () {
         $('.horizontal-mb ul li').removeClass('active');
         $(this).addClass('active');
      });



      $(".language-mobile").click(function () {
         $('.menu-languages-show').addClass('active');
      });
      $(".menu-languages-show__head img").click(function () {
         $('.menu-languages-show').removeClass('active');
      });

      

      $(".tb-heade-mb ul li").click(function () {
         $('.tb-heade-mb ul li').removeClass('active');
         $(this).addClass('active');
      });
      $(".arrow-up").click(function () {
         $('.submenu').removeClass('active');
      });

 </script>
  <!-- end js-menu-mobile-header  -->