@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600;700;800&family=Manrope:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none; }

@media (min-width: 1614px) {
  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -1.2%;
    margin-top: -26%; } }
@media (max-width: 1613px) {
  .tab-contact::before {
    width: 200px;
    height: 200px;
    left: -140px;
    top: 200px; }

  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -1.8%;
    margin-top: -26%; } }
@media (max-width: 1513px) {
  .head-page-main {
    padding: 50px 80px 0 80px; }

  .head-page-product {
    padding: 50px 0px 0 80px; }

  .our-milestones .content-our-milestones {
    padding: 0px 65px; }

  .infor-about-section {
    padding: 0 50px 0 20px; }

  .container-slide {
    padding: 0 20px; }

  .sub-search {
    padding: 0 20px; }

  section {
    padding: 128px 0; }

  header .container-header {
    padding: 0 20px; }

  header, .sub-search {
    height: 110px; }

  .sub-search {
    padding: 0 20px; }

  .slide-section {
    margin-top: -10px; }

  .menu-header nav ul li a {
    padding: 27px 24px; }

  .section-our-product .container-main {
    padding: 0 20px; }

  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -2.2%;
    margin-top: -26%; }

  body {
    padding-top: 110px; }

  header .container-header {
    height: 110px; } }
@media screen and (min-device-width: 1280px) and (max-device-width: 1513px) {
  .item-our-milestones label {
    font-size: 20px; }

  .header-infor h1 {
    font-size: 42px; }

  .infor-about-section.pdf-about {
    padding: 0 50px 0 80px; }

  .section-about .img-about-section.f-aboutimg {
    width: 40%; } }
@media screen and (min-device-width: 1000px) and (max-device-width: 1353px) {
  .tab-contact {
    margin-top: -72px; }
    .tab-contact .head-tab-contact ul li a {
      height: 72px;
      padding: 0 20px; } }
@media screen and (min-device-width: 767px) and (max-device-width: 1000px) {
  .section-about .f64 {
    font-size: 36px; } }
@media (max-width: 1480px) {
  .slide-homepage .content-slide .container-slide {
    padding: 0 90px; }

  .slide-homepage .content-slide .container-slide h1 {
    font-size: 60px; }

  .content-launching .container-1400 {
    padding-left: 45px !important; }

  .section-about .f36 {
    font-size: 30px; }

  .head-page-product .container-1400 {
    padding: 30px; }

  .container-1300 {
    max-width: 1200px; }

  .recommenddation {
    padding: 128px 0 !important; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 30px; }

  .title-vission h2 {
    font-size: 100px;
    line-height: 80px; }

  .item-box-vission span {
    font-size: 20px; }
  .item-box-vission p {
    font-size: 30px; }
    .item-box-vission p b {
      font-size: 30px; }

  .header-infor h1 {
    font-size: 60px; }
  .header-infor p {
    font-size: 20px; }

  .container-1400 {
    padding: 0 15px; }

  .title-section {
    margin-bottom: 30px; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -26%; }

  .section-our-product .item-our-product h6 a b {
    font-size: 24px; }

  .section-our-product .item-our-product:hover h6 a b {
    font-size: 28px; }

  .section-our-product .item-our-product h6 a {
    padding: 40px 20px; }

  .section-our-product .item-our-product h6 a p {
    margin-top: 39px; }

  @keyframes mymove {
    from {
      margin-top: 109px; }
    to {
      margin-top: 39px; } }
  .f96 {
    font-size: 70px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 42px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .menu-header nav ul li a {
    padding: 27px 15px; }

  .logo img {
    margin-right: 20px;
    height: 40px; }

  .logo a:nth-child(1) img {
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0; }

  .item-footer h2 {
    font-size: 28px; } }
@media (max-width: 1353px) {
  .container-1300 {
    max-width: 1000px; }

  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -2.8%;
    margin-top: -20%; } }
@media (max-width: 1280px) {
  .news-section::after {
    position: absolute;
    content: '';
    top: -46px;
    left: 0;
    width: 125px;
    height: 123px;
    background-size: contain; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0; }
    .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a {
      margin-top: 0 !important;
      text-decoration: none;
      margin: auto;
      width: 100%;
      justify-content: space-between;
      margin-top: 50px;
      width: 100%;
      background: #f6d51f; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a span {
        background: none !important; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover {
        background: #f6d51f !important; }
        .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover span {
          background: none !important; }

  .item-footer h2 {
    font-size: 32px; }

  .mb24 {
    margin-bottom: 16px !important; } }
@media screen and (min-device-width: 1250px) and (max-device-width: 1353px) {
  .tab-content-section ul li {
    padding: 0 10px; } }
@media (max-width: 1250px) {
  .brand-section .content-tab-ourBrands img {
    height: 102px; }
  .brand-section .title-section {
    margin-bottom: 0; }

  .head-page-main {
    padding: 50px 60px 0 60px; }

  .head-page-product {
    padding: 50px 0px 0 60px; }

  .our-milestones .content-box-milestones .content-our-milestones {
    padding: 24px 16px; }
  .our-milestones .img-our-milestones a {
    padding-top: 126% !important; }
  .our-milestones .owl-dots {
    margin-top: 16px; }

  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -4%;
    margin-top: -30%; }

  .head-page-product.contact .title-page-product {
    margin-top: -140px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .launching-section .content-launching .infor-launching h3 b {
    font-size: 28px; }

  .launching-section .content-launching .infor-launching h3 span {
    font-size: 50px; }

  .tab-content-section ul li {
    margin-bottom: 20px; }

  .flex-center .infor-row {
    padding-left: 0; }

  .social-item p a {
    background: #F6D51F;
    font-size: 32px !important;
    line-height: 35px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 32px !important; }

  .section-location .title-maps .row .title-section h3 {
    padding-left: 0; }

  .title-section h3 {
    font-size: 38px; }

  .section-about .img-about-section::before {
    bottom: -19px; }

  .item-achivemment p {
    font-size: 16px; }

  .item-achivemment {
    margin-bottom: 20px; }

  section {
    padding: 30px 0; }

  .menu-header nav ul li a {
    font-size: 16px;
    padding: 27px 10px; }

  .logo img {
    margin-right: 15px;
    height: 30px; }

  .item-our-milestones {
    margin-top: 20px; }
    .item-our-milestones b {
      font-size: 64px; }
    .item-our-milestones label {
      font-size: 20px;
      min-height: 62px !important; }
    .item-our-milestones span {
      font-size: 16px; } }
@media (max-width: 1000px) {
  .brand-section .container-main .row {
    display: inherit; }
    .brand-section .container-main .row .col-md-7, .brand-section .container-main .row .col-md-5 {
      width: 100%;
      max-width: 100%; }
    .brand-section .container-main .row .col-md-5 {
      padding-left: 15px; }
      .brand-section .container-main .row .col-md-5 .title-section {
        margin-top: 40px; }

  .slide-homepage .owl-dots {
    text-align: center;
    left: 0; }

  header .container-header {
    height: 64px; }

  .slide-homepage .item .slide-mb {
    display: block; }
  .slide-homepage .item .slide-pc {
    display: none; }

  .content-launching .container-1400 {
    padding-left: 15px !important; }

  .our-milestones .img-our-milestones a {
    padding-top: 84% !important; }

  .call-partnership {
    padding: 128px 0 0 !important; }
    .call-partnership .content-call-partner .button-link a b {
      width: 140px; }

  .brand-section .content-tab-ourBrands {
    margin-top: 40px; }

  .section-our-product .pattern {
    display: none; }

  .head-page-main {
    padding: 50px 40px 0 40px; }

  .head-page-product {
    padding: 50px 0px 0 80px; }
    .head-page-product .container-1400 {
      padding: 30px; }

  .our-milestones .content-our-milestones {
    padding: 0px 25px; }

  .section-list-product .content-list-product .mt48 {
    margin-top: 24px; }
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%; }

  #navbar {
    top: 0 !important;
    transition: top 0.3s;
    left: 0;
    z-index: 999999;
    background: white; }

  .content-tab .head-tab-contact {
    margin-bottom: 40px;
    width: 100%; }

  .item-top-bottom-contact b {
    font-size: 24px;
    margin-bottom: 10px; }

  .item-top-bottom-contact span {
    font-size: 13px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 32px;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    background: #FA8925;
    color: white; }

  .tab-contact {
    margin-top: -55px; }

  .action-contact-form button {
    float: left;
    height: 59px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: 400;
    border: 1px solid #404040;
    font-size: 16px;
    padding: 0 42px;
    background: white;
    border-radius: 16px; }

  .head-page-product.contact .title-page-product {
    margin-top: -74px;
    padding: 20px;
    max-width: 50%; }

  .content-tab {
    padding: 0 20px; }

  .bottom-footer .img-bottom-contact {
    width: 100%; }

  .bottom-footer .content-link-bottom-contact {
    position: relative;
    width: 100%; }

  .item-top-bottom-contact {
    position: relative;
    left: 0 !important;
    width: 100%;
    float: left;
    height: 50%;
    top: 0;
    padding: 33px 64px;
    text-align: center;
    background: #01B4BC;
    display: flex;
    align-items: center; }

  .content-tab .head-tab-contact {
    margin-bottom: 30px; }

  .item-recommendation {
    margin-bottom: 30px; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 20px; }

  .recommenddation {
    padding: 50px 0 !important; }

  .flex-center .btn-action-row {
    margin-top: 0px; }

  .head-page-product h1 {
    font-size: 32px;
    line-height: 30px; }

  .flex-center .infor-row p {
    font-size: 16px; }

  .flex-center .infor-row h3 {
    font-size: 28px;
    margin-bottom: 10px; }

  .item-box-vission {
    margin-top: 40px;
    padding: 50px 30px; }

  .title-vission h2 {
    font-size: 80px;
    line-height: 63px; }

  .header-infor h1 {
    font-size: 50px; }
  .header-infor p {
    font-size: 20px; }

  .social-item p a {
    font-size: 22px !important;
    padding: 10px 20px;
    border-radius: 30px; }
    .social-item p a br {
      display: none; }
    .social-item p a b {
      font-size: 22px !important; }

  .item-call-partner {
    margin-bottom: 30px;
    padding: 12px; }

  .social-item p {
    padding: 10px 30px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 18px !important;
    height: 53px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 30px; }

  .call-partnership .button-link a span {
    height: 52px !important;
    padding: 0 10px !important; }
  .call-partnership .button-link a b {
    height: 52px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 0 0; }

  .social-activities::after {
    bottom: -40px;
    width: 95px;
    height: 83px;
    background-size: contain; }

  .call-partnership > img {
    min-height: 714px;
    display: inline-block;
    object-fit: cover; }

  .news-item .thumbnail-news a {
    border-radius: 20px; }

  .news-item .thumbnail-news::before {
    border-radius: 20px; }

  .news-item p a {
    font-size: 16px;
    font-weight: 700; }

  body {
    padding-top: 72px; }

  .slide-section .content-slide {
    display: inline-block;
    width: 100%;
    padding-top: 50px; }

  .container-slide {
    text-align: center; }

  .slide-pc {
    display: none;
    width: 100%; }

  .slide-mb {
    display: block;
    width: 100%; }

  .menu-languages-show {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: #01B4BC;
    padding: 20px;
    padding: 72px 0 50px 0;
    z-index: 2;
    display: none; }
    .menu-languages-show.active {
      display: block; }
    .menu-languages-show__head {
      height: 72px;
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      background: white;
      top: 0;
      width: 100%;
      left: 0; }
      .menu-languages-show__head img {
        position: absolute;
        left: 20px;
        top: 20px; }
      .menu-languages-show__head b {
        color: #404040;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
        font-weight: 700; }
      .menu-languages-show__head::after {
        width: 126px;
        height: 126px;
        content: '';
        background: #01B4BC;
        border: 20px solid #FA8925;
        position: fixed;
        right: -44px;
        bottom: 170px;
        border-radius: 100%; }
    .menu-languages-show__list {
      display: inline-block;
      width: 100%; }
      .menu-languages-show__list a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0; }
        .menu-languages-show__list a img {
          margin-right: 6px; }
        .menu-languages-show__list a span {
          color: white;
          font-family: 'Manrope', sans-serif;
          font-size: 20px; }
        .menu-languages-show__list a.active {
          background: #FA8925; }
          .menu-languages-show__list a.active span {
            font-weight: 700; }
      .menu-languages-show__list::before {
        width: 42px;
        height: 42px;
        content: '';
        background: #FA5457;
        position: fixed;
        left: 59px;
        bottom: 175px;
        border-radius: 100%; }
      .menu-languages-show__list::after {
        width: 126px;
        height: 126px;
        content: '';
        background: #F6D51F;
        position: fixed;
        left: -44px;
        bottom: 50px;
        border-radius: 100%; }

  .content-menu-mobile {
    overflow: hidden;
    display: none !important; }
    .content-menu-mobile::after {
      width: 126px;
      height: 126px;
      content: '';
      background: #01B4BC;
      border: 20px solid #FA8925;
      position: fixed;
      right: -44px;
      bottom: 110px;
      border-radius: 100%; }

  .menu-language {
    position: relative; }
    .menu-language::before {
      width: 42px;
      height: 42px;
      content: '';
      background: #FA5457;
      position: fixed;
      left: 59px;
      top: 200px;
      border-radius: 100%; }
    .menu-language::after {
      width: 126px;
      height: 126px;
      content: '';
      background: #F6D51F;
      position: fixed;
      left: -44px;
      top: 240px;
      border-radius: 100%; }

  .menu-header {
    display: none; }

  .logo img {
    float: left;
    margin-right: 10px;
    height: 27px; }

  .logo a:nth-child(1) img {
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0; }

  header {
    padding: 5px 15px;
    height: 72px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: fixed;
    z-index: 1; }
    header .container-header {
      padding: 0;
      width: 100%; }

  .menu-mobile {
    display: block;
    position: relative;
    z-index: 2; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(1) {
      display: none; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(2) {
      display: block; }
    .menu-mobile.active .content-menu-mobile {
      display: flex !important; }

  .content-menu-mobile {
    width: 100%;
    position: fixed;
    top: 72px;
    height: 100%;
    left: 0;
    background: #01B4BC;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0 150px 0;
    overflow-y: auto; }
    .content-menu-mobile nav ul li a {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .btn-action-menumobile img {
    height: 30px; }
    .btn-action-menumobile img:nth-child(1) {
      display: block; }
    .btn-action-menumobile img:nth-child(2) {
      display: none; }

  .container-header {
    padding: 0 !important; }

  .logo img {
    height: 30px; }

  .menu-language nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0; }
    .menu-language nav ul {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: -150px; }
      .menu-language nav ul li {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0; }
        .menu-language nav ul li a {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 18px 0;
          color: white;
          font-size: 20px; }
        .menu-language nav ul li.active a {
          font-weight: 700; }

  .social-menu {
    position: fixed;
    bottom: 50px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center; }
    .social-menu a img {
      margin: 0 10px; }

  .language-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%; }
    .language-mobile span {
      color: white;
      margin-left: 10px;
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .section-location .title-maps .row .title-section h3 {
    margin: 0 0 0 -5.8%;
    margin-top: -36%; } }
@media (max-width: 767px) {
  .slide-homepage .owl-nav {
    top: 25%; }

  .slide-homepage .content-slide .container-slide {
    padding: 0 20px; }

  .slide-homepage .content-slide .container-slide h1 {
    font-size: 40px; }

  .slide-homepage .owl-next::before {
    background: url(../images/expand_morenext.svg) no-repeat center; }

  .slide-homepage .owl-prev::before {
    background: url(../images/expand_morepre.svg) no-repeat center; }

  .head-pageabout-main {
    padding: 80px 24px !important; }
    .head-pageabout-main .img-head-about .img-pc {
      display: none; }
    .head-pageabout-main .img-head-about .img-mb {
      display: block; }
    .head-pageabout-main .row {
      align-items: center; }
    .head-pageabout-main .img-head-about {
      display: inline-block !important; }
      .head-pageabout-main .img-head-about img {
        width: 100% !important; }

  .brand-section {
    background-color: transparent;
    padding: 40px 0 60px 0 !important; }
    .brand-section .container-main .row {
      display: flex;
      align-items: center;
      flex-direction: column-reverse; }
      .brand-section .container-main .row .col-md-7 {
        border-radius: 100%;
        background: #BEE1A1;
        width: 398px;
        height: 233px;
        margin: 0 auto; }
        .brand-section .container-main .row .col-md-7 img {
          width: 100%;
          position: absolute;
          top: 25px;
          left: 0;
          right: 0; }
    .brand-section .container-main .title-section {
      padding: 0 20px;
      margin-bottom: 24px; }
      .brand-section .container-main .title-section h3 {
        text-align: center; }
    .brand-section .container-main .list-our-brand {
      display: none; }
    .brand-section .container-main .desreption {
      margin-bottom: 50px;
      padding: 0 35px;
      text-align: center;
      font-size: 14px;
      color: #404040;
      font-weight: 400;
      font-family: 'Manrope', sans-serif;
      line-height: 150%; }

  .slide-homepage .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0; }

  .slide-section .content-slide .container-slide h1 {
    font-size: 40px;
    color: white; }

  .slide-homepage .owl-prev {
    left: 0; }

  .slide-homepage .owl-next {
    right: 0; }

  .our-milestones .title-section {
    margin-bottom: 0; }
  .our-milestones .item-our-milestones .img-our-milestones {
    display: none; }
  .our-milestones .item-our-milestones .content-our-milestones {
    position: inherit;
    padding: 0 16px; }

  .recommenddation .item-recommendation {
    margin-bottom: 60px; }

  .content-detail-product .row-content .flex-center {
    text-align: center; }
  .content-detail-product .row-content .btn-action-row {
    justify-content: center;
    display: flex; }
    .content-detail-product .row-content .btn-action-row span {
      font-size: 20px; }
  .content-detail-product .row-content .infor-row h3 {
    font-size: 32px;
    font-weight: 700; }
  .content-detail-product .row-content .infor-row p {
    font-size: 16px;
    font-weight: 400; }

  .section-strategy .button-link a {
    margin-top: 0; }

  .head-page-main {
    overflow: hidden; }
    .head-page-main .img-head-about {
      display: flex;
      align-items: center;
      justify-content: center; }
      .head-page-main .img-head-about img {
        width: 132%; }

  .item-news-last.left-avatar .infor-news-lager span {
    margin: 8px 0 !important; }

  .item-news-last.left-avatar .infor-news-lager h5 a {
    font-size: 24px; }

  .item-news-last .infor-news-lager h5 a {
    font-size: 24px; }

  .item-news-last.left-avatar {
    padding-left: 0px;
    display: inline-block !important; }

  .news-page h1 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 32px; }

  .body-news {
    margin-bottom: 32px; }
    .body-news .link-pagging-news .tp-button {
      width: 100%;
      margin-bottom: 20px; }
      .body-news .link-pagging-news .tp-button a span {
        padding: 24px 12px; }

  .last-news h2, .tab-news h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 32px; }

  .item-news-last.left-avatar:last-child {
    margin-bottom: 0; }

  .item-news-last.left-avatar .news-avatar {
    position: relative;
    width: 100%;
    margin-bottom: 20px; }

  .item-news-last .infor-news-lager span {
    margin: 8px 0;
    -webkit-line-clamp: inherit; }

  .news-page .lager-news {
    margin-bottom: 32px; }

  body .news-page .news-avatar a {
    padding-top: 60% !important; }

  .news-page .lager-news .infor-news-lager h5 {
    margin-top: 0 !important; }

  .content-tab-news {
    flex-flow: wrap; }
    .content-tab-news a {
      height: 44px;
      font-size: 16px;
      color: #414141;
      padding: 0 28px;
      border-radius: 100px;
      margin: 5px 5px;
      border-right: 1px solid #dedede; }
    .content-tab-news a.active {
      background: #409000;
      color: white; }

  .news-page .lager-news .infor-news-lager {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 35px 20px;
    background: #679A3E;
    width: 100%;
    float: left; }

  .news-section.pdss128 .news-item {
    display: flex;
    align-items: center;
    justify-content: center; }
    .news-section.pdss128 .news-item .thumbnail-news {
      flex: 0 0 50%;
      max-width: 50%; }
    .news-section.pdss128 .news-item .text-content {
      flex: 0 0 50%;
      max-width: 50%; }
  .news-section.pdss128 .text-content {
    margin-left: 16px; }
    .news-section.pdss128 .text-content p {
      margin-top: 0; }
      .news-section.pdss128 .text-content p a {
        font-size: 20px;
        font-weight: 600;
        text-align: inherit; }
    .news-section.pdss128 .text-content span {
      margin-top: 20px;
      display: block;
      font-size: 16px;
      font-weight: 300; }

  .section-commitment {
    padding: 30px 0 80px; }
    .section-commitment .content-commitment.f-img .item-commitment img {
      height: 80px; }

  .social-activities {
    padding: 80px 0 !important; }

  .brand-section .content-tab-ourBrands {
    margin-top: 40px; }
  .brand-section .title-section {
    margin-bottom: 0; }

  .section-our-product .button-link a {
    margin-top: 20px; }

  .section-about {
    padding: 30px 0 60px !important; }
    .section-about .f64 {
      font-size: 54px; }
    .section-about .pdf-about {
      margin-bottom: 40px; }

  .slide-section {
    padding: 0 0 30px !important; }

  .head-page-main {
    padding: 50px 0px 0px 0px; }

  .mb24 {
    margin-bottom: 24px !important; }

  .mt64 {
    margin-top: 30px; }

  .mb64 {
    margin-bottom: 30px; }

  .section-list-product .title-section {
    margin-bottom: 24px; }
  .section-list-product .content-list-product .mt48 {
    margin-top: 20px; }
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }

  .tb-btn-call-bottom a {
    border-radius: 16px 0 0 16px; }

  .news-section::after {
    top: -56px;
    width: 105px;
    height: 93px; }

  .numbers-pagging a {
    float: left;
    margin: 0 3px; }

  .box-pagging-bottom {
    justify-content: center !important; }

  .action-contact-form button {
    width: 48%;
    float: left;
    justify-content: center;
    margin: 0 1%; }

  .bottom-footer::after {
    content: '';
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #FA8925;
    border-radius: 100px;
    position: absolute;
    right: 20px;
    top: -140px; }

  .item-top-bottom-contact {
    padding: 20px 15px; }

  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .item-form-label-input {
    margin-bottom: 20px; }

  .head-page-product.contact .title-page-product {
    max-width: 100%; }

  .box-pagging-bottom {
    justify-content: space-between; }

  .section-list-product .content-list-product {
    position: relative;
    min-height: 0;
    width: 100%;
    padding-left: 0; }

  .head-page-product.contact .img-right-page-head {
    width: 100%; }

  .head-page-product.contact .title-page-product {
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .thumbnails-launching {
    padding: 20px 20px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 a {
    font-size: 18px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    padding-left: 15px; }

  .bottom-product-item a b {
    padding-left: 15px !important; }

  .head-page-main.head-page-product.contact .img-right-page-head::after {
    height: 65px !important;
    top: -11px !important; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching p {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 {
    padding: 15px; }

  .right-columns-product {
    padding-left: 0 !important; }
    .right-columns-product .row {
      margin-left: -5px;
      margin-right: -5px; }
      .right-columns-product .row .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px; }
        .right-columns-product .row .col-md-4 .item-baby-diapaper-highlights {
          margin-bottom: 50px; }

  .left-columns-product.pc {
    display: none !important; }
  .left-columns-product.mb {
    display: block !important;
    position: relative !important;
    width: 100% !important; }

  .tb-btn-call-bottom span {
    display: none !important; }

  .list-baby-diapaper .row .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .list-baby-diapaper .row .col-md-3 .item-baby-diapaper-highlights {
      margin-bottom: 50px; }

  .recommenddation {
    padding: 40px 0 !important; }

  .infor-row {
    margin-top: 16px; }

  .ver-pc {
    display: none !important; }

  .ver-mb {
    display: block !important; }

  .head-page-main {
    display: flex;
    flex-direction: column-reverse; }

  .head-page-product h1 {
    font-size: 48px;
    line-height: 45px; }

  .head-page-product .img-right-page-head {
    width: 100%; }

  .head-page-product .head-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 50px 0 10px 0; }

  .head-page-product .img-right-page-head::after {
    width: 100% !important;
    height: 90px !important;
    border-radius: 0 0 50px 50px !important;
    left: 0;
    top: -40px; }

  .title-page-product {
    max-width: 100%;
    text-align: center; }

  .our-milestones {
    overflow: initial !important; }

  .content-our-milestones .row {
    width: 320%;
    float: left;
    display: inline-block !important; }
  .content-our-milestones .col-md-3 {
    float: left;
    width: 25%;
    padding: 0 15px; }

  .item-box-vission {
    margin-top: 30px !important; }

  section {
    padding: 80px 0 80px !important; }

  .title-vission {
    margin-top: 0; }

  .header-infor h1 {
    font-size: 48px;
    text-align: center; }
  .header-infor p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px; }

  .title-vission h2 {
    text-align: center; }

  .slide3-pc {
    display: none !important; }

  .slide3-mb {
    display: block !important; }

  .slick-initialized .slick-slide {
    padding: 10px; }

  .slick-active.slick-center .social-item::before {
    border-radius: 0px 20px 20px 20px;
    right: -5px;
    bottom: -5px; }

  .social-activities {
    overflow: initial; }
    .social-activities .slide-activities {
      overflow: hidden; }

  .footer-mb {
    display: block !important;
    padding: 0 20px; }
    .footer-mb h2 {
      font-size: 32px; }

  .item-menu-footer.active .content-footer {
    display: inline-block !important; }
  .item-menu-footer img {
    margin-left: 5px; }

  .social-footer-mb span {
    font-size: 14px;
    font-family: 'Manrope', sans-serif; }

  .item-menu-footer h6 {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #111; }

  .slide-activities .thumbnails-social a img, .social-item .thumbnails-social a {
    border-radius: 20px; }

  .adress-content p img {
    width: 22px; }

  .adress-content p {
    padding-left: 29px; }

  .content-footer {
    display: none;
    width: 100%; }
    .content-footer a {
      color: #111;
      font-family: 'Manrope', sans-serif;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      line-height: 30px; }

  .social-footer-mb {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 30px;
    margin-top: 30px; }
    .social-footer-mb span {
      display: inline-block;
      text-align: center;
      width: 100%; }
    .social-footer-mb a img {
      margin: 0 20px;
      margin-bottom: 30px; }

  .footer-pc {
    display: none !important; }

  .social-item p a {
    background: #F6D51F;
    font-size: 20px !important;
    line-height: 28px;
    padding: 10px 20px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 20px !important; }

  .social-item p {
    padding: 0px 10px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 18px !important;
    height: 52px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 8px; }

  .call-partnership .button-link a span {
    height: 52px !important;
    padding: 0 10px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 30px; }
    .call-partnership .content-call-partner .button-link img {
      height: 14px !important;
      width: 14px !important; }

  .news-item .thumbnail-news::before {
    border-radius: 39px; }

  .content-logo-tab img {
    width: 50%;
    height: initial;
    float: left;
    margin: 0;
    padding: 10px; }

  .tab-content-section ul li {
    padding: 0 10px;
    margin-bottom: 10px; }
    .tab-content-section ul li a {
      padding: 25px 20px;
      height: 56px; }

  .news-section .row .col-md-4:nth-child(3) .news-item {
    margin-bottom: 0; }

  .news-item {
    padding-right: 5px;
    margin-bottom: 40px; }

  .location-pc {
    display: none; }

  .location-mb {
    display: block; }

  .title-section h3 {
    text-align: center !important;
    margin-top: 0 !important;
    font-size: 30px; }
    .title-section h3 br {
      display: block; }

  .section-our-product .item-our-product h6 a {
    padding: 20px 20px;
    text-align: left;
    font-size: 30px; }

  .section-our-product .item-our-product {
    border-radius: 29px; }
    .section-our-product .item-our-product p {
      display: none; }

  .section-our-product .item-our-product:hover h6 a p {
    display: none; }

  .img-example-product a {
    padding-top: 50% !important; }
  .img-example-product img {
    display: none; }
    .img-example-product img.ourProduct-MB {
      display: block; }

  .infor-about-section::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -140px;
    top: 70px;
    width: 199px;
    height: 199px;
    background: #FDC204;
    border-radius: 100%; }

  .slide-section {
    padding-bottom: 0; }

  .infor-about-section .col-md-6:nth-child(3) .item-achivemment, .infor-about-section .col-md-6:nth-child(4) .item-achivemment {
    margin-bottom: 20px !important; }

  .infor-about-section {
    padding: 0; }

  .section-about .img-about-section::before {
    bottom: -14px; }

  .section-about .img-about-section {
    width: 94%; }

  .infor-about-section {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center; }

  .f96 {
    font-size: 48px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 38px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .item-call-partner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    align-items: center; }

  .item-our-milestones span {
    margin-bottom: 0px; }

  .section-strategy .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .section-strategy .item-strategy img {
    height: 100px; }

  .item-strategy {
    margin-bottom: 50px; }

  .section-strategy .item-strategy p {
    margin-bottom: 0;
    font-size: 18px; }

  .launching-section .content-launching {
    top: auto;
    height: initial;
    bottom: 50px; }
    .launching-section .content-launching .infor-launching {
      text-align: center; }
      .launching-section .content-launching .infor-launching .button-link {
        text-align: center !important; }
        .launching-section .content-launching .infor-launching .button-link a {
          justify-content: center !important;
          margin-top: 0; }

  .sub-mobile-filter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: end;
    display: flex;
    display: none; }
    .sub-mobile-filter .content-filter {
      width: 100%;
      min-height: 400px;
      background: white;
      display: inline-block;
      border-radius: 24px 24px 0 0; }
    .sub-mobile-filter .head-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px; }
      .sub-mobile-filter .head-filter b {
        font-size: 30px;
        font-weight: 500;
        color: #01B4BC; }
    .sub-mobile-filter.active {
      display: flex !important; } }
@media (min-width: 767px) {
  .pdx45 {
    padding: 0 45px !important; } }
@media screen and (min-device-width: 360px) and (max-device-width: 767px) {
  .section-commitment .f-img .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%; } }
@media (max-width: 480px) {
  .pdx45 {
    padding: 0 15px !important; }

  .recommenddation .item-recommendation {
    margin-bottom: 32px; }
    .recommenddation .item-recommendation .thumbnails-recommendation {
      margin-bottom: 12px; }

  .section-our-product .item-our-product h6 a {
    max-width: 50%; }

  .brand-section .nav.nav-tabs {
    justify-content: center; }
    .brand-section .nav.nav-tabs li {
      flex: 0 0 50%;
      max-width: 50%; }
      .brand-section .nav.nav-tabs li a {
        justify-content: center; } }
@media (max-width: 380px) {
  .slide-homepage .container-slide h1 {
    font-size: 30px !important; }

  .slide-homepage .owl-prev::before {
    width: 32px;
    height: 32px; }

  .slide-homepage .owl-next::before {
    width: 32px;
    height: 32px; }

  .slide-homepage .owl-nav {
    top: 40%; }

  .section-commitment {
    padding: 30px 0 !important; }

  .social-activities {
    padding: 30px 0 !important; }

  .section-list-product .content-product-launching {
    margin-top: 8px !important; }
  .section-list-product .content-list-product .mt48 {
    margin-top: 12px; }
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 20px;
    font-size: 16px; }

  .item-box-vission p, .item-box-vission p b {
    font-size: 20px; }

  .item-box-vission span {
    font-size: 14px;
    margin-bottom: 20px; }

  .title-vission h2 {
    font-size: 63px;
    line-height: 50px; }

  .menu-language nav ul li a {
    padding: 16px 0;
    font-size: 16px; }

  .infor-about-section h2 {
    margin-bottom: 32px; }

  .f96 {
    font-size: 38px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 28px;
    font-weight: 700; }

  .f48 {
    font-size: 24px;
    font-weight: 700; }

  .f40 {
    font-size: 20px;
    font-weight: 700; }

  .f36 {
    font-size: 21px;
    font-weight: 700; }

  .f32 {
    font-size: 20px;
    font-weight: 700; }

  .f24 {
    font-size: 18px;
    font-weight: 600; }

  .f20 {
    font-size: 16px;
    font-weight: 600; }

  .f20manrope {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .logo img {
    height: 25px; }

  .language-mobile span {
    font-size: 14px; }

  .menu-language nav ul {
    margin-top: -70px; } }
@media (max-width: 326px) {
  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0  100%;
    flex: 0 0  100%;
    max-width: 100%; }

  .item-top-bottom-contact.w50 {
    top: 50%;
    width: 100%;
    text-align: center; }

  .title-section h3 {
    font-size: 30px; }

  .title-vission h2 {
    font-size: 48px;
    line-height: 40px; }

  .logo img {
    height: 22px; }

  .btn-action-menumobile img {
    height: 25px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 14px;
    font-size: 14px; }

  .content-tab {
    padding: 0 10px; }

  .content-tab .head-tab-contact ul {
    margin: 0;
    width: 100%;
    border: 0;
    display: inline-block; }
    .content-tab .head-tab-contact ul li {
      float: left;
      width: 50%; }
      .content-tab .head-tab-contact ul li a {
        justify-content: center; }

  .action-contact-form button {
    width: 48%;
    float: left;
    margin: 0 1%; }

  .bottom-footer::after {
    content: '';
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #FA8925;
    border-radius: 100px;
    position: absolute;
    right: 30px;
    top: -140px; } }
@media (max-width: 1300px) {
  .news-page .last-news .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news-page .last-news .item-news-last {
    position: relative;
    padding-left: 42%;
    margin-bottom: 32px;
    min-height: 219px; }
    .news-page .last-news .item-news-last .news-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; }
  .news-page .last-news .item-news-last {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .news-page .last-news .item-news-last h5 {
      margin-top: 0px; }
    .news-page .last-news .item-news-last span {
      margin: 5px 0 12px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .news-page .last-news .item-news-last .infor-news-lager {
      margin-left: 20px; }
  .news-page .last-news .box-medium .news-avatar a {
    padding-top: 55%; }

  .list-result-right .item-result .avatar-result {
    width: 100%;
    position: initial; }

  .list-result-right .item-result .infor-item-result {
    margin-bottom: 20px;
    padding-right: 0; }

  .list-result-right .item-result {
    padding-right: 0; }

  .search-result-content {
    padding: 60px 15px; }

  .img-newspageDetail .img-pc {
    display: block; }
  .img-newspageDetail .img-mb {
    display: none; }

  .news-page {
    padding: 0 15px; }

  .post-job-editor .tp-button a span {
    font-size: 18px;
    width: 100%; }

  .container-main, .container-faqs, .content-apply, .section-detail-page, .related-news {
    max-width: 1000px;
    padding: 0 15px; }

  .sumary-career {
    padding: 30px; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .product-features-tbph2 .bg-img-product-detail {
    top: -390px; }

  .brand-section .button-link a {
    justify-content: center; }

  .brand-section .container-main .title-section h3 {
    text-align: center; }

  .head-product-details-ph2 .logotb {
    justify-content: center; }

  .head-product-details-color-blue-apha .header-infor {
    text-align: center; }

  .filter-career .select-items div, .filter-career .select-selected {
    font-size: 14px; }

  .filter-career .combobox-career .select-selected {
    font-size: 14px; }

  .filter-career .combobox-career .select-selected::after {
    right: 23px;
    font-size: 24px; }

  .update-new-colum .row .box-borderline {
    margin-bottom: 50px; }

  .update-new-colum .row .no-background {
    box-shadow: none !important; }

  .update-new-colum .row .item-bg-white {
    box-shadow: 0px 0px 5px 0px rgba(52, 64, 84, 0.12); }

  .product-features-tbph2 .col-md-6:last-child .item-bg-white {
    margin-bottom: 0; }

  .product-features-tbph2 .row .item-bg-white {
    margin-bottom: 110px; }

  .head-pageabout-main .row {
    display: inherit; }
    .head-pageabout-main .row .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .product-features-tbph2 .row {
    display: inherit; }
    .product-features-tbph2 .row .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .section-list-product .content-list-product .row {
    justify-content: center; }

  .product-features-tbph2 {
    padding: 60px 0; }

  .content-404 h2 {
    padding: 0 80px; }

  .list-result-right .item-result p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .share-blogs {
    margin-bottom: 40px; }

  .section-detail-page {
    padding: 46px  15px; }

  .news-page .lager-news {
    margin-bottom: 60px; }

  .news-page .last-news .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news-page .last-news .item-news-last {
    position: relative;
    padding-left: 42%;
    margin-bottom: 32px;
    min-height: 162px; }
    .news-page .last-news .item-news-last .news-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; }
  .news-page .last-news .item-news-last {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .news-page .last-news .item-news-last h5 {
      margin-top: 0px; }
    .news-page .last-news .item-news-last span {
      margin: 5px 0 12px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .news-page .last-news .item-news-last .infor-news-lager {
      margin-left: 20px; }
  .news-page .last-news .box-medium .news-avatar a {
    padding-top: 55%; }

  .post-job-editor .col-md-8, .post-job-editor .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .title-section {
    padding: 0; }
    .title-section h3 {
      font-size: 36px !important; }

  .form-apply-section {
    padding: 70px 0; }
    .form-apply-section h3 {
      text-align: left; }

  .post-job-editor .tp-button a span {
    font-size: 16px;
    padding: 24px;
    width: fit-content; }

  .list-job-career-luli .item-job-post h4 a {
    font-size: 18px;
    line-height: 24px; }

  .container-main, .container-faqs, .content-apply {
    max-width: 1000px;
    padding: 0 15px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container {
    max-width: 1000px;
    padding: 0 15px; }

  .process-section .process-box .item-process {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    margin-bottom: 32px; }

  .process-section .process-box {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }

  .tb-contact-banner.tb-head-product-category .box-red.blue-new {
    padding-bottom: 0;
    align-items: center; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    font-size: 24px; }

  section {
    padding: 60px 0; }

  .post-job-editor {
    padding-top: 60px; }

  .body-news .tp-button a span {
    padding: 16px 24px;
    font-size: 16px; } }
@media (max-width: 1000px) {
  .head-product-details-ph2.img-pc .row {
    display: flex; }
    .head-product-details-ph2.img-pc .row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%; }

  .news-page .lager-news .infor-news-lager h5 {
    margin-top: 20px; }

  .news-page .lager-news .infor-news-lager {
    position: initial;
    max-width: 100%; }

  .material-indemand .item-job-list.pc {
    display: none !important; }

  .material-indemand .item-job-list.mb {
    display: block !important; }

  .item-job-list.mb {
    min-height: 120px;
    display: inline-block !important;
    padding-right: 130px !important;
    position: relative;
    padding-left: 0 !important; }

  .item-job-list.mb .title-job {
    width: 100% !important;
    padding: 0 16px; }

  .item-job-list.mb .action-job {
    position: absolute;
    right: 16px;
    top: 12px;
    width: 110px;
    display: inline-block !important; }

  .item-job-list.mb .action-job b {
    width: 100% !important;
    display: inline-block !important;
    font-weight: normal;
    text-align: right;
    margin-bottom: 15px;
    margin-top: 9px; }

  .btn-expand-table-suplier {
    margin-top: 15px; }

  .item-job-list.mb .action-job .link-suplier {
    margin-left: 0 !important; }

  .item-job-list.mb .title-job .btn-expand-table-suplier a {
    font-size: 18px !important; } }
@media (max-width: 767px) {
  .head-product-details-color-blue-apha .logotb {
    margin-bottom: 34px; }
  .head-product-details-color-blue-apha .img-head-about img {
    margin-bottom: 34px; }

  .product-features-tbph2.update-new-colum .bg-img-product-detail {
    margin-top: -190px; }

  .head-product-details-ph2.img-mb .logotb {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 24px; }
    .head-product-details-ph2.img-mb .logotb img {
      width: 42%; }
  .head-product-details-ph2.img-mb .header-infor {
    display: inherit; }

  .head-product-details-ph2 .header-infor h1 {
    margin-bottom: 24px; }

  .tb-ph2-job-opening {
    padding-top: 30px  !important; }

  .sumary-career {
    padding: 32px 24px; }

  .tab-news .item-news-last .infor-news-lager h5 a {
    font-size: 24px !important; }

  .form-apply-section .tp-button.tb-btn-blue a span {
    width: fit-content; }

  .news-page .last-news {
    margin-top: 32px; }
    .news-page .last-news .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%; }
    .news-page .last-news .item-news-last {
      position: relative;
      padding-left: 0;
      margin-bottom: 32px;
      min-height: inherit; }
      .news-page .last-news .item-news-last .news-avatar {
        position: initial;
        top: 0;
        left: 0;
        width: 100%; }
    .news-page .last-news .item-news-last {
      display: inherit;
      align-items: flex-start;
      justify-content: center; }
      .news-page .last-news .item-news-last h5 {
        margin-top: 20px; }
        .news-page .last-news .item-news-last h5 a {
          font-size: 24px; }
      .news-page .last-news .item-news-last span {
        margin: 5px 0 12px 0;
        display: -webkit-box;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .news-page .last-news .item-news-last .infor-news-lager {
        margin-left: 0; }
    .news-page .last-news .box-medium .news-avatar a {
      padding-top: 55%; }

  .diaper-size-tbph2 .table-product .flat-table.table-pc {
    display: none; }

  .diaper-size-tbph2 .table-product .flat-table.table-mb {
    display: block; }

  .head-page-main.head-pageabout-main.head-product-details-ph2 .product-features-tbph2 .row .item-bg-white img {
    width: 165px;
    height: 165px; }

  .product-features-tbph2 .no-flex-item .item-right .infor-news-lager {
    margin-left: 0 !important;
    margin-top: 10px; }

  .row-listitem-flex {
    justify-content: center;
    flex-wrap: wrap; }

  .head-product-details-ph2 .header-infor img {
    margin-bottom: 34px; }

  .update-new-colum .row .box-borderline {
    margin-bottom: 47px; }

  .update-new-colum .item-bg-white.no-background.no-flex-item {
    flex: 0 0 50%;
    max-width: 50%;
    display: inline-block !important;
    text-align: center !important;
    padding: 16px !important; }

  .update-new-colum .row .item-bg-white {
    margin: -2px -2px 16px -2px !important; }

  .product-features-tbph2 .no-background {
    display: flex !important;
    box-shadow: none !important;
    align-items: center;
    padding: 16px 32px !important;
    text-align: left !important; }
    .product-features-tbph2 .no-background .item-left {
      margin-bottom: 0; }
    .product-features-tbph2 .no-background .item-right .infor-news-lager {
      margin-left: 10px; }
      .product-features-tbph2 .no-background .item-right .infor-news-lager h5 {
        max-width: 100% !important;
        margin: 0 !important; }

  .update-new-colum .row .item-bg-white img {
    width: 214px;
    height: 214px; }

  .update-new-colum .row .item-bg-white {
    box-shadow: 0px 0px 8px 1px rgba(52, 64, 84, 0.12); }

  .update-new-colum .row .no-background {
    box-shadow: none !important; }

  .update-new-colum {
    padding-top: 30px !important; }

  .tb-ph2-job-opening .title-section h3 {
    text-align: left !important; }

  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }

  .section-list-product .title-section h3 {
    font-size: 24px !important; }

  .brand-section .container-main .row {
    display: inherit; }

  .brand-section .container-main .row .col-md-7 img {
    position: initial; }

  .brand-section .container-main .row .col-md-7 {
    background-color: transparent;
    width: 100%;
    height: 100%; }

  .brand-section .button-link a {
    justify-content: center;
    margin-top: 0; }

  .brand-section {
    background: #FFF9D6;
    padding: 60px 0 60px 0 !important; }

  .brand-section .title-section h3 {
    font-size: 24px !important;
    margin-bottom: 0; }

  .diaper-size-tbph2 .table-product .flat-table th {
    border: 1px solid #dedede; }

  .diaper-size-tbph2 .table-product .content-product p {
    margin-left: 0;
    width: 100%; }

  .diaper-size-tbph2 .table-product .content-product .news-avatar {
    width: 100%; }

  .diaper-size-tbph2 .table-product .content-product {
    display: inherit; }

  .diaper-size-tbph2 {
    padding-top: 0 !important; }

  .diaper-size-tbph2 .title-section h3 {
    font-size: 24px  !important; }

  .product-features-tbph2 .title-section h3 {
    font-size: 24px  !important; }

  .product-features-tbph2 .bg-img-product-detail {
    margin-top: -260px; }

  .product-features-tbph2 .row .item-bg-white .infor-news-lager h5 {
    max-width: 70%;
    margin: 0 auto 12px auto; }

  .product-features-tbph2 {
    padding-bottom: 30px !important; }
    .product-features-tbph2 .item-left {
      margin-bottom: 17px; }

  .product-features-tbph2 .row .item-bg-white {
    padding: 20px; }

  .product-features-tbph2 .row .item-bg-white .item-right {
    padding-right: 0;
    margin-left: 0; }

  .product-features-tbph2 .icon-ducks::before {
    display: none; }

  .product-features-tbph2 .row .item-bg-white {
    display: inherit;
    text-align: center; }

  .head-product-details-ph2 .logotb {
    justify-content: center;
    margin-top: 20px; }

  .head-product-details-ph2 {
    padding: 30px 0 !important; }

  .no-result-body img {
    max-width: 100%; }

  .content-404 {
    padding: 0 15px; }
    .content-404 h2 {
      margin: 40px 0; }
    .content-404 .btn-action-bottom {
      display: inherit;
      margin-top: 42px;
      max-width: 260px; }
      .content-404 .btn-action-bottom .tp-button {
        margin-bottom: 24px; }

  .content-404 h2 {
    font-size: 24px; }

  .search-result-content {
    padding: 60px 0; }

  .list-result-right .item-result .infor-item-result h6 a {
    font-size: 32px;
    color: #414141; }

  .search-result-content .list-result-right .item-result .infor-item-result .head-infor-item-result b {
    font-size: 24px; }

  .list-result-right .item-result .infor-item-result h6 {
    margin: 20px 0; }

  .list-result-right .item-result .infor-item-result {
    margin-top: 20px;
    padding-right: 0; }

  .right-sidebar .head-results-right .combobox-right-sidebar {
    width: 100%;
    max-width: 160px; }

  .list-result-right .item-result .avatar-result {
    position: inherit;
    width: 100%; }

  .right-sidebar .head-results-right {
    justify-content: flex-end;
    margin-bottom: 16px; }

  .search-result-content {
    padding: 60px 0 !important; }

  .list-result-right:last-child .item-result {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-right: 0; }

  .filter-mb-results button {
    width: 90px;
    display: flex;
    align-items: center;
    outline: none;
    border: 0;
    background: #409000;
    text-align: center;
    transition: all .3s ease-in-out;
    color: white;
    height: 50px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase; }
    .filter-mb-results button img {
      height: 20px;
      margin-right: 4px; }
    .filter-mb-results button span {
      font-size: 13px;
      color: white;
      width: initial; }

  .left-sidebar.active {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    z-index: 9999;
    padding: 15px; }

  .left-sidebar {
    display: none; }
    .left-sidebar.active {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: white;
      z-index: 9999999;
      padding: 15px; }
      .left-sidebar.active .close-filter {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        display: inline-block !important; }

  .right-sidebar .filter-mb-results {
    position: absolute;
    left: 0;
    display: inline-block !important;
    top: 0px; }
    .right-sidebar .filter-mb-results button {
      width: 90px;
      display: flex;
      align-items: center;
      outline: none;
      border: 0;
      background: #00AEEF;
      padding: 12px; }
      .right-sidebar .filter-mb-results button span {
        font-size: 13px;
        color: white;
        width: initial; }

  .search-result-content .col-md-2, .search-result-content .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%; }

  .left-sidebar {
    display: none; }

  .error-page h1 {
    font-size: 24px; }

  .search-result-head img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: center; }
  .search-result-head .box-search-results {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, -50%);
    padding: 0 15px; }
  .search-result-head .search-job button img {
    min-height: inherit;
    object-fit: inherit;
    object-position: inherit; }

  .pagging-result {
    justify-content: center; }

  .related-news h2 {
    font-size: 32px; }

  .share-blogs {
    margin: 16px 0 60px 0; }
    .share-blogs span {
      margin-bottom: 16px; }

  .flex-tw0-img {
    margin: 12px 0; }

  .img-newspageDetail .img-pc {
    display: none; }
  .img-newspageDetail .img-mb {
    display: block; }

  .img-newspageDetail {
    margin: 24px 0; }

  .section-detail-page .des-more {
    font-size: 18px; }

  .section-detail-page {
    margin-top: 60px; }
    .section-detail-page .head-news-page-detail h1 {
      font-size: 24px; }

  .section-detail-page .breadcrumb a {
    font-size: 16px;
    padding-left: 0; }

  .img-mb {
    display: block; }

  .recent-job-ph2 .title-relate {
    display: flex !important; }

  .tp-button.tb-btn-blue a span {
    width: 100%; }

  .tp-button a span {
    padding: 24px; }

  .recent-job-ph2 .title-relate h5 {
    font-size: 32px; }

  .title-relate a {
    font-size: 14px; }

  .content-apply .tb-attach-file .fileName {
    top: 0; }

  .tb-attach-file input[type=file] {
    margin-left: -25px;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0; }

  .content-apply {
    padding: 0 15px; }
    .content-apply .title-section h3 {
      text-align: left !important; }

  .post-job-editor .tp-button a span {
    font-size: 20px; }

  .supply-process-suppliers .item-supply-process img {
    margin-bottom: 20px; }

  .tp-button a span {
    font-size: 20px; }

  .img-pc {
    display: none; }

  .img-mb {
    display: block; }

  .tb-contact-banner.tb-head-product-category {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .tb-contact-banner.tb-head-product-category .box-red.blue-new {
    align-items: center;
    background: #01B4BC !important;
    padding: 70px 24px; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    font-size: 32px; }

  .titlelarge-section-headpage .img-pc {
    display: none; }

  .titlelarge-section-headpage .img-mb {
    display: block; }

  .titlelarge-section-headpage .bg-opacity {
    top: -29px; }

  .title-section h3 {
    text-align: center !important;
    margin-top: 0 !important;
    font-size: 32px; }

  .tb-how-we-add.tb-list-category-product {
    padding: 50px 0 !important; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures img {
    height: 60px;
    margin-bottom: 16px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures h5 {
    font-size: 18px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures .title-item img {
    height: 30px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures .title-item {
    margin-bottom: 12px; }

  .title-section {
    margin-bottom: 36px; }

  section {
    padding: 60px 0 !important; }

  .process-section .process-box .item-process {
    margin-bottom: 39px;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 140px; }
    .process-section .process-box .item-process .icon-title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px !important;
      text-align: center; }
    .process-section .process-box .item-process img {
      height: 95px; }
    .process-section .process-box .item-process p {
      text-align: left;
      padding: 0; }
    .process-section .process-box .item-process label {
      margin: 0; }

  .container-main, .container-faqs {
    max-width: 1000px;
    padding: 0 15px; }

  .tab-custom .nav-tabs .nav-link {
    padding: 20px 24px !important; }

  .faqs-supplisers .tab-content .faqs-item h6 {
    font-size: 18px;
    padding: 13px 0; }
  .faqs-supplisers .tab-content .faqs-item p {
    font-size: 16px; }

  .tb-supplier-relationship .title-section p {
    text-align: center; }

  .content-tb-supplier-relationship .detail {
    margin-bottom: 48px; }

  .content-tb-supplier-relationship .detail:last-child {
    margin-bottom: 48px; }

  .list-job-ulli ul li .table-form-suplier {
    overflow-x: auto; }

  .list-job-ulli ul li .table-form-suplier table {
    min-width: 800px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 20px; }

  .material-indemand .list-job-ulli ul li.show .btn-expand-table-suplier a.close-link {
    font-weight: 400; }

  .material-indemand .list-job-ulli ul li.show .btn-expand-table-suplier a.expand-link {
    font-weight: 400; }

  .material-indemand .list-job-ulli .title-job a.expand-link {
    font-weight: 400; }

  .item-job-list.mb .action-job b {
    font-size: 18px; }

  .title-section {
    padding: 0; }
    .title-section h3 {
      font-size: 32px !important; }

  .filter-career, .combobox-career {
    justify-content: space-between;
    flex-wrap: wrap; }

  .filter-career .combobox-career .item-combobox {
    margin-right: 0;
    width: 100%;
    max-width: 100%; }

  .search-job-list button {
    top: 0; }

  .search-job input {
    border: 1px solid #e7e7e7; }

  .filter-career .combobox-career .item-combobox .form-group {
    margin-bottom: 10px; }

  .search-job-list {
    width: 100%;
    max-width: 100%; }

  .search-job {
    max-width: 100%; }

  .location-job b span {
    font-size: 14px; }

  .list-job-career-luli .item-job-post {
    padding-right: 110px; }

  .container-main, .container-faqs {
    max-width: 1000px;
    padding: 0 15px; } }
@media (max-width: 520px) {
  .recent-job-ph2 .title-relate {
    display: flex !important; }

  .tab-custom .nav-tabs .nav-link {
    padding: 18px !important; }

  .tab-custom .nav-tabs .nav-link {
    margin: 0 12px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 18px; } }
@media (max-width: 420px) {
  .title-relate a {
    font-size: 14px; }

  .section-detail-page {
    margin-top: 32px; } }
@media (max-width: 320px) {
  .right-sidebar .head-results-right {
    justify-content: left; }

  .right-sidebar .filter-mb-results {
    width: 100%;
    position: initial; }
    .right-sidebar .filter-mb-results button {
      width: 100%; }

  .pagging-result a img {
    height: 42px; }

  .search-result-content {
    padding: 30px 0 !important; }

  .list-result-right .item-result .infor-item-result h6 a {
    font-size: 22px;
    color: #414141; }

  .search-result-content .list-result-right .item-result .infor-item-result .head-infor-item-result b {
    font-size: 18px; }

  .search-result-head .box-search-results {
    transform: translate(0%, -60%); }

  .box-search-results h1 {
    font-size: 32px; }

  .section-detail-page {
    margin-top: 32px; }

  .recent-job-ph2 .title-relate {
    display: inherit !important; }

  .content-apply input, .content-apply .custom-select, .content-apply textarea {
    font-size: 16px; }

  .content-apply .tb-attach-file .fileName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .list-job-career-luli .item-job-post h4 a {
    font-size: 18px;
    line-height: 24px; }

  .tab-custom .nav-tabs .nav-link {
    padding: 16px !important; }

  .tab-custom .nav-tabs .nav-link {
    margin: 0 12px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 16px; }

  .item-job-list.mb {
    padding-right: 122px !important; } }
.logo {
  display: flex;
  align-items: center; }

.sub-search .search-show .content-search-show input::placeholder {
  color: #414142; }

@media (max-width: 1000px) {
  header .container-header {
    justify-content: center; }

  .menu-mobile .search-header {
    margin-right: 16px; }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; }

  .search-show {
    width: 100%; }
    .search-show .content-search-show {
      width: 100%; } }
@media (max-width: 767px) {
  .sub-search.active .logo {
    display: none; }

  .search-show {
    width: 100%; }
    .search-show .content-search-show {
      width: 100%; } }
@media (max-width: 420px) {
  .menu-mobile {
    width: 100%;
    justify-content: flex-end; } }

/*# sourceMappingURL=responsive.css.map */
