@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600;700;800&family=Manrope:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none; }

@media (max-width: 1613px) {
  .tab-contact::before {
    width: 200px;
    height: 200px;
    left: -140px;
    top: 200px; }

  .infor-about-section {
    padding: 0 50px 0 20px; }

  .container-slide {
    padding: 0 20px; }

  .sub-search {
    padding: 0 20px; }

  section {
    padding: 40px 0; }

  header .container-header {
    padding: 0 50px; }

  header, .sub-search {
    height: 80px; }

  .sub-search {
    padding: 0 50px; }

  .slide-section {
    margin-top: -10px; }

  .menu-header nav ul li a {
    padding: 27px 24px; }

  .section-our-product .container-main {
    padding: 0 20px; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -20%; }

  body {
    padding-top: 80px; } }
@media (max-width: 1480px) {
  .tab-product a {
    height: 70px;
    padding: 0 14px;
    font-size: 16px; }

  .value-mission-vision .item-about .infor-about-mission-vision {
    padding: 30px; }

  .value-mission-vision .item-about b, .item-corevalue b {
    font-size: 38px; }

  .about-manufacturing::before {
    bottom: initial;
    top: -270px;
    z-index: 0;
    width: 203px;
    height: 413px;
    background-size: contain; }

  .col-right-columns-facturing .owl-nav button {
    top: 26%; }

  .section2-benefit::before {
    top: -150px;
    width: 150px;
    height: 247px;
    background-size: contain; }

  .container-1300, .container-1400, .container-1500 {
    max-width: 1200px; }

  .recommenddation {
    padding: 70px 0 !important; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 30px; }

  .title-vission h2 {
    font-size: 100px;
    line-height: 80px; }

  .item-box-vission span {
    font-size: 20px; }
  .item-box-vission p {
    font-size: 30px; }
    .item-box-vission p b {
      font-size: 30px; }

  .header-infor h1 {
    font-size: 60px; }
  .header-infor p {
    font-size: 20px; }

  .container-1400 {
    padding: 0 15px; }

  .title-section {
    margin-bottom: 30px; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -24%; }

  .section-our-product .item-our-product h6 a b {
    font-size: 24px; }

  .section-our-product .item-our-product:hover h6 a b {
    font-size: 28px; }

  .section-our-product .item-our-product h6 a {
    padding: 40px 20px; }

  .section-our-product .item-our-product h6 a p {
    margin-top: 39px; }

  @keyframes mymove {
    from {
      margin-top: 109px; }
    to {
      margin-top: 39px; } }
  .f96 {
    font-size: 70px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 42px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .menu-header nav ul li a {
    padding: 27px 15px; }

  .logo img {
    margin-right: 20px;
    height: 40px; }

  .logo a:nth-child(1) img {
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0; } }
@media (max-width: 1353px) {
  .container-1300, .container-1400, .container-1500 {
    max-width: 1000px; }

  .category-section .item-category {
    padding-bottom: 71px; }

  .call-partnership .title-section img {
    top: -23px;
    max-width: 700px; } }
@media (max-width: 1280px) {
  .logo a:nth-child(1) img {
    height: 38px; }

  .section2-benefit::before {
    height: 147px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0; }
    .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a {
      margin-top: 0 !important;
      text-decoration: none;
      margin: auto;
      width: 100%;
      justify-content: space-between;
      margin-top: 50px;
      width: 100%;
      background: #00AEEF; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a span {
        background: none !important; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover {
        background: #00AEEF !important; }
        .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover span {
          background: none !important; } }
@media (max-width: 1250px) {
  .columns-left-maps {
    padding-left: 20px; }

  .columns-right-maps {
    padding-right: 20px; }

  .section2-benefit::before {
    height: 107px; }

  .head-page-product.contact .title-page-product {
    margin-top: -140px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .launching-section .content-launching .infor-launching h3 b {
    font-size: 28px; }

  .launching-section .content-launching .infor-launching h3 span {
    font-size: 50px; }

  .tab-content-section ul li {
    margin-bottom: 20px; }

  .flex-center .infor-row {
    padding-left: 0; }

  .social-item p a {
    background: #00AEEF;
    font-size: 32px !important;
    line-height: 35px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 32px !important; }

  .section-location .title-maps .row .title-section h3 {
    padding-left: 0; }

  .title-section h3 {
    font-size: 38px; }

  .section-about .img-about-section::before {
    bottom: -19px; }

  .item-achivemment p {
    font-size: 16px; }

  .item-achivemment {
    margin-bottom: 20px; }

  section {
    padding: 60px 0; }

  .menu-header nav ul li a {
    font-size: 16px;
    padding: 27px 10px; }

  .logo img {
    margin-right: 15px;
    height: 25px; }

  .search-header {
    margin-left: 13px;
    cursor: pointer; }

  .item-our-milestones {
    margin-top: 20px; }
    .item-our-milestones b {
      font-size: 64px; }
    .item-our-milestones label {
      font-size: 20px; }
    .item-our-milestones span {
      font-size: 16px; } }
@media (max-width: 1000px) {
  .element-about .pattern {
    position: absolute;
    bottom: -12%;
    left: -8%;
    width: 36%; }

  .section-list-product .mt32 {
    margin-top: 28px; }
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%; }

  .brand-product-page::before {
    content: '';
    display: inline-block;
    background: url(../images/before-brand-section.svg) no-repeat center;
    height: 144px;
    width: 64px;
    position: absolute;
    left: -10px;
    top: 0; }

  .brand-product-page .logo-brand-ourProduct img {
    height: 64px;
    margin: 15px 10px;
    width: initial !important;
    max-width: 100% !important; }

  .tab-product {
    display: none; }

  .list-produc-recommedation .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .about-manufacturing {
    padding-top: 50px !important;
    padding-bottom: 50px; }

  .value-mission-vision {
    padding: 0 15px; }

  .about-manufacturing::before {
    bottom: initial;
    top: 0;
    z-index: 0;
    width: 143px;
    height: 413px;
    background-size: contain; }

  .maps-section-about::before {
    display: none; }

  .maps-section-about .content-maps-icon {
    padding-left: 0; }

  .col-left-columns {
    padding-left: 15px; }

  .title-content h2 {
    display: block !important;
    font-size: 48px;
    text-transform: uppercase;
    color: #00AEEF; }
  .title-content p {
    display: block !important;
    margin-top: 0 !important; }

  .title-mb {
    display: block; }

  .value-mission-vision .item-about p {
    font-size: 16px; }

  .maps-section {
    margin-top: 0; }

  .item-columns-corevalue img {
    margin-bottom: 31px; }

  .item-columns-corevalue span {
    font-size: 16px; }

  .value-mission-vision .col-md-6:nth-child(5) .item-about .infor-about-mission-vision p {
    line-height: 29px; }

  .element-about .button-link {
    display: block; }
    .element-about .button-link a {
      margin-top: 0; }

  .item-section2-benefit {
    margin-bottom: 30px; }

  .maps-section-about .columns-left-maps {
    padding-left: 15px; }

  .maps-section-about .title-section {
    margin-top: 30px;
    padding-left: 0; }

  .call-partnership .title-section {
    padding-left: 15px; }

  .section2-benefit .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .section2-benefit .col-md-3 .item-achievement {
      text-align: center; }
  .section2-benefit .button-link a {
    margin-top: 0; }

  .list-about-element .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .list-about-element .col-md-4 .item-achievement {
      text-align: center; }

  .list-about-element .item-achievement b {
    line-height: 30px; }

  .item-achievement {
    margin-bottom: 30px; }

  .content-tab .head-tab-contact {
    margin-bottom: 40px;
    width: 100%; }

  .item-top-bottom-contact b {
    font-size: 24px;
    margin-bottom: 10px; }

  .item-top-bottom-contact span {
    font-size: 13px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 32px;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    background: #fff;
    color: #00AEEF; }

  .tab-contact {
    margin-top: -85px; }

  .action-contact-form button {
    float: left;
    height: 59px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: 400;
    border: 1px solid #404040;
    font-size: 16px;
    padding: 0 42px;
    background: white; }

  .head-page-product.contact .title-page-product {
    margin-top: -74px;
    padding: 20px;
    max-width: 50%; }

  .content-tab {
    padding: 0 20px; }

  .bottom-footer .img-bottom-contact {
    width: 100%; }

  .bottom-footer .content-link-bottom-contact {
    position: relative;
    width: 100%; }

  .item-top-bottom-contact {
    position: relative;
    left: 0 !important;
    width: 100%;
    float: left;
    height: 50%;
    top: 0;
    padding: 33px 64px;
    text-align: center;
    background: #01B4BC;
    display: flex;
    align-items: center; }

  .content-tab .head-tab-contact {
    margin-bottom: 30px; }

  .item-recommendation {
    margin-bottom: 30px; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 20px; }

  .recommenddation {
    padding: 50px 0 !important; }

  .flex-center .btn-action-row {
    margin-top: 0px; }

  .head-page-product h1 {
    font-size: 32px;
    line-height: 30px; }

  .flex-center .infor-row p {
    font-size: 16px; }

  .flex-center .infor-row h3 {
    font-size: 28px;
    margin-bottom: 10px; }

  .item-box-vission {
    margin-top: 40px;
    padding: 50px 30px; }

  .title-vission h2 {
    font-size: 80px;
    line-height: 63px; }

  .header-infor h1 {
    font-size: 50px; }
  .header-infor p {
    font-size: 20px; }

  .social-item p a {
    font-size: 22px !important;
    padding: 10px 20px;
    border-radius: 30px; }
    .social-item p a br {
      display: none; }
    .social-item p a b {
      font-size: 22px !important; }

  .item-call-partner {
    margin-bottom: 30px;
    padding: 12px; }

  .social-item p {
    padding: 10px 30px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 18px !important;
    height: 53px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 30px; }

  .call-partnership .button-link a span {
    height: 53px !important;
    padding: 0 10px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 0 0; }

  .social-activities::after {
    bottom: -40px;
    width: 95px;
    height: 83px;
    background-size: contain; }

  .call-partnership > img {
    min-height: 714px;
    display: inline-block;
    object-fit: cover; }

  .news-item .thumbnail-news a {
    border-radius: 20px; }

  .news-item .thumbnail-news::before {
    border-radius: 20px; }

  .news-item p a {
    font-size: 16px;
    font-weight: 700; }

  body {
    padding-top: 72px; }

  .slide-section .content-slide {
    width: 100%;
    padding-top: 50px; }

  .container-slide {
    text-align: center; }

  .slide-pc {
    display: none;
    width: 100%; }

  .slide-mb {
    display: block;
    width: 100%; }

  .menu-languages-show {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: #00AEEF;
    padding: 20px;
    padding: 72px 0 50px 0;
    z-index: 2;
    display: none; }
    .menu-languages-show.active {
      display: block; }
    .menu-languages-show__head {
      height: 72px;
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      background: white;
      top: 0;
      width: 100%;
      left: 0; }
      .menu-languages-show__head img {
        position: absolute;
        left: 20px;
        top: 20px; }
      .menu-languages-show__head b {
        color: #404040;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
        font-weight: 700; }
    .menu-languages-show__list {
      display: inline-block;
      width: 100%; }
      .menu-languages-show__list a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0; }
        .menu-languages-show__list a img {
          margin-right: 6px; }
        .menu-languages-show__list a span {
          color: white;
          font-family: 'Manrope', sans-serif;
          font-size: 20px; }
        .menu-languages-show__list a.active {
          background: #002C54; }
          .menu-languages-show__list a.active span {
            font-weight: 700; }

  .content-menu-mobile {
    overflow: hidden;
    display: none !important; }

  .menu-header {
    display: none; }

  .logo img {
    float: left;
    margin-right: 10px;
    height: 27px; }

  .logo a:nth-child(1) img {
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0; }

  header {
    padding: 5px 15px;
    height: 72px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: fixed;
    z-index: 1; }
    header .container-header {
      padding: 0;
      width: 100%; }

  .menu-mobile {
    display: block;
    position: relative;
    z-index: 2; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(1) {
      display: none; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(2) {
      display: block; }
    .menu-mobile.active .content-menu-mobile {
      display: flex !important; }

  .content-menu-mobile {
    width: 100%;
    position: fixed;
    top: 72px;
    height: 100%;
    left: 0;
    background: #00AEEF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0 150px 0;
    overflow-y: auto; }
    .content-menu-mobile nav ul li a {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .btn-action-menumobile img {
    height: 30px; }
    .btn-action-menumobile img:nth-child(1) {
      display: block; }
    .btn-action-menumobile img:nth-child(2) {
      display: none; }

  .container-header {
    padding: 0 !important; }

  .logo img {
    height: 30px; }

  .menu-language nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0; }
    .menu-language nav ul {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: -150px; }
      .menu-language nav ul li {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0; }
        .menu-language nav ul li a {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 12px 0;
          color: white;
          font-size: 20px; }
        .menu-language nav ul li.active a {
          font-weight: 700; }

  .social-menu {
    position: fixed;
    bottom: 50px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center; }
    .social-menu a img {
      margin: 0 10px; }

  .language-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%; }
    .language-mobile span {
      color: white;
      margin-left: 10px;
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -37%; } }
@media (max-width: 767px) {
  .supplier-relationship-policy .box-left {
    padding-right: 0px; }

  .body-editor-news .box-two-img .col-md-6:first-child {
    margin-bottom: 32px; }

  .error-page .button-link {
    width: 100%;
    margin: 12px 0; }
  .error-page .box-btn {
    display: inline-block; }

  .brand-product-page {
    padding: 60px 0 !important; }
    .brand-product-page .title-page-productUp b {
      margin-bottom: 20px !important; }

  .head-page-product-cate h1 {
    font-size: 48px;
    padding: 0 20px; }

  .item-features img {
    height: 100px; }

  .recommendation {
    margin-bottom: 50px !important; }

  .item-product-launching .content-product-launching h6 a {
    min-height: 85px; }

  .link-btn-item img {
    height: 40px;
    width: 40px; }

  .title-head-page h1 {
    font-size: 48px; }

  .slide-section {
    margin-top: 50px; }

  .value-mission-vision .item-about img {
    position: absolute;
    bottom: 0; }

  .item-about {
    min-height: 340px; }

  .call-partnership .content-call-partner .button-link a b {
    font-size: 15px !important;
    min-width: 134px !important; }

  .call-partnership {
    padding-bottom: 120px !important; }

  .maps-section {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse; }

  .columns-right-maps {
    position: relative !important; }

  .title-section h3 span {
    font-size: 30px; }

  .labal-title-productOur a {
    padding: 15px; }

  .section-list-product .item-product-launching {
    margin-bottom: 0; }
  .section-list-product .mt32 {
    margin-top: 16px; }
  .section-list-product .content-list-product .f28 {
    padding: 8px 8px 0 8px;
    margin-bottom: 0px; }
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }

  .our-product .button-product-ourProduct.mb {
    width: 100%;
    text-align: center;
    margin-top: 30px; }

  .tb-btn-call-bottom a {
    border-radius: 0; }

  .btn-form-contact-act .button-link span img {
    width: 23px; }

  .btn-form-contact-act .button-link b {
    padding: 0 29px; }

  .menu-language::before {
    display: none; }

  .btn-form-contact-act {
    background: #00AEEF; }
    .btn-form-contact-act span {
      border-left: 1px white solid !important; }

  .btn-form-contact-act .button-link {
    width: 100%; }
    .btn-form-contact-act .button-link a {
      display: flex;
      justify-content: space-between;
      width: 100%; }

  .content-header-page-product {
    display: inline-block; }

  .category-section {
    display: none; }

  .section-features {
    padding-bottom: 180px !important; }
    .section-features::after {
      display: none; }
    .section-features::before {
      background: url(../images/before-mb.svg) no-repeat center;
      width: 100%;
      height: 290px;
      background-size: cover; }

  .head-page-product-cate {
    padding-top: 0 !important; }
    .head-page-product-cate h1 {
      text-align: center;
      padding-top: 72px; }

  .section-features .row {
    justify-content: center; }

  .item-features b {
    font-size: 20px;
    line-height: 27.2px; }

  .section-features .col-md-4 {
    padding: 0 15px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .new-product-lauching .content-newProduct-lauching {
    display: inline-block;
    text-align: center;
    padding-top: 136px; }
    .new-product-lauching .content-newProduct-lauching h2 b, .new-product-lauching .content-newProduct-lauching h2 span {
      font-size: 40px; }

  .quoute-section {
    padding: 0 !important; }
    .quoute-section .quote-content {
      position: relative;
      width: 100%;
      padding: 122px 15px; }

  .box-pagging-bottom a img {
    width: 42px; }

  .new-product-lauching {
    padding-top: 0 !important; }

  .brand-product-page .logo-brand-ourProduct img {
    height: 44px;
    margin: 15px 0px;
    width: initial !important;
    max-width: max-content !important; }

  .product-head::before {
    background: url(../images/product-head-line-mb.svg) no-repeat center;
    background-size: contain; }

  .title-head-page {
    padding: 60px 0 140px; }

  .list-produc-recommedation {
    padding: 0 20px; }

  .title-page-productUp b {
    text-align: center;
    font-size: 40px;
    line-height: 36px; }

  .section-list-product .content-list-product .left-columns-product {
    left: 0; }

  .numbers-pagging a {
    float: left;
    margin: 0 6px; }

  .head-page-div h1 {
    color: #00AEEF !important;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 38px; }

  .head-page-div P {
    font-size: 16px; }

  .columns-right-maps {
    padding-right: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0; }

  .col-right-columns-facturing .owl-nav button span {
    font-size: 54px;
    color: white; }

  .call-partnership .title-section img {
    display: none; }

  .col-left-columns {
    padding: 0 15px !important; }

  .columns-left-maps {
    padding-left: 0;
    position: relative;
    left: 0;
    display: inline-block;
    margin-top: 0; }

  .maps-section .title-section h3 {
    text-align: left !important; }

  .call-partnership b {
    display: inline-block; }
  .call-partnership .title-section h3 b::before {
    width: 100% !important; }

  .call-partnership .title-section {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: relative; }
    .call-partnership .title-section span {
      display: inline-block;
      width: 100%; }
    .call-partnership .title-section p {
      text-align: center;
      font-size: 20px;
      padding: 0 30px;
      display: inline-block;
      width: 100%; }

  .col-right-columns-facturing .owl-dots {
    display: block; }
    .col-right-columns-facturing .owl-dots button.active span {
      background: #00AEEF !important;
      width: 30px !important; }
    .col-right-columns-facturing .owl-dots button span {
      background: #D9D9D9 !important;
      width: 6px !important;
      height: 6px !important; }

  .slide-manufacturing {
    padding-top: 10px !important; }

  .col-right-columns-facturing .owl-nav button {
    top: 28%; }

  .slide-manufacturing::before {
    content: '';
    display: inline-block;
    width: 213px;
    height: 223px;
    position: absolute;
    left: 0;
    bottom: inherit;
    top: 0;
    background-size: contain; }

  .col-left-columns {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0 38px;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    margin-bottom: 20px; }
    .col-left-columns p {
      margin-top: 0; }

  .content-col-left-product {
    margin-bottom: 43px; }

  .col-right-ourProduct {
    padding: 0; }
    .col-right-ourProduct .row {
      padding: 0 20px; }
      .col-right-ourProduct .row .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }

  .button-product-ourProduct.pc {
    display: none; }

  .labal-title-productOur a {
    font-size: 16px; }

  .button-product-ourProduct.mb {
    display: block; }

  .section2-benefit .col-md-3 {
    padding: 0 20px; }

  .item-section2-benefit p {
    font-size: 14px; }

  .item-section2-benefit img {
    margin-bottom: 20px;
    height: 80px; }

  .our-product .col-left-product {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%; }

  #navbar {
    position: fixed;
    top: 0 !important;
    z-index: 99; }

  .slide-activities .slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    right: -3px;
    background: url(../images/social_arrow-right.svg) no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    background-size: contain;
    transform: translate(0, -50%); }

  .slide-activities .slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    left: -3px;
    width: 44px;
    height: 44px;
    display: block;
    background-size: contain;
    transform: translate(0, -50%); }

  .element-about .slick-list {
    padding: 0 !important; }
    .element-about .slick-list br {
      display: none !important; }

  .element-about .item-achievement b {
    font-size: 36px; }
  .element-about .item-achievement span {
    font-size: 16px; }
  .element-about .button-link {
    display: inline-block !important; }

  .list-about-element .item-achievement b {
    text-align: center; }

  .list-about-element .item-achievement span {
    text-align: center; }

  .list-about-element .item-achievement {
    margin-top: 30px; }

  .action-contact-form button {
    width: 48%;
    float: left;
    justify-content: center;
    margin: 0 1%; }

  .item-top-bottom-contact {
    padding: 20px 15px; }

  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .item-form-label-input {
    margin-bottom: 20px; }

  .head-page-product.contact .title-page-product {
    max-width: 100%; }

  .box-pagging-bottom {
    justify-content: center; }

  .section-list-product .content-list-product {
    position: relative;
    min-height: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

  .head-page-product.contact .img-right-page-head {
    width: 100%; }

  .head-page-product.contact .title-page-product {
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .thumbnails-launching {
    padding: 20px 20px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 a {
    font-size: 18px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    padding-left: 15px; }

  .bottom-product-item a b {
    padding-left: 15px !important; }

  .head-page-main.head-page-product.contact .img-right-page-head::after {
    height: 65px !important;
    top: -11px !important; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching p {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 {
    padding: 15px;
    padding-bottom: 0; }

  .right-columns-product {
    padding-left: 0 !important; }
    .right-columns-product .row {
      margin-left: -5px;
      margin-right: -5px; }
      .right-columns-product .row .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px; }
        .right-columns-product .row .col-md-4 .item-baby-diapaper-highlights {
          margin-bottom: 50px; }

  .left-columns-product.pc {
    display: none !important; }
  .left-columns-product.mb {
    display: block !important;
    position: relative !important;
    width: 100% !important; }

  .tb-btn-call-bottom span {
    display: none !important; }

  .list-baby-diapaper .row .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .list-baby-diapaper .row .col-md-3 .item-baby-diapaper-highlights {
      margin-bottom: 50px; }

  .recommenddation {
    padding: 40px 0 !important; }

  .infor-row {
    margin-top: 30px; }

  .ver-pc {
    display: none !important; }

  .ver-mb {
    display: block !important; }

  .head-page-main {
    display: flex;
    flex-direction: column-reverse; }

  .head-page-product h1 {
    font-size: 48px;
    line-height: 45px; }

  .head-page-product .img-right-page-head {
    width: 100%; }

  .head-page-product .head-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 50px 0 10px 0; }

  .head-page-product .img-right-page-head::after {
    width: 100% !important;
    height: 90px !important;
    border-radius: 0 0 50px 50px !important;
    left: 0;
    top: -40px; }

  .title-page-product {
    max-width: 100%;
    text-align: center; }

  .our-milestones {
    overflow: initial !important; }

  .content-our-milestones {
    overflow-x: auto; }
    .content-our-milestones .row {
      width: 320%;
      float: left;
      display: inline-block !important; }
    .content-our-milestones .col-md-3 {
      float: left;
      width: 25%;
      padding: 0 15px; }

  .item-box-vission {
    margin-top: 30px !important; }

  section {
    padding: 60px 0 !important; }

  .title-vission {
    margin-top: 0; }

  .header-infor h1 {
    font-size: 48px;
    text-align: center; }
  .header-infor p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px; }

  .title-vission h2 {
    text-align: center; }

  .slide3-pc {
    display: none !important; }

  .slide3-mb {
    display: block !important; }

  .slick-initialized .slick-slide {
    padding: 10px; }

  .slick-active.slick-center .social-item::before {
    border-radius: 0px 20px 20px 20px;
    right: -5px;
    bottom: -5px; }

  .social-activities {
    overflow: initial; }
    .social-activities .slide-activities {
      overflow: hidden; }

  .footer-mb {
    display: block !important;
    padding: 0 20px; }
    .footer-mb h2 {
      font-size: 32px;
      margin-bottom: 25px; }

  footer {
    padding: 30px 0; }

  .section2-benefit {
    padding: 30px 15px !important; }

  .item-menu-footer.active .content-footer {
    display: inline-block !important; }
  .item-menu-footer img {
    margin-left: 5px; }

  .social-footer-mb span {
    font-size: 14px;
    font-family: 'Manrope', sans-serif; }

  .item-menu-footer h6 {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #fff; }

  .slide-activities .thumbnails-social a img, .social-item .thumbnails-social a {
    border-radius: 20px; }

  .adress-content p img {
    width: 22px; }

  .adress-content p {
    padding-left: 29px; }

  .content-footer {
    display: none;
    width: 100%; }
    .content-footer a {
      color: #fff;
      font-family: 'Manrope', sans-serif;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      line-height: 30px; }

  .social-footer-mb {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 30px;
    margin-top: 30px; }
    .social-footer-mb span {
      display: inline-block;
      text-align: center;
      width: 100%; }
    .social-footer-mb a img {
      margin: 0 20px;
      margin-bottom: 30px; }

  .social-footer-mb span {
    color: white; }

  .footer-pc {
    display: none !important; }

  .social-item p a {
    background: #00AEEF;
    font-size: 20px !important;
    line-height: 28px;
    padding: 10px 20px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 20px !important; }

  .social-item p {
    padding: 0px 10px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 18px !important;
    height: 53px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 20px; }

  .call-partnership .button-link a span {
    height: 53px !important;
    padding: 0 10px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 0 0; }

  .news-item .thumbnail-news::before {
    border-radius: 39px; }

  .content-logo-tab img {
    width: 50%;
    height: initial;
    float: left;
    margin: 0;
    padding: 10px; }

  .tab-content-section ul li {
    padding: 0 10px;
    margin-bottom: 10px; }
    .tab-content-section ul li a {
      padding: 25px 20px;
      height: 56px; }

  .news-section .row .col-md-4:nth-child(3) .news-item {
    margin-bottom: 0; }

  .news-item {
    padding-right: 5px;
    margin-bottom: 40px; }

  .location-pc {
    display: none; }

  .location-mb {
    display: block; }

  .title-section h3 {
    text-align: center !important;
    margin-top: 0 !important; }
    .title-section h3 br {
      display: block; }

  .section-our-product .item-our-product h6 a {
    padding: 20px 20px;
    text-align: left;
    font-size: 30px; }

  .section-our-product .item-our-product {
    border-radius: 29px; }
    .section-our-product .item-our-product p {
      display: none; }

  .section-our-product .item-our-product:hover h6 a p {
    display: none; }

  .img-example-product a {
    padding-top: 50% !important; }
  .img-example-product img {
    display: none; }
    .img-example-product img.ourProduct-MB {
      display: block; }

  .infor-about-section::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -140px;
    top: 70px;
    width: 199px;
    height: 199px;
    background: #FDC204;
    border-radius: 100%; }

  .slide-section {
    padding-bottom: 0; }

  .infor-about-section .col-md-6:nth-child(3) .item-achivemment, .infor-about-section .col-md-6:nth-child(4) .item-achivemment {
    margin-bottom: 20px !important; }

  .infor-about-section {
    padding: 0; }

  .section-about .img-about-section::before {
    bottom: -14px; }

  .section-about .img-about-section {
    width: 94%; }

  .infor-about-section {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center; }

  .f96 {
    font-size: 48px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 38px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .item-call-partner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    align-items: center; }

  .item-our-milestones span {
    margin-bottom: 30px; }

  .section-strategy .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .section-strategy .item-strategy img {
    height: 100px; }

  .item-strategy {
    margin-bottom: 50px; }

  .section-strategy .item-strategy p {
    margin-bottom: 0;
    font-size: 18px; }

  .launching-section .content-launching {
    top: auto;
    height: initial;
    bottom: 50px; }
    .launching-section .content-launching .infor-launching {
      text-align: center; }
      .launching-section .content-launching .infor-launching .button-link {
        text-align: center !important; }
        .launching-section .content-launching .infor-launching .button-link a {
          justify-content: center !important;
          margin-top: 0; }

  .sub-mobile-filter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: end;
    display: flex;
    display: none; }
    .sub-mobile-filter .content-filter {
      width: 100%;
      min-height: 400px;
      background: white;
      display: inline-block;
      border-radius: 24px 24px 0 0; }
    .sub-mobile-filter .head-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px; }
      .sub-mobile-filter .head-filter b {
        font-size: 30px;
        font-weight: 700; }
    .sub-mobile-filter.active {
      display: flex !important; }

  .item-about {
    margin-bottom: 20px; }

  .value-mission-vision {
    padding-top: 0;
    margin-top: -100px;
    padding: 0 15px !important; }

  .value-mission-vision .item-about b, .item-corevalue b {
    font-size: 28px; }

  .value-mission-vision .item-about .infor-about-mission-vision {
    padding: 15px; }

  .value-mission-vision .item-about p {
    font-size: 14px; }

  .item-columns-corevalue img {
    margin-bottom: 11px; }

  .item-columns-corevalue {
    margin-bottom: 20px; }

  .item-corevalue {
    margin-top: 0;
    padding-bottom: 25px; }

  .maps-section-about .columns-left-maps {
    margin-top: -90%; }

  .maps-section-about .title-section b {
    color: #00AEEF !important;
    font-size: 32px; }

  .maps-section-about .content-maps-icon label {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 50px; }

  .maps-section-about .columns-left-maps {
    position: relative;
    z-index: 9;
    padding-right: 100px; }

  .columns-left-maps .title-section {
    padding: 0 !important; }

  .columns-right-maps {
    padding-right: 0;
    right: -20% !important;
    left: initial !important; }

  .maps-section-about .title-section {
    margin-top: 140px;
    padding-left: 0;
    margin-bottom: 0; }

  .maps-section.maps-section-about {
    overflow: hidden; }

  .title-content h2, .title-content p {
    text-align: center; }

  .title-content h2 {
    font-weight: 700; }

  .pc {
    display: none !important; }

  .mb {
    display: inline-block !important; }

  .item-product-launching .button-link {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0; }

  .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: inherit;
    margin-top: 0; }

  .button-link a {
    margin-top: 6px; }

  .item-product-launching .button-link a {
    justify-content: space-between;
    width: 100%;
    background: #00AEEF; }

  .list-produc-recommedation .item-product-launching p {
    padding-bottom: 10px; } }
@media (max-width: 380px) {
  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 20px;
    font-size: 16px; }

  .item-box-vission p, .item-box-vission p b {
    font-size: 20px; }

  .item-box-vission span {
    font-size: 14px;
    margin-bottom: 20px; }

  .title-vission h2 {
    font-size: 63px;
    line-height: 50px; }

  .menu-language nav ul li a {
    padding: 8px 0;
    font-size: 14px; }

  .f96 {
    font-size: 38px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 28px;
    font-weight: 700; }

  .f48 {
    font-size: 24px;
    font-weight: 700; }

  .f40 {
    font-size: 20px;
    font-weight: 700; }

  .f36 {
    font-size: 21px;
    font-weight: 700; }

  .f32 {
    font-size: 20px;
    font-weight: 700; }

  .f24 {
    font-size: 18px;
    font-weight: 600; }

  .f20 {
    font-size: 16px;
    font-weight: 600; }

  .f20manrope {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .logo img {
    height: 25px; }

  .language-mobile span {
    font-size: 14px; }

  .menu-language nav ul {
    margin-top: -70px; } }
@media (max-width: 326px) {
  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0  100%;
    flex: 0 0  100%;
    max-width: 100%; }

  .item-top-bottom-contact.w50 {
    top: 50%;
    width: 100%;
    text-align: center; }

  .title-section h3 {
    font-size: 30px; }

  .title-vission h2 {
    font-size: 48px;
    line-height: 40px; }

  .logo img {
    height: 22px; }

  .btn-action-menumobile img {
    height: 25px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 14px;
    font-size: 14px; }

  .content-tab {
    padding: 0 10px; }

  .content-tab .head-tab-contact ul {
    margin: 0;
    width: 100%;
    border: 0;
    display: inline-block; }
    .content-tab .head-tab-contact ul li {
      float: left;
      width: 50%; }
      .content-tab .head-tab-contact ul li a {
        justify-content: center; }

  .action-contact-form button {
    width: 48%;
    float: left;
    margin: 0 1%; }

  .bottom-footer::after {
    content: '';
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #FA8925;
    border-radius: 100px;
    position: absolute;
    right: 30px;
    top: -140px; } }
@media (min-width: 1281px) {
  .value-mission-vision {
    margin-top: -160px; } }
@media (min-width: 1001px) and (max-width: 1280px) {
  .value-mission-vision {
    margin-top: -80px; } }
@media (max-width: 1300px) {
  .item-news-last.left-avatar {
    padding-left: 200px; }
    .item-news-last.left-avatar .news-avatar {
      width: 180px; }

  .content-tab-news a {
    height: 60px;
    font-size: 16px;
    color: #414141;
    padding: 0 18px; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .process-box {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .process-box .item-process {
      flex: 0 0 33.3%;
      max-width: 33.3%;
      margin-bottom: 32px; }

  .news-page .last-news .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news-page .last-news .box-big .item-news-last {
    position: relative;
    padding-left: 40%;
    margin-bottom: 20px; }
    .news-page .last-news .box-big .item-news-last .news-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; }
  .news-page .last-news .item-news-last {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .news-page .last-news .item-news-last h5 {
      margin-top: 0px; }
    .news-page .last-news .item-news-last span {
      margin: 0; }
    .news-page .last-news .item-news-last .infor-news-lager {
      margin-left: 20px; }
  .news-page .last-news .box-medium {
    display: flex;
    align-items: center; }
    .news-page .last-news .box-medium .item-news-last:first-child {
      padding-right: 14px; }
    .news-page .last-news .box-medium .item-news-last:nth-child(2) {
      padding-left: 14px; } }
@media (max-width: 1000px) {
  .container {
    max-width: 100%; }

  .item-job-list.pc {
    display: none !important; }

  .item-job-list.mb {
    display: inline-block !important;
    padding-right: 130px !important;
    position: relative;
    padding-left: 0 !important; }
    .item-job-list.mb .title-job {
      width: 100% !important;
      padding: 0 16px; }
      .item-job-list.mb .title-job a {
        margin-bottom: 15px; }
      .item-job-list.mb .title-job .btn-expand-table-suplier {
        margin-left: 0 !important; }
        .item-job-list.mb .title-job .btn-expand-table-suplier a {
          font-size: 18px !important; }
    .item-job-list.mb .action-job {
      position: absolute;
      right: 16px;
      top: 12px;
      width: 110px;
      display: inline-block !important; }
      .item-job-list.mb .action-job b {
        width: 100% !important;
        display: inline-block !important;
        font-weight: normal;
        text-align: right;
        margin-bottom: 7px;
        margin-top: 9px; }
      .item-job-list.mb .action-job .link-suplier {
        margin-left: 0 !important; }

  .list-result-right .item-result .avatar-result {
    position: inherit;
    width: 100%; }

  .news-page .lager-news {
    position: inherit; }
    .news-page .lager-news .infor-news-lager {
      position: inherit;
      max-width: 100%; }
      .news-page .lager-news .infor-news-lager h5 {
        margin-top: 20px; }

  .list-result-right .item-result {
    padding-right: 0; }
    .list-result-right .item-result .infor-item-result {
      padding-right: 0; }

  .item-news-last.left-avatar {
    padding-left: 0px;
    display: inline-block !important; }
    .item-news-last.left-avatar .news-avatar {
      position: relative;
      width: 100%;
      margin-bottom: 20px; }

  .supplier-selection-criteria .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 40px; } }
@media (max-width: 767px) {
  .item-news-last .infor-news-lager {
    margin-bottom: 20px; }

  .item-news-last.left-avatar {
    margin-bottom: 0px; }

  .pc-ss {
    display: none !important; }

  .mb-ss {
    display: block !important; }

  .buy-products-ss .box-head-right .box-content {
    width: 100%; }

  .buy-products-at {
    display: inline-block; }
    .buy-products-at .box-head-right {
      align-items: flex-start;
      padding-top: 60px; }
      .buy-products-at .box-head-right .box-content {
        width: 100%; }
    .buy-products-at .img-mb {
      width: 100%; }

  .buy-products-ss {
    background: #E3F5FF;
    display: block;
    padding: 60px 0 0 !important; }
    .buy-products-ss .box-head-right {
      position: inherit; }
      .buy-products-ss .box-head-right .box-content h3 {
        text-align: center; }
      .buy-products-ss .box-head-right .box-content .button-link a {
        margin: auto; }
      .buy-products-ss .box-head-right .box-right {
        justify-content: center;
        margin-bottom: 32px; }
    .buy-products-ss .img-mb {
      width: 100%; }

  .list-result-right .item-result .infor-item-result {
    margin-top: 20px; }

  .right-sidebar .head-results-right {
    justify-content: flex-end;
    margin-bottom: 16px; }

  .error-page h1 {
    font-size: 24px; }

  .career-about .box-content {
    padding-right: 0px; }

  .list-job-post .title-section-features {
    text-align: center; }

  .search-result-head img {
    min-height: 300px;
    object-fit: cover;
    object-position: center; }
  .search-result-head .box-search-results {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, -90%);
    padding: 0 15px; }
  .search-result-head .search-job button img {
    min-height: inherit;
    object-fit: inherit;
    object-position: inherit; }

  .pagging-result {
    justify-content: center; }

  .container {
    max-width: 100%; }

  .contact-supplier .box-right .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0; }
    .contact-supplier .box-right .col-md-6:first-child {
      padding-right: 16px; }
    .contact-supplier .box-right .col-md-6:nth-last-child(2) {
      padding-left: 16px; }
  .contact-supplier .box-right .col-md-12 {
    padding: 0; }

  .product-item .box-item {
    margin-bottom: 32px; }

  .head-liquid-washing.mb-ss {
    width: 100%;
    min-height: 778px; }

  .head-floorcleaner {
    width: 100%;
    min-height: 778px; }

  .head-mpcleaner {
    width: 100%;
    min-height: 778px; }

  .powder {
    width: 100%;
    min-height: 778px; }

  .softener {
    width: 100%;
    min-height: 778px; }

  .img-pc {
    display: none !important; }

  .img-mb {
    display: block !important; }

  .search-result-content {
    padding: 30px 0 60px !important; }

  .list-result-right:last-child .item-result {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }

  .filter-mb-results button {
    width: 90px;
    display: flex;
    align-items: center;
    outline: none;
    border: 0;
    background: #00AEEF;
    text-align: center;
    transition: all .3s ease-in-out;
    color: white;
    height: 50px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase; }
    .filter-mb-results button img {
      height: 20px;
      margin-right: 4px; }
    .filter-mb-results button span {
      font-size: 13px;
      color: white;
      width: initial; }

  .left-sidebar.active {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    z-index: 9999;
    padding: 15px; }

  .left-sidebar {
    display: none; }
    .left-sidebar.active {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: white;
      z-index: 9999;
      padding: 15px; }
      .left-sidebar.active .close-filter {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        display: inline-block !important; }

  .right-sidebar .filter-mb-results {
    position: absolute;
    left: 0;
    display: inline-block !important;
    top: 0px; }
    .right-sidebar .filter-mb-results button {
      width: 90px;
      display: flex;
      align-items: center;
      outline: none;
      border: 0;
      background: #00AEEF;
      padding: 12px; }
      .right-sidebar .filter-mb-results button span {
        font-size: 13px;
        color: white;
        width: initial; }

  .section-detail-page .des-more {
    font-size: 16px;
    font-weight: bold; }
  .section-detail-page h1 {
    font-size: 24px; }

  .p48 {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .content-tab-news {
    flex-flow: wrap; }
    .content-tab-news a {
      height: 44px;
      font-size: 16px;
      color: #414141;
      padding: 0 28px;
      border-radius: 100px;
      margin: 5px 5px; }
    .content-tab-news a.active {
      background: #00AEEF;
      color: white; }

  .news-page .body-news .link-pagging-news .pagging-result {
    justify-content: center; }
  .news-page .body-news .link-pagging-news .button-link {
    width: 100%;
    margin-bottom: 20px; }
    .news-page .body-news .link-pagging-news .button-link a {
      width: 100%; }
      .news-page .body-news .link-pagging-news .button-link a b {
        width: 100%; }

  .career-business-culture .row {
    flex-direction: column-reverse; }
    .career-business-culture .row .custom-scrollbar {
      margin-top: 32px;
      padding-left: 0; }

  .contact-supplier {
    padding: 60px; }
    .contact-supplier .container {
      max-width: 100% !important; }
    .contact-supplier .box-right {
      margin-top: 32px;
      max-width: 100%; }

  .supplier-relationship-policy {
    padding: 60px 0; }
    .supplier-relationship-policy .box-img-right {
      padding: 0; }

  .list-job-post {
    padding: 30px 0px !important; }

  .list-job-ulli ul li .table-form-suplier {
    overflow-x: auto; }
    .list-job-ulli ul li .table-form-suplier table {
      min-width: 800px; }

  .faq .container {
    width: 100%;
    max-width: 100%; }
  .faq .accordion {
    padding: 0px; }

  .p106 {
    padding: 60px 0 !important; }

  .supplier-selection-criteria .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px; }
  .supplier-selection-criteria .item-supplier img {
    height: 60px; }

  .process-section {
    padding-left: 0px !important;
    padding-right: 0px !important; }
    .process-section .process-box .icon-title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px !important;
      text-align: center; }
    .process-section .process-box .item-process {
      margin-bottom: 50px;
      width: 100%;
      float: left;
      text-align: center;
      position: relative;
      padding-left: 140px; }
      .process-section .process-box .item-process:last-child {
        margin-bottom: 0; }
      .process-section .process-box .item-process img {
        height: 78px;
        margin-bottom: 4px; }
      .process-section .process-box .item-process label {
        margin: 0; }
      .process-section .process-box .item-process b {
        font-size: 16px;
        font-family: 'Geologica', sans-serif; }
      .process-section .process-box .item-process p {
        text-align: left;
        padding: 0;
        font-size: 16px; } }
@media (max-width: 520px) {
  .faq .nav-item .nav-link {
    padding: 18px 16px; } }
@media (max-width: 460px) {
  .owl-carousel .owl-next {
    right: 20px; }

  .owl-carousel .owl-prev {
    left: 20px; } }
@media (max-width: 420px) {
  .pagging-result a img {
    width: 30px; }

  .related-products .item-products {
    max-width: 260px;
    margin: 0 auto; } }
@media (max-width: 320px) {
  .owl-carousel .owl-next {
    right: 0px; }

  .owl-carousel .owl-prev {
    left: 0px; }

  .error-page img {
    width: 100%; }

  .faq .nav-item {
    margin: 8px 12px; }

  .process-section .process-box .item-process {
    padding-left: 0;
    margin-bottom: 32px; }
    .process-section .process-box .item-process .icon-title {
      margin: 0 auto; }
    .process-section .process-box .item-process label {
      margin: 0 auto; }
    .process-section .process-box .item-process p {
      text-align: center; }
  .process-section .process-box .icon-title {
    position: inherit; } }

/*# sourceMappingURL=responsive.css.map */
