@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600;700;800&family=Manrope:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none; }

@media (max-width: 1613px) {
  .tab-contact::before {
    width: 200px;
    height: 200px;
    left: -140px;
    top: 200px; } }
@media (max-width: 1513px) {
  body .container-slide.black-head h1.left {
    margin-top: -52% !important;
    color: #111111 !important; }

  .infor-about-section {
    padding: 0 50px 0 20px; }

  .container-slide {
    padding: 0 20px; }

  .sub-search {
    padding: 0 20px; }

  section {
    padding: 40px 0; }

  header .container-header {
    padding: 0 20px; }

  header, .sub-search {
    height: 80px; }

  .sub-search {
    padding: 0 20px; }

  .slide-section {
    margin-top: -10px; }

  .menu-header nav ul li a {
    padding: 27px 24px; }

  .section-our-product .container-main {
    padding: 0 20px; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -20%; }

  body {
    padding-top: 0; } }
@media (max-width: 1480px) {
  .tab-product a {
    height: 70px;
    padding: 0 14px;
    font-size: 16px; }

  .value-mission-vision .item-about .infor-about-mission-vision {
    padding: 30px; }

  .value-mission-vision .item-about b, .item-corevalue b {
    font-size: 38px; }

  .about-manufacturing::before {
    bottom: initial;
    top: -270px;
    z-index: 0;
    width: 203px;
    height: 413px;
    background-size: contain; }

  .col-right-columns-facturing .owl-nav button {
    top: 26%; }

  .section2-benefit::before {
    top: -150px;
    width: 150px;
    height: 247px;
    background-size: contain; }

  .container-1300, .container-1400, .container-1500 {
    max-width: 1200px; }

  .recommenddation {
    padding: 70px 0 !important; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 30px; }

  .title-vission h2 {
    font-size: 100px;
    line-height: 80px; }

  .item-box-vission span {
    font-size: 20px; }
  .item-box-vission p {
    font-size: 30px; }
    .item-box-vission p b {
      font-size: 30px; }

  .header-infor h1 {
    font-size: 60px; }
  .header-infor p {
    font-size: 20px; }

  .container-1400 {
    padding: 0 15px; }

  .title-section {
    margin-bottom: 30px; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -24%; }

  .section-our-product .item-our-product h6 a b {
    font-size: 24px; }

  .section-our-product .item-our-product:hover h6 a b {
    font-size: 28px; }

  .section-our-product .item-our-product h6 a {
    padding: 40px 20px; }

  .section-our-product .item-our-product h6 a p {
    margin-top: 39px; }

  @keyframes mymove {
    from {
      margin-top: 109px; }
    to {
      margin-top: 39px; } }
  .f96 {
    font-size: 70px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 42px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .menu-header nav ul li a {
    padding: 27px 15px; }

  .logo img {
    margin-right: 20px;
    height: 40px; }

  .logo a:nth-child(1) img {
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0; } }
@media (max-width: 1353px) {
  .container-1300, .container-1400, .container-1500 {
    max-width: 1000px; }

  .category-section .item-category {
    padding-bottom: 71px; } }
@media (min-width: 768px) and (max-width: 1280px) {
  .list-solid-theOUtside .item-certification img {
    height: 86px;
    margin-bottom: 0px; }
  .list-solid-theOUtside .item-certification b {
    font-size: 18px; }

  .stock-company-section .item-stock-company h4 {
    font-size: 40px; }

  .item-stock-company .thumbnails-about {
    padding-top: 100% !important; }

  .item-infor-benefit b {
    font-size: 24px; } }
@media (max-width: 1280px) {
  .list-primary .item-primary span {
    font-size: 20px;
    padding: 0 16px 20px 16px; }

  .section2-benefit::before {
    height: 147px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0; }
    .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a {
      margin-top: 0 !important;
      text-decoration: none;
      margin: auto;
      width: 100%;
      justify-content: space-between;
      margin-top: 50px;
      width: 100%;
      background: #C67E3B; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a span {
        background: none !important; }
      .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover {
        background: #C67E3B  !important; }
        .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover b, .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link a:hover span {
          background: none !important; } }
@media (max-width: 1250px) {
  .columns-left-maps {
    padding-left: 20px; }

  .columns-right-maps {
    padding-right: 20px; }

  .section2-benefit::before {
    height: 107px; }

  .head-page-product.contact .title-page-product {
    margin-top: -140px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .button-link {
    width: 100%; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: initial;
    margin-top: 0; }

  .launching-section .content-launching .infor-launching h3 b {
    font-size: 28px; }

  .launching-section .content-launching .infor-launching h3 span {
    font-size: 50px; }

  .tab-content-section ul li {
    margin-bottom: 20px; }

  .flex-center .infor-row {
    padding-left: 0; }

  .social-item p a {
    background: #C67E3B;
    font-size: 32px !important;
    line-height: 35px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 32px !important; }

  .section-location .title-maps .row .title-section h3 {
    padding-left: 0; }

  .title-section h3 {
    font-size: 38px; }

  .section-about .img-about-section::before {
    bottom: -19px; }

  .item-achivemment p {
    font-size: 16px; }

  .item-achivemment {
    margin-bottom: 20px; }

  section {
    padding: 30px 0; }

  .menu-header nav ul li a {
    font-size: 16px;
    padding: 27px 10px; }

  .logo img {
    margin-right: 15px;
    height: 30px; }

  .item-our-milestones {
    margin-top: 20px; }
    .item-our-milestones b {
      font-size: 64px; }
    .item-our-milestones label {
      font-size: 20px; }
    .item-our-milestones span {
      font-size: 16px; } }
@media (max-width: 1000px) {
  .thumbnails-about {
    display: none; }

  .infor-vission-about {
    position: relative;
    padding: initial; }

  body .container-slide.black-head h1.left {
    margin-top: -142% !important;
    color: #111111 !important; }

  header#navbar.active {
    background: url(../images/bg-showmenu.png) no-repeat center top;
    height: 100% !important;
    background-size: cover; }
    header#navbar.active .content-menu-mobile {
      display: flex !important; }
    header#navbar.active::before {
      content: '';
      display: inline-block;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      position: fixed;
      left: 0;
      top: 0;
      height: 72px;
      background-size: cover; }
    header#navbar.active .logo {
      position: fixed;
      top: 12px; }
    header#navbar.active img.show-mb-btn {
      display: none !important; }
    header#navbar.active img.close-mb-btn {
      display: inline-block !important;
      position: fixed;
      right: 17px;
      top: 22px;
      z-index: 999; }

  .logo a:nth-child(1) img {
    height: 44px; }

  .slide-section {
    padding: 0 !important;
    margin: 0 !important; }

  .brand-product-page::before {
    content: '';
    display: inline-block;
    background: url(../images/before-brand-section.svg) no-repeat center;
    height: 144px;
    width: 64px;
    position: absolute;
    left: -10px;
    top: 0; }

  .brand-product-page .logo-brand-ourProduct img {
    height: 64px;
    margin: 15px 10px;
    width: initial !important;
    max-width: 100% !important; }

  .tab-product {
    display: none; }

  .list-produc-recommedation .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .about-manufacturing {
    padding-top: 50px !important;
    padding-bottom: 50px; }

  .value-mission-vision {
    padding: 0 15px; }

  .about-manufacturing::before {
    bottom: initial;
    top: 0;
    z-index: 0;
    width: 143px;
    height: 413px;
    background-size: contain; }

  .maps-section-about::before {
    display: none; }

  .maps-section-about .content-maps-icon {
    padding-left: 0; }

  .col-left-columns {
    padding-left: 15px; }

  .title-content h2 {
    display: block !important;
    font-size: 48px;
    text-transform: uppercase;
    color: #C67E3B; }
  .title-content p {
    display: block !important;
    margin-top: 0 !important; }

  .title-mb {
    display: block; }

  .value-mission-vision .item-about p {
    font-size: 16px; }

  .maps-section {
    margin-top: 0; }

  .item-columns-corevalue img {
    margin-bottom: 31px; }

  .item-columns-corevalue span {
    font-size: 16px; }

  .value-mission-vision .col-md-6:nth-child(5) .item-about .infor-about-mission-vision p {
    line-height: 29px; }

  .element-about .button-link {
    display: block; }
    .element-about .button-link a {
      margin-top: 0; }

  .item-section2-benefit {
    margin-bottom: 30px; }

  .maps-section-about .columns-left-maps {
    padding-left: 15px; }

  .maps-section-about .title-section {
    margin-top: 30px;
    padding-left: 0; }

  .call-partnership .title-section {
    padding-left: 15px; }

  .section2-benefit .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .section2-benefit .col-md-3 .item-achievement {
      text-align: center; }
  .section2-benefit .button-link a {
    margin-top: 0; }

  .list-about-element .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .list-about-element .col-md-4 .item-achievement {
      text-align: center; }

  .list-about-element .item-achievement b {
    line-height: 30px; }

  .item-achievement {
    margin-bottom: 30px; }

  .content-tab .head-tab-contact {
    margin-bottom: 40px;
    width: 100%; }

  .item-top-bottom-contact b {
    font-size: 24px;
    margin-bottom: 10px; }

  .item-top-bottom-contact span {
    font-size: 13px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 32px;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    background: #fff;
    color: #C67E3B; }

  .tab-contact {
    margin-top: -55px; }

  .action-contact-form button {
    float: left;
    height: 59px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: 400;
    border: 1px solid #404040;
    font-size: 16px;
    padding: 0 42px;
    background: white; }

  .head-page-product.contact .title-page-product {
    margin-top: -74px;
    padding: 20px;
    max-width: 50%; }

  .content-tab {
    padding: 0 20px; }

  .bottom-footer .img-bottom-contact {
    width: 100%; }

  .bottom-footer .content-link-bottom-contact {
    position: relative;
    width: 100%; }

  .item-top-bottom-contact {
    position: relative;
    left: 0 !important;
    width: 100%;
    float: left;
    height: 50%;
    top: 0;
    padding: 33px 64px;
    text-align: center;
    background: #C67E3B;
    display: flex;
    align-items: center; }

  .content-tab .head-tab-contact {
    margin-bottom: 30px; }

  .item-recommendation {
    margin-bottom: 30px; }

  .recommenddation .item-recommendation .thumbnails-recommendation {
    margin-bottom: 20px; }

  .recommenddation {
    padding: 50px 0 !important; }

  .flex-center .btn-action-row {
    margin-top: 0px; }

  .head-page-product h1 {
    font-size: 32px;
    line-height: 30px; }

  .flex-center .infor-row p {
    font-size: 16px; }

  .flex-center .infor-row h3 {
    font-size: 28px;
    margin-bottom: 10px; }

  .item-box-vission {
    margin-top: 40px;
    padding: 50px 30px; }

  .title-vission h2 {
    font-size: 80px;
    line-height: 63px; }

  .header-infor h1 {
    font-size: 50px; }
  .header-infor p {
    font-size: 20px; }

  .social-item p a {
    font-size: 22px !important;
    padding: 10px 20px;
    border-radius: 30px; }
    .social-item p a br {
      display: none; }
    .social-item p a b {
      font-size: 22px !important; }

  .item-call-partner {
    margin-bottom: 30px;
    padding: 12px; }

  .social-item p {
    padding: 10px 30px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 18px !important;
    height: 53px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 30px; }

  .call-partnership .button-link a span {
    height: 53px !important;
    padding: 0 10px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 0 0; }

  .social-activities::after {
    bottom: -40px;
    width: 95px;
    height: 83px;
    background-size: contain; }

  .call-partnership > img {
    min-height: 714px;
    display: inline-block;
    object-fit: cover; }

  .news-item .thumbnail-news a {
    border-radius: 20px; }

  .news-item .thumbnail-news::before {
    border-radius: 20px; }

  .news-item p a {
    font-size: 16px;
    font-weight: 700; }

  body {
    padding-top: 0; }

  .slide-section .content-slide {
    width: 100%;
    padding-top: 50px; }

  .container-slide {
    text-align: center; }

  .slide-pc {
    display: none;
    width: 100%; }

  .slide-mb {
    display: block;
    width: 100%; }

  .menu-languages-show {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: url(../images/bg-showmenu.png) no-repeat center top;
    padding: 20px;
    padding: 72px 0 50px 0;
    z-index: 2;
    display: none; }
    .menu-languages-show.active {
      display: block; }
    .menu-languages-show__head {
      height: 72px;
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      background: white;
      top: 0;
      width: 100%;
      left: 0; }
      .menu-languages-show__head img {
        position: absolute;
        left: 20px;
        top: 20px; }
      .menu-languages-show__head b {
        color: #002C54;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
        font-weight: 700; }
    .menu-languages-show__list {
      display: inline-block;
      width: 100%; }
      .menu-languages-show__list a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0; }
        .menu-languages-show__list a img {
          margin-right: 6px; }
        .menu-languages-show__list a span {
          color: white;
          font-family: 'Manrope', sans-serif;
          font-size: 20px; }
        .menu-languages-show__list a.active {
          background: #C67E3B; }
          .menu-languages-show__list a.active span {
            font-weight: 700; }

  .content-menu-mobile {
    overflow: hidden;
    display: none !important; }

  .menu-header {
    display: none; }

  .logo img {
    float: left;
    margin-right: 10px;
    height: 27px; }

  .logo a:nth-child(1) img {
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0; }

  header {
    padding: 5px 15px;
    height: 72px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: fixed;
    z-index: 1; }
    header .container-header {
      padding: 0;
      width: 100%; }

  .menu-mobile {
    display: block;
    position: relative;
    z-index: 2; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(1) {
      display: none; }
    .menu-mobile.active .btn-action-menumobile img:nth-child(2) {
      display: block;
      position: relative;
      z-index: 2; }
    .menu-mobile.active .content-menu-mobile {
      display: flex !important; }

  .content-menu-mobile {
    width: 100%;
    position: fixed;
    top: 60px;
    height: 100%;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0 150px 0;
    overflow-y: auto;
    z-index: 0; }
    .content-menu-mobile::before {
      content: '';
      display: inline-block;
      height: 72px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%; }
    .content-menu-mobile nav ul li a {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .btn-action-menumobile img {
    height: 30px; }
    .btn-action-menumobile img:nth-child(1) {
      display: block; }
    .btn-action-menumobile img:nth-child(2) {
      display: none; }

  .container-header {
    padding: 0 !important; }

  .logo img {
    height: 30px; }

  .menu-language nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0; }
    .menu-language nav ul {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: -150px; }
      .menu-language nav ul li {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0; }
        .menu-language nav ul li a {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 18px 0;
          color: white;
          font-size: 20px; }
        .menu-language nav ul li.active a {
          font-weight: 700; }

  .social-menu {
    position: fixed;
    bottom: 50px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center; }
    .social-menu a img {
      margin: 0 10px; }

  .language-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%; }
    .language-mobile span {
      color: white;
      margin-left: 10px;
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400; }

  .section-location .title-maps .row .title-section h3 {
    margin-top: -37%; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .list-our-miles .item-our-miles b {
    font-size: 44px; }

  .quote-content-absoulte .title-quote h5 {
    font-size: 38px; }
  .quote-content-absoulte .title-quote span {
    margin-bottom: 24px; }

  .stock-company-section .item-stock-company:hover h4 {
    color: #C67E3B; }
  .stock-company-section .item-stock-company:hover p {
    color: #414142; } }
@media (max-width: 767px) {
  .our-brands {
    padding: 80px 0 !important; }

  .product-categories.other-product-categories {
    padding-top: 40px !important; }

  .bottom-footer {
    margin-top: 86px; }

  .tab-contact {
    margin-top: -95px; }

  .item-product-page2 p {
    margin-bottom: 6px; }
  .item-product-page2 .btn-arrow-right img {
    height: 36px; }

  .list-categorys .infor-cate-listPage h3 {
    margin-bottom: 20px; }

  .owl-theme .owl-nav {
    margin-top: 0px; }

  .section-about-home .owl-nav button span {
    height: 50px;
    width: 50px; }

  .slide-manufacturing.factory-section .item {
    padding: 0; }
  .slide-manufacturing.factory-section .owl-carousel.owl-drag .owl-item {
    width: 340px; }
  .slide-manufacturing.factory-section .img-manufacturing {
    padding-top: 68%; }
  .slide-manufacturing.factory-section .owl-nav button {
    margin: 0 !important;
    outline: none !important;
    background: none !important;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center; }
    .slide-manufacturing.factory-section .owl-nav button.owl-next {
      right: 0; }
    .slide-manufacturing.factory-section .owl-nav button.owl-prev {
      left: 0; }
    .slide-manufacturing.factory-section .owl-nav button span {
      height: 50px;
      display: block;
      width: 50px;
      font-size: 30px;
      color: #C67E3B;
      align-items: center;
      justify-content: center;
      background: white;
      display: flex; }

  .factory-section {
    padding-top: 128px !important;
    padding-bottom: 80px !important; }

  .stock-company-section .col-md-4 {
    padding: 0; }

  .list-primary .item-primary span {
    font-size: 32px;
    height: 60%; }

  .solid-on-the-outside .title-ourbands span {
    font-size: 16px;
    padding: 0 20px;
    margin-top: 8px; }

  .line-title {
    display: none; }

  header#navbar.active .logo {
    position: fixed;
    top: 0;
    height: 72px; }

  .logo a:nth-child(1) img {
    height: 30px; }

  .btn-action-menumobile img {
    height: 20px; }

  .primary-section {
    padding: 40px 15px 80px !important; }

  .call-partnership {
    padding: 0 !important; }

  .our-certification {
    padding: 80px 0 !important; }
    .our-certification .item-certification b {
      font-size: 24px !important; }

  .our-certification.white {
    padding-bottom: 60px !important; }

  .solid-on-the-outside {
    margin-bottom: 40px; }

  .sapphire-section {
    margin-bottom: 0px; }

  .list-product-categories .item-product-categories {
    margin-top: 20px; }

  .title-ourbands {
    margin-bottom: 20px; }

  .section-about-home .owl-theme .owl-nav {
    display: block; }

  .sl-full-mb {
    padding: 0; }
    .sl-full-mb .owl-carousel.owl-stage {
      width: 5800px; }

  .section-about-home {
    padding: 50px 15px !important;
    text-align: center; }
    .section-about-home .button-link {
      margin-bottom: 100px; }
      .section-about-home .button-link a {
        float: none;
        margin: auto; }

  .sapphire-section {
    padding-top: 117px !important;
    padding-bottom: 117px !important;
    padding-left: 15px !important;
    padding-right: 15px !important; }
    .sapphire-section p {
      margin-bottom: 42px; }

  .our-brands .list-our-brands {
    width: 100%;
    display: inline-block;
    justify-content: center;
    padding: 0 15px;
    text-align: center; }
    .our-brands .list-our-brands a img {
      height: initial;
      max-width: 90% !important;
      margin: auto;
      margin-bottom: 20px; }

  .item-certification {
    margin-bottom: 0px; }

  .list-product-categories {
    padding-left: 15px;
    padding-right: 15px; }
    .list-product-categories .button-link {
      margin-top: 50px;
      margin-bottom: 40px; }
      .list-product-categories .button-link a {
        float: none;
        margin: auto; }

  .list-primary .item-primary {
    margin-top: 16px;
    -ms-flex: 0 0 16.666%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 7.5px;
    position: relative; }
    .list-primary .item-primary:first-child {
      margin-top: 0; }
    .list-primary .item-primary .thumbnails-primary a {
      padding-top: 40% !important; }

  .solid-on-the-outside {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 80px !important;
    padding-bottom: 100px !important; }
    .solid-on-the-outside .item-certification img {
      height: 60px !important; }

  .solid-on-the-outside.whychoose-section.white {
    padding: 40px 0 !important; }

  .list-certification .col-md-4:first-child .item-certification {
    margin-top: 0px; }
  .list-certification .col-md-4 .item-certification {
    margin-top: 60px; }

  .item-certification {
    margin-top: 60px; }
    .item-certification:first-child {
      margin-top: 0px; }
    .item-certification img {
      height: 140px; }
    .item-certification b {
      margin-top: 16px;
      font-size: 16px !important;
      font-weight: 700 !important; }

  .list-solid-theOUtside .col-md-4 {
    max-width: 50%; }

  .item-infor-benefit b {
    font-size: 36px; }

  .title-ourbands b {
    font-size: 40px;
    color: #51362D; }

  .sapphire-section h6 {
    font-size: 40px; }

  .title-factory h3 {
    font-size: 40px; }

  .slide-section .content-slide .container-slide h1 {
    font-size: 48px;
    margin-top: -50%; }
  .slide-section .content-slide .container-slide .f96.white.left {
    margin-top: -120%; }
  .slide-section .content-slide .container-slide .f96.white {
    margin-top: -20%; }

  .our-product .button-product-ourProduct.mb {
    width: 100%;
    text-align: center;
    margin-top: 30px; }

  .tb-btn-call-bottom a {
    border-radius: 0; }

  .btn-form-contact-act .button-link span img {
    width: 23px; }

  .btn-form-contact-act .button-link b {
    padding: 0 29px; }

  .menu-language::before {
    display: none; }

  .btn-form-contact-act {
    background: #C67E3B; }
    .btn-form-contact-act span {
      border-left: 1px white solid !important; }

  .btn-form-contact-act .button-link {
    width: 100%; }
    .btn-form-contact-act .button-link a {
      display: flex;
      justify-content: space-between;
      width: 100%; }

  .content-header-page-product {
    display: inline-block; }

  .category-section {
    display: none; }

  .section-features {
    padding-bottom: 180px !important; }
    .section-features::after {
      display: none; }
    .section-features::before {
      background: url(../images/before-mb.svg) no-repeat center;
      width: 100%;
      height: 290px;
      background-size: cover; }

  .head-page-product-cate {
    padding-top: 0 !important; }
    .head-page-product-cate .content-header-page-product .container-1300 {
      padding: 0 20px; }
    .head-page-product-cate h1 {
      font-size: 48px;
      text-align: left;
      padding-top: 200px; }
    .head-page-product-cate p {
      width: 80%; }

  .section-features .row {
    justify-content: center; }

  .item-features b {
    font-size: 20px;
    line-height: 27.2px; }

  .section-features .col-md-4 {
    padding: 0 15px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .new-product-lauching .content-newProduct-lauching {
    display: inline-block;
    text-align: center;
    padding-top: 136px; }
    .new-product-lauching .content-newProduct-lauching h2 b, .new-product-lauching .content-newProduct-lauching h2 span {
      font-size: 40px; }

  .quoute-section {
    padding: 0 !important; }
    .quoute-section .quote-content {
      position: relative;
      width: 100%;
      padding: 80px 15px; }

  .box-pagging-bottom a img {
    width: 42px; }

  .new-product-lauching {
    padding-top: 0 !important; }

  .brand-product-page .logo-brand-ourProduct img {
    height: 44px;
    margin: 15px 0px;
    width: initial !important;
    max-width: max-content !important; }

  .product-head::before {
    background: url(../images/product-head-line-mb.svg) no-repeat center;
    background-size: contain; }

  .title-head-page {
    padding: 60px 0 140px; }

  .list-produc-recommedation {
    padding: 0 20px; }

  .title-page-productUp b {
    text-align: center;
    font-size: 40px;
    line-height: 36px; }

  .section-list-product .content-list-product .left-columns-product {
    left: 0; }

  .numbers-pagging a {
    float: left;
    margin: 0 6px; }

  .head-page-div h1 {
    color: #C67E3B  !important;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 38px; }

  .head-page-div P {
    font-size: 16px; }

  .columns-right-maps {
    padding-right: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0; }

  .col-right-columns-facturing .owl-nav button span {
    font-size: 54px;
    color: white; }

  .call-partnership .title-section img {
    display: none; }

  .col-left-columns {
    padding: 0 15px !important; }

  .columns-left-maps {
    padding-left: 0;
    position: relative;
    left: 0;
    display: inline-block;
    margin-top: 70%; }

  .maps-section .title-section h3 {
    text-align: left !important; }

  .call-partnership b {
    display: inline-block; }
  .call-partnership .title-section h3 b::before {
    width: 100% !important; }

  .call-partnership .title-section {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: relative; }
    .call-partnership .title-section span {
      display: inline-block;
      width: 100%;
      font-size: 36px; }
    .call-partnership .title-section p {
      text-align: center;
      font-size: 20px;
      padding: 0 30px;
      display: inline-block;
      width: 100%; }

  .col-right-columns-facturing .owl-dots {
    display: flex;
    height: 6px; }
    .col-right-columns-facturing .owl-dots button {
      width: 100%;
      background: #F0F0F0; }
      .col-right-columns-facturing .owl-dots button.active {
        background: #C67E3B;
        width: 100%; }
        .col-right-columns-facturing .owl-dots button.active span {
          display: none; }
      .col-right-columns-facturing .owl-dots button span {
        background: transparent !important;
        width: 6px !important;
        height: 6px !important; }

  .slide-manufacturing {
    padding-top: 10px !important; }

  .col-right-columns-facturing .owl-nav button {
    top: 25%; }

  .slide-manufacturing::before {
    content: '';
    display: inline-block;
    width: 213px;
    height: 223px;
    position: absolute;
    left: 0;
    bottom: inherit;
    top: 0;
    background-size: contain; }

  .col-left-columns {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0 38px !important;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    margin-bottom: 20px; }
    .col-left-columns p {
      margin-top: 0; }

  .content-col-left-product {
    margin-bottom: 43px; }

  .col-right-ourProduct {
    padding: 0; }
    .col-right-ourProduct .row {
      padding: 0 20px; }
      .col-right-ourProduct .row .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }

  .button-product-ourProduct.pc {
    display: none; }

  .labal-title-productOur a {
    font-size: 16px; }

  .button-product-ourProduct.mb {
    display: block; }

  .section2-benefit .col-md-3 {
    padding: 0 20px; }

  .item-section2-benefit p {
    font-size: 14px; }

  .item-section2-benefit img {
    margin-bottom: 20px;
    height: 80px; }

  .our-product .col-left-product {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%; }

  #navbar {
    position: fixed;
    top: 0 !important; }

  .slide-activities .slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    right: -3px;
    background: url(../images/social_arrow-right.svg) no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    background-size: contain;
    transform: translate(0, -50%); }

  .slide-activities .slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    left: -3px;
    width: 44px;
    height: 44px;
    display: block;
    background-size: contain;
    transform: translate(0, -50%); }

  .element-about .slick-list {
    padding: 0 !important; }
    .element-about .slick-list br {
      display: none !important; }

  .element-about .item-achievement b {
    font-size: 36px; }
  .element-about .item-achievement span {
    font-size: 16px; }
  .element-about .button-link {
    display: inline-block !important; }

  .list-about-element .item-achievement b {
    text-align: center; }

  .list-about-element .item-achievement span {
    text-align: center; }

  .list-about-element .item-achievement {
    margin-top: 30px; }

  .action-contact-form button {
    width: 48%;
    float: left;
    justify-content: center;
    margin: 0 1%; }

  .item-top-bottom-contact {
    padding: 20px 15px; }

  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .item-form-label-input {
    margin-bottom: 20px; }

  .head-page-product.contact .title-page-product {
    max-width: 100%; }

  .box-pagging-bottom {
    justify-content: center; }

  .section-list-product .content-list-product {
    position: relative;
    min-height: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }

  .head-page-product.contact .img-right-page-head {
    width: 100%; }

  .head-page-product.contact .title-page-product {
    margin-top: 0; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .thumbnails-launching {
    padding: 20px 20px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 a {
    font-size: 18px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .bottom-product-item label {
    padding-left: 15px; }

  .bottom-product-item a b {
    padding-left: 15px !important; }

  .head-page-main.head-page-product.contact .img-right-page-head::after {
    height: 65px !important;
    top: -11px !important; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching p {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 14px; }

  .section-list-product .content-list-product .right-columns-product .item-product-launching .content-product-launching h6 {
    padding: 15px;
    padding-bottom: 0; }

  .right-columns-product {
    padding-left: 0 !important; }
    .right-columns-product .row {
      margin-left: -5px;
      margin-right: -5px; }
      .right-columns-product .row .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px; }
        .right-columns-product .row .col-md-4 .item-baby-diapaper-highlights {
          margin-bottom: 50px; }

  .left-columns-product.pc {
    display: none !important; }
  .left-columns-product.mb {
    display: block !important;
    position: relative !important;
    width: 100% !important; }

  .tb-btn-call-bottom span {
    display: none !important; }

  .list-baby-diapaper .row .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .list-baby-diapaper .row .col-md-3 .item-baby-diapaper-highlights {
      margin-bottom: 50px; }

  .recommenddation {
    padding: 40px 0 !important; }

  .infor-row {
    margin-top: 30px; }

  .ver-pc {
    display: none !important; }

  .ver-mb {
    display: block !important; }

  .head-page-main {
    display: flex;
    flex-direction: column-reverse; }

  .head-page-product h1 {
    font-size: 48px;
    line-height: 45px; }

  .head-page-product .img-right-page-head {
    width: 100%; }

  .head-page-product .head-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 50px 0 10px 0; }

  .head-page-product .img-right-page-head::after {
    width: 100% !important;
    height: 90px !important;
    border-radius: 0 0 50px 50px !important;
    left: 0;
    top: -40px; }

  .title-page-product {
    max-width: 100%;
    text-align: center; }

  .our-milestones {
    overflow: initial !important; }

  .content-our-milestones {
    overflow-x: auto; }
    .content-our-milestones .row {
      width: 320%;
      float: left;
      display: inline-block !important; }
    .content-our-milestones .col-md-3 {
      float: left;
      width: 25%;
      padding: 0 15px; }

  .item-box-vission {
    margin-top: 30px !important; }

  section {
    padding: 40px 0 !important; }

  .title-vission {
    margin-top: 0; }

  .header-infor h1 {
    font-size: 48px;
    text-align: center; }
  .header-infor p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px; }

  .title-vission h2 {
    text-align: center; }

  .slide3-pc {
    display: none !important; }

  .slide3-mb {
    display: block !important; }

  .slick-initialized .slick-slide {
    padding: 10px; }

  .slick-active.slick-center .social-item::before {
    border-radius: 0px 20px 20px 20px;
    right: -5px;
    bottom: -5px; }

  .social-activities {
    overflow: initial; }
    .social-activities .slide-activities {
      overflow: hidden; }

  .footer-mb {
    display: block !important;
    padding: 0 20px; }
    .footer-mb h2 {
      font-size: 32px; }

  .item-menu-footer.active .content-footer {
    display: inline-block !important; }
  .item-menu-footer img {
    margin-left: 5px; }

  .social-footer-mb span {
    font-size: 14px;
    font-family: 'Manrope', sans-serif; }

  .item-menu-footer h6 {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #fff; }

  .slide-activities .thumbnails-social a img, .social-item .thumbnails-social a {
    border-radius: 20px; }

  .adress-content p img {
    width: 22px; }

  .adress-content p {
    padding-left: 29px; }

  .content-footer {
    display: none;
    width: 100%; }
    .content-footer a {
      color: #fff;
      font-family: 'Manrope', sans-serif;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      line-height: 30px; }

  .social-footer-mb {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 30px;
    margin-top: 30px; }
    .social-footer-mb span {
      display: inline-block;
      text-align: center;
      width: 100%; }
    .social-footer-mb a img {
      margin: 0 20px;
      margin-bottom: 30px; }

  .social-footer-mb span {
    color: white; }

  .footer-pc {
    display: none !important; }

  .social-item p a {
    background: #C67E3B;
    font-size: 20px !important;
    line-height: 28px;
    padding: 10px 20px; }
    .social-item p a br {
      display: none !important; }
    .social-item p a b {
      font-size: 20px !important; }

  .social-item p {
    padding: 0px 10px; }

  .call-partner-pc {
    display: none !important; }

  .call-partner-mb {
    display: block !important;
    min-height: auto !important;
    object-fit: initial !important; }

  .section-commitment::before {
    height: 145px;
    width: 59px;
    background-size: contain; }

  .item-call-partner b {
    font-size: 16px !important;
    height: 53px !important;
    padding: 0 15px !important;
    display: flex;
    align-items: center; }

  .item-call-partner {
    margin-bottom: 30px; }

  .call-partnership .button-link a span {
    width: 53px;
    height: 53px !important;
    padding: 0 10px !important; }

  .call-partnership .content-call-partner {
    padding: 30px 0 0 0; }

  .news-item .thumbnail-news::before {
    border-radius: 39px; }

  .content-logo-tab img {
    width: 50%;
    height: initial;
    float: left;
    margin: 0;
    padding: 10px; }

  .tab-content-section ul li {
    padding: 0 10px;
    margin-bottom: 10px; }
    .tab-content-section ul li a {
      padding: 25px 20px;
      height: 56px; }

  .news-section .row .col-md-4:nth-child(3) .news-item {
    margin-bottom: 0; }

  .news-item {
    padding-right: 5px;
    margin-bottom: 40px; }

  .location-pc {
    display: none; }

  .location-mb {
    display: block; }

  .title-section h3 {
    text-align: center !important;
    margin-top: 0 !important;
    font-size: 40px !important; }
    .title-section h3 br {
      display: block; }

  .section-our-product .item-our-product h6 a {
    padding: 20px 20px;
    text-align: left;
    font-size: 30px; }

  .section-our-product .item-our-product {
    border-radius: 29px; }
    .section-our-product .item-our-product p {
      display: none; }

  .section-our-product .item-our-product:hover h6 a p {
    display: none; }

  .img-example-product a {
    padding-top: 50% !important; }
  .img-example-product img {
    display: none; }
    .img-example-product img.ourProduct-MB {
      display: block; }

  .infor-about-section::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -140px;
    top: 70px;
    width: 199px;
    height: 199px;
    background: #FDC204;
    border-radius: 100%; }

  .slide-section {
    padding-bottom: 0; }

  .infor-about-section .col-md-6:nth-child(3) .item-achivemment, .infor-about-section .col-md-6:nth-child(4) .item-achivemment {
    margin-bottom: 20px !important; }

  .infor-about-section {
    padding: 0; }

  .section-about .img-about-section::before {
    bottom: -14px; }

  .section-about .img-about-section {
    width: 94%; }

  .infor-about-section {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center; }

  .f96 {
    font-size: 48px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 38px;
    font-weight: 700; }

  .f48 {
    font-size: 32px;
    font-weight: 700; }

  .f40 {
    font-size: 28px;
    font-weight: 700; }

  .f36 {
    font-size: 25px;
    font-weight: 700; }

  .f32 {
    font-size: 22px;
    font-weight: 700; }

  .f24 {
    font-size: 20px;
    font-weight: 600; }

  .f20 {
    font-size: 18px;
    font-weight: 600; }

  .f20manrope {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .item-call-partner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    align-items: center; }

  .item-our-milestones span {
    margin-bottom: 30px; }

  .section-strategy .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .section-strategy .item-strategy img {
    height: 100px; }

  .item-strategy {
    margin-bottom: 50px; }

  .section-strategy .item-strategy p {
    margin-bottom: 0;
    font-size: 18px; }

  .launching-section .content-launching {
    top: auto;
    height: initial;
    bottom: 50px; }
    .launching-section .content-launching .infor-launching {
      text-align: center; }
      .launching-section .content-launching .infor-launching .button-link {
        text-align: center !important; }
        .launching-section .content-launching .infor-launching .button-link a {
          justify-content: center !important;
          margin-top: 0; }

  .sub-mobile-filter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: end;
    display: flex;
    display: none; }
    .sub-mobile-filter .content-filter {
      width: 100%;
      min-height: 400px;
      background: white;
      display: inline-block;
      border-radius: 24px 24px 0 0; }
    .sub-mobile-filter .head-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px; }
      .sub-mobile-filter .head-filter b {
        font-size: 30px;
        font-weight: 700; }
    .sub-mobile-filter.active {
      display: flex !important; }

  .item-about {
    margin-bottom: 20px; }

  .value-mission-vision {
    padding-top: 0;
    margin-top: -100px;
    padding: 0 15px !important; }

  .value-mission-vision .item-about b, .item-corevalue b {
    font-size: 28px; }

  .value-mission-vision .item-about .infor-about-mission-vision {
    padding: 15px; }

  .value-mission-vision .item-about p {
    font-size: 14px; }

  .item-columns-corevalue img {
    margin-bottom: 11px; }

  .item-columns-corevalue {
    margin-bottom: 20px; }

  .item-corevalue {
    margin-top: 0;
    padding-bottom: 25px; }

  .maps-section-about .columns-left-maps {
    margin-top: 10%; }

  .maps-section-about .title-section b {
    color: #C67E3B  !important;
    font-size: 32px; }

  .maps-section-about .content-maps-icon label {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 50px; }

  .maps-section-about .columns-left-maps {
    position: relative;
    z-index: 9;
    padding-right: 100px; }

  .columns-right-maps {
    padding-right: 0; }

  .maps-section-about .title-section {
    margin-top: 140px;
    padding-left: 0;
    margin-bottom: 0; }

  .title-content h2, .title-content p {
    text-align: center; }

  .title-content h2 {
    font-weight: 700; }

  .pc {
    display: none !important; }

  .mb {
    display: inline-block !important; }

  .item-product-launching .button-link {
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0; }

  .item-product-launching .bottom-product-item {
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
    position: relative;
    padding-right: 0;
    height: inherit;
    margin-top: 0; }

  .button-link a {
    margin-top: 42px; }

  .item-product-launching .button-link a {
    justify-content: space-between;
    width: 100%;
    background: #C67E3B; }

  .list-produc-recommedation .item-product-launching p {
    padding-bottom: 10px; }

  .call-partnership .title-section {
    position: absolute;
    padding-top: 37px;
    text-align: left;
    padding: 50px 15px 0 15px !important; }
    .call-partnership .title-section h3 {
      text-align: left !important; }
    .call-partnership .title-section p {
      padding: 0 !important;
      text-align: left;
      font-size: 16px !important; }

  .list-our-miles .item-our-miles {
    -ms-flex: 0 0 100%;
    display: inline-block;
    flex: 0 0 100%;
    max-width: 100%;
    min-height: initial;
    position: relative;
    height: 100%;
    border-bottom: 1px solid white;
    background: rgba(17, 17, 17, 0.5);
    padding: 50px 16px; }
    .list-our-miles .item-our-miles:nth-last-child(1) {
      border-bottom: 0; }

  .list-our-miles {
    padding: 0 15px; }

  .list-solid-theOUtside .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .whychoose-section {
    margin-bottom: -30px !important; }

  .factory-section {
    margin-top: 50px;
    margin-bottom: 40px; }

  .stock-company-section {
    padding: 50px 15px !important; }
    .stock-company-section .title-ourbands b {
      font-size: 40px;
      font-weight: 400 !important; }

  .item-stock-company {
    padding: 100px 15px; }

  .stock-company-section .row .col-md-4:nth-child(1) .item-stock-company {
    background: url(../images/vision-mb.png) no-repeat center top;
    background-size: cover; }
    .stock-company-section .row .col-md-4:nth-child(1) .item-stock-company h4, .stock-company-section .row .col-md-4:nth-child(1) .item-stock-company p {
      color: white; }
  .stock-company-section .row .col-md-4:nth-child(3) .item-stock-company {
    background: url(../images/value-mb.png) no-repeat center top;
    background-size: cover; }
    .stock-company-section .row .col-md-4:nth-child(3) .item-stock-company h4, .stock-company-section .row .col-md-4:nth-child(3) .item-stock-company p {
      color: white; }

  .list-categorys {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .infor-cate-listPage h3 {
    margin: 36px 0; }

  .list-product-page .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .list-product-page {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .list-product-page {
    margin-bottom: 40px; } }
@media (max-width: 500px) {
  .solid-on-the-outside.whychoose-section.white .list-solid-theOUtside .col-md-4 {
    max-width: 100%; }
  .solid-on-the-outside.whychoose-section.white .list-solid-theOUtside .button-link a {
    margin-top: 60px; }
  .solid-on-the-outside.whychoose-section.white .item-certification img {
    height: 120px !important; }
  .solid-on-the-outside.whychoose-section.white .item-certification b {
    font-size: 20px !important; }

  .list-primary .item-primary span {
    height: 66%; } }
@media (max-width: 380px) {
  .content-menu-mobile {
    height: 80%; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 20px;
    font-size: 16px; }

  .item-box-vission p, .item-box-vission p b {
    font-size: 20px; }

  .item-box-vission span {
    font-size: 14px;
    margin-bottom: 20px; }

  .title-vission h2 {
    font-size: 63px;
    line-height: 50px; }

  .menu-language nav ul li a {
    padding: 8px 0;
    font-size: 14px; }

  .f96 {
    font-size: 38px;
    font-weight: 700; }

  .txt-trans {
    text-transform: uppercase; }

  .f64 {
    font-size: 28px;
    font-weight: 700; }

  .f48 {
    font-size: 24px;
    font-weight: 700; }

  .f40 {
    font-size: 20px;
    font-weight: 700; }

  .f36 {
    font-size: 21px;
    font-weight: 700; }

  .f32 {
    font-size: 20px;
    font-weight: 700; }

  .f24 {
    font-size: 18px;
    font-weight: 600; }

  .f20 {
    font-size: 16px;
    font-weight: 600; }

  .f20manrope {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .f20manrope-mini {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; }

  .f14 {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400; }

  .logo img {
    height: 25px; }

  .language-mobile span {
    font-size: 14px; }

  .menu-language nav ul {
    margin-top: -70px; } }
@media (max-width: 326px) {
  .form-contact-page .col-md-6.w50 {
    -ms-flex: 0 0  100%;
    flex: 0 0  100%;
    max-width: 100%; }

  .item-top-bottom-contact.w50 {
    top: 50%;
    width: 100%;
    text-align: center; }

  .title-section h3 {
    font-size: 30px; }

  .title-vission h2 {
    font-size: 48px;
    line-height: 40px; }

  .logo img {
    height: 22px; }

  .btn-action-menumobile img {
    height: 25px; }

  .content-tab .head-tab-contact ul li a {
    padding: 0 14px;
    font-size: 14px; }

  .content-tab {
    padding: 0 10px; }

  .content-tab .head-tab-contact ul {
    margin: 0;
    width: 100%;
    border: 0;
    display: inline-block; }
    .content-tab .head-tab-contact ul li {
      float: left;
      width: 50%; }
      .content-tab .head-tab-contact ul li a {
        justify-content: center; }

  .action-contact-form button {
    width: 48%;
    float: left;
    margin: 0 1%; }

  .bottom-footer::after {
    content: '';
    display: inline-block;
    width: 66px;
    height: 66px;
    background: #FA8925;
    border-radius: 100px;
    position: absolute;
    right: 30px;
    top: -140px; } }
@media (min-width: 1920px) {
  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 {
    margin-top: 139px; }

  .box-search-results {
    bottom: 100px; }

  .chitietsanpham-ph2 {
    margin-top: 140px; }

  .news-page {
    margin-top: 200px; }

  .page-404 {
    margin-top: 120px; } }
@media (max-width: 1300px) {
  .news-page {
    margin-top: 130px; }

  .search-result-head .box-search-results {
    bottom: -45px; }

  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new .tb-head-page-container {
    margin-left: 0px !important; }
    .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new .tb-head-page-container h1 {
      font-size: 32px; }

  .similar-products-ph2 .item .box-item .btn-bottom {
    display: initial; }

  .similar-products-ph2 .item .box-item .btn-bottom .price-detail span {
    width: 100%; }

  .similar-products-ph2 .item .box-item .btn-bottom .tp-button a span {
    width: 100%; }

  .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction > .lSPrev {
    left: 20px; }

  .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction > .lSNext {
    right: 20px; }

  .head-news-page-detail {
    margin-top: 130px; }

  .tb-contact-banner.tb-head-product-category {
    margin-top: 80px; }

  .news-page .last-news .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news-page .last-news .item-news-last {
    position: relative;
    padding-left: 42%;
    margin-bottom: 32px;
    min-height: 219px; }
    .news-page .last-news .item-news-last .news-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; }
  .news-page .last-news .item-news-last {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .news-page .last-news .item-news-last h5 {
      margin-top: 0px; }
    .news-page .last-news .item-news-last span {
      margin: 5px 0 12px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .news-page .last-news .item-news-last .infor-news-lager {
      margin-left: 20px; }
  .news-page .last-news .box-medium .news-avatar a {
    padding-top: 55%; }

  .list-result-right .item-result .avatar-result {
    width: 100%;
    position: initial; }

  .list-result-right .item-result .infor-item-result {
    margin-bottom: 20px;
    padding-right: 0; }

  .list-result-right .item-result {
    padding-right: 0; }

  .search-result-content {
    padding: 60px 15px; }

  .img-newspageDetail .img-pc {
    display: block; }
  .img-newspageDetail .img-mb {
    display: none; }

  .news-page {
    padding: 0 15px; }

  .post-job-editor .tp-button a span {
    font-size: 18px;
    width: 100%; }

  .container-main, .container-faqs, .content-apply, .section-detail-page, .related-news {
    max-width: 1000px;
    padding: 0 15px; }

  .sumary-career {
    padding: 30px; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .search-result-head .search-result-head {
    margin-top: 72px; }

  .search-result-head .box-search-results {
    bottom: -100px; }

  .tb-supplier-relationship.tbvs-business-culture .content-tb-supplier-relationship {
    margin-top: 24px; }

  .tb-supplier-relationship .title-section h3 {
    text-align: center; }

  .tb-supplier-relationship .title-section {
    margin-bottom: 0; }

  .tbvs-business-culture .content-tb-supplier-relationship {
    margin-top: 0; }

  .tb-supplier-relationship.tbvs-about-us .title-section p {
    max-width: 100%; }

  .tb-supplier-relationship.tbvs-business-culture.tbvs-about-us .title-section {
    margin-bottom: 0; }

  section {
    padding: 60px 0 !important; }

  .slide-section.titlelarge-section-headpage.titlelarge-section-headpage-ph2 {
    margin-bottom: 0; }

  .form-apply-section {
    margin-top: 40px !important; }

  .tb-ph2-job-opening.recent-job-ph2 {
    padding: 60px 0 !important; }

  .body-news.related-news {
    margin-bottom: 40px; }

  .filter-mb-results button {
    width: 90px;
    display: flex;
    align-items: center;
    outline: none;
    border: 0;
    background: #C67E3B;
    text-align: center;
    transition: all .3s ease-in-out;
    color: white;
    height: 50px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase; }
    .filter-mb-results button img {
      height: 20px;
      margin-right: 4px; }
    .filter-mb-results button span {
      font-size: 13px;
      color: white;
      width: initial; }

  .left-sidebar.active {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    z-index: 9999;
    padding: 15px; }

  .left-sidebar {
    display: none; }
    .left-sidebar.active {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: white;
      z-index: 9999999;
      padding: 15px; }
      .left-sidebar.active .close-filter {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        display: inline-block !important; }

  .right-sidebar .filter-mb-results {
    position: absolute;
    left: 0;
    display: inline-block !important;
    top: 0px; }
    .right-sidebar .filter-mb-results button {
      width: 90px;
      display: flex;
      align-items: center;
      outline: none;
      border: 0;
      background: #C67E3B;
      padding: 12px; }
      .right-sidebar .filter-mb-results button span {
        font-size: 13px;
        color: white;
        width: initial; }

  .right-sidebar .head-results-right {
    justify-content: right; }

  .search-result-content .col-md-2, .search-result-content .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%; }

  .left-sidebar {
    display: none; }

  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new {
    padding-bottom: 40px;
    padding-left: 50px; }
    .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new .tb-head-page-container {
      margin-left: 0px !important; }
      .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new .tb-head-page-container h1 {
        font-size: 24px; }

  .process-section .process-box .item-process {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 32px; }

  .tb-supplier-relationship .detail {
    padding-right: 0; }
  .tb-supplier-relationship .content-tb-supplier-relationship .col-md-6 {
    width: 100%;
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

  .tbvs-business-culture .detail {
    padding-left: 0;
    padding-right: 0; }
    .tbvs-business-culture .detail .content {
      margin: 24px 0; }
  .tbvs-business-culture .row {
    flex-direction: column-reverse; }
    .tbvs-business-culture .row .col-md-6 {
      width: 100%;
      max-width: 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }

  .tb-supplier-relationship.tbvs-about-us .detail .content {
    margin-bottom: 32px; }
  .tb-supplier-relationship.tbvs-about-us .row {
    flex-direction: column-reverse; }
    .tb-supplier-relationship.tbvs-about-us .row .col-md-6 {
      width: 100%;
      max-width: 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }

  .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction {
    bottom: -45px; }

  .head-news-page-detail {
    margin-top: 90px; }

  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 {
    margin-top: 12px; }

  .product-features-tbph2 .bg-img-product-detail {
    top: -390px; }

  .brand-section .button-link a {
    justify-content: center; }

  .brand-section .container-main .title-section h3 {
    text-align: center; }

  .head-product-details-ph2 .logotb {
    justify-content: center; }

  .head-product-details-color-blue-apha .header-infor {
    text-align: center; }

  .filter-career .select-items div, .filter-career .select-selected {
    font-size: 14px; }

  .filter-career .combobox-career .select-selected {
    font-size: 14px; }

  .filter-career .combobox-career .select-selected::after {
    right: 23px;
    font-size: 24px; }

  .update-new-colum .row .box-borderline {
    margin-bottom: 50px; }

  .update-new-colum .row .no-background {
    box-shadow: none !important; }

  .update-new-colum .row .item-bg-white {
    box-shadow: 0px 0px 5px 0px rgba(52, 64, 84, 0.12); }

  .product-features-tbph2 .col-md-6:last-child .item-bg-white {
    margin-bottom: 0; }

  .product-features-tbph2 .row .item-bg-white {
    margin-bottom: 110px; }

  .head-pageabout-main .row {
    display: inherit; }
    .head-pageabout-main .row .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .product-features-tbph2 .row {
    display: inherit; }
    .product-features-tbph2 .row .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .section-list-product .content-list-product .row {
    justify-content: center; }

  .product-features-tbph2 {
    padding: 60px 0; }

  .content-404 h2 {
    padding: 0 80px; }

  .list-result-right .item-result p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .share-blogs {
    margin-bottom: 40px; }

  .section-detail-page {
    padding: 46px  15px; }

  .news-page .lager-news {
    margin-bottom: 60px; }

  .news-page .last-news .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news-page .last-news .item-news-last {
    position: relative;
    padding-left: 42%;
    margin-bottom: 32px;
    min-height: 162px; }
    .news-page .last-news .item-news-last .news-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; }
  .news-page .last-news .item-news-last {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .news-page .last-news .item-news-last h5 {
      margin-top: 0px; }
    .news-page .last-news .item-news-last span {
      margin: 5px 0 12px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .news-page .last-news .item-news-last .infor-news-lager {
      margin-left: 20px; }
  .news-page .last-news .box-medium .news-avatar a {
    padding-top: 55%; }

  .post-job-editor .col-md-8, .post-job-editor .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .title-section {
    padding: 0; }
    .title-section h3 {
      font-size: 36px !important; }

  .form-apply-section {
    padding: 70px 0; }
    .form-apply-section h3 {
      text-align: left; }

  .post-job-editor .tp-button a span {
    font-size: 16px;
    padding: 24px;
    width: fit-content; }

  .list-job-career-luli .item-job-post h4 a {
    font-size: 18px;
    line-height: 24px; }

  .container-main, .container-faqs, .content-apply {
    max-width: 1000px;
    padding: 0 15px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container {
    max-width: 1000px;
    padding: 0 15px; }

  .process-section .process-box .item-process {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    margin-bottom: 32px; }

  .process-section .process-box {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }

  .tb-contact-banner.tb-head-product-category .box-red.blue-new {
    padding-bottom: 0; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    font-size: 24px; }

  section {
    padding: 60px 0; }

  .post-job-editor {
    padding-top: 60px; }

  .body-news .tp-button a span {
    padding: 16px 24px;
    font-size: 16px; } }
@media (max-width: 1000px) {
  section {
    padding: 60px 0 !important; }

  .filter-mb-results button {
    width: 90px;
    display: flex;
    align-items: center;
    outline: none;
    border: 0;
    background: #C67E3B;
    text-align: center;
    transition: all .3s ease-in-out;
    color: white;
    height: 50px;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase; }
    .filter-mb-results button img {
      height: 20px;
      margin-right: 4px; }
    .filter-mb-results button span {
      font-size: 13px;
      color: white;
      width: initial; }

  .left-sidebar.active {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    z-index: 9999;
    padding: 15px; }

  .left-sidebar {
    display: none; }
    .left-sidebar.active {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: white;
      z-index: 9999999;
      padding: 15px; }
      .left-sidebar.active .close-filter {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        display: inline-block !important; }

  .right-sidebar .filter-mb-results {
    position: absolute;
    left: 0;
    display: inline-block !important;
    top: 0px; }
    .right-sidebar .filter-mb-results button {
      width: 90px;
      display: flex;
      align-items: center;
      outline: none;
      border: 0;
      background: #C67E3B;
      padding: 12px; }
      .right-sidebar .filter-mb-results button span {
        font-size: 13px;
        color: white;
        width: initial; }

  .right-sidebar .head-results-right {
    justify-content: right; }

  .search-result-content .col-md-2, .search-result-content .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%; }

  .left-sidebar {
    display: none; }

  .head-product-details-ph2.img-pc .row {
    display: flex; }
    .head-product-details-ph2.img-pc .row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%; }

  .news-page .lager-news .infor-news-lager h5 {
    margin-top: 20px; }

  .news-page .lager-news .infor-news-lager {
    position: initial;
    max-width: 100%; }

  .material-indemand .item-job-list.pc {
    display: none !important; }

  .material-indemand .item-job-list.mb {
    display: block !important; }

  .item-job-list.mb {
    min-height: 120px;
    display: inline-block !important;
    padding-right: 130px !important;
    position: relative;
    padding-left: 0 !important; }

  .item-job-list.mb .title-job {
    width: 100% !important;
    padding: 0 16px; }

  .item-job-list.mb .action-job {
    position: absolute;
    right: 16px;
    top: 12px;
    width: 110px;
    display: inline-block !important; }

  .item-job-list.mb .action-job b {
    width: 100% !important;
    display: inline-block !important;
    font-weight: normal;
    text-align: right;
    margin-bottom: 15px;
    margin-top: 9px; }

  .btn-expand-table-suplier {
    margin-top: 15px; }

  .item-job-list.mb .action-job .link-suplier {
    margin-left: 0 !important; }

  .item-job-list.mb .title-job .btn-expand-table-suplier a {
    font-size: 18px !important; } }
@media (max-width: 767px) {
  .search-result-head {
    margin-top: 72px; }

  .tb-supplier-relationship .title-section h3 {
    text-align: center !important; }

  .tbvs-business-culture .content-tb-supplier-relationship {
    margin-top: 0; }

  .tb-supplier-relationship.tbvs-business-culture.tbvs-about-us .title-section {
    margin-bottom: 0; }

  .body-news .link-pagging-news .tp-button.tb-btn-blue {
    float: inherit; }
  .body-news .link-pagging-news .pagging-result {
    margin-top: 24px;
    justify-content: center; }

  .body-news.related-news {
    margin-bottom: 40px; }

  .chitietsanpham-ph2 .chitiet {
    margin-top: 32px; }

  .tb-ph2-job-opening.recent-job-ph2 {
    padding: 60px 0 !important; }

  .tb-supplier-relationship.tbvs-business-culture .detail:last-child {
    margin-bottom: 0; }
  .tb-supplier-relationship.tbvs-business-culture .detail .content {
    margin: 24px 0; }

  .tbvs-business-culture .row {
    flex-direction: column-reverse; }

  .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction > .lSPrev {
    left: 0; }

  .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction > .lSNext {
    right: 0; }

  .chitietsanpham-ph2 {
    padding: 60px 0 !important; }
    .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSPager.lSGallery li {
      width: 54px !important; }
    .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSSlideOuter .lSPager.lSGallery li img {
      width: 54px;
      height: 54px; }
    .chitietsanpham-ph2 .slider-product-detail-tbvs-ph2 .lSAction {
      bottom: -40px; }

  .similar-products-ph2 .row {
    padding: 0 8px; }
  .similar-products-ph2 .col-md-4 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px; }
  .similar-products-ph2 .item .box-item .info-item {
    padding: 22px 15px 0 15px;
    min-height: 160px; }
    .similar-products-ph2 .item .box-item .info-item .detail-info {
      margin: 9px 0; }
      .similar-products-ph2 .item .box-item .info-item .detail-info p {
        font-size: 12px; }
    .similar-products-ph2 .item .box-item .info-item a {
      font-size: 18px; }
  .similar-products-ph2 .item .box-item .btn-bottom {
    display: initial; }
    .similar-products-ph2 .item .box-item .btn-bottom .price-detail {
      display: none; }
    .similar-products-ph2 .item .box-item .btn-bottom .price-contact {
      display: block;
      height: 100%; }
      .similar-products-ph2 .item .box-item .btn-bottom .price-contact span {
        font-size: 12px;
        padding-top: 0;
        padding-bottom: 22px; }

  .chitietsanpham .prices br {
    display: block; }

  .box-search-results h1 {
    font-size: 48px; }

  .content-404 .search-job {
    margin-bottom: 0; }

  .box-404-search-btn {
    margin-top: 0; }

  .content-404 .img-404 {
    margin-bottom: 0; }

  .page-404 {
    text-align: center;
    padding: 130px 0 !important; }

  .content-tab-news a {
    padding: 0 16px !important; }

  .last-news h2, .tab-news h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 32px; }

  .news-page .lager-news {
    margin-bottom: 0; }

  .news-page .lager-news .infor-news-lager h5 {
    margin-top: 0; }

  .section-detail-page .head-news-page-detail {
    margin-top: 220px; }

  .form-apply-section {
    padding: 80px 0 !important; }

  .post-job-editor {
    padding: 60px 0 !important; }

  .post-job-editor ul {
    margin-bottom: 32px; }

  .post-job-editor ul li {
    margin-bottom: 16px; }

  .tb-head-product-category-ph2 .box-red .tb-head-page-container {
    margin: 0 !important; }

  .tb-head-product-category-ph2 .box-red {
    justify-content: center !important; }

  .tb-supplier-relationship {
    padding: 60px 0 !important; }
    .tb-supplier-relationship .content-tb-supplier-relationship .detail {
      padding-right: 0;
      margin-bottom: 24px; }
      .tb-supplier-relationship .content-tb-supplier-relationship .detail .content {
        margin-left: 0; }

  .process-section {
    padding: 100px 0 45px 0 !important; }
    .process-section .title-section h3 {
      text-align: center !important; }

  .tb-supplier-relationship.tbvs-business-culture {
    padding: 60px 0 !important; }
    .tb-supplier-relationship.tbvs-business-culture .content-tb-supplier-relationship .detail {
      padding-left: 0;
      padding-right: 0; }
    .tb-supplier-relationship.tbvs-business-culture .title-section {
      margin-bottom: 32px; }
      .tb-supplier-relationship.tbvs-business-culture .title-section p {
        text-align: left; }

  .tb-supplier-relationship.tbvs-about-us {
    padding: 60px 0 !important; }
    .tb-supplier-relationship.tbvs-about-us .row {
      flex-direction: column-reverse; }
    .tb-supplier-relationship.tbvs-about-us .content-tb-supplier-relationship .detail {
      margin-bottom: 24px;
      padding-left: 0;
      padding-right: 0;
      text-align: justify; }
    .tb-supplier-relationship.tbvs-about-us .title-section p {
      max-width: 100%;
      text-align: left; }
    .tb-supplier-relationship.tbvs-about-us .title-section {
      margin-bottom: 32px; }

  .titlelarge-section-headpage-ph2 h1 {
    font-size: 40px; }

  .titlelarge-section-headpage.titlelarge-section-headpage-ph2 .bg-opacity {
    top: 0; }

  .agency-location-ph2.img-mb {
    padding: 70px 0 !important; }
    .agency-location-ph2.img-mb .box-big-agency {
      margin-bottom: 24px; }
    .agency-location-ph2.img-mb .box-agency {
      background: white;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
      padding: 41px 18px;
      height: 100%; }
      .agency-location-ph2.img-mb .box-agency p {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        font-family: 'Manrope', sans-serif;
        margin-bottom: 0;
        text-align: left; }
      .agency-location-ph2.img-mb .box-agency .detail {
        display: block;
        position: relative;
        padding-left: 35px;
        margin: 10px 0; }
        .agency-location-ph2.img-mb .box-agency .detail img {
          position: absolute;
          left: 0;
          transform: translateY(-50%);
          top: 50%; }
        .agency-location-ph2.img-mb .box-agency .detail a {
          text-decoration: none;
          font-family: 'Manrope', sans-serif;
          color: #414142; }
        .agency-location-ph2.img-mb .box-agency .detail:last-child {
          margin-bottom: 0; }
        .agency-location-ph2.img-mb .box-agency .detail h6 {
          font-family: 'Manrope', sans-serif;
          color: #414142;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          padding: 0; }
    .agency-location-ph2.img-mb .line-bottom {
      width: 100%;
      background: #C67E3B;
      height: 8px;
      text-align: center;
      margin: -8px auto 0 auto; }
    .agency-location-ph2.img-mb .faqs-item h6 {
      padding: 24px 0;
      margin-bottom: 0;
      background: transparent;
      text-decoration: none;
      color: #170F49;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Manrope', sans-serif;
      align-items: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; }
    .agency-location-ph2.img-mb .map-active {
      display: none; }
    .agency-location-ph2.img-mb .map-no-active {
      display: block; }
    .agency-location-ph2.img-mb .faqs-item .content-tabs-map {
      margin-bottom: 24px;
      background: white;
      padding: 12px;
      justify-content: space-between;
      width: 100%;
      display: flex;
      align-items: center; }
      .agency-location-ph2.img-mb .faqs-item .content-tabs-map span {
        font-size: 18px;
        color: #414142;
        font-style: normal;
        font-weight: 400;
        line-height: 153.4%;
        font-family: 'Manrope', sans-serif;
        border-radius: 0;
        border: none;
        text-align: left; }
      .agency-location-ph2.img-mb .faqs-item .content-tabs-map .content-right {
        display: flex;
        align-items: center; }
    .agency-location-ph2.img-mb .faqs-item .box-block {
      display: none; }
    .agency-location-ph2.img-mb .faqs-item.active .map-active {
      display: block; }
    .agency-location-ph2.img-mb .faqs-item.active .map-no-active {
      display: none; }
    .agency-location-ph2.img-mb .faqs-item.active .box-block {
      display: block; }
    .agency-location-ph2.img-mb .faqs-item.active .content-tabs-map {
      background: #C67E3B; }
      .agency-location-ph2.img-mb .faqs-item.active .content-tabs-map span {
        color: white;
        font-weight: 700; }

  .distributon-map .box-contact .detail .content {
    font-size: 18px; }

  section {
    padding: 30px 0 !important; }

  .title-section h3 {
    font-size: 24px !important; }

  .img-newspageDetail img.img-mb {
    display: block; }

  body .news-page .news-avatar a {
    padding-top: 60% !important; }

  .content-tab-news {
    flex-flow: wrap; }
    .content-tab-news a {
      height: 44px;
      font-size: 16px;
      color: #414142;
      padding: 0 28px;
      border-radius: 100px;
      margin: 8px;
      border-right: 1px solid #dedede; }
    .content-tab-news a.active {
      background: #C67E3B;
      color: white; }

  .news-page .lager-news .infor-news-lager {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 35px 20px;
    background: #C67E3B;
    width: 100%;
    float: left; }

  .head-product-details-color-blue-apha .logotb {
    margin-bottom: 34px; }
  .head-product-details-color-blue-apha .img-head-about img {
    margin-bottom: 34px; }

  .product-features-tbph2.update-new-colum .bg-img-product-detail {
    margin-top: -190px; }

  .head-product-details-ph2.img-mb .logotb {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 24px; }
    .head-product-details-ph2.img-mb .logotb img {
      width: 42%; }
  .head-product-details-ph2.img-mb .header-infor {
    display: inherit; }

  .tb-supplier-relationship.tbvs-business-culture.tbvs-about-us .title-section h3 {
    text-align: left !important; }

  .tb-supplier-relationship.tbvs-business-culture .title-section h3 {
    text-align: left !important; }

  .professional-dev-ph2 .content-tb-supplier-relationship img {
    width: 100%; }
  .professional-dev-ph2 .detail {
    padding-right: 0; }
  .professional-dev-ph2 .title-section {
    margin-bottom: 0; }
    .professional-dev-ph2 .title-section h3 {
      margin-bottom: 24px;
      text-align: center !important;
      font-weight: 400; }

  .head-product-details-ph2 .header-infor h1 {
    margin-bottom: 24px; }

  .tb-ph2-job-opening {
    padding-top: 60px  !important; }

  .sumary-career {
    padding: 32px 24px; }

  .tab-news .item-news-last .infor-news-lager h5 a {
    font-size: 24px !important; }

  .form-apply-section .tp-button.tb-btn-blue a span {
    width: fit-content; }

  .news-page .last-news {
    margin-top: 32px; }
    .news-page .last-news .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%; }
    .news-page .last-news .item-news-last {
      position: relative;
      padding-left: 0;
      margin-bottom: 32px;
      min-height: inherit; }
      .news-page .last-news .item-news-last .news-avatar {
        position: initial;
        top: 0;
        left: 0;
        width: 100%; }
    .news-page .last-news .item-news-last {
      display: inherit;
      align-items: flex-start;
      justify-content: center; }
      .news-page .last-news .item-news-last h5 {
        margin-top: 20px !important; }
        .news-page .last-news .item-news-last h5 a {
          font-size: 24px; }
      .news-page .last-news .item-news-last span {
        margin: 5px 0 12px 0;
        display: -webkit-box;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .news-page .last-news .item-news-last .infor-news-lager {
        margin-left: 0; }
    .news-page .last-news .box-medium .news-avatar a {
      padding-top: 55%; }

  .diaper-size-tbph2 .table-product .flat-table.table-pc {
    display: none; }

  .diaper-size-tbph2 .table-product .flat-table.table-mb {
    display: block; }

  .head-page-main.head-pageabout-main.head-product-details-ph2 .product-features-tbph2 .row .item-bg-white img {
    width: 165px;
    height: 165px; }

  .product-features-tbph2 .no-flex-item .item-right .infor-news-lager {
    margin-left: 0 !important;
    margin-top: 10px; }

  .row-listitem-flex {
    justify-content: center;
    flex-wrap: wrap; }

  .head-product-details-ph2 .header-infor img {
    margin-bottom: 34px; }

  .update-new-colum .row .box-borderline {
    margin-bottom: 47px; }

  .update-new-colum .item-bg-white.no-background.no-flex-item {
    flex: 0 0 50%;
    max-width: 50%;
    display: inline-block !important;
    text-align: center !important;
    padding: 16px !important; }

  .update-new-colum .row .item-bg-white {
    margin: -2px -2px 16px -2px !important; }

  .product-features-tbph2 .no-background {
    display: flex !important;
    box-shadow: none !important;
    align-items: center;
    padding: 16px 32px !important;
    text-align: left !important; }
    .product-features-tbph2 .no-background .item-left {
      margin-bottom: 0; }
    .product-features-tbph2 .no-background .item-right .infor-news-lager {
      margin-left: 10px; }
      .product-features-tbph2 .no-background .item-right .infor-news-lager h5 {
        max-width: 100% !important;
        margin: 0 !important; }

  .update-new-colum .row .item-bg-white img {
    width: 214px;
    height: 214px; }

  .update-new-colum .row .item-bg-white {
    box-shadow: 0px 0px 8px 1px rgba(52, 64, 84, 0.12); }

  .update-new-colum .row .no-background {
    box-shadow: none !important; }

  .update-new-colum {
    padding-top: 30px !important; }

  .tb-ph2-job-opening .title-section h3 {
    text-align: left !important; }

  .section-list-product .content-list-product .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }

  .section-list-product .title-section h3 {
    font-size: 24px !important; }

  .brand-section .container-main .row {
    display: inherit; }

  .brand-section .container-main .row .col-md-7 img {
    position: initial; }

  .brand-section .container-main .row .col-md-7 {
    background-color: transparent;
    width: 100%;
    height: 100%; }

  .brand-section .button-link a {
    justify-content: center;
    margin-top: 0; }

  .brand-section {
    background: #FFF9D6;
    padding: 60px 0 60px 0 !important; }

  .brand-section .title-section h3 {
    font-size: 24px !important;
    margin-bottom: 0; }

  .diaper-size-tbph2 .table-product .flat-table th {
    border: 1px solid #dedede; }

  .diaper-size-tbph2 .table-product .content-product p {
    margin-left: 0;
    width: 100%; }

  .diaper-size-tbph2 .table-product .content-product .news-avatar {
    width: 100%; }

  .diaper-size-tbph2 .table-product .content-product {
    display: inherit; }

  .diaper-size-tbph2 {
    padding-top: 0 !important; }

  .diaper-size-tbph2 .title-section h3 {
    font-size: 24px  !important; }

  .product-features-tbph2 .title-section h3 {
    font-size: 24px  !important; }

  .product-features-tbph2 .bg-img-product-detail {
    margin-top: -260px; }

  .product-features-tbph2 .row .item-bg-white .infor-news-lager h5 {
    max-width: 70%;
    margin: 0 auto 12px auto; }

  .product-features-tbph2 {
    padding-bottom: 30px !important; }
    .product-features-tbph2 .item-left {
      margin-bottom: 17px; }

  .product-features-tbph2 .row .item-bg-white {
    padding: 20px; }

  .product-features-tbph2 .row .item-bg-white .item-right {
    padding-right: 0;
    margin-left: 0; }

  .product-features-tbph2 .icon-ducks::before {
    display: none; }

  .product-features-tbph2 .row .item-bg-white {
    display: inherit;
    text-align: center; }

  .head-product-details-ph2 .logotb {
    justify-content: center;
    margin-top: 20px; }

  .head-product-details-ph2 {
    padding: 30px 0 !important; }

  .no-result-body img {
    max-width: 100%; }

  .content-404 {
    padding: 0 15px; }
    .content-404 h2 {
      margin: 40px 0; }
    .content-404 .btn-action-bottom {
      display: inherit;
      margin-top: 42px;
      max-width: 260px; }
      .content-404 .btn-action-bottom .tp-button {
        margin-bottom: 24px; }

  .content-404 h2 {
    font-size: 24px; }

  .search-result-content {
    padding: 60px 0; }

  .list-result-right .item-result .infor-item-result h6 a {
    font-size: 32px;
    color: #414141; }

  .search-result-content .list-result-right .item-result .infor-item-result .head-infor-item-result b {
    font-size: 24px; }

  .list-result-right .item-result .infor-item-result h6 {
    margin: 20px 0; }

  .list-result-right .item-result .infor-item-result {
    margin-top: 20px;
    padding-right: 0; }

  .right-sidebar .head-results-right .combobox-right-sidebar {
    width: 100%;
    max-width: 160px; }

  .list-result-right .item-result .avatar-result {
    position: inherit;
    width: 100%; }

  .right-sidebar .head-results-right {
    justify-content: flex-end;
    margin-bottom: 16px; }

  .search-result-content {
    padding: 60px 0 !important; }

  .list-result-right:last-child .item-result {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-right: 0; }

  .error-page h1 {
    font-size: 24px; }

  .search-result-head img {
    width: 100%;
    min-height: 360px;
    object-fit: cover;
    object-position: center; }
  .search-result-head .box-search-results {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, -50%);
    padding: 0 15px;
    padding-bottom: 30px; }
  .search-result-head .search-job button img {
    min-height: inherit;
    object-fit: inherit;
    object-position: inherit; }

  .pagging-result {
    justify-content: center; }

  .related-news h2 {
    font-size: 32px; }

  .share-blogs {
    margin: 16px 0 60px 0; }
    .share-blogs span {
      margin-bottom: 16px; }

  .flex-tw0-img {
    margin: 12px 0; }

  .img-newspageDetail .img-pc {
    display: none; }
  .img-newspageDetail .img-mb {
    display: block; }

  .img-newspageDetail {
    margin: 24px 0; }

  .section-detail-page .des-more {
    font-size: 18px; }

  .section-detail-page {
    margin-top: 60px; }
    .section-detail-page .head-news-page-detail h1 {
      font-size: 24px; }

  .section-detail-page .breadcrumb a {
    font-size: 16px;
    padding-left: 0; }

  .img-mb {
    display: block; }

  .recent-job-ph2 .title-relate {
    display: flex !important; }

  .tp-button.tb-btn-blue a span {
    width: 100%; }

  .tp-button a span {
    padding: 24px; }

  .recent-job-ph2 .title-relate h5 {
    font-size: 32px; }

  .title-relate a {
    font-size: 14px; }

  .content-apply .tb-attach-file .fileName {
    top: 0; }

  .tb-attach-file input[type=file] {
    margin-left: -25px;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0; }

  .content-apply {
    padding: 0 15px; }
    .content-apply .title-section h3 {
      text-align: left !important; }

  .post-job-editor .tp-button a span {
    font-size: 20px; }

  .supply-process-suppliers .item-supply-process img {
    margin-bottom: 20px; }

  .tp-button a span {
    font-size: 20px; }

  .img-pc {
    display: none; }

  .img-mb {
    display: block; }

  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 {
    margin-top: 72px; }

  .tb-contact-banner.tb-head-product-category {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0; }

  .tb-contact-banner.tb-head-product-category .box-red.blue-new {
    align-items: center;
    background: #C67E3B !important;
    padding: 85px 40px; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    font-size: 34px; }
    .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 br {
      display: none; }

  .titlelarge-section-headpage .img-pc {
    display: none; }

  .titlelarge-section-headpage .img-mb {
    display: block; }

  .titlelarge-section-headpage .bg-opacity {
    top: -29px; }

  .title-section h3 {
    text-align: left !important;
    margin-top: 0 !important;
    font-size: 32px; }

  .tb-how-we-add.tb-list-category-product {
    padding: 50px 0 !important; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures img {
    height: 60px;
    margin-bottom: 16px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures h5 {
    font-size: 18px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures .title-item img {
    height: 30px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures .title-item {
    margin-bottom: 12px; }

  .title-section {
    margin-bottom: 36px; }

  .process-section .process-box .item-process {
    margin-bottom: 39px;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 140px; }
    .process-section .process-box .item-process .icon-title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px !important;
      text-align: center; }
    .process-section .process-box .item-process img {
      height: 95px; }
    .process-section .process-box .item-process p {
      text-align: left;
      padding: 0; }
    .process-section .process-box .item-process label {
      margin: 0; }

  .container-main, .container-faqs {
    max-width: 1000px;
    padding: 0 15px; }

  .tab-custom .nav-tabs .nav-link {
    padding: 20px 24px !important; }

  .faqs-supplisers .tab-content .faqs-item h6 {
    font-size: 18px;
    padding: 13px 0; }
  .faqs-supplisers .tab-content .faqs-item p {
    font-size: 16px; }

  .tb-supplier-relationship .title-section p {
    text-align: center; }

  .content-tb-supplier-relationship .detail {
    margin-bottom: 48px; }

  .content-tb-supplier-relationship .detail:last-child {
    margin-bottom: 48px; }

  .list-job-ulli ul li .table-form-suplier {
    overflow-x: auto; }

  .list-job-ulli ul li .table-form-suplier table {
    min-width: 800px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 20px; }

  .material-indemand .list-job-ulli ul li.show .btn-expand-table-suplier a.close-link {
    font-weight: 400; }

  .material-indemand .list-job-ulli ul li.show .btn-expand-table-suplier a.expand-link {
    font-weight: 400; }

  .material-indemand .list-job-ulli .title-job a.expand-link {
    font-weight: 400; }

  .item-job-list.mb .action-job b {
    font-size: 18px; }

  .title-section {
    padding: 0; }
    .title-section h3 {
      font-size: 24px !important; }

  .filter-career, .combobox-career {
    justify-content: space-between;
    flex-wrap: wrap; }

  .filter-career .combobox-career .item-combobox {
    margin-right: 0;
    width: 100%;
    max-width: 100%; }

  .search-job-list button {
    top: 0; }

  .search-job input {
    border: 1px solid #e7e7e7; }

  .filter-career .combobox-career .item-combobox .form-group {
    margin-bottom: 10px; }

  .search-job-list {
    width: 100%;
    max-width: 100%; }

  .search-job {
    max-width: 100%; }

  .location-job b span {
    font-size: 14px; }

  .list-job-career-luli .item-job-post {
    padding-right: 110px; }

  .container-main, .container-faqs {
    max-width: 1000px;
    padding: 0 15px; } }
@media (max-width: 520px) {
  .recent-job-ph2 .title-relate {
    display: flex !important; }

  .tab-custom .nav-tabs .nav-link {
    padding: 18px !important; }

  .tab-custom .nav-tabs .nav-link {
    margin: 0 12px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 18px; } }
@media (max-width: 420px) {
  .section-detail-page .head-news-page-detail {
    margin-top: 100px; }

  .title-relate a {
    font-size: 14px; }

  .section-detail-page {
    margin-top: 32px; } }
@media (max-width: 360px) {
  .right-sidebar .filter-mb-results {
    width: 100%;
    position: initial; }
    .right-sidebar .filter-mb-results button {
      width: 100%; }

  .right-sidebar .head-results-right {
    justify-content: space-between; } }
@media (max-width: 320px) {
  .tb-contact-banner.tb-head-product-category.tb-head-product-category-ph2 .box-red.blue-new .tb-head-page-container h1 {
    font-size: 24px; }

  .right-sidebar .head-results-right {
    justify-content: left; }

  .right-sidebar .filter-mb-results {
    width: 100%;
    position: initial; }
    .right-sidebar .filter-mb-results button {
      width: 100%; }

  .pagging-result a img {
    height: 42px; }

  .search-result-content {
    padding: 30px 0 !important; }

  .list-result-right .item-result .infor-item-result h6 a {
    font-size: 22px;
    color: #414141; }

  .search-result-content .list-result-right .item-result .infor-item-result .head-infor-item-result b {
    font-size: 18px; }

  .search-result-head .box-search-results {
    transform: translate(0%, -60%); }

  .box-search-results h1 {
    font-size: 32px; }

  .section-detail-page {
    margin-top: 32px; }

  .recent-job-ph2 .title-relate {
    display: inherit !important; }

  .content-apply input, .content-apply .custom-select, .content-apply textarea {
    font-size: 16px; }

  .content-apply .tb-attach-file .fileName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .list-job-career-luli .item-job-post h4 a {
    font-size: 18px;
    line-height: 24px; }

  .tab-custom .nav-tabs .nav-link {
    padding: 16px !important; }

  .tab-custom .nav-tabs .nav-link {
    margin: 0 12px; }

  .material-indemand .list-job-ulli .title-job a {
    font-size: 16px; }

  .item-job-list.mb {
    padding-right: 122px !important; } }
.logo {
  display: flex;
  align-items: center; }

.sub-search .search-show .content-search-show input::placeholder {
  color: #414142; }

@media (max-width: 1000px) {
  header .container-header {
    justify-content: center; }

  .menu-mobile .search-header {
    margin-right: 16px; }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; }

  .search-show {
    width: 100%; }
    .search-show .content-search-show {
      width: 100%; } }
@media (max-width: 767px) {
  .sub-search.active .logo {
    display: none; }

  .search-show {
    width: 100%; }
    .search-show .content-search-show {
      width: 100%; } }
@media (max-width: 420px) {
  .menu-mobile {
    width: 100%;
    justify-content: flex-end; } }

/*# sourceMappingURL=responsive.css.map */
