$border: #E6E6E6;
$text: #212121;
$text-alpha: #5C738D;
$brand1:#27338C;
$brand2:#DCAF26;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@media(min-width: 1024px) and (max-width: 1024px){
  .banner-head .box-datlich {
    max-width: 40%;
    right: 80px;
    bottom: 50px;
    
}
  
}
@media screen and (max-width: 950px){
  #video-popup-container{
    width: 90%;
    left: 45%;
  }
  .banner-head .box-datlich {
    max-width: 45%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
   
}
.countdown {
  margin-bottom: 0;
}
}
@media screen and (max-width: 767px){
  .footer{
    padding: 0;
    margin-top: 20px;
      .row{
        flex-direction: column-reverse;
        .col-md-6{
          &:nth-last-child(1){
            padding: 0;
            .box-datlich{
              border-radius: 50px 50px 0 0;
              padding: 40px 30px 170px 30px;
              form{
                .row{
                  flex-direction: initial;
                }
              }
            }
          }
        }
        .col-md-6{
          &:nth-last-child(2){
            background: #172174;
            border-radius: 50px 50px 0 0;
            margin-top: -50px;
            z-index: 99;
            .img-mb{
              padding: 40px ;
            }
          }
        }
      }
    
  }
  .customer{
    margin: 40px 0 0 0;
    .col-md-4{
      margin-bottom: 24px;
    }
  }
  .dealhot{
    .box-datlich{
      background: transparent;
    }
  }
  .coso-vatchat {
    margin-top: 20px;
}
  .taisao-trietlong {
    padding: 40px 0;
}
  .coso-vatchat .row .col-md-4 {
    margin-bottom: 35px;
    width: 50%;
}
  #video-popup-container, #video-popup-container2, #video-popup-container3{
    width: 90%;
    left: 45%;
  }
  .taisao-trietlong{
    .flex-video{
      .col-md-6{
        margin-bottom: 24px;
      }
    }
  }
  .quytrinh-trietlong{
    padding: 40px 0;
    .col-md-4 {
      margin-bottom: 24px;
  }
  }
  .box-loiich{
    background-image: linear-gradient(to bottom, #182175, #172174, #172174, #172174, #253086);
    padding: 40px 0;
    .container{
      padding: 0;
    }
  }
  .combo-toanthan{
    padding: 40px 0;
    background-image: linear-gradient(to bottom, #253086, #222c81, #1e287d, #1b2578, #172174);
    
    .box-datlich{
      padding: 30px 0 50px 0;
      .title{
        img{
          max-width: 75%;
        }
      }
    }
  }
  .uudiem-vuottroi {
    .row{
      .item {
        flex-direction: column-reverse;
        margin-bottom: 0;
        &:nth-last-child(2){
          flex-direction: column;
        }
        .col-md-6{
          margin-bottom: 30px;
        }
    }
    }
  }
  .uudiem-vuottroi{
    padding: 40px 0;
  }
  .trietlong-vinhvien .col-md-3 {
    width: 50%;
}
  .trietlong-vinhvien{
    background: #253086;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .title-ss img {
    max-width: 90%;
}
  body{
    background: #253086;
  }
  .banner-head .box-datlich{
    max-width: 100%;
    bottom: 30px;
  }
  .img-pc {
    display: none;
}
.img-mb {
  display: block;
}
}

@media(min-width: 320px) and (max-width: 375px){
  .banner-head .box-datlich {
    max-width: 100%;
    bottom: 30px;
    padding-bottom: 0;
}
}
@media screen and (min-width: 320px){
    
}