$border: #E6E6E6;
$text: #212121;
$text-alpha: #5C738D;
$brand1:#27338C;
$brand2:#DCAF26;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {

  // max-width: 767px;
  font-family: "Inter", sans-serif;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #2a3578;
  color: $text;
  font-weight: normal;
  // box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10);
}


button:focus {
  outline: 0;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a:visited {
  text-decoration: none;

}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
img{
  width: 100%;
}

/* --------------Checkbox-------------------- */
.form-group{
	.form-control, .custome-select select, textarea{
    margin-bottom: 20px;
		border: 0;
		font-size: 16px;
		padding: 8px 16px;
		height: 46px;
		border-radius: 10px;
		color: $brand1;
		display: inline-block;
		width: 100%;
    
		&::placeholder{
			color: $brand1;
      
		}
	}
	
	textarea{
		height: 88px;
	}
}
.input-custom {
	display: none;
}

.label-custom {
	color:  $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: #000 !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid #777;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: #27338C;
	border: 1px solid #DCAF26;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
.img-pc{
  display: block;
}
.img-mb{
  display: none;
}
// <========================Video======================>
#video-popup-container {
  display:none;
  position: fixed;
  z-index: 996;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  top: 8%;
  background-color: #fff;
}

#video-popup-close {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -11px;
  z-index: 998;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  background-color: #fff;
  line-height: 35px;
  color: $brand1;
  opacity: 1;
  font-weight: 400;

}

#video-popup-iframe-container {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0;
  border-radius: 2px;
  background-color: #000;
}

.video-popup-iframe {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}

#video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#video-popup-close:hover {
  color: $brand1;
}
.item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-video {
  position: absolute;
  display: inline-block;
}
.button-video img {
width: 60px !important;
height: 60px;
}
.uudiem-video{
  // padding: 20px 0 40px 0;
  // border-radius: 0 0 50px 50px;
  // background: #475abc;

   
    img{
      display: block;
      width: 100%;
    }

}
// <========================End Video======================>
// video 2 gioi thieu ND
#video-popup-container2 {
  display:none;
  position: fixed;
  z-index: 996;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  top: 8%;
  background-color: #fff;
}

#video-popup-close2 {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -11px;
  z-index: 998;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  background-color: #fff;
  line-height: 35px;
  color: $brand1;
  opacity: 1;
  font-weight: 400;

}

#video-popup-iframe-container2 {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0;
  border-radius: 2px;
  background-color: #000;
}

.video-popup-iframe2 {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}

#video-popup-overlay2 {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#video-popup-close2:hover {
  color: $brand1;
}

// end video 2 gioi thieu ND


// video 3 triet long
#video-popup-container3 {
  display:none;
  position: fixed;
  z-index: 996;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  top: 8%;
  background-color: #fff;
}

#video-popup-close3 {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -11px;
  z-index: 998;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  background-color: #fff;
  line-height: 35px;
  color: $brand1;
  opacity: 1;
  font-weight: 400;

}

#video-popup-iframe-container3 {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0;
  border-radius: 2px;
  background-color: #000;
}

.video-popup-iframe3 {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}

#video-popup-overlay3 {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#video-popup-close3:hover {
  color: $brand1;
}

.container {
  max-width: 1036px;
}
.combo-toanthan{
  background: #2a3578;
  padding: 60px 0;
  .box-datlich{
    background: transparent;
  }
  .row{
    align-items: center;
  }
}
.box-datlich{
  text-align: center;
  .title{
    .img-pc{
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
.box-loiich{
  .title{
    text-align: center;
    img{
      max-width: 50%;
    }
  }
}
.quytrinh-trietlong{
  background: #4859bc;
  border-radius: 50px;
  padding: 80px 0 40px 0;

  .col-md-4{
    margin-bottom: 40px;
  }
}
.title-ss{
  text-align: center;
  margin-bottom: 40px;
  img{
    max-width: 50%;
  }
}
.taisao-trietlong{
  padding: 60px 0;
}
.coso-vatchat{
  margin-top: 60px;
  .row{
    justify-content: center;
    .col-md-4{
      margin-bottom: 35px;
    }
  }
}
.trietlong-vinhvien{
    background-image: linear-gradient(to bottom, #2a3578, #2a3578, #2a3578, #2a3578, #2a3578);
    padding: 60px 0;
  .col-md-3{
    margin-bottom: 25px;
  }
}
.uudiem-vuottroi{
  background: #475abc;
  border-radius: 50px;
  padding: 60px 0;
  .row{
    align-items: center;
    .item{
      margin-bottom: 45px;
    }
  }
}
.form-control,.custom-select, textarea{
  height: 46px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding: .375rem .75rem;
  color: $brand1;
  &::placeholder{
      color: $brand1;
     
  }
  .select-hide{
      color: transparent;
  }
  .select-selected{
      color: $brand1;
  }
}

/* ------------------- Selecbox -------------------*/
/* Custom select box */
.custom-select {
	  margin-bottom: 20px;
    border: 0;
    font-size: 16px;
    padding: 8px 16px;
    height: 46px;
    border-radius: 10px;
    color: #27338C;
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    text-align: left;
}

.custom-select select {
  height: 100%;
  width: 100%;
  background: transparent;
  border: transparent;
  color: $brand1;
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $brand1;
	top: 14px;
	right: 45px;
}
.form-group {
  margin-bottom: 0;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: #90A3BF;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 16px;
	// padding-top: 3px;
	// padding-left: 5px;
}
.select-selected.active{
	color: $brand1 !important;
	font-size: 16px !important;
}
.select-items div {
	color: $brand1;
	padding: 10px ;
}
/* Style items (options): */
.select-items {
	padding: 0 0;
	overflow: hidden;
	width: 90%;
	position: absolute;
	background-color: white;
	top: 30px;
	left: 20px;
	right: 0;
	z-index: 99;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #f4f5f9;
}

.from-group{
  label{
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: #fff;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
}
#date{
  text-align: center;
}
.status-booking{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  span{
    color: white;
  }
  .iden-item{
    display: flex;
    align-items: center;
    &::before{
      content: "";
      display: inline-block;
      height: 10px;
      width: 20px;
      margin-right: 8px;
      background: #fff;
      
      border-radius: 2px;
    }
  }
  .iden-action{
    &::before{
      background: #ffecbe;
    }
  }
  .iden-dissible{
    &::before{
      background: #3e50b9;
    }
  }
}
.btn-action {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  a{
    display: inline-block;
    width: fit-content;
    padding: 8px 32px;
    background: #ffeebf;
    border-radius: 10px;
    color: #27338C;
    font-weight: 700;
    font-size: 20px;
    margin-top: 32px;
  }
}
.dealhot{
  .row{
    align-items: center;
  }
  .box-datlich{
    padding: 30px;
  }
 .btn-action{
  position: initial;
 }
}
.customer{
  margin: 40px 0 60px 0;
}
.footer{
  background: #172174;
  padding: 80px 0;
  border-radius: 50px 50px 0 0;
}
.box-datlich{
  background: #4859bc;
  border-radius: 30px;
  padding: 30px 30px 50px 30px;
  position: relative;
  .title{
    margin-bottom: 30px;
  }
  .btn-action{
    a{
      margin-top: 0;
    }
  }
}
.banner-head{
  position: relative;
  .box-datlich{
    max-width: 25%;
    position: absolute;
    right: 300px;
    bottom: 130px;
    background: transparent;
    .btn-action{
      position: initial;
    }
  }
}
.btn-action {
  a{
    &:hover{
      opacity: .7;
    }
  }
}
.countdown{
  margin-bottom: 16px;
}
.countdown div span {
  display: block;
  font-size: 40px;
  color: white;
  font-weight: bold;
 
}
.countdown p {
  color: white;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #3A3F78;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.box-countdown {
  width: 60px;
  height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: 0;
  background: transparent;
}
.countdown {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown div {
  display: inline-block;
  margin: 0 10px;
}
.countdown div span {
  display: block;
  font-size: 40px;
  color: white;
  font-weight: bold;
}