@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 18px;
  line-height: 25.2px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 26px;
  line-height: 36.4px;
}

h5 {
  font-size: 24px;
  line-height: 33.6px;
}

h6 {
  font-size: 22px;
  line-height: 30.8px;
}

.container {
  width: 1400px;
  max-width: 1400px;
}

.menu {
  margin: 0;
  padding: 0;
}

.btn-hover:hover {
  text-decoration: none;
}

.btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
.btn-booking.transform-uppercase {
  letter-spacing: 3px;
}
.btn-booking:hover {
  opacity: 0.8;
  color: #FFFFFF;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}
.btn-outline-action:hover {
  opacity: 0.8;
  color: #27338C;
}

.btn-fill-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #27338C;
  color: #FFFFFF;
}
.btn-fill-action.transform-uppercase {
  letter-spacing: 3px;
}
.btn-fill-action:hover {
  opacity: 0.8;
  color: #FFFFFF;
}

.btn-text-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #27338C;
  color: #27338C;
}
.btn-text-brand.transform-uppercase {
  letter-spacing: 3px;
}
.btn-text-brand:hover {
  opacity: 0.8;
  color: #27338C;
}

.title-section {
  max-width: 860px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.title-section h2 {
  font-family: "Canela-Regular", sans-serif;
  color: #27338C;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title-section p {
  font-weight: 400;
  line-height: 25.5px;
  font-size: 18px;
}

.sticky-summary-bar {
  display: inline-block;
  width: 100%;
  position: sticky;
}
.sticky-summary-bar .btn-booking {
  margin-top: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  position: relative;
  background: #fff;
  width: 100%;
  border-radius: 13px;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 242px;
}

.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
  display: none;
}

.icon:last-child {
  right: 212px;
  background: linear-gradient(-90deg, #fff 70%, transparent);
  justify-content: flex-end;
}

.icon i {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #EFEFEF;
}

.icon i:hover {
  background: #d8d5f2;
}

.icon:first-child i {
  margin-left: 16px;
  padding: 0 13px;
}

.icon:last-child i {
  margin-right: 16px;
  padding: 0 10px;
}

.tabs_box {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-bottom: 0;
}

.tabs_box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.tabs_box .tab {
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  padding: 20px 0px;
}
.tabs_box .tab::marker {
  color: transparent;
}

.tabs_box.dragging .tab {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tabs_box .tab.active {
  color: #27338C;
  border-bottom: 1px solid #27338C;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.career-item-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #EFEFEF;
}
.career-item-x .content-left {
  margin-right: 16px;
  display: inline-block;
  width: 100%;
}
.career-item-x .content-left a b {
  font-weight: 400;
  margin-top: 4px;
  display: block;
  width: 100%;
  font-size: 22px;
  line-height: 30.8px;
  color: #202124;
}
.career-item-x .content-left a:hover {
  text-decoration: none;
}
.career-item-x .content-left span {
  color: #75757A;
}

.career-item-y-image {
  display: inline-block;
  width: 100%;
  max-width: 440px;
}
.career-item-y-image .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
.career-item-y-image .box-content h3 {
  font-family: "Canela-Regular";
  color: #27338C;
  margin-bottom: 16px;
  margin-top: 0;
}
.career-item-y-image .box-content p {
  font-size: 18px;
  color: #75757A;
}

.career-item-y-icon {
  display: inline-block;
  width: 100%;
  max-width: 440px;
}
.career-item-y-icon .icon-item {
  padding: 12px;
  width: auto;
  max-width: 220px;
  height: 72px;
}
.career-item-y-icon .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.career-item-y-icon .box-content h3 {
  color: #202124;
  font-weight: 700;
  margin-bottom: 16px;
}
.career-item-y-icon .box-content p {
  font-size: 18px;
  color: #75757A;
}

.services-item-16x9, .services-item-1x1 {
  width: 100%;
  max-width: 360px;
  display: inline-block;
}
.services-item-16x9 h6, .services-item-1x1 h6 {
  margin: 12px 0 0;
}

.services-item-3x5 {
  width: 100%;
  max-width: 242px;
  display: inline-block;
}
.services-item-3x5 h6 {
  margin: 10px 0 0;
}

.services-item {
  cursor: pointer;
  color: #202124;
  margin-top: 0px;
}
.services-item:hover {
  text-decoration: none;
  color: #202124;
}
.services-item .content-item {
  display: inline-block;
  width: 100%;
}
.services-item a:hover {
  text-decoration: none;
}
.services-item h3 {
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #202124;
}
.services-item h3 a {
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #202124;
}

footer {
  background: #27338C;
  color: #FFFFFF;
  padding: 50px 0;
}
footer .img-logo {
  margin-bottom: 16px;
}
footer .box-left {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .item-left p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
footer .item-left span {
  display: inline-block;
  font-size: 16px;
  margin: 6px 0;
}
footer .item-left .adress-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .item-left .adress-content .item-adress-content a {
  color: #DCAF26;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
footer .box-right {
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .item-right {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
footer .address-footer {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
}
footer .address-footer a {
  width: auto;
  display: block;
  font-size: 14px;
  color: #FFFFFF;
}
footer .address-footer p {
  font-size: 16px;
  margin-bottom: 4px;
  color: #EFEFEF !important;
  opacity: 0.5;
  font-weight: bold;
  text-transform: uppercase;
  height: 52px;
}
footer .certification {
  margin-top: 14px;
  gap: 24px;
  display: flex;
  align-items: center;
}
footer .certification img {
  display: inline-block;
}
footer .social-footer {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}
footer .box-download {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#exampleModal .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  color: #FFFFFF;
  background: #DCAF26;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  opacity: 1;
}
#exampleModal .close:focus {
  outline: none;
}
#exampleModal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1200px;
}
#exampleModal .modal-content {
  background: transparent;
  border: none;
  width: 100%;
}
#exampleModal .modal-content a {
  display: block;
  width: 100%;
}
#exampleModal .modal-content img {
  display: block;
  width: 100%;
}

.show-hiden-popup {
  display: flex;
  max-width: 640px;
  position: absolute;
  right: 0;
  bottom: 0;
  flex-direction: row-reverse;
}
.show-hiden-popup .owl-nav {
  display: none;
}
.show-hiden-popup .owl-dots {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  display: inline-block;
}
.show-hiden-popup .box-left {
  display: inline-block;
  width: 100%;
}
.show-hiden-popup .box-left h3 {
  font-size: 28px;
  font-family: "Canela-Regular";
}
.show-hiden-popup .box-left span {
  display: block;
  width: 100%;
}
.show-hiden-popup .box-left .horizontal-distance {
  display: block;
  width: 40%;
  height: 1px;
  background: #FFFFFF;
  margin-top: 24px;
}
.show-hiden-popup .box-left .btn-game {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 8px;
  margin-top: 8px;
  font-weight: 300;
}
.show-hiden-popup .box-left .btn-game img {
  width: 24px;
}
.show-hiden-popup input[type=checkbox] {
  display: none;
}
.show-hiden-popup input[type=checkbox] + label {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 46px;
  height: 52px;
  display: block;
  background: #27338C;
  background-image: url(../images/caretright.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
}
.show-hiden-popup input[type=checkbox]:checked + label {
  background-image: url(../images/caretleft.svg);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 9;
}
.show-hiden-popup input[type=checkbox] ~ fieldset {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.show-hiden-popup input[type=checkbox]:checked ~ fieldset {
  height: auto;
}
.show-hiden-popup fieldset {
  color: #FFFFFF;
  border: none;
  display: block;
  width: 100%;
}
.show-hiden-popup .slider-header {
  width: 100%;
  padding: 30px;
  margin: 0 !important;
}
.show-hiden-popup .slider-home {
  display: block;
  width: 100%;
}
.show-hiden-popup .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 3px;
  background: #EFEFEF;
}
.show-hiden-popup .owl-theme .owl-dots .owl-dot.active span {
  width: 39px;
  height: 3px;
  background: #DCAF26;
}

.results {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

.empty {
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.empty.active {
  visibility: visible;
  opacity: 1;
  margin: 50px 0;
  height: auto;
}

.search {
  height: 50px;
  width: 100%;
  padding: 16px 16px 16px 56px;
  font-family: helvetica;
  background: #FFFFFF;
  border: 1px solid #9C9CA2;
  color: #75757A;
  border-radius: 24px;
  font-size: 16px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
}

.card {
  font-family: "helvetica";
  background: #111;
  color: #ffe81f;
  width: 100%;
  height: auto;
  aspect-ratio: 16/8;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}
.card__title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}
.card__crawl {
  position: absolute;
  top: 0;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 24px;
  margin: auto;
  width: 99%;
  text-align: justify;
  line-height: 1.5;
  transform-origin: top center;
  transform: perspective(400px) rotateX(60deg) translateY(0%);
  transition: transform 0.2s linear;
}
.card:hover .card__title {
  top: 5%;
  transform: translate(-50%, 5%);
  transition: all 0.75s ease-in-out;
}
.card:hover .card__crawl {
  line-height: 1.5;
  transform: perspective(400px) rotateX(60deg) translateY(-45%);
  transition: transform 2s linear;
}

.item-search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 28px;
  max-width: 600px;
}
.item-search a {
  margin-top: 0;
}
.item-search .img-scale-3-2 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-3-2 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-1-1 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-1-1 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-4-2 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-4-2 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-16-9 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-16-9 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-3-5 a {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-3-5 a img {
  display: inline-block;
  width: 100%;
}
.item-search .content {
  display: inline-block;
  width: 100%;
}
.item-search .content a {
  width: 100%;
}
.item-search .content a:hover {
  text-decoration: none;
}
.item-search .title-16px {
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  margin-bottom: 0;
}
.item-search p {
  font-size: 16px;
  color: #75757A;
}
.item-search .breadcrumb {
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 4px;
}
.item-search .breadcrumb a {
  font-size: 12px;
  color: #75757A;
}
.item-search .breadcrumb a:hover {
  text-decoration: none;
}

.box-bar-search {
  display: inline-block;
  width: 100%;
  padding: 14px 48px;
  position: relative;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  gap: 0 20px;
}
.box-bar-search .item-bar-search {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.box-bar-search .icon-24 {
  width: 24px;
}
.box-bar-search a {
  margin-top: 0;
  color: #202124;
}
.box-bar-search a:hover {
  color: #202124;
  text-decoration: none;
}
.box-bar-search h6 {
  margin-bottom: 0;
}
.box-bar-search .icon-search {
  position: absolute;
  left: 16px;
}
.box-bar-search .icon-close {
  position: absolute;
  right: 16px;
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.promotion-item {
  display: inline-block;
  width: 100%;
}
.promotion-item .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.promotion-item .box-content a h3 {
  color: #202124;
  font-weight: 700;
}
.promotion-item .box-content a:hover {
  color: #202124;
}
.promotion-item .box-content a b {
  font-size: 26px;
  line-height: 36.4px;
}

.btn-outline-action:hover {
  text-decoration: none;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 32px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-item-link {
  display: inline-block;
  width: 100%;
}
.title-item-link:hover {
  text-decoration: none;
}
.title-item-link b {
  font-size: 26px;
  line-height: 36.4px;
}

.text-body-large {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  color: #202124;
  margin-bottom: 0;
}

.box-sticky-floating {
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
}
.box-sticky-floating .floating-action-button {
  position: sticky;
  left: 0;
  top: 0;
}

.pagging-page {
  display: inline-block;
  width: 100%;
}
.pagging-page .pagination {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 40px;
}

.pagging-page ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #75757A;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.pagging-page ul li a.active {
  background-color: transparent;
  padding-top: 5px;
  border-radius: 0px;
  background: #27338C;
  color: #FFFFFF;
}
.pagging-page ul li a i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ti-angle-left:before {
  content: "\e408";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.ti-angle-right:before {
  content: "\e409";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.promotion-page {
  display: inline-block;
  width: 100%;
}
.promotion-page .title-section {
  margin-bottom: 50px;
}
.promotion-page .promotion-item {
  border: 1px solid #EFEFEF;
  margin-bottom: 50px;
}
.promotion-page .promotion-item .box-content {
  margin-top: 0;
  padding: 20px;
}
.promotion-page .promotion-item .box-content a h5 {
  font-weight: 400;
  color: #27338C;
}
.promotion-page .body-promotion .box-content {
  padding: 16px;
}

.header-promotion {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

.career-page .title-section {
  margin-bottom: 30px;
}

.career-ss1 {
  display: inline-block;
  width: 100%;
}

.career-ss2 {
  display: inline-block;
  width: 100%;
  background: #EDF6FF;
}

.slider-career {
  display: block;
  width: 100%;
}
.slider-career .slider-header {
  width: 100%;
  margin: 0 !important;
}
.slider-career .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 3px;
  background: #EFEFEF;
}
.slider-career .owl-theme .owl-dots .owl-dot.active span {
  width: 39px;
  height: 3px;
  background: #DCAF26;
}
.slider-career .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.slider-career .owl-prev {
  height: 72px;
  width: 72px;
  border-radius: 100px !important;
  background: #FFFFFF !important;
  position: absolute;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 20px;
}
.slider-career .owl-prev span {
  display: none !important;
}
.slider-career .owl-prev:before {
  content: "\e317";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}
.slider-career .owl-next {
  height: 72px;
  width: 72px;
  border-radius: 100px !important;
  background: #FFFFFF !important;
  position: absolute;
  right: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slider-career .owl-next span {
  display: none !important;
}
.slider-career .owl-next:before {
  content: "\e941";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}
.slider-career .owl-dots {
  display: none;
}

.career-ss4 {
  display: inline-block;
  width: 100%;
}

.box-career-ss4 {
  display: inline-block;
  width: 100%;
  position: relative;
}

.box-right {
  display: inline-block;
  width: 100%;
}

.box-right-career {
  padding-left: 360px;
}
.box-right-career .pagging-page {
  margin-top: 30px;
}

.box-header-career {
  display: inline-block;
  width: 100%;
}
.box-header-career .search {
  border-radius: 1px;
  border: 1px solid #9C9CA2;
}
.box-header-career .search::-moz-placeholder {
  color: #9C9CA2;
}
.box-header-career .search::placeholder {
  color: #9C9CA2;
}
.box-header-career .custom-select {
  border: 1px solid #9C9CA2;
  height: 50px;
}
.box-header-career .custom-select .select-selected:after {
  top: 8px;
}

.box-sticky-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 360px;
}

.tab-career {
  position: sticky;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  left: 0;
  top: 0;
  padding: 16px;
  box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.1);
}
.tab-career .tablinks {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 12px 0;
  border-bottom: 1px solid #EFEFEF;
}
.tab-career .tablinks:last-child {
  border-bottom: none;
}
.tab-career .tablinks img {
  margin-right: 10px;
}
.tab-career .tablinks .active-icon {
  display: none !important;
}
.tab-career .tablinks .default-icon {
  display: block !important;
}
.tab-career .tablinks.active .active-icon {
  display: block !important;
}
.tab-career .tablinks.active .default-icon {
  display: none !important;
}

.btn-back {
  font-weight: 500;
  letter-spacing: 2.8px;
  font-style: normal;
  border: 1px solid #75757A !important;
  color: #75757A !important;
}
.btn-back img {
  margin-right: 10px;
}

.box-career-detail {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.box-career-detail .box-career-left {
  display: inline-block;
  width: 100%;
  padding-right: 520px;
}
.box-career-detail h1 {
  font-family: "Canela-Regular";
  color: #27338C;
  margin-bottom: 0;
}
.box-career-detail .box-description-title {
  margin-top: 20px;
}
.box-career-detail .box-description-title span {
  margin-right: 24px;
}
.box-career-detail .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}
.box-career-detail .box-content h3 {
  font-family: "Canela-Regular";
  text-transform: uppercase;
  margin-bottom: 20px;
}
.box-career-detail .box-content ul {
  padding-left: 32px;
  margin-bottom: 50px;
}
.box-career-detail .box-sticky-item {
  right: 0;
  left: inherit;
}
.box-career-detail .form-apply-CV {
  position: sticky;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  left: 0;
  top: 0;
}

.page-404 {
  display: inline-block;
  width: 100%;
}
.page-404 .box-content {
  display: inline-block;
  text-align: center;
  position: absolute;
}
.page-404 .box-content p {
  display: inline-block;
  font-size: 160px;
  line-height: 130.6px;
  margin-bottom: 0;
  font-family: "Canela-Regular";
  color: #27338C;
}
.page-404 .box-content h5 {
  font-weight: 400;
  margin: 20px 0 40px 0;
}
.page-404 .box-content .btn-center {
  display: inline-block;
}
.page-404 .background-404 {
  display: inline-block;
  width: 100%;
}
.page-404 .body-404 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-page .box-tab {
  display: inline-block;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
.about-us-page .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
  justify-content: space-around;
  align-items: center;
}
.about-us-page .nav-tabs .nav-link {
  padding: 20px 0;
  color: #202124;
  line-height: 25.2px;
  font-size: 18px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
.about-us-page .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}

.tab-menu-content {
  display: inline-block;
  width: 100%;
}
.tab-menu-content .nav-tabs > li {
  margin-right: 26px;
}

.about-us-page .fade:not(.show) {
  opacity: 1;
}
.about-us-page .content-center-ss {
  align-items: center;
}
.about-us-page .about-us-ss1 {
  background: #EAF0FD;
}
.about-us-page .about-us-ss1 .title-section {
  text-align: left;
}
.about-us-page .about-us-ss1 .box-img {
  display: inline-block;
  width: 100%;
  padding-left: 85px;
}
.about-us-page .about-us-ss1 .box-img img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss2 .row {
  margin-right: -30px;
  margin-left: -30px;
}
.about-us-page .about-us-ss2 .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}
.about-us-page .about-us-ss2 .title-section {
  margin-bottom: 60px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content {
  margin-top: 20px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content h3 {
  margin-bottom: 10px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content p {
  color: #202124;
}
.about-us-page .about-us-ss2 .career-item-y-icon .icon-item {
  padding: 0;
}
.about-us-page .about-us-ss4 {
  background: #EAF0FD;
}
.about-us-page .about-us-ss4 .title-section {
  text-align: left;
}
.about-us-page .about-us-ss4 .content-center-ss {
  flex-direction: row-reverse;
}
.about-us-page .about-us-ss4 .box-img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss4 .box-img img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss4 .box-content {
  display: inline-block;
  width: 100%;
  padding-left: 85px;
}
.about-us-page .about-us-ss5 .btn-center {
  margin-top: 48px;
}

.btn-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.big-menu-service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.big-menu-service .box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  margin-bottom: 8px;
  border-bottom: 1px solid #EFEFEF;
}
.big-menu-service .item-service {
  display: inline-block;
  text-align: center;
}
.big-menu-service .item-service p {
  color: #75757A;
}
.big-menu-service .item-service:hover {
  text-decoration: none;
  cursor: pointer;
}
.big-menu-service .item-service:hover p {
  color: #75757A;
}
.big-menu-service .item-service.active .box-img {
  background: #27338C;
}
.big-menu-service .item-service.active .box-img .img-active {
  display: block;
}
.big-menu-service .item-service.active .box-img .img-none {
  display: none;
}
.big-menu-service .item-service.active p {
  color: #27338C;
}
.big-menu-service .box-img {
  display: inline-block;
  padding: 16px;
  border-radius: 100%;
  background: #EAF0FD;
}

.mini-tab-servives {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 24px auto 32px;
}
.mini-tab-servives .box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
}
.mini-tab-servives .box-item .btn-item {
  font-size: 14px;
  color: #75757A;
  padding: 8px 28px;
  background: #EAF0FD;
  border-radius: 20px;
}
.mini-tab-servives .box-item .btn-item:hover {
  cursor: pointer;
  text-decoration: none;
}
.mini-tab-servives .box-item .btn-item.active {
  color: #27338C;
}

.customer-sucsess-story-page .img-bg-breadcrumb {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.customer-sucsess-story-page .box-search {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.customer-sucsess-story-page .box-search .search {
  width: 100%;
  max-width: 680px;
  border: none;
  background: #EFEFEF;
  border-radius: 24px;
  font-size: 16px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
}
.customer-sucsess-story-page .box-search .search::-moz-placeholder {
  color: #9C9CA2 !important;
}
.customer-sucsess-story-page .box-search .search::placeholder {
  color: #9C9CA2 !important;
}
.customer-sucsess-story-page .banner-headpage {
  margin: 80px auto 76px;
}
.customer-sucsess-story-page .customer-say {
  margin-top: 48px;
}
.customer-sucsess-story-page .customer-say .customer-success-story-item {
  padding-top: 20px;
  border-top: 1px solid #EFEFEF;
  margin-bottom: 60px;
}/*# sourceMappingURL=hai.css.map */