$color-primary-600:#1F2970 ;
$color-primary-500:#27338C ;
$color-primary-400:#3241B5 ;
$color-primary-100:#EAF0FD ;
$color-primary-50:#F3F7FF ;
$color-secondary-600:#B08C1E ;
$color-secondary-500:#DCAF26 ;
$color-secondary-400:#E3BF51 ;
$color-secondary-100:#F8EFD4 ;
$color-secondary-50:#FBF7E9 ;
$color-black-900:#202124 ;
$color-black-700:#75757A ;
$color-black-200:#9C9CA2 ;
$color-black-100:#EFEFEF ;
$color-white:#FFFFFF ;
$color-success-500:#34C759 ;
$color-success-400:#5DD27A ;
$color-success-200:#AEE9BD ;
$color-success-100:#D6F4DE ;
$color-success-50:#EBF9EE ;
$color-warning-500:#FFCC00 ;
$color-warning-400:#FFD633 ;
$color-warning-200:#FFEB99 ;
$color-warning-100:#FFF5CC ;
$color-warning-50:#FFFAE5 ;
$color-danger-500:#FF3B30 ;
$color-danger-400:#FF6259 ;
$color-danger-200:#FFB1AC ;
$color-danger-100:#FFD8D6 ;
$color-danger-50:#FFEBEA ;
$color-info-500:#007AFF ;
$color-info-400:#0A84FF ;
$color-info-100:#CCE4FF ;
$color-info-50:#EDF6FF ;

@font-face {
    font-family: 'Canela-Bold';
    src: url('../fonts/Canela-Bold.woff2') format('woff2'),
        url('../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Regular';
    src: url('../fonts/Canela-Regular.woff2') format('woff2'),
        url('../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 18px;
    line-height: 25.2px;
}

h1{
   font-size: 64px;
   line-height: 89.6px; 
   letter-spacing: 1px;
   &.transform-uppercase{
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: 2px;
   }
}
h2{
    font-size: 32px;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h3{
    font-size: 28px;
    line-height: 39.2px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h4{
    font-size: 26px;
    line-height:36.4px; 
 }
 h5{
    font-size: 24px;
    line-height:33.6px; 
 }
 h6{
    font-size: 22px;
    line-height:30.8px;
 }
 .container{
    width: 1400px;
    max-width: 1400px;
 }

 .menu{
    margin: 0;
    padding: 0;
 }
// <==================================BUTTON=======================================>
.btn-hover{
    &:hover{
        text-decoration: none;
    }
}
 .btn-booking{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 44.8px; 
    letter-spacing: 2.8px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    background: $color-secondary-500;
    color: $color-white;
    &:hover{
        opacity: 0.8;
        color: $color-white;
    }
 }
 .btn-outline-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44.8px; 
    letter-spacing: 2.8px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    border: 1px solid $color-primary-500;
    color: $color-primary-500;
    &:hover{
        opacity: 0.8;
        color: $color-primary-500;
    }
 }
 .btn-fill-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 44.8px; 
    letter-spacing: 2.8px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    background: $color-primary-500;
    color: $color-white;
    &:hover{
        opacity: 0.8;
        color: $color-white;
    }
 }
 .btn-text-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44.8px; 
    letter-spacing: 2.8px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    border-bottom: 1px solid $color-primary-500;
    color: $color-primary-500;
    &:hover{
        opacity: 0.8;
        color: $color-primary-500;
    }
 }
// <==================================END BUTTON=======================================>

// <==================================TITLE SECTION=======================================>
 .title-section{
    max-width: 860px;
    text-align: center;
    display: inline-block;
    width: 100%;
    h2{
        font-family: "Canela-Regular", sans-serif;
        color: $color-primary-500;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    p{
        font-weight: 400;
        line-height: 25.5px; 
        font-size: 18px
    }
 }
// <==================================END BUTTON=======================================>

// <==================================STICKY SUMMARY BAR=======================================>
.sticky-summary-bar{
    display: inline-block;
    width: 100%;
    position: sticky;
    .btn-booking{
        margin-top: 0;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.wrapper{
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 13px;
    overflow-x: hidden;
    padding-left: 30px;
    padding-right: 242px;
}
.wrapper .icon{
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}
.icon:first-child{
    left: 0;
    background: linear-gradient(90deg, #fff 70%, transparent);
    display: none;
}
.icon:last-child{
    right: 212px;
    background: linear-gradient(-90deg, #fff 70%, transparent);
    justify-content: flex-end;
}
.icon i{
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    border: 1px solid $color-black-100;
}
.icon i:hover{
    background: #d8d5f2;
}
.icon:first-child i{
    margin-left: 16px;
    padding: 0 13px;
}
.icon:last-child i{
    margin-right: 16px;
    padding: 0 10px;
}
.tabs_box{
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 0;
}
.tabs_box.dragging{
    scroll-behavior: auto;
    cursor: grab;
}
.tabs_box .tab{
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    padding: 20px 0px;
    &::marker{
        color: transparent;
    }
}
.tabs_box.dragging .tab{
    user-select: none;
}
.tabs_box .tab.active{
    color: $color-primary-500;
    border-bottom: 1px solid $color-primary-500;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .material-symbols-outlined.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
// <==================================END STICKY SUMMARY BAR=======================================>

// <==================================CAREER ITEM=======================================>
.career-item-x{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid $color-black-100;
    .content-left{
        margin-right: 16px;
        display: inline-block;
        width: 100%;
        a{
            b{
                font-weight: 400;
                margin-top: 4px;
                display: block;
                width: 100%;
                font-size: 22px;
                line-height: 30.8px;
                color: $color-black-900;
            }
            &:hover{
                text-decoration: none;
            }
        }
        span{
            color: $color-black-700;
        }
    }
}
.career-item-y-image{
    display: inline-block;
    width: 100%;
    max-width: 440px;
    .box-content{
        display: inline-block;
        width: 100%;
        margin-top: 16px;
        h3{
            font-family: 'Canela-Regular';
            color: $color-primary-500;
            margin-bottom: 16px;
            margin-top: 0;
        }
        p{
            font-size: 18px;
            color: $color-black-700;
        }
    }
}
.career-item-y-icon{
    display: inline-block;
    width: 100%;
    max-width: 440px;
    .icon-item{
        padding: 12px;
        width: auto;
        max-width: 220px;
        height: 72px;
    }
    .box-content{
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        h3{
            color: $color-black-900;
            font-weight: 700;
            margin-bottom: 16px;
        }
        p{
            font-size: 18px;
            color: $color-black-700;
        }
    }
}
// <==================================END CAREER ITEM=======================================>

// <==================================SERVICES ITEM=======================================>
.services-item-16x9, .services-item-1x1{
    width: 100%;
    max-width: 360px;
    display: inline-block;
    h6{
        margin: 12px 0 0;
    }
}
.services-item-3x5{
    width: 100%;
    max-width: 242px;
    display: inline-block;
    h6{
        margin: 10px 0 0;
    }
}
.services-item{
    cursor: pointer;
    color: $color-black-900;
    margin-top: 0px;
    &:hover{
        text-decoration: none;
        color: $color-black-900;
    }
    .content-item{
        display: inline-block;
        width: 100%;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    h3{
        margin-top: 20px;
        font-weight: 400;
        text-transform: capitalize;
        color: $color-black-900;
        a{
            margin-top: 20px;
        font-weight: 400;
        text-transform: capitalize;
        color: $color-black-900;
        }
    }
}
// <==================================END SERVICES ITEM=======================================>

// <==================================FOOTER=======================================>
footer{
    background: $color-primary-500;
    color: $color-white;
    padding: 50px 0;
    .img-logo{
        margin-bottom: 16px;
    }
    .box-left{
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .item-left{
        p{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0px;
        }
        span{
            display: inline-block;
            font-size: 16px;
            margin: 6px 0;
        }
        .adress-content{
            display: flex;
            align-items: center;
            gap: 16px;
            .item-adress-content a{
                color: $color-secondary-500;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }
        }
    }
    .box-right{
        flex: 0 0 60%;
        max-width: 60%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .item-right{
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }
    .address-footer{
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        a{
            width: auto;
            display: block;
            font-size: 14px;
            color: $color-white;
        }
        p{
            font-size: 16px;
            margin-bottom: 4px;
            color: $color-black-100 !important;
            opacity: 0.5;
            font-weight: bold;
            text-transform: uppercase;
            height: 52px;
        }
    }
    .certification{
        margin-top: 14px;
        gap: 24px;
        display: flex;
        align-items: center;
        img{
            display: inline-block;
        }
    }
    .social-footer{
        display: flex;
        align-items: center;
        gap: 18px;
        margin-bottom: 12px;
    }
    .box-download{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
}
.row-footer{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
// <==================================END FOOTER=======================================>

// <==================================POPUP=======================================>

// <---------------POPUP AUTO---------------->
#exampleModal{
    .close{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        color: $color-white;
        background: $color-secondary-500;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        opacity: 1;
        &:focus{
            outline: none;
        }
    }
    .modal-dialog{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 1200px;
    }
    .modal-content{
        background: transparent;
        border: none;
        width: 100%;
        a{
            display: block;
            width: 100%;
        }
        img{
            display: block;
            width: 100%;
        }
    }
}

// <---------------POPUP SLIDER---------------->
.show-hiden-popup{
    display: flex;
    max-width: 640px;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-direction: row-reverse;
    .owl-nav{
        display: none;
    }
    .owl-dots{
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 100%;
        display: inline-block;
    }
    .box-left{
        display: inline-block;
        width: 100%;
        h3{
            font-size: 28px;
            font-family: 'Canela-Regular';
        }
        span{
            display: block;
            width: 100%;
        }
        .horizontal-distance{
            display: block;
            width: 40%;
            height: 1px;
            background: $color-white;
            margin-top: 24px;
        }
        .btn-game{
            display: flex;
            align-items: center;
            color: $color-white;
            gap: 8px;
            margin-top: 8px;
            font-weight: 300;
            img{
                width: 24px;
            }
        }
    }
    input[type="checkbox"]{
        display: none;
      }
      
      input[type="checkbox"] + label{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #fff;
        width: 46px;
        height: 52px;
        display: block;
        background: $color-primary-500;
        background-image: url(../images/caretright.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 0;
      }
      
      // If checkbox is checked show X icon
      input[type="checkbox"]:checked + label{
        background-image: url(../images/caretleft.svg);
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        z-index: 9;
      }
      
      // hide fieldset by default
      input[type="checkbox"] ~ fieldset{
          height: 0;
        overflow: hidden;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;	
      }
      
      // is checkbox is checked show fieldset
      input[type="checkbox"]:checked ~ fieldset{
          height: auto;
      }
      
      fieldset{
        color: $color-white;
        border: none;
        display: block;
        width: 100%;		
      }
      .slider-header{
        width: 100%;
        padding: 30px;
        margin: 0 !important;
      }
      .slider-home{
        display: block;
        width: 100%;
      }
      .owl-theme .owl-dots .owl-dot span{
        width: 15px;
        height: 3px;
        background: $color-black-100;
      }
      .owl-theme .owl-dots .owl-dot.active span{
        width: 39px;
        height: 3px;
        background: $color-secondary-500;
      }
}
// <---------------END POPUP SLIDER---------------->
// <==================================END POPUP=======================================>

// <==================================SEARCH=======================================>
.results {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
}

.empty {
    text-align: center;
    color: $color-white;
    font-size: 16px;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
    transition: all .2s ease-in-out;
    
    &.active {
        visibility: visible;
        opacity: 1;
        margin: 50px 0;
        height: auto;
    }
}

.search {
    height: 50px;
    width: 100%;
    padding: 16px 16px 16px 56px;
    font-family: helvetica;
    background: $color-white;
    border: 1px solid $color-black-200;
    color: $color-black-700;
    border-radius: 24px;
    font-size: 16px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 24px;
}

.card {
    font-family: 'helvetica';
    background: #111;
    color: #ffe81f;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 8;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    
    &__title {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s ease-in-out;
    }
    
    &__crawl {
        position: absolute;
        top: 0;
        top: 100%;
        left: 0;
        right: 0;
        font-size: 24px;
        margin: auto;
        width: 99%;
        text-align: justify;
        line-height: 1.5;
        transform-origin: top center;
        transform: perspective(400px) rotateX(60deg) translateY(0%);
        transition: transform .2s linear;
    }
    
    &:hover {
        .card__title {
            top: 5%;
            transform: translate(-50%, 5%);
            transition: all .75s ease-in-out;
        }
        
        .card__crawl {
            line-height: 1.5;
            transform: perspective(400px) rotateX(60deg) translateY(-45%);
            transition: transform 2s linear;
        }
    }
}

// <-----------------------------------ITEM SEARCH-------------------------------->
.item-search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 28px;
    max-width: 600px;
    a{
        margin-top: 0;
    }
    .img-scale-3-2 {
        min-width: 180px;
        width: 180px;
            img{
                display: inline-block;
                width: 100%;
            }
    }
    .img-scale-1-1 {
        min-width: 180px;
        width: 180px;
            img{
                display: inline-block;
                width: 100%;
            }
    }
    .img-scale-4-2 {
        min-width: 180px;
        width: 180px;
            img{
                display: inline-block;
                width: 100%;
            }
    }
    .img-scale-16-9{
        min-width: 180px;
            width: 180px;
            img{
                display: inline-block;
                width: 100%;
            }
    }
    .img-scale-3-5 a{
        min-width: 180px;
        width: 180px;
            img{
                display: inline-block;
                width: 100%;
            }
    }
    .content{
        display: inline-block;
        width: 100%;
        a{
            width: 100%;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .title-16px{
        font-size: 16px;
        font-weight: bold;
        color: $color-black-900;
        margin-bottom: 0;
    }
    p{
        font-size: 16px;
        color: $color-black-700;
    }
    .breadcrumb{
        width: 100%;
        background-color: transparent;
        padding: 0;
        margin-bottom: 4px;
        a{
            font-size: 12px;
            color: $color-black-700;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
// <-----------------------------------END ITEM SEARCH-------------------------------->

// <-----------------------------------BAR SEARCH-------------------------------->
.box-bar-search{
    display: inline-block;
    width: 100%;
    padding: 14px 48px;
    position: relative;
    border: 1px solid $color-white;
    background: $color-white;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    gap: 0 20px;
    .item-bar-search{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .icon-24{
        width: 24px;
    }
    a{
        margin-top: 0;
        color: $color-black-900;
        &:hover{
            color: $color-black-900;
            text-decoration: none;
        }
    }
    h6{
        margin-bottom: 0;
    }
    .icon-search{
        position: absolute;
        left: 16px;
    }
    .icon-close{
        position: absolute;
        right: 16px;
        display: inline-block;
        width: auto;
        margin-top: 0;
    }
}
// <-----------------------------------END BAR SEARCH-------------------------------->
// <==================================END SEARCH=======================================>

// <==================================PROMOTION ITEM=======================================>
.promotion-item{
    display: inline-block;
    width: 100%;
    .box-content{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        a{
            h3{
                color: $color-black-900;
                font-weight: 700;
            }
            &:hover{
                color: $color-black-900;
            }
            b{
                font-size: 26px;
                line-height:36.4px; 
            }
        }
    }
}
// <==================================END PROMOTION ITEM=======================================>

// <========================UPDATE PAGE 19-9==============================>
.btn-outline-action:hover{
    text-decoration: none;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
   }
   .block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 32px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   }

   .title-item-link{
    display: inline-block;
    width: 100%;
    &:hover{
        text-decoration: none;
    }
    b{
        font-size: 26px;
        line-height:36.4px; 
    }
}
.text-body-large{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    color: $color-black-900;
    margin-bottom: 0;
 }
 .box-sticky-floating{
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    .floating-action-button{
    position: sticky;
    left: 0;
    top: 0;
    }
 }
// <==================================PAGGING PAGE=======================================>
.pagging-page{
    display: inline-block;
    width: 100%;
    .pagination {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-top: 40px;
    }
}
.pagging-page ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: $color-black-700;
    padding: 4px;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: transparent;
        padding-top: 5px;
        border-radius: 0px;
        background: $color-primary-500;
        color: $color-white;
    }
    i{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ti-angle-left:before {
    content: "\e408";
    color: $color-black-700;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
}
.ti-angle-right:before {
    content: "\e409";
    color: $color-black-700;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
}
// <==================================END PAGGING PAGE=======================================>

// <==================================PROMOTION PAGE=======================================>
.promotion-page{
    display: inline-block;
    width: 100%;
    .title-section{
        margin-bottom: 50px;
    }
    .promotion-item{
        border: 1px solid $color-black-100;
        margin-bottom: 50px;
        .box-content{
            margin-top: 0;
            padding: 20px;
            a h5{
                font-weight: 400;
                color: $color-primary-500;
            }
        }
    }
    .body-promotion{
        .box-content{
            padding: 16px;
        }
    }
}
.header-promotion{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
// <==================================END PROMOTION PAGE=======================================>

// <==================================CAREER PAGE=======================================>
.career-page{
    .title-section{
        margin-bottom: 30px;
    }
}
.career-ss1{
    display: inline-block;
    width: 100%;
}
.career-ss2{
    display: inline-block;
    width: 100%;
    background: $color-info-50;
}
.slider-career{
    display: block;
    width: 100%;
    .slider-header{
        width: 100%;
        margin: 0 !important;
      }
      .owl-theme .owl-dots .owl-dot span{
        width: 15px;
        height: 3px;
        background: $color-black-100;
      }
      .owl-theme .owl-dots .owl-dot.active span{
        width: 39px;
        height: 3px;
        background: $color-secondary-500;
      }
      .owl-nav{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
      }
      .owl-prev{
        height: 72px;
        width: 72px;
        border-radius: 100px !important;
        background: $color-white !important;
        position: absolute;
        display: flex !important;
        align-items: center;
        justify-content: center;
        left: 20px;
        span{
            display: none !important;
        }
        &:before {
            content: "\e317";
            color: $color-black-700;
            font-size: 24px;
            font-weight: 300;
            font-family: 'Material Symbols Outlined';
            font-style: normal;
        }
      }
      .owl-next{
        height: 72px;
        width: 72px;
        border-radius: 100px !important;
        background: $color-white !important;
        position: absolute;
        right: 20px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        span{
            display: none !important;
        }
        &:before {
            content: "\e941";
            color: $color-black-700;
            font-size: 24px;
            font-weight: 300;
            font-family: 'Material Symbols Outlined';
            font-style: normal;
        }
      }
      .owl-dots{
        display: none;
      }
}
.career-ss4{
    display: inline-block;
    width: 100%;
}
.box-career-ss4{
    display: inline-block;
    width: 100%;
    position: relative;
}
.box-right{
    display: inline-block;
    width: 100%;
}
.box-right-career{
    padding-left: 360px;
    .pagging-page{
        margin-top: 30px;
    }
}
.box-header-career{
    display: inline-block;
    width: 100%;
    .search{
        border-radius: 1px;
        border: 1px solid $color-black-200;
        &::placeholder{
            color: $color-black-200;
        }
    }
    .custom-select{
        border: 1px solid $color-black-200;
        height: 50px;
        .select-selected:after {
            top: 8px;
        }
    }
}
.box-sticky-item{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 360px;
}
.tab-career{
    position: sticky;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    left: 0;
    top: 0;
    padding: 16px;
    box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0.00), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.10);
    .tablinks{
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        background: transparent;
        border: none;
        padding: 12px 0;
        border-bottom: 1px solid $color-black-100;
        &:last-child{
            border-bottom: none;
        }
        img{
            margin-right: 10px;
        }
        .active-icon{
            display: none !important;
        }
        .default-icon{
            display: block !important;
        }
    }
    .tablinks.active{
        .active-icon{
            display: block !important;
        }
        .default-icon{
            display: none !important;
        }
    }
}
// <==================================END CAREER PAGE=======================================>

// <==================================CAREER DETAIL PAGE=======================================>
.btn-back{
    font-weight: 500;
    letter-spacing: 2.8px;
    font-style: normal;
    border: 1px solid $color-black-700 !important;
    color: $color-black-700 !important;
    img{
        margin-right: 10px;
    }
}
.box-career-detail{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    position: relative;
    .box-career-left{
        display: inline-block;
        width: 100%;
        padding-right: 520px;
    }
    h1{
        font-family: 'Canela-Regular';
        color: $color-primary-500;
        margin-bottom: 0;
    }
    .box-description-title{
        margin-top: 20px;
        span{
            margin-right: 24px;
        }
    }
    .box-content{
        display: inline-block;
        width: 100%;
        margin-top: 80px;
        h3{
            font-family: 'Canela-Regular';
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        ul{
            padding-left: 32px;
            margin-bottom: 50px;
        }
    }
    .box-sticky-item{
        right: 0;
        left: inherit;
    }
    .form-apply-CV{
        position: sticky;
        display: inline-block;
        width: 100%;
        max-width: 400px;
        left: 0;
        top: 0;
    }
}
// <==================================END CAREER DETAIL PAGE=======================================>

// <==================================404 PAGE=======================================>
.page-404{
    display: inline-block;
    width: 100%;
    .box-content{
        display: inline-block;
        text-align: center;
        position: absolute;
        p{
            display: inline-block;
            font-size: 160px;
            line-height: 130.6px;
            margin-bottom: 0;
            font-family: 'Canela-Regular';
            color: $color-primary-500;
        }
        h5{
            font-weight: 400;
            margin: 20px 0 40px 0;
        }
        .btn-center{
            display: inline-block;
        }
    }
    .background-404{
        display: inline-block;
        width: 100%;
    }
    .body-404{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
// <==================================END 404 PAGE=======================================>

// <==================================ABOUT US PAGE=======================================>
.about-us-page{
    .box-tab {
        display: inline-block;
        width: 100%;
        background: #FFF;
        box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
    }
    .nav-tabs {
        height: 100%;
        margin-bottom: 1px;
        padding: 0 30px;
        border-bottom: 0;
        justify-content: space-around;
        align-items: center;
        .nav-link {
            padding: 20px 0;
            color: $color-black-900;
            line-height: 25.2px;
            font-size: 18px;
            border-radius: 0;
            border: 0;
            border-bottom: 2px solid transparent;
            background: transparent;
        }
        .nav-link.active {
            border-bottom: 2px solid $color-primary-500;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            color: $color-primary-500;
            
        }
    }
}
.tab-menu-content{
    display: inline-block;
    width: 100%;
    
    .nav-tabs > li {
        margin-right: 26px;
    }
}
.about-us-page{
    .fade:not(.show) {
        opacity: 1;
    }
    .content-center-ss{
        align-items: center;
    }
    .about-us-ss1{
        background: $color-primary-100;
        .title-section{
            text-align: left;
        }
        .box-img{
            display: inline-block;
            width: 100%;
            padding-left: 85px;
            img{
                display: inline-block;
                width: 100%;
            }
        }
    }
    .about-us-ss2{
        .row{
            margin-right: -30px;
            margin-left: -30px;
        }
        .col-md-4{
            padding-right: 30px;
            padding-left: 30px;
        }
        .title-section{
            margin-bottom: 60px;
        }
        .career-item-y-icon{
            .box-content{
                margin-top: 20px;
                h3{
                    margin-bottom: 10px;
                }
                p{
                    color: $color-black-900;
                }
            }
            .icon-item{
                padding: 0;
            }
        } 
    }
    .about-us-ss4{
        background: $color-primary-100;
        .title-section{
            text-align: left;
        }
        .content-center-ss {
            flex-direction: row-reverse;
        }
        .box-img{
            display: inline-block;
            width: 100%;
            img{
                display: inline-block;
                width: 100%;
            }
        }
        .box-content{
            display: inline-block;
            width: 100%;
            padding-left: 85px;
        }
    }
    .about-us-ss5{
        .btn-center{
            margin-top: 48px;
        }
    }
}

.btn-center{
    align-items: center;
    justify-content: center;
    display: flex;
}
// <==================================END ABOUT US PAGE=======================================>

// <==================================CUSTOMER-SUCSESS-STORY=======================================>
.big-menu-service{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .box-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 880px;
        margin-bottom: 8px;
        border-bottom: 1px solid $color-black-100;
    }
    .item-service{
        display: inline-block;
        text-align: center;
        p{
            color: $color-black-700;
        }
        &:hover{
            text-decoration: none;
            p{
                color: $color-black-700;
            }
            cursor: pointer;
        }
        &.active{
            .box-img{
                background: $color-primary-500;
                .img-active{
                    display: block;
                }
                .img-none{
                    display: none;
                }
            }
            p{
                color: $color-primary-500;
            }
        }
    }
    .box-img{
        display: inline-block;
        padding: 16px;
        border-radius: 100%;
        background: $color-primary-100;
    }
}
.mini-tab-servives{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 24px auto 32px;
    .box-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 880px;
        .btn-item{
            font-size: 14px;
            color: $color-black-700;
            padding: 8px 28px;
            background: $color-primary-100;
            border-radius: 20px;
            &:hover{
                cursor: pointer;
                text-decoration: none;
            }
            &.active{
                color: $color-primary-500;
            }
        }
    }
}
.customer-sucsess-story-page{
    .img-bg-breadcrumb{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .box-search{
        display: inline-block;
        width: 100%;
        text-align: center;
        .search{
            width: 100%;
            max-width: 680px;
            border: none;
            background: $color-black-100;
            border-radius: 24px;
            font-size: 16px;
            background-image: url(../images/search.svg);
            background-repeat: no-repeat;
            background-position: 16px center;
            background-size: 24px;
            &::placeholder{
               color: $color-black-200 !important;
            }
        }
    }
    .banner-headpage{
        margin: 80px auto 76px;
    }
    .customer-say{
        margin-top: 48px;
        .customer-success-story-item{
            padding-top: 20px;
            border-top: 1px solid $color-black-100;
            margin-bottom: 60px;
        }
    }
}
// <==================================END CUSTOMER-SUCSESS-STORY=======================================>