$color-primary-600:#1F2970 ;
$color-primary-500:#27338C ;
$color-primary-400:#3241B5 ;
$color-primary-100:#EAF0FD ;
$color-primary-50:#F3F7FF ;
$color-secondary-600:#B08C1E ;
$color-secondary-500:#DCAF26 ;
$color-secondary-400:#E3BF51 ;
$color-secondary-100:#F8EFD4 ;
$color-secondary-50:#FBF7E9 ;
$color-black-900:#202124 ;
$color-black-700:#75757A ;
$color-black-200:#9C9CA2 ;
$color-black-100:#EFEFEF ;
$color-white:#FFFFFF ;
$color-success-500:#34C759 ;
$color-success-400:#5DD27A ;
$color-success-200:#AEE9BD ;
$color-success-100:#D6F4DE ;
$color-success-50:#EBF9EE ;
$color-warning-500:#FFCC00 ;
$color-warning-400:#FFD633 ;
$color-warning-200:#FFEB99 ;
$color-warning-100:#FFF5CC ;
$color-warning-50:#FFFAE5 ;
$color-danger-500:#FF3B30 ;
$color-danger-400:#FF6259 ;
$color-danger-200:#FFB1AC ;
$color-danger-100:#FFD8D6 ;
$color-danger-50:#FFEBEA ;
$color-info-500:#007AFF ;
$color-info-400:#0A84FF ;
$color-info-100:#CCE4FF ;
$color-info-50:#EDF6FF ;

@font-face {
    font-family: 'Canela-Bold';
    src: url('../fonts/Canela-Bold.woff2') format('woff2'),
        url('../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Regular';
    src: url('../fonts/Canela-Regular.woff2') format('woff2'),
        url('../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}


h1{
   font-size: 64px;
   line-height: 89.6px; 
   letter-spacing: 1px;
   &.transform-uppercase{
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: 2px;
   }
}

h2{
    font-size: 32px;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h3{
    font-size: 26px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h4{
    font-size: 24px;
 }
 h5{
    font-size: 22px;
 }
 h6{
    font-size: 20px;
 }



 .menu2{
    margin: 0;
    padding: 0;
 }

 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .material-symbols-outlined.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

// =========== scaling-images-size ===========
//  img-scale-1-1
.img-scale-1-1{
    display: inline-block;
    width: 100%;
    a{
        position: relative;
        padding-top: 100%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
// end img-scale-1-1

//  img-scale-4-2
.img-scale-4-2{
    display: inline-block;
    width: 100%;
    a{
        position: relative;
        padding-top: 50%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
// end img-scale-4-2


//  img-scale-16-9
.img-scale-16-9{
    display: inline-block;
    width: 100%;
    a{
        position: relative;
        padding-top: 56%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
// end img-scale-16-9


//  img-scale-3-5
.img-scale-3-5{
    display: inline-block;
    width: 100%;
    a{
        position: relative;
        padding-top: 166%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
// end img-scale-3-5

//  img-scale-3-2
.img-scale-3-2{
    display: inline-block;
    width: 100%;
    a{
        position: relative;
        padding-top: 66%;
        display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
// end img-scale-3-2

// <==================================BUTTON=======================================>
.btn-booking{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 44.8px; 
    letter-spacing: 3px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    background: $color-secondary-500;
    color: $color-white;
 }
 .btn-outline-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44.8px; 
    letter-spacing: 3px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    border: 1px solid $color-primary-500;
    color: $color-primary-500;
 }
 .btn-fill-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 44.8px; 
    letter-spacing: 3px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    background: $color-primary-500;
    color: $color-white;
 }
 .btn-text-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44.8px; 
    letter-spacing: 1.44px;
    &.transform-uppercase{
        letter-spacing: 1.44px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    border-bottom: 1px solid $color-primary-500;
    color: $color-primary-500;
 }
// <==================================END BUTTON=======================================>
.img-banner-mb{
    display: none;
}
.img-banner-pc{
    display: block;
}

// <==================================TITLE SECTION=======================================>
.title-section{
    max-width: 860px;
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    h2{
        font-family: "Canela-Regular", sans-serif;
        color: $color-primary-500;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    p{
        line-height: 25.5px; 
        font-size: 16px
    }
 }
// <==================================END BUTTON=======================================>
//========== about-home =========== //

.about-home{
    position: relative;
    .infor-slide {
        padding: 0 50px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        text-align: left;
        z-index: 2;
       
        h2 {
            font-family: 'Canela-Regular';
           
            color: $color-white;
            text-align: left;
            text-transform: uppercase;
            margin: 0 auto 20px auto;
            font-weight: normal;
            line-height: var(--Font-size-H2-line-height, 44.8px); /* 140% */
            letter-spacing: var(--unit-unit-05, 2px);
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        p {
            color: $color-white;
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 400;
            max-width: 610px;
        }
    }
    .item {
        position: relative;
        padding: 0;
        img {
            width: 100%;
        }
        &::after{
            background: linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
            opacity: 0.6;
            height: 100%;
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            z-index: 0;
        }
       
    }
    .box-content{
        padding: 0 50px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        text-align: left;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .infor-slide{
            width: 50%;
            position: relative;
        }
        .bg-border{
            width: 760px;
            height: 760px;
            border: 3px solid $color-white;
        }
    }
    .btn-text-brand{
        margin-top: 32px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
        text-transform: uppercase;
        border-bottom: 0;
        color: $color-white;
        &::before{
            content: "";
            width: 122px;
            height: 1px;
            display: inline-block;
            z-index: 2;
            position: absolute;
            top: 140px;
            left: 50px;
            background: $color-white;
        }
        &:hover{
            text-decoration: none;
        }
        span{
            margin-left: 10px;
        }
    }
    .owl-nav{
       display: none;
    }
    .owl-dots {
        display: inline-block;
        position: absolute;
        bottom: 90px;
        right: 400px;   
    }
    .owl-dots{
        .owl-dot{
            &.active{
                span{
                    background: $color-primary-500 !important;
                    width: 39px!important;
                    height: 3px!important;
                }
            }
            span{
                border-radius: 0;
                width: 15px!important;
                height: 3px!important;
                background: $color-black-200 !important;
            }
           
        }
       
       
    }
}
//========== END about-home =========== //

//========== branches =========== //
/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 0;
}
.branches{
    background:$color-primary-50;
    padding: 80px 0 0 0;
    position: relative;
    .row{
        margin: 48px 0 58px 0;
    }
   a{
        text-decoration: none;
        border: 1px solid $color-primary-500;
        // display: inline-block;
        // width: 100%;
        color: $color-primary-500;
        margin: 0;
        
        padding: 20px ;
        font-size: 22px;
        line-height: 30.8px;
        display: flex;
         align-items: center;
         justify-content: center;
         span{
            margin-left: 10px;
         }
         &:hover{
            background: $color-primary-500;
            color: $color-white;
            transition: all 0.3s ease-in-out;
         }
   }
    .branches-item{
        text-align: center;
        margin: 0 0 60px 0;
        p{
            font-size: 62px;
            font-weight: 500;
            color: $color-secondary-500;
            margin-bottom: 9px;
            line-height: 73px;

        }
        h5{
            color: $color-black-900;
            font-weight: 400;
            font-size: 16px;
        }
    }
    .bg-branches{
        width: 100%;
    }
}

#popup-branches{
    .tab-content{
        .fade:not(.show) {
            opacity: 1;
        }
    }
   
    .scrollbar{
        background: transparent;
    }
    .nav-tabs{
        .nav-link{
          
            padding: 17px 0;
            color: $color-black-900;
            line-height: var(--Font-size-H5-line-height, 33.6px);
            font-size: 24px;
            border-radius: 0;
            border: 0;
            border-bottom: 2px solid transparent;
            background: transparent;
        }
    }
    button:focus{
        outline: none;
    }
    .nav-tabs>li{
        margin-right: 50px;
    }
    .nav>li>a:focus, .nav>li>a:hover{
        background-color: transparent;
    }
    .nav-tabs{
        .nav-link.active{
            border-bottom: 2px solid $color-primary-500;
            border-top:0;
            border-right:0;
            border-left:0;
            color: $color-primary-500;
        }
    }
   
    .nav-tabs {
        height: 100%;
        margin-bottom: 1px;
        padding: 0 30px;
        border-bottom: 0;
        background: #FFF;
        box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0.00), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.10);
    }
    .modal-header{
        padding: 0 ;
        border-bottom: 0;
        // height: 100%;
    }
    .modal-content{
        border-radius: 0;
        height: 100%;
    }
    .modal-dialog{
        width: 100%;
        height: 100%;
        float: right;
        margin-top: 0;
        max-width: 1300px;
        position: fixed;
        right: 0;
    }
    .close {
        cursor: pointer;
        top: 14px;
        position: absolute;
        right: 20px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        color: $color-black-700;
        filter: none;
        opacity: 1;
        background: transparent;
    }
    .modal-body{
        background: $color-primary-50;
        padding: 24px;
        height: 100%;
    }
    .box-branches{
        background: $color-white;
        margin-bottom: 30px;
        .item-branches{
            padding: 20px 20px 30px 20px;
            border-bottom: 1px solid $color-black-200;
            span{
                font-weight: 700;
                line-height: var(--Font-size-Sub-title-Line-Height, 22.4px); /* 140% */
                text-transform: uppercase;
                font-size: 16px;
                color: $color-primary-500;
                margin-bottom: 8px;
            }
            .address{
                line-height: var(--Font-size-H5-line-height, 30.6px);
                font-size: 20px;
                margin-bottom: 18px;
            }
            .detail {
                position: relative;
                padding-left: 26px;
                margin-bottom: 8px;
                img {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 22px;
                    height: 22px;
                    transform: translateY(-50%);
                    margin-right: 8px;
                }
                p{
                    margin-bottom: 0;
                    font-size: 22px;
                    line-height: var(--Font-size-H6-line-height, 30.8px); /* 140% */
                }
                .telephone-cn{
                    color: $color-secondary-500;
                }
            }
        }
        .btn-branches{
            display: flex;
            align-items: center;
            span{
                margin-left: 6px;
            }
            .material-symbols-outlined{
                font-size: 22px;
            }
            .material-symbols-outlined {
                font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
            }
            a{
                padding: 8px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                line-height: var(--Font-size-Body-Regular-Line-height, 25.2px);
                height: 55px;
                width: 50%;
                
                color: $color-primary-500;
                &:first-child{
                    border-right: 1px solid $color-black-200;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    
}

//========== END branches =========== //breadcrumb

//========== breadcrumb =========== //

.breadcrumb-box{
	display: inline-block;
    width: 100%;
   
	// border-top: 1px solid $border;
	.breadcrumb-icon-home{
		img{
            height: 14px;
            
            width: 14px;
		}
	}
	nav{
		ol{
			padding-left: 0;
			padding-bottom: 0;
			margin: 0;
			background: none;
			display: flex;
    		align-items: center;
			.breadcrumb-item{
				color: $color-black-700;
				// display: initial;
				a{
					line-height: var(--Font-size-Label-small-Regular-Line-HeightHeight, 16.8px);
                    font-size: 12px;
				}
			}	
		}
	}
	.breadcrumb-item+.breadcrumb-item {
		display: flex;
		padding-left: 0.5rem;
		font-size: 13px;
		align-items: center;
		&::before {
            content: "\e5e1";
            padding: 0 8px;
			color: $color-black-700;
			font-size: 8px;
			font-family: 'Material Symbols Outlined';
			
		}
	}
	.breadcrumb-item+.breadcrumb-item a{
		color: $color-black-700;
        &:hover{
            text-decoration: none;
        }
	}
	
}

//========== END breadcrumb =========== //

//========== categories =========== //

.categories{
    height: 100%;
    background: $color-white;
    padding: 16px;
    box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0.00), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.10);
    h5{
        line-height: var(--Font-size-H5-line-height, 33.6px);
        margin-bottom: 20px;
        font-weight: 400;
        margin-top: 0;
    }
    .item-categories{
        border-bottom: 1px $color-black-100 solid;
		&:last-child{
			border-bottom: 0;
		}
    }
    .accordion {
        background-color: transparent;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
       
        .img-no-active{
            display: block;
        }
        .img-active{
            display: none;
        }
        &.active{
            .img-no-active{
                display: none;
            }
            .img-active{
                display: block;
            }
			.sub-cate{
				display: block;
                
			}
			h6{
				color: $color-primary-500;
                font-weight: 700;
				&::after{
					content: "\e5ce";
				}
			}
		}
      }
      
      .panel {
        margin-bottom: 6px;
        padding-left: 35px;
        background-color: white;
        display: none;
        overflow: hidden;
        box-shadow: none;
      }
    
    
	h6{
			
			
        &::after{
            content: "\e5cf";
            font-size: 20px;
            font-weight: 400;
            font-family: 'Material Symbols Outlined';
            color: #5E635C;
        }
        
    }
   
    .detail{
        display: flex;
        align-items: center;
        padding: 12px 0;
        img{
           
            width: 48px;
            height: 48px;
           
            margin-right: 8px;
        }
        h6{
            align-items: center;
            display: flex;
            font-size: 16px;
            font-weight: 400;
            line-height: var(--Font-size-Sub-title-Line-Height, 22.4px);
            width: 100%;
            justify-content: space-between;
        }
    }

    .sub-cate{
        
        margin-bottom: 0;
        .input-custom {
            display: none;
        }
        .label-custom:before {
            content: "\e5ca";
            font-family: 'Material Symbols Outlined';
            font-size: 16px;
            color: transparent;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 16px;
            height: 16px;
            opacity: 1;
            border: 1px solid $color-black-200;
            box-sizing: border-box;
            border-radius: 1px;
            left: 0;
            top: 55%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .input-custom:checked + .label-custom::before {
            color: $color-primary-500;
            background-color: transparent;
            border: 1px solid $color-primary-500;
        }
        .label-custom {
            color: $color-black-900;
            line-height: 24px;
            display: flex;
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            align-items: center;
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 400;
        }
        .input-custom:checked + .label-custom {
            color: $color-primary-500 !important;
            
        }
        li{
            border: 0;
            border-radius: 0;
            padding: 0;
        }
        .custom-checkbox {
            margin: 0 0 10px 0;
            display: inline-block;
            width: 100%;
        }
    }
}


//========== END categories =========== //


//========== cookies =========== //
.cookies{
    background: $color-primary-500;
    padding: 20px 0;
    position: relative;
    .box-cookies{
        display: flex;
        align-items: center;
    }
    h6{
        padding-right: 30px;
        font-weight: 400;
        color: $color-white;
        span{
            a{
                color: $color-secondary-500;
             text-decoration: underline;
            }
        }
    }
    .material-symbols-outlined{
        color: $color-white;
        font-size: 38px;
        position: absolute;
        right: 30px;
        &:hover{
            cursor: pointer;
        }
    }
    .btn-booking{
        &:hover{
            color: $color-white;
            text-decoration: none;
        }
    }
}

//========== END cookies =========== //

//========== customer-success-story-item =========== //
.customer-success-story-item{
    span{
        color: $color-black-700;
        margin-bottom: 4px;
        font-size: 14px;
        display: block;
    }
    h3{
        margin: 0;
        letter-spacing: inherit;
        a{
            text-decoration: none;
            color: $color-black-900;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
            font-weight: 700;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
         }
    }
   
    
    img{
        width: 100%;
        height: auto;
    }
}
#popup-customer-success-story{
    button:focus{
        outline:none;
    }
   
    .owl-prev{
        left: -60px;
    }
    .owl-next{
        right: -60px;
    }
    .owl-prev::before {
        background-image: none;
        width: inherit;
        height: inherit;
        font-size: 48px;
        font-weight: 300;
        content: "\e5e0";
       
        display: block;
        color: $color-black-200;
        font-family: 'Material Symbols Outlined';
    }
    .owl-next::before {
        background-image: none;
        width: inherit;
        height: inherit;
        font-size: 48px;
        font-weight: 300;
        content: "\e5e1";
      
        display: block;
        color: $color-black-200;
        font-family: 'Material Symbols Outlined';
    }
    .owl-dots{
        display: none;
    }
    .content{
        background: $color-black-900;
        opacity: .9;
        padding: 20px;
        h2{
            font-family: 'Canela-Regular';
            margin-bottom: 10px;
            color: $color-secondary-500;
        }
        p{
            margin-bottom: 0;
            color: $color-white;
            font-size: 18px;
            line-height: 25.2px;
        }
    }
    .modal-header {
        padding: 0;
        border-bottom: 0;
    }
    .modal-content{
        box-shadow: none;
    }
    .modal-content{
        background-color: transparent;
        border: 0;
    }
    .modal-dialog{
        max-width: 1200px;
    }
    .close{
        color: $color-white;
        text-shadow: none;
        opacity: 1;
        background: $color-secondary-500;
        border-radius: 50%;
        padding: 6px;
        position: absolute;
        right: 45px;
        z-index: 23;
        top: 45px;
        font-size: 32px;
        cursor: pointer;
    
    }
    .owl-item{
        width: 100%;
    }
}
//========== END customer-success-story-item =========== //
button:focus{
    outline: none;
}
//========== experts-item =========== //
    .experts-item{
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        .img-scale-1-1{
            display: inline-block;
            width: 100%;
            float: left;
        }
        .info{
            text-align: center;
            padding: 20px;
            float: left;
            width: 100%;
            h2{
               margin: 0;
                font-size: 22px;
                line-height: 32px;
                a{
                    color: $color-black-900;
                    &:hover{
                        text-decoration: none;
                        color: $color-primary-500;
                    }
                }
            }
            p{
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
                color: $color-black-200;
                margin-bottom: 0;
            }
        }
    }
//========== END experts-item =========== //

//========== floating-action-button =========== //

.floating-action-button{
    display: block;
    top: 300px;
    position: fixed;
    left: 0;
    z-index: 10;
    background: $color-primary-500;
    border-radius: 1px;
    
    width: fit-content;
    display: inline-block;
    text-align: center;
    .item-floating{
        border-bottom: 0.5px solid $color-primary-400;
        padding: 10px 0;
        &:last-child{
            border-bottom: 0;
        }
        a{
            text-align: center;
            padding: 0 10px;
            display: block;
            width: 100%;
            
           
            img{
                margin-bottom: 2px;
            }
            p{
                line-height: 10px;
                color: $color-white;
                font-size: 10px;
                margin-top: 6px;
                margin-bottom: 0;
    
            }
        }
    }
   
}

//========== END floating-action-button =========== //

//==========  form-appointment =========== //
.form-appointment{
    background: $color-primary-500;
    padding: 30px 40px;
    .select-selected:after{
        top: 10px;
    }
    .select-items{
        max-height: 300px;
        overflow-y: auto;
        top: 50px;
        width: 92%;
        left: 15px;
    }
    .waitng-send{
        &::before{
            content: "\e9d0";
            color: $color-white;
			font-size: 24px;
            margin-right: 10px;
			font-family: 'Material Symbols Outlined';
            font-weight: 400;
        }
    }
    .success-send{
        background: $color-success-500;
        &::before{
            content: "\e2e6";
            color: $color-white;
			font-size: 24px;
            margin-right: 10px;
			font-family: 'Material Symbols Outlined';
            font-weight: 400;
        }
    }
    .note{
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: $color-white;
       
        margin-top: 32px;
        span{
            color: $color-secondary-500;
            font-weight: 700;
        }
    }
    .btn-booking{
        width: 100%;
        margin-top: 14px;
        &:hover{
            text-decoration: none;
            color: $color-white;

        }
    }
    h3{
        text-transform: uppercase;
        color: $color-secondary-500;
        font-family: 'Canela-Regular';
        font-weight: 400;
        margin: 0 0 24px 0;
        line-height: 39.2px;
    }
    
    .status-booking{
        margin-bottom: 24px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        span{
          color: white;
          font-size: 14px;
          line-height: 20px;
        }
        .iden-item{
          display: flex;
          align-items: center;
          &::before{
            content: "";
            display: inline-block;
            height: 12px;
            width: 20px;
            margin-right: 10px;
            background: #fff;
            border-radius: 2px;
          }
        }
        .iden-action{
          &::before{
            background: $color-secondary-500;
          }
        }
        .iden-dissible{
          &::before{
            background: $color-primary-100;
          }
        }
      }
  
      .form-group {
        margin-bottom: 0;
    }
  

}

//==========  END form-appointment =========== //

/* ------------------- Selecbox -------------------*/
.form-control:focus{
    box-shadow: none;
}
    .form-group .form-control, .form-group .custome-select select{
        margin-bottom: 10px;
        border: 0;
        font-size: 16px;
        padding: 15px 22px;
        height: 55px;
       
        color: $color-black-900;
        display: inline-block;
        width: 100%;
        border-radius: 1px;
    }
input{
    &::placeholder{
        color: $color-black-900 !important;
    }
}
.custom-select {
    margin-bottom: 20px;
  border: 0;
  font-size: 16px;
  padding: 15px 22px;
  height: 55px;
  border-radius: 1px;
  color: $color-black-900;
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  text-align: left;
}
textarea.form-control{
    height: 131px !important;
    margin-bottom: 5px !important;
    &::placeholder{
        color: $color-black-900;
    }
}
.form-control, .custom-select {
    height: 55px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 1px;
    border: none;
    padding: 15px 22px;
    color: $color-black-900;
}
.custom-select select {
height: 100%;
width: 100%;
background: transparent;
border: transparent;
color: $color-black-900;
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e313";
  font-family: 'Material Symbols Outlined';
  color: $color-black-700;
  top: 16px;
  right: 54px;
  font-size: 24px;
  font-weight: 400;
}
.form-group {
margin-bottom: 0;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: $color-black-900;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
  // padding-top: 3px;
  // padding-left: 5px;
}
.select-selected.active{
    color: $color-black-900 !important;
  font-size: 16px !important;
}
.select-items div {
    color: $color-black-900;
  padding: 10px ;
}
/* Style items (options): */
.select-items {
  padding: 0 0;
  overflow: hidden;
  width: 90%;
  position: absolute;
  background-color: white;
  top: 30px;
  left: 20px;
  right: 0;
  z-index: 99;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.form-control{
    color: $color-black-900;
    font-size: 16px;
}
.select-items div:hover,
.same-as-selected {
  background-color: #f4f5f9;
}

.from-group{
label{
  font-weight: 600;
  display: inline-block;
  width: 100%;
  color: #fff;
  margin-bottom: 8px;
  font-size: 16px;
}

}

//==========  form-apply-CV =========== //

.form-apply-CV{
    background: $color-primary-500;
    padding: 30px 40px;
    .waitng-send{
        &::before{
            content: "\e9d0";
            color: $color-white;
			font-size: 24px;
            margin-right: 10px;
			font-family: 'Material Symbols Outlined';
            font-weight: 400;
        }
    }
    .success-send{
        background: $color-success-500;
        &::before{
            content: "\e2e6";
            color: $color-white;
			font-size: 24px;
            margin-right: 10px;
			font-family: 'Material Symbols Outlined';
            font-weight: 400;
        }
    }
    .note{
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: $color-white;
       
        margin-top: 32px;
        span{
            color: $color-secondary-500;
            font-weight: 700;
        }
    }
    .btn-booking{
        width: 100%;
        margin-top: 14px;
        &:hover{
            text-decoration: none;
            color: $color-white;

        }
    }
    h3{
        line-height: 39.2px;
        text-transform: uppercase;
        color: $color-secondary-500;
        font-family: 'Canela-Regular';
        font-weight: 400;
        margin: 0 0 24px 0;
    }
    
    .status-booking{
        margin-bottom: 24px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        span{
          color: white;
          font-size: 14px;
          line-height: 20px;
        }
        .iden-item{
          display: flex;
          align-items: center;
          &::before{
            content: "";
            display: inline-block;
            height: 12px;
            width: 20px;
            margin-right: 10px;
            background: #fff;
            border-radius: 2px;
          }
        }
        .iden-action{
          &::before{
            background: $color-secondary-500;
          }
        }
        .iden-dissible{
          &::before{
            background: $color-primary-100;
          }
        }
      }
  
      .form-group {
        margin-bottom: 0;
    }
  /* Hide input*/
.inputfile {
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label * {
	pointer-events: none;
}
label{
    
    &::before{
        display: inline-block;
        content: "";
        height: 28px;
        width: 40px;
        background-image: url(../images/folder-attachment.svg);
        background-repeat: no-repeat;
        margin-right: 8px;
}
}
.inputfile + label {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    border: 0;
    padding: 15px 22px;
    height: 55px;
    width: 100%;
    border-radius: 1px;
    background: white;
    span{
        font-size: 16px;
        color: $color-black-900;
        font-weight: 400;
        display: flex;
        align-items: center;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      
    }
    
   
}


}
//==========  END form-apply-CV =========== //

//==========  hero-slider =========== //
.hero-slider{
    button:focus{
        outline: none;
    }
    .owl-dots {
       
        display: inline-block;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }
    .owl-dots{
        .owl-dot{
            &.active{
                span{
                    background: $color-primary-500 !important;
                    width: 39px!important;
                    height: 3px!important;
                }
            }
            span{
                border-radius: 0;
                width: 15px!important;
                height: 3px!important;
                background: $color-black-200 !important;
            }
           
        }
       
       
    }
   
    .owl-prev {
        position: absolute;
        left: 5%;
        top: 50%;
    }
    .owl-next {
        position: absolute;
        right: 5%;
        top: 50%;
    }
    .owl-nav {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 40%;
    }
    .owl-nav .owl-prev{
        &:hover{
            background: transparent !important;
            &::before{
                color: $color-primary-500;
            }
        }
    }
    .owl-nav .owl-next{
        &:hover{
            background: transparent !important;
            &::before{
                color: $color-primary-500;
            }
        }
    }
    .owl-next, .owl-prev{
        span{
            display: none;
        }
    }
    .owl-next::before {
        content: "";
        // font-family: 'Material Symbols Outlined';
        // font-weight: 400;
        display: block;
        // font-size: 40px;
        color: #777;
        height: 75px;
        width: 75px;
			background-image: url(../images/ic-next.svg);
			background-repeat: no-repeat;
    }
    .owl-prev::before {
        height: 75px;
        width: 75px;
			background-image: url(../images/ic-prev.svg);
			background-repeat: no-repeat;
        content: "";
        // font-family: 'Material Symbols Outlined';
        font-weight: 400;
        display: block;
        // font-size: 40px;
        color: #777;
    }
    .item{
        img{
            width: 100%;
        }
    }
}
//==========  END hero-slider =========== //

//==========  blogs-item =========== //
.blogs-item-bg-white{
    background: $color-white;
    display: inline-block;
    margin-bottom: 60px;
    width: 100%;
   box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0.00), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.10);
   .img-scale-3-2 {
    float: left;
   }
   .info-blog{
    float: left;

    padding: 20px ;
    h2{
       margin: 0;
       font-size: 26px;
       line-height:  36.4px;
       font-weight: 700;
        a{
            
            display: -webkit-box;
            // -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: $color-black-900;
            text-transform: uppercase;
            overflow: hidden;
            &:hover{
                text-decoration: none;
            }
          
        }
       }
    p{
        margin-top: 12px;
        line-height: 25.2px;
        font-size: 18px;
        margin-bottom: 0;
        color: $color-black-700;
        display: -webkit-box;
        // -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
   }
}

.blogs-item-small-bg-white{
    background: $color-white;
    margin-bottom: 60px;
    display: inline-block;
    width: 100%;
   box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0.00), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.10);
   .img-scale-3-2 {
    float: left;
   }
   .info-blog{
    float: left;
   
    padding: 20px ;
    h2{
       margin: 0;
       font-size: 18px;
       line-height:  28px;
       font-weight: 700;
        a{
            
            display: -webkit-box;
            // -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: $color-black-900;
            text-transform: uppercase;
            overflow: hidden;
            &:hover{
                text-decoration: none;
            }
          
        }
       }

   }
}

.blogs-item-no-bg{
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
   .img-scale-3-2 {
    float: left;
   }
   .info-blog{
    float: left;
    padding: 20px  20px 0 20px;
    h2{
       margin: 0;
       font-size: 18px;
       font-weight: 400;
       line-height:  25.2px;
       font-family: "Roboto", sans-serif;
       letter-spacing: initial;
        a{
           
            display: -webkit-box;
            // -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: $color-black-900;
            overflow: hidden;
            &:hover{
                text-decoration: none;
            }
          
        }
       }
  
   }
}
//==========  END blogs-item =========== //

//==========  services-item =========== //
.services-item{
   display: inline-block;
   width: 100%;
    .img-scale-16-9{
        float: left;
        width: 100%;
    }
    .info-blog{
        float: left;
        width: 100%;
        h2{
            margin: 16px 0 0 0;
            letter-spacing: inherit;
            font-size: 16px;
            line-height: 12.8px;
            a{
               
                color: $color-black-900;
                font-weight: 400;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
   
}
//==========  END =========== //
a{
    &:hover{
        text-decoration: none;
        transition: all .3s ease-in-out;
        color: $color-primary-500;
    }
}
//==========  news-event-flex =========== //
.news-event-flex{
    display: flex;
    background: $color-black-100;
    width: 100%;
    position: relative;
    .img-scale-1-1{
        width: 60%;
        height: 100%;
    }
    .btn-text-brand{
        text-transform: inherit;
        font-weight: 400;
        font-size: 18px;

    }
    .info-blog{
        padding: 30px;
        width: 40%;
        h2{
            font-size: 26px;
            line-height: 36px;
            margin: 0 0 16px 0;
            a{
                color: $color-black-900;
            }
        }
        p{
            line-height: 24px;
            font-size: 16px;
            color: $color-black-700;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .btn-text-brand{
            position: absolute;
            bottom: 30px;
        }
    }
}

.news-event-no-flex{
    background: $color-black-100;
    display: inline-block;
    width: 100%;
    position: relative;
    height: 100%;
    .img-scale-16-9{
      float: left;
    }
    .btn-text-brand{
        text-transform: inherit;
        font-weight: 400;
        font-size: 18px;

    }
    .info-blog{
       float: left;
       
        padding: 30px;
        h2{
            font-size: 22px;
            line-height: 36px;
            margin: 0 0 16px 0;
            a{
                color: $color-black-900;
            }
        }
     
        .btn-text-brand{
            position: absolute;
            bottom: 30px;
        }
    }
}