@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.menu2 {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.img-scale-1-1 {
  display: inline-block;
  width: 100%;
}
.img-scale-1-1 a {
  position: relative;
  padding-top: 100%;
  display: block;
}
.img-scale-1-1 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-4-2 {
  display: inline-block;
  width: 100%;
}
.img-scale-4-2 a {
  position: relative;
  padding-top: 50%;
  display: block;
}
.img-scale-4-2 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-16-9 {
  display: inline-block;
  width: 100%;
}
.img-scale-16-9 a {
  position: relative;
  padding-top: 56%;
  display: block;
}
.img-scale-16-9 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-3-5 {
  display: inline-block;
  width: 100%;
}
.img-scale-3-5 a {
  position: relative;
  padding-top: 166%;
  display: block;
}
.img-scale-3-5 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-3-2 {
  display: inline-block;
  width: 100%;
}
.img-scale-3-2 a {
  position: relative;
  padding-top: 66%;
  display: block;
}
.img-scale-3-2 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
.btn-booking.transform-uppercase {
  letter-spacing: 3px;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}

.btn-fill-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #27338C;
  color: #FFFFFF;
}
.btn-fill-action.transform-uppercase {
  letter-spacing: 3px;
}

.btn-text-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #27338C;
  color: #27338C;
}
.btn-text-brand.transform-uppercase {
  letter-spacing: 1.44px;
}

.img-banner-mb {
  display: none;
}

.img-banner-pc {
  display: block;
}

.title-section {
  max-width: 860px;
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
}
.title-section h2 {
  font-family: "Canela-Regular", sans-serif;
  color: #27338C;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title-section p {
  line-height: 25.5px;
  font-size: 16px;
}

.about-home {
  position: relative;
}
.about-home .infor-slide {
  padding: 0 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: left;
  z-index: 2;
}
.about-home .infor-slide h2 {
  font-family: "Canela-Regular";
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  font-weight: normal;
  line-height: var(--Font-size-H2-line-height, 44.8px); /* 140% */
  letter-spacing: var(--unit-unit-05, 2px);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.about-home .infor-slide p {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  max-width: 610px;
}
.about-home .item {
  position: relative;
  padding: 0;
}
.about-home .item img {
  width: 100%;
}
.about-home .item::after {
  background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0.6;
  height: 100%;
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}
.about-home .box-content {
  padding: 0 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: left;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-home .box-content .infor-slide {
  width: 50%;
  position: relative;
}
.about-home .box-content .bg-border {
  width: 760px;
  height: 760px;
  border: 3px solid #FFFFFF;
}
.about-home .btn-text-brand {
  margin-top: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
  border-bottom: 0;
  color: #FFFFFF;
}
.about-home .btn-text-brand::before {
  content: "";
  width: 122px;
  height: 1px;
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: 140px;
  left: 50px;
  background: #FFFFFF;
}
.about-home .btn-text-brand:hover {
  text-decoration: none;
}
.about-home .btn-text-brand span {
  margin-left: 10px;
}
.about-home .owl-nav {
  display: none;
}
.about-home .owl-dots {
  display: inline-block;
  position: absolute;
  bottom: 90px;
  right: 400px;
}
.about-home .owl-dots .owl-dot.active span {
  background: #27338C !important;
  width: 39px !important;
  height: 3px !important;
}
.about-home .owl-dots .owl-dot span {
  border-radius: 0;
  width: 15px !important;
  height: 3px !important;
  background: #9C9CA2 !important;
}

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: sticky !important;
  z-index: 1;
  top: 0;
}

.branches {
  background: #F3F7FF;
  padding: 80px 0 0 0;
  position: relative;
}
.branches .row {
  margin: 48px 0 58px 0;
}
.branches a {
  text-decoration: none;
  border: 1px solid #27338C;
  color: #27338C;
  margin: 0;
  padding: 20px;
  font-size: 22px;
  line-height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branches a span {
  margin-left: 10px;
}
.branches a:hover {
  background: #27338C;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.branches .branches-item {
  text-align: center;
  margin: 0 0 60px 0;
}
.branches .branches-item p {
  font-size: 62px;
  font-weight: 500;
  color: #DCAF26;
  margin-bottom: 9px;
  line-height: 73px;
}
.branches .branches-item h5 {
  color: #202124;
  font-weight: 400;
  font-size: 16px;
}
.branches .bg-branches {
  width: 100%;
}

#popup-branches .tab-content .fade:not(.show) {
  opacity: 1;
}
#popup-branches .scrollbar {
  background: transparent;
}
#popup-branches .nav-tabs .nav-link {
  padding: 17px 0;
  color: #202124;
  line-height: var(--Font-size-H5-line-height, 33.6px);
  font-size: 24px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
#popup-branches button:focus {
  outline: none;
}
#popup-branches .nav-tabs > li {
  margin-right: 50px;
}
#popup-branches .nav > li > a:focus, #popup-branches .nav > li > a:hover {
  background-color: transparent;
}
#popup-branches .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}
#popup-branches .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
#popup-branches .modal-header {
  padding: 0;
  border-bottom: 0;
}
#popup-branches .modal-content {
  border-radius: 0;
  height: 100%;
}
#popup-branches .modal-dialog {
  width: 100%;
  height: 100%;
  float: right;
  margin-top: 0;
  max-width: 1300px;
  position: fixed;
  right: 0;
}
#popup-branches .close {
  cursor: pointer;
  top: 14px;
  position: absolute;
  right: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #75757A;
  filter: none;
  opacity: 1;
  background: transparent;
}
#popup-branches .modal-body {
  background: #F3F7FF;
  padding: 24px;
  height: 100%;
}
#popup-branches .box-branches {
  background: #FFFFFF;
  margin-bottom: 30px;
}
#popup-branches .box-branches .item-branches {
  padding: 20px 20px 30px 20px;
  border-bottom: 1px solid #9C9CA2;
}
#popup-branches .box-branches .item-branches span {
  font-weight: 700;
  line-height: var(--Font-size-Sub-title-Line-Height, 22.4px); /* 140% */
  text-transform: uppercase;
  font-size: 16px;
  color: #27338C;
  margin-bottom: 8px;
}
#popup-branches .box-branches .item-branches .address {
  line-height: var(--Font-size-H5-line-height, 30.6px);
  font-size: 20px;
  margin-bottom: 18px;
}
#popup-branches .box-branches .item-branches .detail {
  position: relative;
  padding-left: 26px;
  margin-bottom: 8px;
}
#popup-branches .box-branches .item-branches .detail img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  margin-right: 8px;
}
#popup-branches .box-branches .item-branches .detail p {
  margin-bottom: 0;
  font-size: 22px;
  line-height: var(--Font-size-H6-line-height, 30.8px); /* 140% */
}
#popup-branches .box-branches .item-branches .detail .telephone-cn {
  color: #DCAF26;
}
#popup-branches .box-branches .btn-branches {
  display: flex;
  align-items: center;
}
#popup-branches .box-branches .btn-branches span {
  margin-left: 6px;
}
#popup-branches .box-branches .btn-branches .material-symbols-outlined {
  font-size: 22px;
}
#popup-branches .box-branches .btn-branches .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
#popup-branches .box-branches .btn-branches a {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: var(--Font-size-Body-Regular-Line-height, 25.2px);
  height: 55px;
  width: 50%;
  color: #27338C;
}
#popup-branches .box-branches .btn-branches a:first-child {
  border-right: 1px solid #9C9CA2;
}
#popup-branches .box-branches .btn-branches a:hover {
  text-decoration: none;
}

.breadcrumb-box {
  display: inline-block;
  width: 100%;
}
.breadcrumb-box .breadcrumb-icon-home img {
  height: 14px;
  width: 14px;
}
.breadcrumb-box nav ol {
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  background: none;
  display: flex;
  align-items: center;
}
.breadcrumb-box nav ol .breadcrumb-item {
  color: #75757A;
}
.breadcrumb-box nav ol .breadcrumb-item a {
  line-height: var(--Font-size-Label-small-Regular-Line-HeightHeight, 16.8px);
  font-size: 12px;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item {
  display: flex;
  padding-left: 0.5rem;
  font-size: 13px;
  align-items: center;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item::before {
  content: "\e5e1";
  padding: 0 8px;
  color: #75757A;
  font-size: 8px;
  font-family: "Material Symbols Outlined";
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item a {
  color: #75757A;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item a:hover {
  text-decoration: none;
}

.categories {
  height: 100%;
  background: #FFFFFF;
  padding: 16px;
  box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.1);
}
.categories h5 {
  line-height: var(--Font-size-H5-line-height, 33.6px);
  margin-bottom: 20px;
  font-weight: 400;
  margin-top: 0;
}
.categories .item-categories {
  border-bottom: 1px #EFEFEF solid;
}
.categories .item-categories:last-child {
  border-bottom: 0;
}
.categories .accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.categories .accordion .img-no-active {
  display: block;
}
.categories .accordion .img-active {
  display: none;
}
.categories .accordion.active .img-no-active {
  display: none;
}
.categories .accordion.active .img-active {
  display: block;
}
.categories .accordion.active .sub-cate {
  display: block;
}
.categories .accordion.active h6 {
  color: #27338C;
  font-weight: 700;
}
.categories .accordion.active h6::after {
  content: "\e5ce";
}
.categories .panel {
  margin-bottom: 6px;
  padding-left: 35px;
  background-color: white;
  display: none;
  overflow: hidden;
  box-shadow: none;
}
.categories h6::after {
  content: "\e5cf";
  font-size: 20px;
  font-weight: 400;
  font-family: "Material Symbols Outlined";
  color: #5E635C;
}
.categories .detail {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.categories .detail img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.categories .detail h6 {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--Font-size-Sub-title-Line-Height, 22.4px);
  width: 100%;
  justify-content: space-between;
}
.categories .sub-cate {
  margin-bottom: 0;
}
.categories .sub-cate .input-custom {
  display: none;
}
.categories .sub-cate .label-custom:before {
  content: "\e5ca";
  font-family: "Material Symbols Outlined";
  font-size: 16px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: 1px solid #9C9CA2;
  box-sizing: border-box;
  border-radius: 1px;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
}
.categories .sub-cate .input-custom:checked + .label-custom::before {
  color: #27338C;
  background-color: transparent;
  border: 1px solid #27338C;
}
.categories .sub-cate .label-custom {
  color: #202124;
  line-height: 24px;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.categories .sub-cate .input-custom:checked + .label-custom {
  color: #27338C !important;
}
.categories .sub-cate li {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.categories .sub-cate .custom-checkbox {
  margin: 0 0 10px 0;
  display: inline-block;
  width: 100%;
}

.cookies {
  background: #27338C;
  padding: 20px 0;
  position: relative;
}
.cookies .box-cookies {
  display: flex;
  align-items: center;
}
.cookies h6 {
  padding-right: 30px;
  font-weight: 400;
  color: #FFFFFF;
}
.cookies h6 span a {
  color: #DCAF26;
  text-decoration: underline;
}
.cookies .material-symbols-outlined {
  color: #FFFFFF;
  font-size: 38px;
  position: absolute;
  right: 30px;
}
.cookies .material-symbols-outlined:hover {
  cursor: pointer;
}
.cookies .btn-booking:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.customer-success-story-item span {
  color: #75757A;
  margin-bottom: 4px;
  font-size: 14px;
  display: block;
}
.customer-success-story-item h3 {
  margin: 0;
  letter-spacing: inherit;
}
.customer-success-story-item h3 a {
  text-decoration: none;
  color: #202124;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.customer-success-story-item img {
  width: 100%;
  height: auto;
}

#popup-customer-success-story button:focus {
  outline: none;
}
#popup-customer-success-story .owl-prev {
  left: -60px;
}
#popup-customer-success-story .owl-next {
  right: -60px;
}
#popup-customer-success-story .owl-prev::before {
  background-image: none;
  width: inherit;
  height: inherit;
  font-size: 48px;
  font-weight: 300;
  content: "\e5e0";
  display: block;
  color: #9C9CA2;
  font-family: "Material Symbols Outlined";
}
#popup-customer-success-story .owl-next::before {
  background-image: none;
  width: inherit;
  height: inherit;
  font-size: 48px;
  font-weight: 300;
  content: "\e5e1";
  display: block;
  color: #9C9CA2;
  font-family: "Material Symbols Outlined";
}
#popup-customer-success-story .owl-dots {
  display: none;
}
#popup-customer-success-story .content {
  background: #202124;
  opacity: 0.9;
  padding: 20px;
}
#popup-customer-success-story .content h2 {
  font-family: "Canela-Regular";
  margin-bottom: 10px;
  color: #DCAF26;
}
#popup-customer-success-story .content p {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25.2px;
}
#popup-customer-success-story .modal-header {
  padding: 0;
  border-bottom: 0;
}
#popup-customer-success-story .modal-content {
  box-shadow: none;
}
#popup-customer-success-story .modal-content {
  background-color: transparent;
  border: 0;
}
#popup-customer-success-story .modal-dialog {
  max-width: 1200px;
}
#popup-customer-success-story .close {
  color: #FFFFFF;
  text-shadow: none;
  opacity: 1;
  background: #DCAF26;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  right: 45px;
  z-index: 23;
  top: 45px;
  font-size: 32px;
  cursor: pointer;
}
#popup-customer-success-story .owl-item {
  width: 100%;
}

button:focus {
  outline: none;
}

.experts-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.experts-item .img-scale-1-1 {
  display: inline-block;
  width: 100%;
  float: left;
}
.experts-item .info {
  text-align: center;
  padding: 20px;
  float: left;
  width: 100%;
}
.experts-item .info h2 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.experts-item .info h2 a {
  color: #202124;
}
.experts-item .info h2 a:hover {
  text-decoration: none;
  color: #27338C;
}
.experts-item .info p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #9C9CA2;
  margin-bottom: 0;
}

.floating-action-button {
  display: block;
  top: 300px;
  position: fixed;
  left: 0;
  z-index: 10;
  background: #27338C;
  border-radius: 1px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
}
.floating-action-button .item-floating {
  border-bottom: 0.5px solid #3241B5;
  padding: 10px 0;
}
.floating-action-button .item-floating:last-child {
  border-bottom: 0;
}
.floating-action-button .item-floating a {
  text-align: center;
  padding: 0 10px;
  display: block;
  width: 100%;
}
.floating-action-button .item-floating a img {
  margin-bottom: 2px;
}
.floating-action-button .item-floating a p {
  line-height: 10px;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 6px;
  margin-bottom: 0;
}

.form-appointment {
  background: #27338C;
  padding: 30px 40px;
}
.form-appointment .select-selected:after {
  top: 10px;
}
.form-appointment .select-items {
  max-height: 300px;
  overflow-y: auto;
  top: 50px;
  width: 92%;
  left: 15px;
}
.form-appointment .waitng-send::before {
  content: "\e9d0";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-appointment .success-send {
  background: #34C759;
}
.form-appointment .success-send::before {
  content: "\e2e6";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-appointment .note {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 32px;
}
.form-appointment .note span {
  color: #DCAF26;
  font-weight: 700;
}
.form-appointment .btn-booking {
  width: 100%;
  margin-top: 14px;
}
.form-appointment .btn-booking:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.form-appointment h3 {
  text-transform: uppercase;
  color: #DCAF26;
  font-family: "Canela-Regular";
  font-weight: 400;
  margin: 0 0 24px 0;
  line-height: 39.2px;
}
.form-appointment .status-booking {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form-appointment .status-booking span {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.form-appointment .status-booking .iden-item {
  display: flex;
  align-items: center;
}
.form-appointment .status-booking .iden-item::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 20px;
  margin-right: 10px;
  background: #fff;
  border-radius: 2px;
}
.form-appointment .status-booking .iden-action::before {
  background: #DCAF26;
}
.form-appointment .status-booking .iden-dissible::before {
  background: #EAF0FD;
}
.form-appointment .form-group {
  margin-bottom: 0;
}

/* ------------------- Selecbox -------------------*/
.form-control:focus {
  box-shadow: none;
}

.form-group .form-control, .form-group .custome-select select {
  margin-bottom: 10px;
  border: 0;
  font-size: 16px;
  padding: 15px 22px;
  height: 55px;
  color: #202124;
  display: inline-block;
  width: 100%;
  border-radius: 1px;
}

input::-moz-placeholder {
  color: #202124 !important;
}

input::placeholder {
  color: #202124 !important;
}

.custom-select {
  margin-bottom: 20px;
  border: 0;
  font-size: 16px;
  padding: 15px 22px;
  height: 55px;
  border-radius: 1px;
  color: #202124;
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  text-align: left;
}

textarea.form-control {
  height: 131px !important;
  margin-bottom: 5px !important;
}
textarea.form-control::-moz-placeholder {
  color: #202124;
}
textarea.form-control::placeholder {
  color: #202124;
}

.form-control, .custom-select {
  height: 55px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 1px;
  border: none;
  padding: 15px 22px;
  color: #202124;
}

.custom-select select {
  height: 100%;
  width: 100%;
  background: transparent;
  border: transparent;
  color: #202124;
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e313";
  font-family: "Material Symbols Outlined";
  color: #75757A;
  top: 16px;
  right: 54px;
  font-size: 24px;
  font-weight: 400;
}

.form-group {
  margin-bottom: 0;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #202124;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
}

.select-selected.active {
  color: #202124 !important;
  font-size: 16px !important;
}

.select-items div {
  color: #202124;
  padding: 10px;
}

/* Style items (options): */
.select-items {
  padding: 0 0;
  overflow: hidden;
  width: 90%;
  position: absolute;
  background-color: white;
  top: 30px;
  left: 20px;
  right: 0;
  z-index: 99;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.form-control {
  color: #202124;
  font-size: 16px;
}

.select-items div:hover,
.same-as-selected {
  background-color: #f4f5f9;
}

.from-group label {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  color: #fff;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-apply-CV {
  background: #27338C;
  padding: 30px 40px;
  /* Hide input*/
}
.form-apply-CV .waitng-send::before {
  content: "\e9d0";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-apply-CV .success-send {
  background: #34C759;
}
.form-apply-CV .success-send::before {
  content: "\e2e6";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-apply-CV .note {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 32px;
}
.form-apply-CV .note span {
  color: #DCAF26;
  font-weight: 700;
}
.form-apply-CV .btn-booking {
  width: 100%;
  margin-top: 14px;
}
.form-apply-CV .btn-booking:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.form-apply-CV h3 {
  line-height: 39.2px;
  text-transform: uppercase;
  color: #DCAF26;
  font-family: "Canela-Regular";
  font-weight: 400;
  margin: 0 0 24px 0;
}
.form-apply-CV .status-booking {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form-apply-CV .status-booking span {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.form-apply-CV .status-booking .iden-item {
  display: flex;
  align-items: center;
}
.form-apply-CV .status-booking .iden-item::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 20px;
  margin-right: 10px;
  background: #fff;
  border-radius: 2px;
}
.form-apply-CV .status-booking .iden-action::before {
  background: #DCAF26;
}
.form-apply-CV .status-booking .iden-dissible::before {
  background: #EAF0FD;
}
.form-apply-CV .form-group {
  margin-bottom: 0;
}
.form-apply-CV .inputfile {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form-apply-CV .inputfile + label * {
  pointer-events: none;
}
.form-apply-CV label::before {
  display: inline-block;
  content: "";
  height: 28px;
  width: 40px;
  background-image: url(../images/folder-attachment.svg);
  background-repeat: no-repeat;
  margin-right: 8px;
}
.form-apply-CV .inputfile + label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 0;
  padding: 15px 22px;
  height: 55px;
  width: 100%;
  border-radius: 1px;
  background: white;
}
.form-apply-CV .inputfile + label span {
  font-size: 16px;
  color: #202124;
  font-weight: 400;
  display: flex;
  align-items: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero-slider button:focus {
  outline: none;
}
.hero-slider .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.hero-slider .owl-dots .owl-dot.active span {
  background: #27338C !important;
  width: 39px !important;
  height: 3px !important;
}
.hero-slider .owl-dots .owl-dot span {
  border-radius: 0;
  width: 15px !important;
  height: 3px !important;
  background: #9C9CA2 !important;
}
.hero-slider .owl-prev {
  position: absolute;
  left: 5%;
  top: 50%;
}
.hero-slider .owl-next {
  position: absolute;
  right: 5%;
  top: 50%;
}
.hero-slider .owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%;
}
.hero-slider .owl-nav .owl-prev:hover {
  background: transparent !important;
}
.hero-slider .owl-nav .owl-prev:hover::before {
  color: #27338C;
}
.hero-slider .owl-nav .owl-next:hover {
  background: transparent !important;
}
.hero-slider .owl-nav .owl-next:hover::before {
  color: #27338C;
}
.hero-slider .owl-next span, .hero-slider .owl-prev span {
  display: none;
}
.hero-slider .owl-next::before {
  content: "";
  display: block;
  color: #777;
  height: 75px;
  width: 75px;
  background-image: url(../images/ic-next.svg);
  background-repeat: no-repeat;
}
.hero-slider .owl-prev::before {
  height: 75px;
  width: 75px;
  background-image: url(../images/ic-prev.svg);
  background-repeat: no-repeat;
  content: "";
  font-weight: 400;
  display: block;
  color: #777;
}
.hero-slider .item img {
  width: 100%;
}

.blogs-item-bg-white {
  background: #FFFFFF;
  display: inline-block;
  margin-bottom: 60px;
  width: 100%;
  box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.1);
}
.blogs-item-bg-white .img-scale-3-2 {
  float: left;
}
.blogs-item-bg-white .info-blog {
  float: left;
  padding: 20px;
}
.blogs-item-bg-white .info-blog h2 {
  margin: 0;
  font-size: 26px;
  line-height: 36.4px;
  font-weight: 700;
}
.blogs-item-bg-white .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  text-transform: uppercase;
  overflow: hidden;
}
.blogs-item-bg-white .info-blog h2 a:hover {
  text-decoration: none;
}
.blogs-item-bg-white .info-blog p {
  margin-top: 12px;
  line-height: 25.2px;
  font-size: 18px;
  margin-bottom: 0;
  color: #75757A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogs-item-small-bg-white {
  background: #FFFFFF;
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.1);
}
.blogs-item-small-bg-white .img-scale-3-2 {
  float: left;
}
.blogs-item-small-bg-white .info-blog {
  float: left;
  padding: 20px;
}
.blogs-item-small-bg-white .info-blog h2 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
.blogs-item-small-bg-white .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  text-transform: uppercase;
  overflow: hidden;
}
.blogs-item-small-bg-white .info-blog h2 a:hover {
  text-decoration: none;
}

.blogs-item-no-bg {
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
}
.blogs-item-no-bg .img-scale-3-2 {
  float: left;
}
.blogs-item-no-bg .info-blog {
  float: left;
  padding: 20px 20px 0 20px;
}
.blogs-item-no-bg .info-blog h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  font-family: "Roboto", sans-serif;
  letter-spacing: initial;
}
.blogs-item-no-bg .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  overflow: hidden;
}
.blogs-item-no-bg .info-blog h2 a:hover {
  text-decoration: none;
}

.services-item {
  display: inline-block;
  width: 100%;
}
.services-item .img-scale-16-9 {
  float: left;
  width: 100%;
}
.services-item .info-blog {
  float: left;
  width: 100%;
}
.services-item .info-blog h2 {
  margin: 16px 0 0 0;
  letter-spacing: inherit;
  font-size: 16px;
  line-height: 12.8px;
}
.services-item .info-blog h2 a {
  color: #202124;
  font-weight: 400;
}
.services-item .info-blog h2 a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #27338C;
}

.news-event-flex {
  display: flex;
  background: #EFEFEF;
  width: 100%;
  position: relative;
}
.news-event-flex .img-scale-1-1 {
  width: 60%;
  height: 100%;
}
.news-event-flex .btn-text-brand {
  text-transform: inherit;
  font-weight: 400;
  font-size: 18px;
}
.news-event-flex .info-blog {
  padding: 30px;
  width: 40%;
}
.news-event-flex .info-blog h2 {
  font-size: 26px;
  line-height: 36px;
  margin: 0 0 16px 0;
}
.news-event-flex .info-blog h2 a {
  color: #202124;
}
.news-event-flex .info-blog p {
  line-height: 24px;
  font-size: 16px;
  color: #75757A;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-event-flex .info-blog .btn-text-brand {
  position: absolute;
  bottom: 30px;
}

.news-event-no-flex {
  background: #EFEFEF;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
}
.news-event-no-flex .img-scale-16-9 {
  float: left;
}
.news-event-no-flex .btn-text-brand {
  text-transform: inherit;
  font-weight: 400;
  font-size: 18px;
}
.news-event-no-flex .info-blog {
  float: left;
  padding: 30px;
}
.news-event-no-flex .info-blog h2 {
  font-size: 22px;
  line-height: 36px;
  margin: 0 0 16px 0;
}
.news-event-no-flex .info-blog h2 a {
  color: #202124;
}
.news-event-no-flex .info-blog .btn-text-brand {
  position: absolute;
  bottom: 30px;
}/*# sourceMappingURL=hanh.css.map */