$color-primary-600:#1F2970 ;
$color-primary-500:#27338C ;
$color-primary-400:#3241B5 ;
$color-primary-100:#EAF0FD ;
$color-primary-50:#F3F7FF ;
$color-secondary-600:#B08C1E ;
$color-secondary-500:#DCAF26 ;
$color-secondary-400:#E3BF51 ;
$color-secondary-100:#F8EFD4 ;
$color-secondary-50:#FBF7E9 ;
$color-black-900:#202124 ;
$color-black-700:#75757A ;
$color-black-200:#9C9CA2 ;
$color-black-100:#EFEFEF ;
$color-white:#FFFFFF ;
$color-success-500:#34C759 ;
$color-success-400:#5DD27A ;
$color-success-200:#AEE9BD ;
$color-success-100:#D6F4DE ;
$color-success-50:#EBF9EE ;
$color-warning-500:#FFCC00 ;
$color-warning-400:#FFD633 ;
$color-warning-200:#FFEB99 ;
$color-warning-100:#FFF5CC ;
$color-warning-50:#FFFAE5 ;
$color-danger-500:#FF3B30 ;
$color-danger-400:#FF6259 ;
$color-danger-200:#FFB1AC ;
$color-danger-100:#FFD8D6 ;
$color-danger-50:#FFEBEA ;
$color-info-500:#007AFF ;
$color-info-400:#0A84FF ;
$color-info-100:#CCE4FF ;
$color-info-50:#EDF6FF ;

@font-face {
    font-family: 'Canela-Bold';
    src: url('../fonts/Canela-Bold.woff2') format('woff2'),
        url('../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Regular';
    src: url('../fonts/Canela-Regular.woff2') format('woff2'),
        url('../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}


h1{
   font-size: 64px;
   line-height: 89.6px; 
   letter-spacing: 1px;
   &.transform-uppercase{
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: 2px;
   }
}

h2{
    font-size: 32px;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h3{
    font-size: 26px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h4{
    font-size: 24px;
 }
 h5{
    font-size: 22px;
 }
 h6{
    font-size: 20px;
 }

 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .material-symbols-outlined.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.title-section h2{
    letter-spacing: 2px !important;
}
.btn-action-center{
    margin-top: 48px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn-booking, .btn-outline-action, .btn-fill-action{
    font-weight: 500 !important;
    letter-spacing: 2.8px!important;
    border-radius: 1px!important;
}
.btn-text-brand{
    font-size: 18px;
    text-transform: inherit;
    letter-spacing: 1.44px;
    font-weight: 400;
}
// ============== hero-slider ================= //
.ss-hero-slider{
    padding: 0;
    .hero-slider .owl-dots .owl-dot span{
        display: block;
        margin: 5px 7px;
    }
}
// ============== END hero-slider ================= //

// ============== ss-promotion================= //
.ss-promotion{
    padding-top: 0;
}
// ============== END ss-promotion================= //

// ============== ss-promotion================= //
.ss-about-home{
    padding: 0;
    .about-home .owl-dots .owl-dot span {
        display: block;
        margin: 5px 7px;
    }
}
// ============== END ss-promotion ================= //

// ============== ss-stories-customer ================= //
.ss-stories-customer {
    background: $color-primary-50;
    // padding: 0;
}
// ============== ss-stories-customer ================= //
// <==================================PAGGING PAGE=======================================>
.pagging-page{
    display: inline-block;
    width: 100%;
    .pagination {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}
.pagging-page ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: $color-black-700;
    padding: 4px;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: transparent;
        padding-top: 5px;
        border-radius: 0px;
        background: $color-primary-500;
        color: $color-white;
    }
    i{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.ti-angle-left:before {
    content: "\e408";
    color: $color-black-700;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
}
.ti-angle-right:before {
    content: "\e409";
    color: $color-black-700;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
}
// <==================================END PAGGING PAGE=======================================>
.search{
    color: $color-black-900;
    &::placeholder{
        color: $color-black-700 !important;
    }
    &:focus{
        border: 1px solid $color-primary-500;
    }
}
// ============== services-list page ================= //
.titlelarge-headpage{
    line-height: 56px;
    font-size: 40px;
    color: $color-primary-500;
    font-family: 'Canela-Regular';
    letter-spacing: 2px;
    margin: 16px 0 50px 0;
    text-transform: uppercase;
    text-align: center;

}
.ss-servies-list{
   padding: 0;
    .row{
        margin-right: -20px;
        margin-left: -20px;
        .col-md-4{
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    
    .pagging-page{
        .pagination{
            margin-top: 20px;
        }
    }
    .categories {
        margin-right: 30px;
    }
    .box-list-servies{
        padding-bottom: 60px;
        .services-item{
            margin-bottom: 40px;
        }
        .numbers-search{
            display: inline-block;
            width: 100%;
            color: $color-black-200;
            font-size: 16px;
            margin-bottom: 20px;
            margin-top: 40px;
            line-height: 12.8px;
        }
    }
}
.no-result-servies{
    margin-top: 60px;
    text-align: center;
    p{
        margin-top: 50px;
        font-size: 16px;
        color: $color-black-900;
       margin-bottom: 0;
    }
}
// ============== beauty-secrets page - bi quyet lam dep ================== //
.banner-headpage{
    padding-top: 20px;
    min-height: 233px;
    background: linear-gradient(90deg, #F0E3EC 0%, #FFFAF7 13%, #FAECF2 28%, #A2B1EC 100%);
    .breadcrumb-box nav ol{
        padding-top: 0;
    }
    .titlelarge-headpage{
        margin-top: 70px;
    }
}
.tab-menu-content{
    .box-tab{
        background: #FFF;
        box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0.00), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.10);
    }
    .nav-tabs{
        justify-content: center;
        .nav-link{
          
            padding: 20px 0;
            color: $color-black-900;
            line-height: 25.2px;
            font-size: 18px;
            border-radius: 0;
            border: 0;
            border-bottom: 2px solid transparent;
            background: transparent;
        }
    }
   
    .nav-tabs>li{
        margin-right: 26px;
    }
    .nav>li>a:focus, .nav>li>a:hover{
        background-color: transparent;
    }
    .nav-tabs{
        .nav-link.active{
            border-bottom: 2px solid $color-primary-500;
            border-top:0;
            border-right:0;
            border-left:0;
            color: $color-primary-500;
        }
    }
   
    .nav-tabs {
        height: 100%;
        margin-bottom: 1px;
        padding: 0 30px;
        border-bottom: 0;
        
    }
}
.ss-beauty-secrets{
    padding-top: 0;
    .fade:not(.show) {
        opacity: 1;
    }
    .list-item-beauty{
       
        margin-top: 40px;
    }
    .row{
        margin-right: -20px;
        margin-left: -20px;
        .col-md-4{
            padding-right: 20px;
            padding-left: 20px;
        }
    }

  .box-item-large{
    display: flex;
    .content-right{
        width: 25%;
      }
      .content-left{
        width: 75%;
        padding-right: 60px;
      }
  }
 
   
}
// ========== beauty-secrets-detail -chi tiet bi quyet lam dep ========== //
.banner-detailpage{
    background: $color-primary-50;
    padding: 31px 0;
    .container{
        padding-right: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
    }
   
    .img-banner{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .content{
        width: 50%;
        padding-right: 60px;
        span{
            color: $color-black-900;
            line-height:  22.4px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
        }
        h1{
            font-weight: 400;
            line-height: 77px;
            font-size: 68px;
            color: $color-primary-500;
            margin: 16px 0;
            font-family: 'Canela-Regular';
        }
        p{
            margin-bottom: 0;
            font-size: 24px;
            line-height: 33.6px;
        }
    }
}
.ss-detail-page.none-overflow {
    overflow: inherit;
}
.content-detail-page{
    padding-right: 100px;
    .nav-pills .nav-link {
        color: $color-black-900;
    }
    p{
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 30.8px;
        text-align: justify;
    }
    img{
        width: 100%;
        margin-bottom: 20px;
    }
   
}

.nd-danhmuc{
    background: #FFFFFF;
    box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.09);    
    padding: 30px 30px 30px 40px;
    top: 50px;
    .nav-pills .nav-link {
        font-size: 18px;
        padding: 0;
    }
// .show-sticky{
//     top: 50px;
// }
h6{
    margin-left: -15px;
   margin-bottom: 30px;
   text-transform: uppercase;
   font-weight: 400;
}
ul{
    
    // counter-reset: headings;
    
    li{
        padding-left: 0;
        list-style: disc;
        
        width: 100%;
        background: transparent;
        margin-bottom: 24px;
       &:last-child{
        margin-bottom: 0;
       }
        
        a{
            color: $color-black-900;
            
            // counter-increment: headings;
            // &::before{
            //     content: counter(headings) ". ";
            // }
        }
        
    }
    
}
.bg-light{
    background-color: transparent  !important;
    padding: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: transparent;
    color: $color-primary-500;
}
}
.list-tags{
    margin: 20px 0;
    span{
        line-height: 30.8px;
        font-size: 18px;
    }
    a{
     
        border-radius: 50px;
        color: $color-primary-500;
        font-size: 18px;
        padding: 6px 18px;
        line-height: 30.8px;
        margin: 0 5px;
        display: inline-block;
        background: $color-primary-100;
    }
}
// ========= END ======== //
.title-section {
    margin-bottom: 48px;
    p{
        max-width: 85% !important;
        margin: 0 auto !important;
    }
}
// ========= ss-related-articles - bai viet lien quan ====== //
.ss-related-articles{
    background: $color-primary-50;
    .blogs-item-no-bg{
        background: $color-white;
        margin-bottom: 0;
        .info-blog{
            padding: 20px;

        }
    }
    .row{
        margin-right: -30px;
        margin-left: -30px;
        .col-md-4{
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}
// ======== END ======= //

// =========== list-news-event - danh sach tin tuc va su kien ======= //

.ss-list-news-event{
    padding-top: 0;
    .fade:not(.show) {
        opacity: 1;
    }
    .list-item-beauty{
       
        margin-top: 40px;
    }
    .row{
        margin-right: -20px;
        margin-left: -20px;
        .col-md-4{
            padding-right: 20px;
            padding-left: 20px;
        }
    }

  .box-item-large{
    display: flex;
    .content-right{
        width: 25%;
      }
      .content-left{
        width: 75%;
        padding-right: 60px;
      }
  }
 
   
}

// =========== team-of-experts - danh sach doi ngu chuyen gia ============ //
.banner-headpage.banner-headpage-large{
    background: $color-primary-50;
    padding-top: 60px;
    .box-content{
        display: flex;
       
        position: relative;
        justify-content: flex-end;
       
        .content-left{
            width: 50%;
            position: absolute;
            left: 270px;
            top: 130px;
            .btn-booking{
                margin-top: 30px;
                background: $color-primary-500;
            }
            h1{
                text-align: left;
                margin: 0 0 30px 0;
            }
            p{
                max-width: 50%;
                margin-bottom: 0;
                padding-right: 50px;
            }
        }
        .content-right{
            width: 50%;
            img{
                width: 100%;
            }
        }
        
    }
    .box-flex{
        display: flex;
        align-items: flex-start;
      
        padding: 60px 45px 0 45px;
        .box-img-details{
            width: 250px;
            
        }
    }
    .box-img-details{
        max-width: 300px;
      
        .img-scale-3-5 {
            display: inline-block;
            width: 100%;
            max-width: 60%;
            margin-top: 30px;
        }
    }
}
// END

// =========== banner-team-of-experts-detail - chi tiet chuyen gia ============ //
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail{
    background: $color-primary-50;
    padding-top: 0;
    .box-content{
        display: flex;
        align-items: center;
        padding-left: 70px;
       
        .content-left{
            width: 50%;
            position: initial;
            .btn-booking{
                margin-top: 30px;
                background: $color-primary-500;
            }
            h1{
                text-align: left;
                margin: 0 0 30px 0;
                text-transform: inherit;
                font-size: 68px;
            }
            p{
                max-width: 50%;
                margin-bottom: 0;
                padding-right: 50px;
            }
        }
        .content-right{
            width: 50%;
            img{
                width: 100%;
            }
        }
        
    }
    .box-flex{
        display: flex;
        align-items: center;
        padding: 0;
        .box-img-details{
            width: 250px;
            
        }
    }
   
}
.ss-cotent-experts-detail{
    padding: 0;
    position: relative;
    .box-large{
       
        max-width: 1000px;
        display: block;
        padding-right: 70px;
        .list-icons{
            .detail{
                position: relative;
              
                padding: 32px 0 32px 65px;
                border-bottom: 1px solid #E5E5E5;
                img{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 48px;
                    height: 48px;
                    transform: translateY(-50%);
                }
                p{
                    margin-bottom: 10px;
                    font-size: 18px;
                    line-height: 24px;
                }
                span{
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;
                }
            }
        }
        .content-detail{
            margin: 60px 0;
            p{
                margin: 16px 0;
                font-size: 20px;
                line-height: 36px;
            }
           
            img{
                width: 100%;
            }
        }
        .customer-say{
            margin-bottom: 60px;
            .customer-success-story-item{
                margin-bottom: 60px;
            }
          
            .btn-action-center{
                margin-top: 0;
            }
            
        }
    }
    .title-section{
        max-width: 100%;
        text-align: left;
        h2{
            color: $color-primary-500;
            font-weight: 400;
          
            letter-spacing: 0.64px;
            font-family: 'Canela-Regular';
            font-size: 32px;
            margin: 0 0 20px 0;
            text-transform: inherit;
            text-align: left;
        }
    }
   
    .form-appointment{
        max-width: 400px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
}
.ss-experts-sample{
    background: $color-primary-50;
    padding: 60px 0;
    .box-ss-experts-sample{
        padding-left: 15px;
    }
   
    .title-section{
        max-width: 100%;
        text-align: left;
        p{
            max-width: 60% !important;
            margin: 0 !important;
         }
        h2{
            color: $color-primary-500;
            font-weight: 400;
          
            letter-spacing: 0.64px;
            font-family: 'Canela-Regular';
            font-size: 32px;
            margin: 0 0 20px 0;
            text-transform: inherit;
            text-align: left;
        }
    }
}

// END
// ============= page search =========== //
.item-bar-search{
    h6{
        font-weight: 400;
    }
}
.banner-searchs{
    .box-bar-search{
        max-width: 900px;
        margin: 40px auto 0 auto;
        display: block;
        width: 100%;
       
       
    }
}
.breadcrumb-item+.breadcrumb-item::before{
    content: "\e5e1";
    font-family: 'Material Symbols Outlined';
    font-size: 8px;
}
.ss-searchs{
    h5{
        line-height: 33.6px;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .box-search-large{
        max-width: 900px;
    }
    .item-search{
        margin-bottom: 32px;
        justify-content: inherit;
        img{
            width: 100%;
            max-width: 180px;
        }
        .no-thumb-avatar{
            display: none;
        }
    }
    .block-ellipsis{
        height: 100%;
        line-height: 22.4px;
    }
}