@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.title-section h2 {
  letter-spacing: 2px !important;
}

.btn-action-center {
  margin-top: 48px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-booking, .btn-outline-action, .btn-fill-action {
  font-weight: 500 !important;
  letter-spacing: 2.8px !important;
  border-radius: 1px !important;
}

.btn-text-brand {
  font-size: 18px;
  text-transform: inherit;
  letter-spacing: 1.44px;
  font-weight: 400;
}

.ss-hero-slider {
  padding: 0;
}
.ss-hero-slider .hero-slider .owl-dots .owl-dot span {
  display: block;
  margin: 5px 7px;
}

.ss-promotion {
  padding-top: 0;
}

.ss-about-home {
  padding: 0;
}
.ss-about-home .about-home .owl-dots .owl-dot span {
  display: block;
  margin: 5px 7px;
}

.ss-stories-customer {
  background: #F3F7FF;
}

.pagging-page {
  display: inline-block;
  width: 100%;
}
.pagging-page .pagination {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.pagging-page ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #75757A;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.pagging-page ul li a.active {
  background-color: transparent;
  padding-top: 5px;
  border-radius: 0px;
  background: #27338C;
  color: #FFFFFF;
}
.pagging-page ul li a i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ti-angle-left:before {
  content: "\e408";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.ti-angle-right:before {
  content: "\e409";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.search {
  color: #202124;
}
.search::-moz-placeholder {
  color: #75757A !important;
}
.search::placeholder {
  color: #75757A !important;
}
.search:focus {
  border: 1px solid #27338C;
}

.titlelarge-headpage {
  line-height: 56px;
  font-size: 40px;
  color: #27338C;
  font-family: "Canela-Regular";
  letter-spacing: 2px;
  margin: 16px 0 50px 0;
  text-transform: uppercase;
  text-align: center;
}

.ss-servies-list {
  padding: 0;
}
.ss-servies-list .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-servies-list .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-servies-list .pagging-page .pagination {
  margin-top: 20px;
}
.ss-servies-list .categories {
  margin-right: 30px;
}
.ss-servies-list .box-list-servies {
  padding-bottom: 60px;
}
.ss-servies-list .box-list-servies .services-item {
  margin-bottom: 40px;
}
.ss-servies-list .box-list-servies .numbers-search {
  display: inline-block;
  width: 100%;
  color: #9C9CA2;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 40px;
  line-height: 12.8px;
}

.no-result-servies {
  margin-top: 60px;
  text-align: center;
}
.no-result-servies p {
  margin-top: 50px;
  font-size: 16px;
  color: #202124;
  margin-bottom: 0;
}

.banner-headpage {
  padding-top: 20px;
  min-height: 233px;
  background: linear-gradient(90deg, #F0E3EC 0%, #FFFAF7 13%, #FAECF2 28%, #A2B1EC 100%);
}
.banner-headpage .breadcrumb-box nav ol {
  padding-top: 0;
}
.banner-headpage .titlelarge-headpage {
  margin-top: 70px;
}

.tab-menu-content .box-tab {
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
.tab-menu-content .nav-tabs {
  justify-content: center;
}
.tab-menu-content .nav-tabs .nav-link {
  padding: 20px 0;
  color: #202124;
  line-height: 25.2px;
  font-size: 18px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
.tab-menu-content .nav-tabs > li {
  margin-right: 26px;
}
.tab-menu-content .nav > li > a:focus, .tab-menu-content .nav > li > a:hover {
  background-color: transparent;
}
.tab-menu-content .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}
.tab-menu-content .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
}

.ss-beauty-secrets {
  padding-top: 0;
}
.ss-beauty-secrets .fade:not(.show) {
  opacity: 1;
}
.ss-beauty-secrets .list-item-beauty {
  margin-top: 40px;
}
.ss-beauty-secrets .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-beauty-secrets .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-beauty-secrets .box-item-large {
  display: flex;
}
.ss-beauty-secrets .box-item-large .content-right {
  width: 25%;
}
.ss-beauty-secrets .box-item-large .content-left {
  width: 75%;
  padding-right: 60px;
}

.banner-detailpage {
  background: #F3F7FF;
  padding: 31px 0;
}
.banner-detailpage .container {
  padding-right: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
.banner-detailpage .img-banner {
  width: 50%;
}
.banner-detailpage .img-banner img {
  width: 100%;
}
.banner-detailpage .content {
  width: 50%;
  padding-right: 60px;
}
.banner-detailpage .content span {
  color: #202124;
  line-height: 22.4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.banner-detailpage .content h1 {
  font-weight: 400;
  line-height: 77px;
  font-size: 68px;
  color: #27338C;
  margin: 16px 0;
  font-family: "Canela-Regular";
}
.banner-detailpage .content p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 33.6px;
}

.ss-detail-page.none-overflow {
  overflow: inherit;
}

.content-detail-page {
  padding-right: 100px;
}
.content-detail-page .nav-pills .nav-link {
  color: #202124;
}
.content-detail-page p {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30.8px;
  text-align: justify;
}
.content-detail-page img {
  width: 100%;
  margin-bottom: 20px;
}

.nd-danhmuc {
  background: #FFFFFF;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.09);
  padding: 30px 30px 30px 40px;
  top: 50px;
}
.nd-danhmuc .nav-pills .nav-link {
  font-size: 18px;
  padding: 0;
}
.nd-danhmuc h6 {
  margin-left: -15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.nd-danhmuc ul li {
  padding-left: 0;
  list-style: disc;
  width: 100%;
  background: transparent;
  margin-bottom: 24px;
}
.nd-danhmuc ul li:last-child {
  margin-bottom: 0;
}
.nd-danhmuc ul li a {
  color: #202124;
}
.nd-danhmuc .bg-light {
  background-color: transparent !important;
  padding: 0;
}
.nd-danhmuc .nav-pills .nav-link.active, .nd-danhmuc .nav-pills .show > .nav-link {
  background: transparent;
  color: #27338C;
}

.list-tags {
  margin: 20px 0;
}
.list-tags span {
  line-height: 30.8px;
  font-size: 18px;
}
.list-tags a {
  border-radius: 50px;
  color: #27338C;
  font-size: 18px;
  padding: 6px 18px;
  line-height: 30.8px;
  margin: 0 5px;
  display: inline-block;
  background: #EAF0FD;
}

.title-section {
  margin-bottom: 48px;
}
.title-section p {
  max-width: 85% !important;
  margin: 0 auto !important;
}

.ss-related-articles {
  background: #F3F7FF;
}
.ss-related-articles .blogs-item-no-bg {
  background: #FFFFFF;
  margin-bottom: 0;
}
.ss-related-articles .blogs-item-no-bg .info-blog {
  padding: 20px;
}
.ss-related-articles .row {
  margin-right: -30px;
  margin-left: -30px;
}
.ss-related-articles .row .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.ss-list-news-event {
  padding-top: 0;
}
.ss-list-news-event .fade:not(.show) {
  opacity: 1;
}
.ss-list-news-event .list-item-beauty {
  margin-top: 40px;
}
.ss-list-news-event .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-list-news-event .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-list-news-event .box-item-large {
  display: flex;
}
.ss-list-news-event .box-item-large .content-right {
  width: 25%;
}
.ss-list-news-event .box-item-large .content-left {
  width: 75%;
  padding-right: 60px;
}

.banner-headpage.banner-headpage-large {
  background: #F3F7FF;
  padding-top: 60px;
}
.banner-headpage.banner-headpage-large .box-content {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.banner-headpage.banner-headpage-large .box-content .content-left {
  width: 50%;
  position: absolute;
  left: 270px;
  top: 130px;
}
.banner-headpage.banner-headpage-large .box-content .content-left .btn-booking {
  margin-top: 30px;
  background: #27338C;
}
.banner-headpage.banner-headpage-large .box-content .content-left h1 {
  text-align: left;
  margin: 0 0 30px 0;
}
.banner-headpage.banner-headpage-large .box-content .content-left p {
  max-width: 50%;
  margin-bottom: 0;
  padding-right: 50px;
}
.banner-headpage.banner-headpage-large .box-content .content-right {
  width: 50%;
}
.banner-headpage.banner-headpage-large .box-content .content-right img {
  width: 100%;
}
.banner-headpage.banner-headpage-large .box-flex {
  display: flex;
  align-items: flex-start;
  padding: 60px 45px 0 45px;
}
.banner-headpage.banner-headpage-large .box-flex .box-img-details {
  width: 250px;
}
.banner-headpage.banner-headpage-large .box-img-details {
  max-width: 300px;
}
.banner-headpage.banner-headpage-large .box-img-details .img-scale-3-5 {
  display: inline-block;
  width: 100%;
  max-width: 60%;
  margin-top: 30px;
}

.banner-headpage.banner-headpage-large.banner-team-of-experts-detail {
  background: #F3F7FF;
  padding-top: 0;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content {
  display: flex;
  align-items: center;
  padding-left: 70px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left {
  width: 50%;
  position: initial;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left .btn-booking {
  margin-top: 30px;
  background: #27338C;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left h1 {
  text-align: left;
  margin: 0 0 30px 0;
  text-transform: inherit;
  font-size: 68px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left p {
  max-width: 50%;
  margin-bottom: 0;
  padding-right: 50px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-right {
  width: 50%;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-right img {
  width: 100%;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-flex {
  display: flex;
  align-items: center;
  padding: 0;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-flex .box-img-details {
  width: 250px;
}

.ss-cotent-experts-detail {
  padding: 0;
  position: relative;
}
.ss-cotent-experts-detail .box-large {
  max-width: 1000px;
  display: block;
  padding-right: 70px;
}
.ss-cotent-experts-detail .box-large .list-icons .detail {
  position: relative;
  padding: 32px 0 32px 65px;
  border-bottom: 1px solid #E5E5E5;
}
.ss-cotent-experts-detail .box-large .list-icons .detail img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
}
.ss-cotent-experts-detail .box-large .list-icons .detail p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}
.ss-cotent-experts-detail .box-large .list-icons .detail span {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.ss-cotent-experts-detail .box-large .content-detail {
  margin: 60px 0;
}
.ss-cotent-experts-detail .box-large .content-detail p {
  margin: 16px 0;
  font-size: 20px;
  line-height: 36px;
}
.ss-cotent-experts-detail .box-large .content-detail img {
  width: 100%;
}
.ss-cotent-experts-detail .box-large .customer-say {
  margin-bottom: 60px;
}
.ss-cotent-experts-detail .box-large .customer-say .customer-success-story-item {
  margin-bottom: 60px;
}
.ss-cotent-experts-detail .box-large .customer-say .btn-action-center {
  margin-top: 0;
}
.ss-cotent-experts-detail .title-section {
  max-width: 100%;
  text-align: left;
}
.ss-cotent-experts-detail .title-section h2 {
  color: #27338C;
  font-weight: 400;
  letter-spacing: 0.64px;
  font-family: "Canela-Regular";
  font-size: 32px;
  margin: 0 0 20px 0;
  text-transform: inherit;
  text-align: left;
}
.ss-cotent-experts-detail .form-appointment {
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

.ss-experts-sample {
  background: #F3F7FF;
  padding: 60px 0;
}
.ss-experts-sample .box-ss-experts-sample {
  padding-left: 15px;
}
.ss-experts-sample .title-section {
  max-width: 100%;
  text-align: left;
}
.ss-experts-sample .title-section p {
  max-width: 60% !important;
  margin: 0 !important;
}
.ss-experts-sample .title-section h2 {
  color: #27338C;
  font-weight: 400;
  letter-spacing: 0.64px;
  font-family: "Canela-Regular";
  font-size: 32px;
  margin: 0 0 20px 0;
  text-transform: inherit;
  text-align: left;
}

.item-bar-search h6 {
  font-weight: 400;
}

.banner-searchs .box-bar-search {
  max-width: 900px;
  margin: 40px auto 0 auto;
  display: block;
  width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\e5e1";
  font-family: "Material Symbols Outlined";
  font-size: 8px;
}

.ss-searchs h5 {
  line-height: 33.6px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 40px;
}
.ss-searchs .box-search-large {
  max-width: 900px;
}
.ss-searchs .item-search {
  margin-bottom: 32px;
  justify-content: inherit;
}
.ss-searchs .item-search img {
  width: 100%;
  max-width: 180px;
}
.ss-searchs .item-search .no-thumb-avatar {
  display: none;
}
.ss-searchs .block-ellipsis {
  height: 100%;
  line-height: 22.4px;
}/*# sourceMappingURL=page-hanh.css.map */