@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}/*# sourceMappingURL=page-phong.css.map */