$color-primary-600:#1F2970 ;
$color-primary-500:#27338C ;
$color-primary-400:#3241B5 ;
$color-primary-100:#EAF0FD ;
$color-primary-50:#F3F7FF ;
$color-secondary-600:#B08C1E ;
$color-secondary-500:#DCAF26 ;
$color-secondary-400:#E3BF51 ;
$color-secondary-100:#F8EFD4 ;
$color-secondary-50:#FBF7E9 ;
$color-black-900:#202124 ;
$color-black-700:#75757A ;
$color-black-200:#9C9CA2 ;
$color-black-100:#EFEFEF ;
$color-white:#FFFFFF ;
$color-success-500:#34C759 ;
$color-success-400:#5DD27A ;
$color-success-200:#AEE9BD ;
$color-success-100:#D6F4DE ;
$color-success-50:#EBF9EE ;
$color-warning-500:#FFCC00 ;
$color-warning-400:#FFD633 ;
$color-warning-200:#FFEB99 ;
$color-warning-100:#FFF5CC ;
$color-warning-50:#FFFAE5 ;
$color-danger-500:#FF3B30 ;
$color-danger-400:#FF6259 ;
$color-danger-200:#FFB1AC ;
$color-danger-100:#FFD8D6 ;
$color-danger-50:#FFEBEA ;
$color-info-500:#007AFF ;
$color-info-400:#0A84FF ;
$color-info-100:#CCE4FF ;
$color-info-50:#EDF6FF ;

@font-face {
    font-family: 'Canela-Bold';
    src: url('../fonts/Canela-Bold.woff2') format('woff2'),
        url('../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Regular';
    src: url('../fonts/Canela-Regular.woff2') format('woff2'),
        url('../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}


h1{
   font-size: 64px;
   line-height: 89.6px; 
   letter-spacing: 1px;
   &.transform-uppercase{
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: 2px;
   }
}

h2{
    font-size: 32px;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h3{
    font-size: 26px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h4{
    font-size: 24px;
 }
 h5{
    font-size: 22px;
 }
 h6{
    font-size: 20px;
 }

 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .material-symbols-outlined.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}



