$color-primary-600:#1F2970 ;
$color-primary-500:#27338C ;
$color-primary-400:#3241B5 ;
$color-primary-100:#EAF0FD ;
$color-primary-50:#F3F7FF ;
$color-secondary-600:#B08C1E ;
$color-secondary-500:#DCAF26 ;
$color-secondary-400:#E3BF51 ;
$color-secondary-100:#F8EFD4 ;
$color-secondary-50:#FBF7E9 ;
$color-black-900:#202124 ;
$color-black-700:#75757A ;
$color-black-200:#9C9CA2 ;
$color-black-100:#EFEFEF ;
$color-white:#FFFFFF ;
$color-success-500:#34C759 ;
$color-success-400:#5DD27A ;
$color-success-200:#AEE9BD ;
$color-success-100:#D6F4DE ;
$color-success-50:#EBF9EE ;
$color-warning-500:#FFCC00 ;
$color-warning-400:#FFD633 ;
$color-warning-200:#FFEB99 ;
$color-warning-100:#FFF5CC ;
$color-warning-50:#FFFAE5 ;
$color-danger-500:#FF3B30 ;
$color-danger-400:#FF6259 ;
$color-danger-200:#FFB1AC ;
$color-danger-100:#FFD8D6 ;
$color-danger-50:#FFEBEA ;
$color-info-500:#007AFF ;
$color-info-400:#0A84FF ;
$color-info-100:#CCE4FF ;
$color-info-50:#EDF6FF ;

@font-face {
    font-family: 'Canela-Bold';
    src: url('../fonts/Canela-Bold.woff2') format('woff2'),
        url('../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Regular';
    src: url('../fonts/Canela-Regular.woff2') format('woff2'),
        url('../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}


h1{
   font-size: 64px;
   line-height: 89.6px; 
   letter-spacing: 1px;
   &.transform-uppercase{
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: 2px;
   }
}

h2{
    font-size: 32px;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h3{
    font-size: 26px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 2px;
    }
 }
 h4{
    font-size: 24px;
 }
 h5{
    font-size: 22px;
 }
 h6{
    font-size: 20px;
 }

/*--header & menu--*/
header
{
    button{
        outline: none;
        border: 0;
        background: none;
    }
    background: #FFF;
    height: 90px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0.00), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.10);
    .contaier-full{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .left-header{
            display: flex;
            align-items: center;
            .menu-hambuger{
                display: flex;
                align-items: center;
                img{
                    width: 35px;
                    margin-right: 8px;
                }
                button{
                    outline: none;
                    background: none;
                    border: 0;
                    display: flex;
                    align-items: center;
                }
            }
            nav{
                margin-left: 46px;
                ul{
                    margin-bottom: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    li{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        a{
                            padding: 0 26px;
                            color: $color-black-900;
                        }
                    }
                }
            }
        }
        .logo-header{
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
        }
        .right-header{
            display: flex;
            align-items: center;
            gap: 40px;
            .btn-booking{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 44.8px; 
                letter-spacing: 2.4px;
                &.transform-uppercase{
                    letter-spacing: 3px;
                }
                text-transform: uppercase;
                height: 52px;
                width: fit-content;
                min-width: 212px;
                background: $color-secondary-500;
                color: $color-white;
             }
            .hotline-header{
                a{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                h6{
                    color: $color-black-900;
                    font-weight: normal;
                }
            }
        }
    }
}

.show-menu-hambuger{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.68);
    .close-submenu{
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9999;
    }   
    .show-menu-hambuger-body{
        display: flex;
        position: absolute;
        width: fit-content;
        height: 100%;
        &__left{
            min-width: 440px;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            background: white;
            position: relative;
            .body-submenu{
                display: inline-block;
                width: 100%;
                padding: 60px 0;
                nav{
                    ul{
                        margin-bottom: 0;
                        padding: 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        gap: 0;
                        li{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            list-style: none;
                            &.sub-categories{
                                &::after{
                                    background: url(../images/arrow-right.svg) no-repeat;
                                    width: 24px;
                                    height: 24px;
                                    display: inline-block;
                                    content: '';
                                }
                            }
                            a{
                                color: $color-black-900;
                                display: inline-block;
                                width: 100%;
                                font-size: 26px;
                                padding: 17px 0px;
                                &:hover{
                                    color: $color-primary-500;
                                }
                            }
                            ul{
                                margin-bottom: 0;
                                position: fixed;
                                top: 0;
                                left: 350px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 0px;
                                display: none;
                                opacity: 0;
                                max-width: 480px;
                                height: 100%;
                                padding-top: 200px;
                                z-index: 999;
                                &::before{
                                    content: "";
                                    display: block;
                                    background: $color-primary-50;
                                    height: 100%;
                                    position: fixed;
                                    width: 600px;
                                    left: 491px;
                                    border-left: 1px solid $color-black-100;
                                    top: 0;
                                }
                                li{
                                    display: flex;
                                    padding-left: 139px;
                                    width: 100%;
                                    position: relative;
                                    z-index: 9;
                                    align-items: center;
                                    max-width: 490px;
                                    a{
                                        font-size: 22px;
                                        display: inline-block;
                                        width: 100%;
                                        color: $color-black-900;
                                        padding-left: 50px;
                                    }
                                }
                            }
                            &:hover{
                                ul{
                                    display: block;
                                    opacity: 1;
                                }
                            }
                            &.active{
                                a{
                                    color: $color-primary-500;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__right{
            width: 100%;
            padding: 40px;
            max-width: 600px;
            background: $color-primary-50;
            display: flex;
            align-items: center;
            .body-sub-right{
                display: inline-block;
                width: 100%;
            }
            //  img-scale-16-9
            .img-scale-16-9{
                display: inline-block;
                width: 100%;
                a{
                    position: relative;
                    padding-top: 56%;
                    display: block;
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        left: 0;
                        top: 0;
                    }
                }
            }
            // end img-scale-16-9
            
            .title-stories-customer{
                display: flex;
                align-items: center;
                width: 100%;
                a{
                    color:$color-black-900;
                }
            }
            .item-customer-story{
                background: white;
                display: flex;
                gap: 20px;
                padding: 20px;
                margin-bottom: 20px;
            }
            .button-customer-stories{
                margin-bottom: 30px;
                display: flex;
                justify-content: right;
                width: 100%;
            }
            .title-submenu{
                display: inline-block;
                margin-bottom: 16px;
                width: 100%;
                b{
                    color: $color-black-900;
                    text-transform: uppercase;
                }
            }
            .thumnail-customer-stories{
                min-width: 280px;
            }
        }
    }
    
}


.btn-outline-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 44.8px; 
    letter-spacing: 1px;
    &.transform-uppercase{
        letter-spacing: 3px;
    }
    text-transform: uppercase;
    height: 52px;
    width: fit-content;
    min-width: 212px;
    border: 1px solid $color-primary-500;
    color: $color-primary-500;
 }

/*-- scroll box--*/
.scrollbar
{
	float: left;
	height: 78vh;
	width: 100%;
	background: #fff;
	overflow-y: auto;
	margin-bottom: 25px;
}


#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*--end scroll box--*/

/*--end header & menu--*/