@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

/*--header & menu--*/
header {
  background: #FFF;
  height: 90px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
header button {
  outline: none;
  border: 0;
  background: none;
}
header .contaier-full {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .contaier-full .left-header {
  display: flex;
  align-items: center;
}
header .contaier-full .left-header .menu-hambuger {
  display: flex;
  align-items: center;
}
header .contaier-full .left-header .menu-hambuger img {
  width: 35px;
  margin-right: 8px;
}
header .contaier-full .left-header .menu-hambuger button {
  outline: none;
  background: none;
  border: 0;
  display: flex;
  align-items: center;
}
header .contaier-full .left-header nav {
  margin-left: 46px;
}
header .contaier-full .left-header nav ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header .contaier-full .left-header nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .contaier-full .left-header nav ul li a {
  padding: 0 26px;
  color: #202124;
}
header .contaier-full .logo-header {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
header .contaier-full .right-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .contaier-full .right-header .btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
header .contaier-full .right-header .btn-booking.transform-uppercase {
  letter-spacing: 3px;
}
header .contaier-full .right-header .hotline-header a {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .contaier-full .right-header .hotline-header h6 {
  color: #202124;
  font-weight: normal;
}

.show-menu-hambuger {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.68);
}
.show-menu-hambuger .close-submenu {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
}
.show-menu-hambuger .show-menu-hambuger-body {
  display: flex;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__left {
  min-width: 440px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li.sub-categories::after {
  background: url(../images/arrow-right.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  content: "";
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li a {
  color: #202124;
  display: inline-block;
  width: 100%;
  font-size: 26px;
  padding: 17px 0px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li a:hover {
  color: #27338C;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  display: none;
  opacity: 0;
  max-width: 480px;
  height: 100%;
  padding-top: 200px;
  z-index: 999;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul::before {
  content: "";
  display: block;
  background: #F3F7FF;
  height: 100%;
  position: fixed;
  width: 600px;
  left: 491px;
  border-left: 1px solid #EFEFEF;
  top: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul li {
  display: flex;
  padding-left: 139px;
  width: 100%;
  position: relative;
  z-index: 9;
  align-items: center;
  max-width: 490px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul li a {
  font-size: 22px;
  display: inline-block;
  width: 100%;
  color: #202124;
  padding-left: 50px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li:hover ul {
  display: block;
  opacity: 1;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li.active a {
  color: #27338C;
}
.show-menu-hambuger .show-menu-hambuger-body__right {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  background: #F3F7FF;
  display: flex;
  align-items: center;
}
.show-menu-hambuger .show-menu-hambuger-body__right .body-sub-right {
  display: inline-block;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 {
  display: inline-block;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 a {
  position: relative;
  padding-top: 56%;
  display: block;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-stories-customer {
  display: flex;
  align-items: center;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-stories-customer a {
  color: #202124;
}
.show-menu-hambuger .show-menu-hambuger-body__right .item-customer-story {
  background: white;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.show-menu-hambuger .show-menu-hambuger-body__right .button-customer-stories {
  margin-bottom: 30px;
  display: flex;
  justify-content: right;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-submenu {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-submenu b {
  color: #202124;
  text-transform: uppercase;
}
.show-menu-hambuger .show-menu-hambuger-body__right .thumnail-customer-stories {
  min-width: 280px;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}

/*-- scroll box--*/
.scrollbar {
  float: left;
  height: 78vh;
  width: 100%;
  background: #fff;
  overflow-y: auto;
  margin-bottom: 25px;
}

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto;
}

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*--end scroll box--*/
/*--end header & menu--*//*# sourceMappingURL=phong.css.map */