@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

section {
  padding: 60px 0;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 18px;
  line-height: 25.2px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 28px;
  line-height: 39.2px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 26px;
  line-height: 36.4px;
}

h5 {
  font-size: 24px;
  line-height: 33.6px;
}

h6 {
  font-size: 22px;
  line-height: 30.8px;
}

.container {
  width: 1400px;
  max-width: 1400px;
}

.menu {
  margin: 0;
  padding: 0;
}

.btn-hover:hover {
  text-decoration: none;
}

.btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
.btn-booking.transform-uppercase {
  letter-spacing: 3px;
}
.btn-booking:hover {
  opacity: 0.8;
  color: #FFFFFF;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}
.btn-outline-action:hover {
  opacity: 0.8;
  color: #27338C;
}

.btn-fill-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #27338C;
  color: #FFFFFF;
}
.btn-fill-action.transform-uppercase {
  letter-spacing: 3px;
}
.btn-fill-action:hover {
  opacity: 0.8;
  color: #FFFFFF;
}

.btn-text-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #27338C;
  color: #27338C;
}
.btn-text-brand.transform-uppercase {
  letter-spacing: 3px;
}
.btn-text-brand:hover {
  opacity: 0.8;
  color: #27338C;
}

.title-section {
  max-width: 860px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.title-section h2 {
  font-family: "Canela-Regular", sans-serif;
  color: #27338C;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title-section p {
  font-weight: 400;
  line-height: 25.5px;
  font-size: 18px;
}

.sticky-summary-bar {
  display: inline-block;
  width: 100%;
  position: sticky;
}
.sticky-summary-bar .btn-booking {
  margin-top: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  position: relative;
  background: #fff;
  width: 100%;
  border-radius: 13px;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 242px;
}

.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
  display: none;
}

.icon:last-child {
  right: 212px;
  background: linear-gradient(-90deg, #fff 70%, transparent);
  justify-content: flex-end;
}

.icon i {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #EFEFEF;
}

.icon i:hover {
  background: #d8d5f2;
}

.icon:first-child i {
  margin-left: 16px;
  padding: 0 13px;
}

.icon:last-child i {
  margin-right: 16px;
  padding: 0 10px;
}

.tabs_box {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-bottom: 0;
}

.tabs_box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.tabs_box .tab {
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  padding: 20px 0px;
}
.tabs_box .tab::marker {
  color: transparent;
}

.tabs_box.dragging .tab {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tabs_box .tab.active {
  color: #27338C;
  border-bottom: 1px solid #27338C;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.career-item-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #EFEFEF;
}
.career-item-x .content-left {
  margin-right: 16px;
  display: inline-block;
  width: 100%;
}
.career-item-x .content-left a b {
  font-weight: 400;
  margin-top: 4px;
  display: block;
  width: 100%;
  font-size: 22px;
  line-height: 30.8px;
  color: #202124;
}
.career-item-x .content-left a:hover {
  text-decoration: none;
}
.career-item-x .content-left span {
  color: #75757A;
}

.career-item-y-image {
  display: inline-block;
  width: 100%;
  max-width: 440px;
}
.career-item-y-image .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
.career-item-y-image .box-content h3 {
  font-family: "Canela-Regular";
  color: #27338C;
  margin-bottom: 16px;
  margin-top: 0;
}
.career-item-y-image .box-content p {
  font-size: 18px;
  color: #75757A;
}

.career-item-y-icon {
  display: inline-block;
  width: 100%;
  max-width: 440px;
}
.career-item-y-icon .icon-item {
  padding: 12px;
  width: auto;
  max-width: 220px;
  height: 72px;
}
.career-item-y-icon .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.career-item-y-icon .box-content h3 {
  color: #202124;
  font-weight: 700;
  margin-bottom: 16px;
}
.career-item-y-icon .box-content p {
  font-size: 18px;
  color: #75757A;
}

.services-item-16x9, .services-item-1x1 {
  width: 100%;
  max-width: 360px;
  display: inline-block;
}
.services-item-16x9 h6, .services-item-1x1 h6 {
  margin: 12px 0 0;
}

.services-item-3x5 {
  width: 100%;
  max-width: 242px;
  display: inline-block;
}
.services-item-3x5 h6 {
  margin: 10px 0 0;
}

.services-item {
  cursor: pointer;
  color: #202124;
  margin-top: 0px;
}
.services-item:hover {
  text-decoration: none;
  color: #202124;
}
.services-item .content-item {
  display: inline-block;
  width: 100%;
}
.services-item a:hover {
  text-decoration: none;
}
.services-item h3 {
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #202124;
}
.services-item h3 a {
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #202124;
}

footer {
  background: #27338C;
  color: #FFFFFF;
  padding: 50px 0;
}
footer .img-logo {
  margin-bottom: 16px;
}
footer .box-left {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .item-left p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
footer .item-left span {
  display: inline-block;
  font-size: 16px;
  margin: 6px 0;
}
footer .item-left .adress-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .item-left .adress-content .item-adress-content a {
  color: #DCAF26;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
footer .box-right {
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
footer .item-right {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
footer .address-footer {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
}
footer .address-footer a {
  width: auto;
  display: block;
  font-size: 14px;
  color: #FFFFFF;
}
footer .address-footer p {
  font-size: 16px;
  margin-bottom: 4px;
  color: #EFEFEF !important;
  opacity: 0.5;
  font-weight: bold;
  text-transform: uppercase;
  height: 52px;
}
footer .certification {
  margin-top: 14px;
  gap: 24px;
  display: flex;
  align-items: center;
}
footer .certification img {
  display: inline-block;
}
footer .social-footer {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}
footer .box-download {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#exampleModal .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  color: #FFFFFF;
  background: #DCAF26;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  opacity: 1;
}
#exampleModal .close:focus {
  outline: none;
}
#exampleModal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1200px;
}
#exampleModal .modal-content {
  background: transparent;
  border: none;
  width: 100%;
}
#exampleModal .modal-content a {
  display: block;
  width: 100%;
}
#exampleModal .modal-content img {
  display: block;
  width: 100%;
}

.show-hiden-popup {
  display: flex;
  max-width: 640px;
  position: absolute;
  right: 0;
  bottom: 0;
  flex-direction: row-reverse;
}
.show-hiden-popup .owl-nav {
  display: none;
}
.show-hiden-popup .owl-dots {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  display: inline-block;
}
.show-hiden-popup .box-left {
  display: inline-block;
  width: 100%;
}
.show-hiden-popup .box-left h3 {
  font-size: 28px;
  font-family: "Canela-Regular";
}
.show-hiden-popup .box-left span {
  display: block;
  width: 100%;
}
.show-hiden-popup .box-left .horizontal-distance {
  display: block;
  width: 40%;
  height: 1px;
  background: #FFFFFF;
  margin-top: 24px;
}
.show-hiden-popup .box-left .btn-game {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 8px;
  margin-top: 8px;
  font-weight: 300;
}
.show-hiden-popup .box-left .btn-game img {
  width: 24px;
}
.show-hiden-popup input[type=checkbox] {
  display: none;
}
.show-hiden-popup input[type=checkbox] + label {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 46px;
  height: 52px;
  display: block;
  background: #27338C;
  background-image: url(../images/caretright.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
}
.show-hiden-popup input[type=checkbox]:checked + label {
  background-image: url(../images/caretleft.svg);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 9;
}
.show-hiden-popup input[type=checkbox] ~ fieldset {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
.show-hiden-popup input[type=checkbox]:checked ~ fieldset {
  height: auto;
}
.show-hiden-popup fieldset {
  color: #FFFFFF;
  border: none;
  display: block;
  width: 100%;
}
.show-hiden-popup .slider-header {
  width: 100%;
  padding: 30px;
  margin: 0 !important;
}
.show-hiden-popup .slider-home {
  display: block;
  width: 100%;
}
.show-hiden-popup .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 3px;
  background: #EFEFEF;
}
.show-hiden-popup .owl-theme .owl-dots .owl-dot.active span {
  width: 39px;
  height: 3px;
  background: #DCAF26;
}

.results {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

.empty {
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.empty.active {
  visibility: visible;
  opacity: 1;
  margin: 50px 0;
  height: auto;
}

.search {
  height: 50px;
  width: 100%;
  padding: 16px 16px 16px 56px;
  font-family: helvetica;
  background: #FFFFFF;
  border: 1px solid #9C9CA2;
  color: #75757A;
  border-radius: 24px;
  font-size: 16px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
}

.card {
  font-family: "helvetica";
  background: #111;
  color: #ffe81f;
  width: 100%;
  height: auto;
  aspect-ratio: 16/8;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}
.card__title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}
.card__crawl {
  position: absolute;
  top: 0;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 24px;
  margin: auto;
  width: 99%;
  text-align: justify;
  line-height: 1.5;
  transform-origin: top center;
  transform: perspective(400px) rotateX(60deg) translateY(0%);
  transition: transform 0.2s linear;
}
.card:hover .card__title {
  top: 5%;
  transform: translate(-50%, 5%);
  transition: all 0.75s ease-in-out;
}
.card:hover .card__crawl {
  line-height: 1.5;
  transform: perspective(400px) rotateX(60deg) translateY(-45%);
  transition: transform 2s linear;
}

.item-search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 28px;
  max-width: 600px;
}
.item-search a {
  margin-top: 0;
}
.item-search .img-scale-3-2 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-3-2 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-1-1 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-1-1 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-4-2 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-4-2 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-16-9 {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-16-9 img {
  display: inline-block;
  width: 100%;
}
.item-search .img-scale-3-5 a {
  min-width: 180px;
  width: 180px;
}
.item-search .img-scale-3-5 a img {
  display: inline-block;
  width: 100%;
}
.item-search .content {
  display: inline-block;
  width: 100%;
}
.item-search .content a {
  width: 100%;
}
.item-search .content a:hover {
  text-decoration: none;
}
.item-search .title-16px {
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  margin-bottom: 0;
}
.item-search p {
  font-size: 16px;
  color: #75757A;
}
.item-search .breadcrumb {
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin-bottom: 4px;
}
.item-search .breadcrumb a {
  font-size: 12px;
  color: #75757A;
}
.item-search .breadcrumb a:hover {
  text-decoration: none;
}

.box-bar-search {
  display: inline-block;
  width: 100%;
  padding: 14px 48px;
  position: relative;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  gap: 0 20px;
}
.box-bar-search .item-bar-search {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.box-bar-search .icon-24 {
  width: 24px;
}
.box-bar-search a {
  margin-top: 0;
  color: #202124;
}
.box-bar-search a:hover {
  color: #202124;
  text-decoration: none;
}
.box-bar-search h6 {
  margin-bottom: 0;
}
.box-bar-search .icon-search {
  position: absolute;
  left: 16px;
}
.box-bar-search .icon-close {
  position: absolute;
  right: 16px;
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.promotion-item {
  display: inline-block;
  width: 100%;
}
.promotion-item .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.promotion-item .box-content a h3 {
  color: #202124;
  font-weight: 700;
}
.promotion-item .box-content a:hover {
  color: #202124;
}
.promotion-item .box-content a b {
  font-size: 26px;
  line-height: 36.4px;
}

.btn-outline-action:hover {
  text-decoration: none;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 32px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-item-link {
  display: inline-block;
  width: 100%;
}
.title-item-link:hover {
  text-decoration: none;
}
.title-item-link b {
  font-size: 26px;
  line-height: 36.4px;
}

.text-body-large {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  color: #202124;
  margin-bottom: 0;
}

.box-sticky-floating {
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
}
.box-sticky-floating .floating-action-button {
  position: sticky;
  left: 0;
  top: 0;
}

.pagging-page {
  display: inline-block;
  width: 100%;
}
.pagging-page .pagination {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 40px;
}

.pagging-page ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #75757A;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.pagging-page ul li a.active {
  background-color: transparent;
  padding-top: 5px;
  border-radius: 0px;
  background: #27338C;
  color: #FFFFFF;
}
.pagging-page ul li a i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ti-angle-left:before {
  content: "\e408";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.ti-angle-right:before {
  content: "\e409";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.promotion-page {
  display: inline-block;
  width: 100%;
}
.promotion-page .title-section {
  margin-bottom: 50px;
}
.promotion-page .promotion-item {
  border: 1px solid #EFEFEF;
  margin-bottom: 50px;
}
.promotion-page .promotion-item .box-content {
  margin-top: 0;
  padding: 20px;
}
.promotion-page .promotion-item .box-content a h5 {
  font-weight: 400;
  color: #27338C;
}
.promotion-page .body-promotion .box-content {
  padding: 16px;
}

.header-promotion {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

.career-page .title-section {
  margin-bottom: 30px;
}

.career-ss1 {
  display: inline-block;
  width: 100%;
}

.career-ss2 {
  display: inline-block;
  width: 100%;
  background: #EDF6FF;
}

.slider-career {
  display: block;
  width: 100%;
}
.slider-career .slider-header {
  width: 100%;
  margin: 0 !important;
}
.slider-career .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 3px;
  background: #EFEFEF;
}
.slider-career .owl-theme .owl-dots .owl-dot.active span {
  width: 39px;
  height: 3px;
  background: #DCAF26;
}
.slider-career .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.slider-career .owl-prev {
  height: 72px;
  width: 72px;
  border-radius: 100px !important;
  background: #FFFFFF !important;
  position: absolute;
  display: flex !important;
  align-items: center;
  justify-content: center;
  left: 20px;
}
.slider-career .owl-prev span {
  display: none !important;
}
.slider-career .owl-prev:before {
  content: "\e317";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}
.slider-career .owl-next {
  height: 72px;
  width: 72px;
  border-radius: 100px !important;
  background: #FFFFFF !important;
  position: absolute;
  right: 20px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slider-career .owl-next span {
  display: none !important;
}
.slider-career .owl-next:before {
  content: "\e941";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}
.slider-career .owl-dots {
  display: none;
}

.career-ss4 {
  display: inline-block;
  width: 100%;
}

.box-career-ss4 {
  display: inline-block;
  width: 100%;
  position: relative;
}

.box-right {
  display: inline-block;
  width: 100%;
}

.box-right-career {
  padding-left: 360px;
}
.box-right-career .pagging-page {
  margin-top: 30px;
}

.box-header-career {
  display: inline-block;
  width: 100%;
}
.box-header-career .search {
  border-radius: 1px;
  border: 1px solid #9C9CA2;
}
.box-header-career .search::-moz-placeholder {
  color: #9C9CA2;
}
.box-header-career .search::placeholder {
  color: #9C9CA2;
}
.box-header-career .custom-select {
  border: 1px solid #9C9CA2;
  height: 50px;
}
.box-header-career .custom-select .select-selected:after {
  top: 8px;
}

.box-sticky-item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 360px;
}

.tab-career {
  position: sticky;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  left: 0;
  top: 0;
  padding: 16px;
  box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.1);
}
.tab-career .tablinks {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 12px 0;
  border-bottom: 1px solid #EFEFEF;
}
.tab-career .tablinks:last-child {
  border-bottom: none;
}
.tab-career .tablinks img {
  margin-right: 10px;
}
.tab-career .tablinks .active-icon {
  display: none !important;
}
.tab-career .tablinks .default-icon {
  display: block !important;
}
.tab-career .tablinks.active .active-icon {
  display: block !important;
}
.tab-career .tablinks.active .default-icon {
  display: none !important;
}

.btn-back {
  font-weight: 500;
  letter-spacing: 2.8px;
  font-style: normal;
  border: 1px solid #75757A !important;
  color: #75757A !important;
}
.btn-back img {
  margin-right: 10px;
}

.box-career-detail {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.box-career-detail .box-career-left {
  display: inline-block;
  width: 100%;
  padding-right: 520px;
}
.box-career-detail h1 {
  font-family: "Canela-Regular";
  color: #27338C;
  margin-bottom: 0;
}
.box-career-detail .box-description-title {
  margin-top: 20px;
}
.box-career-detail .box-description-title span {
  margin-right: 24px;
}
.box-career-detail .box-content {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}
.box-career-detail .box-content h3 {
  font-family: "Canela-Regular";
  text-transform: uppercase;
  margin-bottom: 20px;
}
.box-career-detail .box-content ul {
  padding-left: 32px;
  margin-bottom: 50px;
}
.box-career-detail .box-sticky-item {
  right: 0;
  left: inherit;
}
.box-career-detail .form-apply-CV {
  position: sticky;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  left: 0;
  top: 0;
}

.page-404 {
  display: inline-block;
  width: 100%;
}
.page-404 .box-content {
  display: inline-block;
  text-align: center;
  position: absolute;
}
.page-404 .box-content p {
  display: inline-block;
  font-size: 160px;
  line-height: 130.6px;
  margin-bottom: 0;
  font-family: "Canela-Regular";
  color: #27338C;
}
.page-404 .box-content h5 {
  font-weight: 400;
  margin: 20px 0 40px 0;
}
.page-404 .box-content .btn-center {
  display: inline-block;
}
.page-404 .background-404 {
  display: inline-block;
  width: 100%;
}
.page-404 .body-404 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-page .box-tab {
  display: inline-block;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
.about-us-page .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
  justify-content: space-around;
  align-items: center;
}
.about-us-page .nav-tabs .nav-link {
  padding: 20px 0;
  color: #202124;
  line-height: 25.2px;
  font-size: 18px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
.about-us-page .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}

.tab-menu-content {
  display: inline-block;
  width: 100%;
}
.tab-menu-content .nav-tabs > li {
  margin-right: 26px;
}

.about-us-page .fade:not(.show) {
  opacity: 1;
}
.about-us-page .content-center-ss {
  align-items: center;
}
.about-us-page .about-us-ss1 {
  background: #EAF0FD;
}
.about-us-page .about-us-ss1 .title-section {
  text-align: left;
}
.about-us-page .about-us-ss1 .box-img {
  display: inline-block;
  width: 100%;
  padding-left: 85px;
}
.about-us-page .about-us-ss1 .box-img img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss2 .row {
  margin-right: -30px;
  margin-left: -30px;
}
.about-us-page .about-us-ss2 .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}
.about-us-page .about-us-ss2 .title-section {
  margin-bottom: 60px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content {
  margin-top: 20px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content h3 {
  margin-bottom: 10px;
}
.about-us-page .about-us-ss2 .career-item-y-icon .box-content p {
  color: #202124;
}
.about-us-page .about-us-ss2 .career-item-y-icon .icon-item {
  padding: 0;
}
.about-us-page .about-us-ss4 {
  background: #EAF0FD;
}
.about-us-page .about-us-ss4 .title-section {
  text-align: left;
}
.about-us-page .about-us-ss4 .content-center-ss {
  flex-direction: row-reverse;
}
.about-us-page .about-us-ss4 .box-img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss4 .box-img img {
  display: inline-block;
  width: 100%;
}
.about-us-page .about-us-ss4 .box-content {
  display: inline-block;
  width: 100%;
  padding-left: 85px;
}
.about-us-page .about-us-ss5 .btn-center {
  margin-top: 48px;
}

.btn-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.big-menu-service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.big-menu-service .box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  margin-bottom: 8px;
  border-bottom: 1px solid #EFEFEF;
}
.big-menu-service .item-service {
  display: inline-block;
  text-align: center;
}
.big-menu-service .item-service p {
  color: #75757A;
}
.big-menu-service .item-service:hover {
  text-decoration: none;
  cursor: pointer;
}
.big-menu-service .item-service:hover p {
  color: #75757A;
}
.big-menu-service .item-service.active .box-img {
  background: #27338C;
}
.big-menu-service .item-service.active .box-img .img-active {
  display: block;
}
.big-menu-service .item-service.active .box-img .img-none {
  display: none;
}
.big-menu-service .item-service.active p {
  color: #27338C;
}
.big-menu-service .box-img {
  display: inline-block;
  padding: 16px;
  border-radius: 100%;
  background: #EAF0FD;
}

.mini-tab-servives {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 24px auto 32px;
}
.mini-tab-servives .box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
}
.mini-tab-servives .box-item .btn-item {
  font-size: 14px;
  color: #75757A;
  padding: 8px 28px;
  background: #EAF0FD;
  border-radius: 20px;
}
.mini-tab-servives .box-item .btn-item:hover {
  cursor: pointer;
  text-decoration: none;
}
.mini-tab-servives .box-item .btn-item.active {
  color: #27338C;
}

.customer-sucsess-story-page .img-bg-breadcrumb {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.customer-sucsess-story-page .box-search {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.customer-sucsess-story-page .box-search .search {
  width: 100%;
  max-width: 680px;
  border: none;
  background: #EFEFEF;
  border-radius: 24px;
  font-size: 16px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
}
.customer-sucsess-story-page .box-search .search::-moz-placeholder {
  color: #9C9CA2 !important;
}
.customer-sucsess-story-page .box-search .search::placeholder {
  color: #9C9CA2 !important;
}
.customer-sucsess-story-page .banner-headpage {
  margin: 80px auto 76px;
}
.customer-sucsess-story-page .customer-say {
  margin-top: 48px;
}
.customer-sucsess-story-page .customer-say .customer-success-story-item {
  padding-top: 20px;
  border-top: 1px solid #EFEFEF;
  margin-bottom: 60px;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.menu2 {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.img-scale-1-1 {
  display: inline-block;
  width: 100%;
}
.img-scale-1-1 a {
  position: relative;
  padding-top: 100%;
  display: block;
}
.img-scale-1-1 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-4-2 {
  display: inline-block;
  width: 100%;
}
.img-scale-4-2 a {
  position: relative;
  padding-top: 50%;
  display: block;
}
.img-scale-4-2 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-16-9 {
  display: inline-block;
  width: 100%;
}
.img-scale-16-9 a {
  position: relative;
  padding-top: 56%;
  display: block;
}
.img-scale-16-9 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-3-5 {
  display: inline-block;
  width: 100%;
}
.img-scale-3-5 a {
  position: relative;
  padding-top: 166%;
  display: block;
}
.img-scale-3-5 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.img-scale-3-2 {
  display: inline-block;
  width: 100%;
}
.img-scale-3-2 a {
  position: relative;
  padding-top: 66%;
  display: block;
}
.img-scale-3-2 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}

.btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
.btn-booking.transform-uppercase {
  letter-spacing: 3px;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}

.btn-fill-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #27338C;
  color: #FFFFFF;
}
.btn-fill-action.transform-uppercase {
  letter-spacing: 3px;
}

.btn-text-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #27338C;
  color: #27338C;
}
.btn-text-brand.transform-uppercase {
  letter-spacing: 1.44px;
}

.img-banner-mb {
  display: none;
}

.img-banner-pc {
  display: block;
}

.title-section {
  max-width: 860px;
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
}
.title-section h2 {
  font-family: "Canela-Regular", sans-serif;
  color: #27338C;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title-section p {
  line-height: 25.5px;
  font-size: 16px;
}

.about-home {
  position: relative;
}
.about-home .infor-slide {
  padding: 0 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: left;
  z-index: 2;
}
.about-home .infor-slide h2 {
  font-family: "Canela-Regular";
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  font-weight: normal;
  line-height: var(--Font-size-H2-line-height, 44.8px); /* 140% */
  letter-spacing: var(--unit-unit-05, 2px);
  text-transform: uppercase;
  margin-bottom: 16px;
}
.about-home .infor-slide p {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  max-width: 610px;
}
.about-home .item {
  position: relative;
  padding: 0;
}
.about-home .item img {
  width: 100%;
}
.about-home .item::after {
  background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 0.6;
  height: 100%;
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}
.about-home .box-content {
  padding: 0 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: left;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-home .box-content .infor-slide {
  width: 50%;
  position: relative;
}
.about-home .box-content .bg-border {
  width: 760px;
  height: 760px;
  border: 3px solid #FFFFFF;
}
.about-home .btn-text-brand {
  margin-top: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
  border-bottom: 0;
  color: #FFFFFF;
}
.about-home .btn-text-brand::before {
  content: "";
  width: 122px;
  height: 1px;
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: 140px;
  left: 50px;
  background: #FFFFFF;
}
.about-home .btn-text-brand:hover {
  text-decoration: none;
}
.about-home .btn-text-brand span {
  margin-left: 10px;
}
.about-home .owl-nav {
  display: none;
}
.about-home .owl-dots {
  display: inline-block;
  position: absolute;
  bottom: 90px;
  right: 400px;
}
.about-home .owl-dots .owl-dot.active span {
  background: #27338C !important;
  width: 39px !important;
  height: 3px !important;
}
.about-home .owl-dots .owl-dot span {
  border-radius: 0;
  width: 15px !important;
  height: 3px !important;
  background: #9C9CA2 !important;
}

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: sticky !important;
  z-index: 1;
  top: 0;
}

.branches {
  background: #F3F7FF;
  padding: 80px 0 0 0;
  position: relative;
}
.branches .row {
  margin: 48px 0 58px 0;
}
.branches a {
  text-decoration: none;
  border: 1px solid #27338C;
  color: #27338C;
  margin: 0;
  padding: 20px;
  font-size: 22px;
  line-height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branches a span {
  margin-left: 10px;
}
.branches a:hover {
  background: #27338C;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.branches .branches-item {
  text-align: center;
  margin: 0 0 60px 0;
}
.branches .branches-item p {
  font-size: 62px;
  font-weight: 500;
  color: #DCAF26;
  margin-bottom: 9px;
  line-height: 73px;
}
.branches .branches-item h5 {
  color: #202124;
  font-weight: 400;
  font-size: 16px;
}
.branches .bg-branches {
  width: 100%;
}

#popup-branches .tab-content .fade:not(.show) {
  opacity: 1;
}
#popup-branches .scrollbar {
  background: transparent;
}
#popup-branches .nav-tabs .nav-link {
  padding: 17px 0;
  color: #202124;
  line-height: var(--Font-size-H5-line-height, 33.6px);
  font-size: 24px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
#popup-branches button:focus {
  outline: none;
}
#popup-branches .nav-tabs > li {
  margin-right: 50px;
}
#popup-branches .nav > li > a:focus, #popup-branches .nav > li > a:hover {
  background-color: transparent;
}
#popup-branches .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}
#popup-branches .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
#popup-branches .modal-header {
  padding: 0;
  border-bottom: 0;
}
#popup-branches .modal-content {
  border-radius: 0;
  height: 100%;
}
#popup-branches .modal-dialog {
  width: 100%;
  height: 100%;
  float: right;
  margin-top: 0;
  max-width: 1300px;
  position: fixed;
  right: 0;
}
#popup-branches .close {
  cursor: pointer;
  top: 14px;
  position: absolute;
  right: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #75757A;
  filter: none;
  opacity: 1;
  background: transparent;
}
#popup-branches .modal-body {
  background: #F3F7FF;
  padding: 24px;
  height: 100%;
}
#popup-branches .box-branches {
  background: #FFFFFF;
  margin-bottom: 30px;
}
#popup-branches .box-branches .item-branches {
  padding: 20px 20px 30px 20px;
  border-bottom: 1px solid #9C9CA2;
}
#popup-branches .box-branches .item-branches span {
  font-weight: 700;
  line-height: var(--Font-size-Sub-title-Line-Height, 22.4px); /* 140% */
  text-transform: uppercase;
  font-size: 16px;
  color: #27338C;
  margin-bottom: 8px;
}
#popup-branches .box-branches .item-branches .address {
  line-height: var(--Font-size-H5-line-height, 30.6px);
  font-size: 20px;
  margin-bottom: 18px;
}
#popup-branches .box-branches .item-branches .detail {
  position: relative;
  padding-left: 26px;
  margin-bottom: 8px;
}
#popup-branches .box-branches .item-branches .detail img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  margin-right: 8px;
}
#popup-branches .box-branches .item-branches .detail p {
  margin-bottom: 0;
  font-size: 22px;
  line-height: var(--Font-size-H6-line-height, 30.8px); /* 140% */
}
#popup-branches .box-branches .item-branches .detail .telephone-cn {
  color: #DCAF26;
}
#popup-branches .box-branches .btn-branches {
  display: flex;
  align-items: center;
}
#popup-branches .box-branches .btn-branches span {
  margin-left: 6px;
}
#popup-branches .box-branches .btn-branches .material-symbols-outlined {
  font-size: 22px;
}
#popup-branches .box-branches .btn-branches .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
#popup-branches .box-branches .btn-branches a {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: var(--Font-size-Body-Regular-Line-height, 25.2px);
  height: 55px;
  width: 50%;
  color: #27338C;
}
#popup-branches .box-branches .btn-branches a:first-child {
  border-right: 1px solid #9C9CA2;
}
#popup-branches .box-branches .btn-branches a:hover {
  text-decoration: none;
}

.breadcrumb-box {
  display: inline-block;
  width: 100%;
}
.breadcrumb-box .breadcrumb-icon-home img {
  height: 14px;
  width: 14px;
}
.breadcrumb-box nav ol {
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  background: none;
  display: flex;
  align-items: center;
}
.breadcrumb-box nav ol .breadcrumb-item {
  color: #75757A;
}
.breadcrumb-box nav ol .breadcrumb-item a {
  line-height: var(--Font-size-Label-small-Regular-Line-HeightHeight, 16.8px);
  font-size: 12px;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item {
  display: flex;
  padding-left: 0.5rem;
  font-size: 13px;
  align-items: center;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item::before {
  content: "\e5e1";
  padding: 0 8px;
  color: #75757A;
  font-size: 8px;
  font-family: "Material Symbols Outlined";
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item a {
  color: #75757A;
}
.breadcrumb-box .breadcrumb-item + .breadcrumb-item a:hover {
  text-decoration: none;
}

.categories {
  height: 100%;
  background: #FFFFFF;
  padding: 16px;
  box-shadow: 64px 45px 22px 0px rgba(214, 214, 214, 0), 41px 29px 20px 0px rgba(214, 214, 214, 0.01), 23px 16px 17px 0px rgba(214, 214, 214, 0.05), 10px 7px 13px 0px rgba(214, 214, 214, 0.09), 3px 2px 7px 0px rgba(214, 214, 214, 0.1);
}
.categories h5 {
  line-height: var(--Font-size-H5-line-height, 33.6px);
  margin-bottom: 20px;
  font-weight: 400;
  margin-top: 0;
}
.categories .item-categories {
  border-bottom: 1px #EFEFEF solid;
}
.categories .item-categories:last-child {
  border-bottom: 0;
}
.categories .accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.categories .accordion .img-no-active {
  display: block;
}
.categories .accordion .img-active {
  display: none;
}
.categories .accordion.active .img-no-active {
  display: none;
}
.categories .accordion.active .img-active {
  display: block;
}
.categories .accordion.active .sub-cate {
  display: block;
}
.categories .accordion.active h6 {
  color: #27338C;
  font-weight: 700;
}
.categories .accordion.active h6::after {
  content: "\e5ce";
}
.categories .panel {
  margin-bottom: 6px;
  padding-left: 35px;
  background-color: white;
  display: none;
  overflow: hidden;
  box-shadow: none;
}
.categories h6::after {
  content: "\e5cf";
  font-size: 20px;
  font-weight: 400;
  font-family: "Material Symbols Outlined";
  color: #5E635C;
}
.categories .detail {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.categories .detail img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.categories .detail h6 {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--Font-size-Sub-title-Line-Height, 22.4px);
  width: 100%;
  justify-content: space-between;
}
.categories .sub-cate {
  margin-bottom: 0;
}
.categories .sub-cate .input-custom {
  display: none;
}
.categories .sub-cate .label-custom:before {
  content: "\e5ca";
  font-family: "Material Symbols Outlined";
  font-size: 16px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: 1px solid #9C9CA2;
  box-sizing: border-box;
  border-radius: 1px;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
}
.categories .sub-cate .input-custom:checked + .label-custom::before {
  color: #27338C;
  background-color: transparent;
  border: 1px solid #27338C;
}
.categories .sub-cate .label-custom {
  color: #202124;
  line-height: 24px;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.categories .sub-cate .input-custom:checked + .label-custom {
  color: #27338C !important;
}
.categories .sub-cate li {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.categories .sub-cate .custom-checkbox {
  margin: 0 0 10px 0;
  display: inline-block;
  width: 100%;
}

.cookies {
  background: #27338C;
  padding: 20px 0;
  position: relative;
}
.cookies .box-cookies {
  display: flex;
  align-items: center;
}
.cookies h6 {
  padding-right: 30px;
  font-weight: 400;
  color: #FFFFFF;
}
.cookies h6 span a {
  color: #DCAF26;
  text-decoration: underline;
}
.cookies .material-symbols-outlined {
  color: #FFFFFF;
  font-size: 38px;
  position: absolute;
  right: 30px;
}
.cookies .material-symbols-outlined:hover {
  cursor: pointer;
}
.cookies .btn-booking:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.customer-success-story-item span {
  color: #75757A;
  margin-bottom: 4px;
  font-size: 14px;
  display: block;
}
.customer-success-story-item h3 {
  margin: 0;
  letter-spacing: inherit;
}
.customer-success-story-item h3 a {
  text-decoration: none;
  color: #202124;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.customer-success-story-item img {
  width: 100%;
  height: auto;
}

#popup-customer-success-story button:focus {
  outline: none;
}
#popup-customer-success-story .owl-prev {
  left: -60px;
}
#popup-customer-success-story .owl-next {
  right: -60px;
}
#popup-customer-success-story .owl-prev::before {
  background-image: none;
  width: inherit;
  height: inherit;
  font-size: 48px;
  font-weight: 300;
  content: "\e5e0";
  display: block;
  color: #9C9CA2;
  font-family: "Material Symbols Outlined";
}
#popup-customer-success-story .owl-next::before {
  background-image: none;
  width: inherit;
  height: inherit;
  font-size: 48px;
  font-weight: 300;
  content: "\e5e1";
  display: block;
  color: #9C9CA2;
  font-family: "Material Symbols Outlined";
}
#popup-customer-success-story .owl-dots {
  display: none;
}
#popup-customer-success-story .content {
  background: #202124;
  opacity: 0.9;
  padding: 20px;
}
#popup-customer-success-story .content h2 {
  font-family: "Canela-Regular";
  margin-bottom: 10px;
  color: #DCAF26;
}
#popup-customer-success-story .content p {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25.2px;
}
#popup-customer-success-story .modal-header {
  padding: 0;
  border-bottom: 0;
}
#popup-customer-success-story .modal-content {
  box-shadow: none;
}
#popup-customer-success-story .modal-content {
  background-color: transparent;
  border: 0;
}
#popup-customer-success-story .modal-dialog {
  max-width: 1200px;
}
#popup-customer-success-story .close {
  color: #FFFFFF;
  text-shadow: none;
  opacity: 1;
  background: #DCAF26;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  right: 45px;
  z-index: 23;
  top: 45px;
  font-size: 32px;
  cursor: pointer;
}
#popup-customer-success-story .owl-item {
  width: 100%;
}

button:focus {
  outline: none;
}

.experts-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.experts-item .img-scale-1-1 {
  display: inline-block;
  width: 100%;
  float: left;
}
.experts-item .info {
  text-align: center;
  padding: 20px;
  float: left;
  width: 100%;
}
.experts-item .info h2 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}
.experts-item .info h2 a {
  color: #202124;
}
.experts-item .info h2 a:hover {
  text-decoration: none;
  color: #27338C;
}
.experts-item .info p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #9C9CA2;
  margin-bottom: 0;
}

.floating-action-button {
  display: block;
  top: 300px;
  position: fixed;
  left: 0;
  z-index: 10;
  background: #27338C;
  border-radius: 1px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
}
.floating-action-button .item-floating {
  border-bottom: 0.5px solid #3241B5;
  padding: 10px 0;
}
.floating-action-button .item-floating:last-child {
  border-bottom: 0;
}
.floating-action-button .item-floating a {
  text-align: center;
  padding: 0 10px;
  display: block;
  width: 100%;
}
.floating-action-button .item-floating a img {
  margin-bottom: 2px;
}
.floating-action-button .item-floating a p {
  line-height: 10px;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 6px;
  margin-bottom: 0;
}

.form-appointment {
  background: #27338C;
  padding: 30px 40px;
}
.form-appointment .select-selected:after {
  top: 10px;
}
.form-appointment .select-items {
  max-height: 300px;
  overflow-y: auto;
  top: 50px;
  width: 92%;
  left: 15px;
}
.form-appointment .waitng-send::before {
  content: "\e9d0";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-appointment .success-send {
  background: #34C759;
}
.form-appointment .success-send::before {
  content: "\e2e6";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-appointment .note {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 32px;
}
.form-appointment .note span {
  color: #DCAF26;
  font-weight: 700;
}
.form-appointment .btn-booking {
  width: 100%;
  margin-top: 14px;
}
.form-appointment .btn-booking:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.form-appointment h3 {
  text-transform: uppercase;
  color: #DCAF26;
  font-family: "Canela-Regular";
  font-weight: 400;
  margin: 0 0 24px 0;
  line-height: 39.2px;
}
.form-appointment .status-booking {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form-appointment .status-booking span {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.form-appointment .status-booking .iden-item {
  display: flex;
  align-items: center;
}
.form-appointment .status-booking .iden-item::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 20px;
  margin-right: 10px;
  background: #fff;
  border-radius: 2px;
}
.form-appointment .status-booking .iden-action::before {
  background: #DCAF26;
}
.form-appointment .status-booking .iden-dissible::before {
  background: #EAF0FD;
}
.form-appointment .form-group {
  margin-bottom: 0;
}

/* ------------------- Selecbox -------------------*/
.form-control:focus {
  box-shadow: none;
}

.form-group .form-control, .form-group .custome-select select {
  margin-bottom: 10px;
  border: 0;
  font-size: 16px;
  padding: 15px 22px;
  height: 55px;
  color: #202124;
  display: inline-block;
  width: 100%;
  border-radius: 1px;
}

input::-moz-placeholder {
  color: #202124 !important;
}

input::placeholder {
  color: #202124 !important;
}

.custom-select {
  margin-bottom: 20px;
  border: 0;
  font-size: 16px;
  padding: 15px 22px;
  height: 55px;
  border-radius: 1px;
  color: #202124;
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  text-align: left;
}

textarea.form-control {
  height: 131px !important;
  margin-bottom: 5px !important;
}
textarea.form-control::-moz-placeholder {
  color: #202124;
}
textarea.form-control::placeholder {
  color: #202124;
}

.form-control, .custom-select {
  height: 55px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 1px;
  border: none;
  padding: 15px 22px;
  color: #202124;
}

.custom-select select {
  height: 100%;
  width: 100%;
  background: transparent;
  border: transparent;
  color: #202124;
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e313";
  font-family: "Material Symbols Outlined";
  color: #75757A;
  top: 16px;
  right: 54px;
  font-size: 24px;
  font-weight: 400;
}

.form-group {
  margin-bottom: 0;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #202124;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
}

.select-selected.active {
  color: #202124 !important;
  font-size: 16px !important;
}

.select-items div {
  color: #202124;
  padding: 10px;
}

/* Style items (options): */
.select-items {
  padding: 0 0;
  overflow: hidden;
  width: 90%;
  position: absolute;
  background-color: white;
  top: 30px;
  left: 20px;
  right: 0;
  z-index: 99;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.form-control {
  color: #202124;
  font-size: 16px;
}

.select-items div:hover,
.same-as-selected {
  background-color: #f4f5f9;
}

.from-group label {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  color: #fff;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-apply-CV {
  background: #27338C;
  padding: 30px 40px;
  /* Hide input*/
}
.form-apply-CV .waitng-send::before {
  content: "\e9d0";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-apply-CV .success-send {
  background: #34C759;
}
.form-apply-CV .success-send::before {
  content: "\e2e6";
  color: #FFFFFF;
  font-size: 24px;
  margin-right: 10px;
  font-family: "Material Symbols Outlined";
  font-weight: 400;
}
.form-apply-CV .note {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 32px;
}
.form-apply-CV .note span {
  color: #DCAF26;
  font-weight: 700;
}
.form-apply-CV .btn-booking {
  width: 100%;
  margin-top: 14px;
}
.form-apply-CV .btn-booking:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.form-apply-CV h3 {
  line-height: 39.2px;
  text-transform: uppercase;
  color: #DCAF26;
  font-family: "Canela-Regular";
  font-weight: 400;
  margin: 0 0 24px 0;
}
.form-apply-CV .status-booking {
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.form-apply-CV .status-booking span {
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.form-apply-CV .status-booking .iden-item {
  display: flex;
  align-items: center;
}
.form-apply-CV .status-booking .iden-item::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 20px;
  margin-right: 10px;
  background: #fff;
  border-radius: 2px;
}
.form-apply-CV .status-booking .iden-action::before {
  background: #DCAF26;
}
.form-apply-CV .status-booking .iden-dissible::before {
  background: #EAF0FD;
}
.form-apply-CV .form-group {
  margin-bottom: 0;
}
.form-apply-CV .inputfile {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form-apply-CV .inputfile + label * {
  pointer-events: none;
}
.form-apply-CV label::before {
  display: inline-block;
  content: "";
  height: 28px;
  width: 40px;
  background-image: url(../images/folder-attachment.svg);
  background-repeat: no-repeat;
  margin-right: 8px;
}
.form-apply-CV .inputfile + label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 0;
  padding: 15px 22px;
  height: 55px;
  width: 100%;
  border-radius: 1px;
  background: white;
}
.form-apply-CV .inputfile + label span {
  font-size: 16px;
  color: #202124;
  font-weight: 400;
  display: flex;
  align-items: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero-slider button:focus {
  outline: none;
}
.hero-slider .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.hero-slider .owl-dots .owl-dot.active span {
  background: #27338C !important;
  width: 39px !important;
  height: 3px !important;
}
.hero-slider .owl-dots .owl-dot span {
  border-radius: 0;
  width: 15px !important;
  height: 3px !important;
  background: #9C9CA2 !important;
}
.hero-slider .owl-prev {
  position: absolute;
  left: 5%;
  top: 50%;
}
.hero-slider .owl-next {
  position: absolute;
  right: 5%;
  top: 50%;
}
.hero-slider .owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%;
}
.hero-slider .owl-nav .owl-prev:hover {
  background: transparent !important;
}
.hero-slider .owl-nav .owl-prev:hover::before {
  color: #27338C;
}
.hero-slider .owl-nav .owl-next:hover {
  background: transparent !important;
}
.hero-slider .owl-nav .owl-next:hover::before {
  color: #27338C;
}
.hero-slider .owl-next span, .hero-slider .owl-prev span {
  display: none;
}
.hero-slider .owl-next::before {
  content: "";
  display: block;
  color: #777;
  height: 75px;
  width: 75px;
  background-image: url(../images/ic-next.svg);
  background-repeat: no-repeat;
}
.hero-slider .owl-prev::before {
  height: 75px;
  width: 75px;
  background-image: url(../images/ic-prev.svg);
  background-repeat: no-repeat;
  content: "";
  font-weight: 400;
  display: block;
  color: #777;
}
.hero-slider .item img {
  width: 100%;
}

.blogs-item-bg-white {
  background: #FFFFFF;
  display: inline-block;
  margin-bottom: 60px;
  width: 100%;
  box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.1);
}
.blogs-item-bg-white .img-scale-3-2 {
  float: left;
}
.blogs-item-bg-white .info-blog {
  float: left;
  padding: 20px;
}
.blogs-item-bg-white .info-blog h2 {
  margin: 0;
  font-size: 26px;
  line-height: 36.4px;
  font-weight: 700;
}
.blogs-item-bg-white .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  text-transform: uppercase;
  overflow: hidden;
}
.blogs-item-bg-white .info-blog h2 a:hover {
  text-decoration: none;
}
.blogs-item-bg-white .info-blog p {
  margin-top: 12px;
  line-height: 25.2px;
  font-size: 18px;
  margin-bottom: 0;
  color: #75757A;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogs-item-small-bg-white {
  background: #FFFFFF;
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 109px 31px 0px rgba(212, 212, 212, 0), 0px 70px 28px 0px rgba(212, 212, 212, 0.01), 0px 39px 24px 0px rgba(212, 212, 212, 0.05), 0px 17px 17px 0px rgba(212, 212, 212, 0.09), 0px 4px 10px 0px rgba(212, 212, 212, 0.1);
}
.blogs-item-small-bg-white .img-scale-3-2 {
  float: left;
}
.blogs-item-small-bg-white .info-blog {
  float: left;
  padding: 20px;
}
.blogs-item-small-bg-white .info-blog h2 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
.blogs-item-small-bg-white .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  text-transform: uppercase;
  overflow: hidden;
}
.blogs-item-small-bg-white .info-blog h2 a:hover {
  text-decoration: none;
}

.blogs-item-no-bg {
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
}
.blogs-item-no-bg .img-scale-3-2 {
  float: left;
}
.blogs-item-no-bg .info-blog {
  float: left;
  padding: 20px 20px 0 20px;
}
.blogs-item-no-bg .info-blog h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  font-family: "Roboto", sans-serif;
  letter-spacing: initial;
}
.blogs-item-no-bg .info-blog h2 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #202124;
  overflow: hidden;
}
.blogs-item-no-bg .info-blog h2 a:hover {
  text-decoration: none;
}

.services-item {
  display: inline-block;
  width: 100%;
}
.services-item .img-scale-16-9 {
  float: left;
  width: 100%;
}
.services-item .info-blog {
  float: left;
  width: 100%;
}
.services-item .info-blog h2 {
  margin: 16px 0 0 0;
  letter-spacing: inherit;
  font-size: 16px;
  line-height: 12.8px;
}
.services-item .info-blog h2 a {
  color: #202124;
  font-weight: 400;
}
.services-item .info-blog h2 a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #27338C;
}

.news-event-flex {
  display: flex;
  background: #EFEFEF;
  width: 100%;
  position: relative;
}
.news-event-flex .img-scale-1-1 {
  width: 60%;
  height: 100%;
}
.news-event-flex .btn-text-brand {
  text-transform: inherit;
  font-weight: 400;
  font-size: 18px;
}
.news-event-flex .info-blog {
  padding: 30px;
  width: 40%;
}
.news-event-flex .info-blog h2 {
  font-size: 26px;
  line-height: 36px;
  margin: 0 0 16px 0;
}
.news-event-flex .info-blog h2 a {
  color: #202124;
}
.news-event-flex .info-blog p {
  line-height: 24px;
  font-size: 16px;
  color: #75757A;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-event-flex .info-blog .btn-text-brand {
  position: absolute;
  bottom: 30px;
}

.news-event-no-flex {
  background: #EFEFEF;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
}
.news-event-no-flex .img-scale-16-9 {
  float: left;
}
.news-event-no-flex .btn-text-brand {
  text-transform: inherit;
  font-weight: 400;
  font-size: 18px;
}
.news-event-no-flex .info-blog {
  float: left;
  padding: 30px;
}
.news-event-no-flex .info-blog h2 {
  font-size: 22px;
  line-height: 36px;
  margin: 0 0 16px 0;
}
.news-event-no-flex .info-blog h2 a {
  color: #202124;
}
.news-event-no-flex .info-blog .btn-text-brand {
  position: absolute;
  bottom: 30px;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

/*--header & menu--*/
header {
  background: #FFF;
  height: 90px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
header button {
  outline: none;
  border: 0;
  background: none;
}
header .contaier-full {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .contaier-full .left-header {
  display: flex;
  align-items: center;
}
header .contaier-full .left-header .menu-hambuger {
  display: flex;
  align-items: center;
}
header .contaier-full .left-header .menu-hambuger img {
  width: 35px;
  margin-right: 8px;
}
header .contaier-full .left-header .menu-hambuger button {
  outline: none;
  background: none;
  border: 0;
  display: flex;
  align-items: center;
}
header .contaier-full .left-header nav {
  margin-left: 46px;
}
header .contaier-full .left-header nav ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header .contaier-full .left-header nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .contaier-full .left-header nav ul li a {
  padding: 0 26px;
  color: #202124;
}
header .contaier-full .logo-header {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
header .contaier-full .right-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .contaier-full .right-header .btn-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  background: #DCAF26;
  color: #FFFFFF;
}
header .contaier-full .right-header .btn-booking.transform-uppercase {
  letter-spacing: 3px;
}
header .contaier-full .right-header .hotline-header a {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .contaier-full .right-header .hotline-header h6 {
  color: #202124;
  font-weight: normal;
}

.show-menu-hambuger {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.68);
}
.show-menu-hambuger .close-submenu {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9999;
}
.show-menu-hambuger .show-menu-hambuger-body {
  display: flex;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__left {
  min-width: 440px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu {
  display: inline-block;
  width: 100%;
  padding: 60px 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li.sub-categories::after {
  background: url(../images/arrow-right.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  content: "";
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li a {
  color: #202124;
  display: inline-block;
  width: 100%;
  font-size: 26px;
  padding: 17px 0px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li a:hover {
  color: #27338C;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  display: none;
  opacity: 0;
  max-width: 480px;
  height: 100%;
  padding-top: 200px;
  z-index: 999;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul::before {
  content: "";
  display: block;
  background: #F3F7FF;
  height: 100%;
  position: fixed;
  width: 600px;
  left: 491px;
  border-left: 1px solid #EFEFEF;
  top: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul li {
  display: flex;
  padding-left: 139px;
  width: 100%;
  position: relative;
  z-index: 9;
  align-items: center;
  max-width: 490px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li ul li a {
  font-size: 22px;
  display: inline-block;
  width: 100%;
  color: #202124;
  padding-left: 50px;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li:hover ul {
  display: block;
  opacity: 1;
}
.show-menu-hambuger .show-menu-hambuger-body__left .body-submenu nav ul li.active a {
  color: #27338C;
}
.show-menu-hambuger .show-menu-hambuger-body__right {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  background: #F3F7FF;
  display: flex;
  align-items: center;
}
.show-menu-hambuger .show-menu-hambuger-body__right .body-sub-right {
  display: inline-block;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 {
  display: inline-block;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 a {
  position: relative;
  padding-top: 56%;
  display: block;
}
.show-menu-hambuger .show-menu-hambuger-body__right .img-scale-16-9 a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  left: 0;
  top: 0;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-stories-customer {
  display: flex;
  align-items: center;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-stories-customer a {
  color: #202124;
}
.show-menu-hambuger .show-menu-hambuger-body__right .item-customer-story {
  background: white;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.show-menu-hambuger .show-menu-hambuger-body__right .button-customer-stories {
  margin-bottom: 30px;
  display: flex;
  justify-content: right;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-submenu {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}
.show-menu-hambuger .show-menu-hambuger-body__right .title-submenu b {
  color: #202124;
  text-transform: uppercase;
}
.show-menu-hambuger .show-menu-hambuger-body__right .thumnail-customer-stories {
  min-width: 280px;
}

.btn-outline-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 44.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 52px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  border: 1px solid #27338C;
  color: #27338C;
}
.btn-outline-action.transform-uppercase {
  letter-spacing: 3px;
}

/*-- scroll box--*/
.scrollbar {
  float: left;
  height: 78vh;
  width: 100%;
  background: #fff;
  overflow-y: auto;
  margin-bottom: 25px;
}

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto;
}

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*--end scroll box--*/
/*--end header & menu--*/
@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.title-section h2 {
  letter-spacing: 2px !important;
}

.btn-action-center {
  margin-top: 48px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-booking, .btn-outline-action, .btn-fill-action {
  font-weight: 500 !important;
  letter-spacing: 2.8px !important;
  border-radius: 1px !important;
}

.btn-text-brand {
  font-size: 18px;
  text-transform: inherit;
  letter-spacing: 1.44px;
  font-weight: 400;
}

.ss-hero-slider {
  padding: 0;
}
.ss-hero-slider .hero-slider .owl-dots .owl-dot span {
  display: block;
  margin: 5px 7px;
}

.ss-promotion {
  padding-top: 0;
}

.ss-about-home {
  padding: 0;
}
.ss-about-home .about-home .owl-dots .owl-dot span {
  display: block;
  margin: 5px 7px;
}

.ss-stories-customer {
  background: #F3F7FF;
}

.pagging-page {
  display: inline-block;
  width: 100%;
}
.pagging-page .pagination {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.pagging-page ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #75757A;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.pagging-page ul li a.active {
  background-color: transparent;
  padding-top: 5px;
  border-radius: 0px;
  background: #27338C;
  color: #FFFFFF;
}
.pagging-page ul li a i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ti-angle-left:before {
  content: "\e408";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.ti-angle-right:before {
  content: "\e409";
  color: #75757A;
  font-size: 24px;
  font-weight: 300;
  font-family: "Material Symbols Outlined";
  font-style: normal;
}

.search {
  color: #202124;
}
.search::-moz-placeholder {
  color: #75757A !important;
}
.search::placeholder {
  color: #75757A !important;
}
.search:focus {
  border: 1px solid #27338C;
}

.titlelarge-headpage {
  line-height: 56px;
  font-size: 40px;
  color: #27338C;
  font-family: "Canela-Regular";
  letter-spacing: 2px;
  margin: 16px 0 50px 0;
  text-transform: uppercase;
  text-align: center;
}

.ss-servies-list {
  padding: 0;
}
.ss-servies-list .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-servies-list .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-servies-list .pagging-page .pagination {
  margin-top: 20px;
}
.ss-servies-list .categories {
  margin-right: 30px;
}
.ss-servies-list .box-list-servies {
  padding-bottom: 60px;
}
.ss-servies-list .box-list-servies .services-item {
  margin-bottom: 40px;
}
.ss-servies-list .box-list-servies .numbers-search {
  display: inline-block;
  width: 100%;
  color: #9C9CA2;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 40px;
  line-height: 12.8px;
}

.no-result-servies {
  margin-top: 60px;
  text-align: center;
}
.no-result-servies p {
  margin-top: 50px;
  font-size: 16px;
  color: #202124;
  margin-bottom: 0;
}

.banner-headpage {
  padding-top: 20px;
  min-height: 233px;
  background: linear-gradient(90deg, #F0E3EC 0%, #FFFAF7 13%, #FAECF2 28%, #A2B1EC 100%);
}
.banner-headpage .breadcrumb-box nav ol {
  padding-top: 0;
}
.banner-headpage .titlelarge-headpage {
  margin-top: 70px;
}

.tab-menu-content .box-tab {
  background: #FFF;
  box-shadow: 0px 22px 6px 0px rgba(222, 222, 222, 0), 0px 14px 6px 0px rgba(222, 222, 222, 0.01), 0px 8px 5px 0px rgba(222, 222, 222, 0.05), 0px 4px 4px 0px rgba(222, 222, 222, 0.09), 0px 1px 2px 0px rgba(222, 222, 222, 0.1);
}
.tab-menu-content .nav-tabs {
  justify-content: center;
}
.tab-menu-content .nav-tabs .nav-link {
  padding: 20px 0;
  color: #202124;
  line-height: 25.2px;
  font-size: 18px;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  background: transparent;
}
.tab-menu-content .nav-tabs > li {
  margin-right: 26px;
}
.tab-menu-content .nav > li > a:focus, .tab-menu-content .nav > li > a:hover {
  background-color: transparent;
}
.tab-menu-content .nav-tabs .nav-link.active {
  border-bottom: 2px solid #27338C;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #27338C;
}
.tab-menu-content .nav-tabs {
  height: 100%;
  margin-bottom: 1px;
  padding: 0 30px;
  border-bottom: 0;
}

.ss-beauty-secrets {
  padding-top: 0;
}
.ss-beauty-secrets .fade:not(.show) {
  opacity: 1;
}
.ss-beauty-secrets .list-item-beauty {
  margin-top: 40px;
}
.ss-beauty-secrets .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-beauty-secrets .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-beauty-secrets .box-item-large {
  display: flex;
}
.ss-beauty-secrets .box-item-large .content-right {
  width: 25%;
}
.ss-beauty-secrets .box-item-large .content-left {
  width: 75%;
  padding-right: 60px;
}

.banner-detailpage {
  background: #F3F7FF;
  padding: 31px 0;
}
.banner-detailpage .container {
  padding-right: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
.banner-detailpage .img-banner {
  width: 50%;
}
.banner-detailpage .img-banner img {
  width: 100%;
}
.banner-detailpage .content {
  width: 50%;
  padding-right: 60px;
}
.banner-detailpage .content span {
  color: #202124;
  line-height: 22.4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.banner-detailpage .content h1 {
  font-weight: 400;
  line-height: 77px;
  font-size: 68px;
  color: #27338C;
  margin: 16px 0;
  font-family: "Canela-Regular";
}
.banner-detailpage .content p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 33.6px;
}

.ss-detail-page.none-overflow {
  overflow: inherit;
}

.content-detail-page {
  padding-right: 100px;
}
.content-detail-page .nav-pills .nav-link {
  color: #202124;
}
.content-detail-page p {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 30.8px;
  text-align: justify;
}
.content-detail-page img {
  width: 100%;
  margin-bottom: 20px;
}

.nd-danhmuc {
  background: #FFFFFF;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.09);
  padding: 30px 30px 30px 40px;
  top: 50px;
}
.nd-danhmuc .nav-pills .nav-link {
  font-size: 18px;
  padding: 0;
}
.nd-danhmuc h6 {
  margin-left: -15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.nd-danhmuc ul li {
  padding-left: 0;
  list-style: disc;
  width: 100%;
  background: transparent;
  margin-bottom: 24px;
}
.nd-danhmuc ul li:last-child {
  margin-bottom: 0;
}
.nd-danhmuc ul li a {
  color: #202124;
}
.nd-danhmuc .bg-light {
  background-color: transparent !important;
  padding: 0;
}
.nd-danhmuc .nav-pills .nav-link.active, .nd-danhmuc .nav-pills .show > .nav-link {
  background: transparent;
  color: #27338C;
}

.list-tags {
  margin: 20px 0;
}
.list-tags span {
  line-height: 30.8px;
  font-size: 18px;
}
.list-tags a {
  border-radius: 50px;
  color: #27338C;
  font-size: 18px;
  padding: 6px 18px;
  line-height: 30.8px;
  margin: 0 5px;
  display: inline-block;
  background: #EAF0FD;
}

.title-section {
  margin-bottom: 48px;
}
.title-section p {
  max-width: 85% !important;
  margin: 0 auto !important;
}

.ss-related-articles {
  background: #F3F7FF;
}
.ss-related-articles .blogs-item-no-bg {
  background: #FFFFFF;
  margin-bottom: 0;
}
.ss-related-articles .blogs-item-no-bg .info-blog {
  padding: 20px;
}
.ss-related-articles .row {
  margin-right: -30px;
  margin-left: -30px;
}
.ss-related-articles .row .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.ss-list-news-event {
  padding-top: 0;
}
.ss-list-news-event .fade:not(.show) {
  opacity: 1;
}
.ss-list-news-event .list-item-beauty {
  margin-top: 40px;
}
.ss-list-news-event .row {
  margin-right: -20px;
  margin-left: -20px;
}
.ss-list-news-event .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.ss-list-news-event .box-item-large {
  display: flex;
}
.ss-list-news-event .box-item-large .content-right {
  width: 25%;
}
.ss-list-news-event .box-item-large .content-left {
  width: 75%;
  padding-right: 60px;
}

.banner-headpage.banner-headpage-large {
  background: #F3F7FF;
  padding-top: 60px;
}
.banner-headpage.banner-headpage-large .box-content {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.banner-headpage.banner-headpage-large .box-content .content-left {
  width: 50%;
  position: absolute;
  left: 270px;
  top: 130px;
}
.banner-headpage.banner-headpage-large .box-content .content-left .btn-booking {
  margin-top: 30px;
  background: #27338C;
}
.banner-headpage.banner-headpage-large .box-content .content-left h1 {
  text-align: left;
  margin: 0 0 30px 0;
}
.banner-headpage.banner-headpage-large .box-content .content-left p {
  max-width: 50%;
  margin-bottom: 0;
  padding-right: 50px;
}
.banner-headpage.banner-headpage-large .box-content .content-right {
  width: 50%;
}
.banner-headpage.banner-headpage-large .box-content .content-right img {
  width: 100%;
}
.banner-headpage.banner-headpage-large .box-flex {
  display: flex;
  align-items: flex-start;
  padding: 60px 45px 0 45px;
}
.banner-headpage.banner-headpage-large .box-flex .box-img-details {
  width: 250px;
}
.banner-headpage.banner-headpage-large .box-img-details {
  max-width: 300px;
}
.banner-headpage.banner-headpage-large .box-img-details .img-scale-3-5 {
  display: inline-block;
  width: 100%;
  max-width: 60%;
  margin-top: 30px;
}

.banner-headpage.banner-headpage-large.banner-team-of-experts-detail {
  background: #F3F7FF;
  padding-top: 0;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content {
  display: flex;
  align-items: center;
  padding-left: 70px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left {
  width: 50%;
  position: initial;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left .btn-booking {
  margin-top: 30px;
  background: #27338C;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left h1 {
  text-align: left;
  margin: 0 0 30px 0;
  text-transform: inherit;
  font-size: 68px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-left p {
  max-width: 50%;
  margin-bottom: 0;
  padding-right: 50px;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-right {
  width: 50%;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-content .content-right img {
  width: 100%;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-flex {
  display: flex;
  align-items: center;
  padding: 0;
}
.banner-headpage.banner-headpage-large.banner-team-of-experts-detail .box-flex .box-img-details {
  width: 250px;
}

.ss-cotent-experts-detail {
  padding: 0;
  position: relative;
}
.ss-cotent-experts-detail .box-large {
  max-width: 1000px;
  display: block;
  padding-right: 70px;
}
.ss-cotent-experts-detail .box-large .list-icons .detail {
  position: relative;
  padding: 32px 0 32px 65px;
  border-bottom: 1px solid #E5E5E5;
}
.ss-cotent-experts-detail .box-large .list-icons .detail img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
}
.ss-cotent-experts-detail .box-large .list-icons .detail p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}
.ss-cotent-experts-detail .box-large .list-icons .detail span {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.ss-cotent-experts-detail .box-large .content-detail {
  margin: 60px 0;
}
.ss-cotent-experts-detail .box-large .content-detail p {
  margin: 16px 0;
  font-size: 20px;
  line-height: 36px;
}
.ss-cotent-experts-detail .box-large .content-detail img {
  width: 100%;
}
.ss-cotent-experts-detail .box-large .customer-say {
  margin-bottom: 60px;
}
.ss-cotent-experts-detail .box-large .customer-say .customer-success-story-item {
  margin-bottom: 60px;
}
.ss-cotent-experts-detail .box-large .customer-say .btn-action-center {
  margin-top: 0;
}
.ss-cotent-experts-detail .title-section {
  max-width: 100%;
  text-align: left;
}
.ss-cotent-experts-detail .title-section h2 {
  color: #27338C;
  font-weight: 400;
  letter-spacing: 0.64px;
  font-family: "Canela-Regular";
  font-size: 32px;
  margin: 0 0 20px 0;
  text-transform: inherit;
  text-align: left;
}
.ss-cotent-experts-detail .form-appointment {
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

.ss-experts-sample {
  background: #F3F7FF;
  padding: 60px 0;
}
.ss-experts-sample .box-ss-experts-sample {
  padding-left: 15px;
}
.ss-experts-sample .title-section {
  max-width: 100%;
  text-align: left;
}
.ss-experts-sample .title-section p {
  max-width: 60% !important;
  margin: 0 !important;
}
.ss-experts-sample .title-section h2 {
  color: #27338C;
  font-weight: 400;
  letter-spacing: 0.64px;
  font-family: "Canela-Regular";
  font-size: 32px;
  margin: 0 0 20px 0;
  text-transform: inherit;
  text-align: left;
}

.item-bar-search h6 {
  font-weight: 400;
}

.banner-searchs .box-bar-search {
  max-width: 900px;
  margin: 40px auto 0 auto;
  display: block;
  width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\e5e1";
  font-family: "Material Symbols Outlined";
  font-size: 8px;
}

.ss-searchs h5 {
  line-height: 33.6px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 40px;
}
.ss-searchs .box-search-large {
  max-width: 900px;
}
.ss-searchs .item-search {
  margin-bottom: 32px;
  justify-content: inherit;
}
.ss-searchs .item-search img {
  width: 100%;
  max-width: 180px;
}
.ss-searchs .item-search .no-thumb-avatar {
  display: none;
}
.ss-searchs .block-ellipsis {
  height: 100%;
  line-height: 22.4px;
}

@font-face {
  font-family: "Canela-Bold";
  src: url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../fonts/Canela-Regular.woff2") format("woff2"), url("../fonts/Canela-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 64px;
  line-height: 89.6px;
  letter-spacing: 1px;
}
h1.transform-uppercase {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 1px;
}
h2.transform-uppercase {
  letter-spacing: 2px;
}

h3 {
  font-size: 26px;
  letter-spacing: 1px;
}
h3.transform-uppercase {
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}/*# sourceMappingURL=style.css.map */