@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.breadcrumbs i {
  margin-right: 10px; }

.head-page .head-title-page {
  text-align: center;
  margin: 0 auto; }

.head-page::after {
  opacity: 0.8 !important; }

a:hover {
  color: #0093D8; }

.menu-tab-blogs {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); }
  .menu-tab-blogs ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    margin: 0;
    padding-bottom: 0; }
    .menu-tab-blogs ul .no-sub {
      padding: 10px;
      margin: 0 40px; }
      .menu-tab-blogs ul .no-sub a:hover {
        color: #0093D8; }
      .menu-tab-blogs ul .no-sub.active {
        border-bottom: 2px solid #0093D8; }
        .menu-tab-blogs ul .no-sub.active a {
          color: #0093D8; }
    .menu-tab-blogs ul li {
      list-style: none; }
      .menu-tab-blogs ul li a {
        font-size: 18px;
        font-weight: 700;
        color: #222;
        text-transform: uppercase; }

.news-list-cate-news {
  padding-bottom: 0; }
  .news-list-cate-news .item-news .info-news {
    background: transparent;
    box-shadow: none;
    padding: 15px 0 0 0; }
  .news-list-cate-news .item-news .desc-news {
    -webkit-line-clamp: 3; }
  .news-list-cate-news .item-news .avatar-thumb a img {
    border-radius: 4px; }

.date-time-news span {
  margin-right: 5px !important; }

.title-cate-item {
  text-transform: uppercase;
  font-size: 12px;
  color: #777; }

.item-news .text-alpha {
  margin-bottom: 0; }
.item-news .title-news {
  margin: 5px 0; }
.item-news .date-time-news {
  margin-bottom: 0; }
.item-news .desc-news {
  margin-top: 10px; }

.hot-news {
  background: #F5F7FB;
  float: left; }

.detail-cate-news {
  padding-bottom: 0; }
  .detail-cate-news .title-section h2 {
    margin-bottom: 0; }
  .detail-cate-news .itemnews-large {
    height: 100%;
    align-items: center; }
    .detail-cate-news .itemnews-large.lagre-news .desc-news {
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3; }
    .detail-cate-news .itemnews-large.lagre-news .title-news a {
      font-size: 24px;
      line-height: 28px;
      color: #222; }
    .detail-cate-news .itemnews-large .avatar-thumb a img {
      border-radius: 4px; }
    .detail-cate-news .itemnews-large .info-news h3 {
      margin: 5px 0; }
    .detail-cate-news .itemnews-large .text-alpha {
      margin-bottom: 0; }
    .detail-cate-news .itemnews-large .date-time-news {
      margin-bottom: 20px; }
    .detail-cate-news .itemnews-large .desc-news {
      margin-bottom: 0; }

.list-detail-cate-news {
  padding-bottom: 0; }

.item-orther-categories {
  background: #FFFFFF;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px; }
  .item-orther-categories h4 {
    margin-bottom: 0; }
    .item-orther-categories h4 a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      font-size: 18px;
      color: #222; }
      .item-orther-categories h4 a:hover {
        color: #0093D8; }

.other-categories .col-md-4:nth-child(odd) .item-orther-categories {
  border-left: 8px solid #0093D8; }

.other-categories .col-md-4:nth-child(even) .item-orther-categories {
  border-left: 8px solid #EB1C24; }

.headpage-detail-news {
  margin-top: 130px; }
  .headpage-detail-news .breadcrumbs {
    position: inherit; }
    .headpage-detail-news .breadcrumbs a {
      color: #777; }
    .headpage-detail-news .breadcrumbs i {
      color: #777; }

.none-overflow {
  overflow: inherit; }

.content-detail-news .show-sticky {
  top: 140px; }
.content-detail-news .box-sticky-scroll {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 20px; }
  .content-detail-news .box-sticky-scroll h5 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase; }
  .content-detail-news .box-sticky-scroll ul {
    padding-left: 30px;
    margin-bottom: 0; }
    .content-detail-news .box-sticky-scroll ul li {
      margin-bottom: 5px; }
      .content-detail-news .box-sticky-scroll ul li a {
        color: #222;
        font-size: 14px;
        font-weight: 500; }
    .content-detail-news .box-sticky-scroll ul .li-sub {
      list-style: none;
      padding-left: 20px; }
      .content-detail-news .box-sticky-scroll ul .li-sub a {
        opacity: 0.8;
        font-size: 13px;
        font-family: inherit;
        font-weight: normal; }
.content-detail-news img {
  border-radius: 4px; }
.content-detail-news .list-tags-news a {
  border: 1px solid #0093D8;
  border-radius: 30px;
  color: #0093D8;
  font-size: 14px;
  padding: 1px 20px;
  line-height: 28px;
  margin: 10px 10px 10px 0;
  display: inline-block; }
.content-detail-news .other-news-right {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: none; }
  .content-detail-news .other-news-right ul {
    padding-left: 0; }
  .content-detail-news .other-news-right li {
    list-style: none;
    margin-bottom: 0; }
    .content-detail-news .other-news-right li:last-child {
      border-bottom: none; }
    .content-detail-news .other-news-right li:first-child {
      padding-top: 0; }
  .content-detail-news .other-news-right .info-news {
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0; }
    .content-detail-news .other-news-right .info-news .title-news {
      margin: 5px 0;
      line-height: 22px; }
      .content-detail-news .other-news-right .info-news .title-news a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 16px;
        font-weight: 700; }
    .content-detail-news .other-news-right .info-news .text-alpha, .content-detail-news .other-news-right .info-news .date-time-news {
      margin-bottom: 0; }

.video-lagre.section-who-are-you .videos {
  height: 658px; }
  .video-lagre.section-who-are-you .videos .video-cans {
    height: 658px; }
  .video-lagre.section-who-are-you .videos .overlay {
    height: 658px; }
.video-lagre.section-who-are-you .videos .overlay._active iframe {
  height: 658px; }
.video-lagre.section-who-are-you .item-news {
  margin-bottom: 0;
  padding: 0; }
  .video-lagre.section-who-are-you .item-news .info-news {
    padding: 12px 0 0 0; }
.video-lagre.section-who-are-you .info-news {
  background: transparent;
  padding-left: 0;
  box-shadow: none; }

.featured-video {
  background: #F5F7FB; }
  .featured-video .item-news {
    padding: 0 15px;
    margin-bottom: 0; }
    .featured-video .item-news .avatar-thumb a {
      padding-top: 56%; }
      .featured-video .item-news .avatar-thumb a img {
        border-radius: 4px; }
    .featured-video .item-news .info-news {
      box-shadow: none;
      padding: 12px 0 0 0;
      background: transparent; }
  .featured-video .owl-nav {
    top: 25%; }

.daily-video {
  background: transparent; }
  .daily-video .item-news {
    text-align: left;
    padding: 0; }
    .daily-video .item-news .info-news {
      box-shadow: none;
      padding: 12px 0 0 0;
      background: transparent; }
    .daily-video .item-news .avatar-thumb a img {
      border-radius: 4px; }

.daily-video .playvideo-icon, .featured-video .playvideo-icon {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 50px;
  width: initial !important; }

.featured-video .playvideo-icon {
  top: 45px; }

.contact-form {
  text-align: left;
  background: #F5F7FB;
  padding: 54px 40px;
  border-radius: 0 4px 4px 0; }
  .contact-form h3 {
    font-size: 18px;
    margin-bottom: 20px; }
  .contact-form p {
    font-size: 13px;
    margin-bottom: 30px; }

.contact-page {
  padding-bottom: 0; }
  .contact-page .img-contact img {
    height: 100%; }
  .contact-page .avatar-thumb a {
    padding-top: 120%; }
    .contact-page .avatar-thumb a img {
      border-radius: 4px 0 0 4px; }

textarea {
  padding: 15px !important; }

.location .item-location {
  padding: 30px;
  min-height: 676px; }
  .location .item-location h6 {
    text-align: left;
    color: #0093D8;
    margin-bottom: 30px; }
  .location .item-location .detail {
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px; }
    .location .item-location .detail img {
      position: absolute;
      left: 0;
      top: 3px;
      height: 40px; }
    .location .item-location .detail .content-detail span {
      color: #777;
      font-size: 13px;
      margin-bottom: 5px; }
    .location .item-location .detail .content-detail a {
      color: #222; }
  .location .item-location .contact-detail {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    .location .item-location .contact-detail:last-child {
      border-bottom: none;
      margin-bottom: 0; }

.content-faqs .search-head input {
  padding-left: 40px; }
  .content-faqs .search-head input::placeholder {
    color: #777;
    opacity: 0.7; }
.content-faqs .search-head i {
  position: absolute;
  left: 27px;
  top: 15px;
  font-size: 18px;
  color: #777;
  opacity: 0.7; }
.content-faqs .panel-group .panel {
  border-radius: 0;
  box-shadow: none; }
.content-faqs .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0; }
.content-faqs .panel-default {
  border-bottom: 1px #E6E6E6 solid; }
  .content-faqs .panel-default:last-child {
    border-bottom: none; }
.content-faqs .panel-title {
  margin-bottom: 0;
  font-weight: 600; }
.content-faqs .panel-title > a {
  padding: 21px 0 21px 0;
  text-decoration: none;
  line-height: 26px;
  font-size: 18px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.content-faqs .more-less {
  float: left;
  margin-left: 20px; }
.content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  margin: 0 0 25px;
  color: #777; }
  .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul {
    padding-left: 15px; }
    .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul li {
      margin-bottom: 8px; }

.download-page .list-download .detail {
  position: relative;
  margin-bottom: 20px;
  padding: 35px 220px 35px 40px; }
  .download-page .list-download .detail h4 {
    font-size: 20px;
    margin-bottom: 20px; }
  .download-page .list-download .detail p {
    margin-bottom: 0; }
  .download-page .list-download .detail .btn-download {
    position: absolute;
    right: 40px;
    top: 35px; }

.modal-dialog .modal-header {
  display: initial; }
.modal-dialog h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px; }
.modal-dialog p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px; }

.page-not-found {
  margin-top: 100px; }
  .page-not-found p {
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto; }

.content-search .item-search {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .content-search .item-search a {
    color: #222;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; }
    .content-search .item-search a:hover {
      color: #0093D8; }
  .content-search .item-search span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; }

.career-page .item-career {
  margin-bottom: 50px;
  text-align: left; }
  .career-page .item-career img {
    height: 80px; }
  .career-page .item-career h4 {
    margin: 30px 0 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; }
  .career-page .item-career p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; }

.customer-feedback {
  background: #F5F7FB; }
  .customer-feedback .row {
    align-items: center; }
  .customer-feedback h2 {
    color: #0093D8;
    padding-left: 60px;
    position: relative; }
    .customer-feedback h2::before {
      width: 50px;
      height: 37px;
      background: url(../images/quoute.svg) no-repeat center !important;
      background-size: contain !important;
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: -9px; }
  .customer-feedback .owl-dots {
    display: none; }
  .customer-feedback .owl-next {
    right: 20px; }
    .customer-feedback .owl-next::before {
      width: 50px;
      height: 50px;
      background: url(../images/next-btn.svg) no-repeat center !important;
      background-size: contain !important;
      font-size: 0; }
  .customer-feedback .owl-prev {
    left: 20px; }
    .customer-feedback .owl-prev::before {
      width: 50px;
      height: 50px;
      background: url(../images/pre-btn.svg) no-repeat center !important;
      background-size: contain !important;
      font-size: 0; }
  .customer-feedback .owl-item {
    padding: 0 50px; }
  .customer-feedback .item-customer {
    background: #FFFFFF;
    border-radius: 28px;
    padding: 40px;
    position: relative;
    min-height: 415px; }
    .customer-feedback .item-customer::before {
      width: 600px;
      height: 300px;
      background: url(../images/img-bg-customer.svg) no-repeat center !important;
      background-size: contain !important;
      content: " ";
      position: absolute;
      left: -48px;
      top: 56px;
      z-index: -1; }
    .customer-feedback .item-customer p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 6; }
    .customer-feedback .item-customer .box-information {
      margin-top: 50px; }
      .customer-feedback .item-customer .box-information img {
        width: 60px;
        height: 60px;
        border-radius: 100%; }
      .customer-feedback .item-customer .box-information h6 {
        margin: 15px 0 5px 0;
        color: #0093D8;
        font-size: 18px; }
      .customer-feedback .item-customer .box-information p {
        color: #777; }

.we-hiring .scrollbar {
  height: 750px; }
.we-hiring .item-career {
  text-align: left;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .we-hiring .item-career p {
    color: #777;
    margin-bottom: 0; }

.file-upload-w-file-name [type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%; }
.file-upload-w-file-name [type=file] + label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  text-align: left;
  padding: 12px;
  width: 100%;
  margin: 0;
  position: relative;
  background: white;
  color: #777;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  height: 48px; }
  .file-upload-w-file-name [type=file] + label img {
    margin-right: 5px; }

.box-404 img {
  width: 100%;
  height: 100%;
  max-height: 500px; }

.page-not-found p {
  max-width: 100%; }

.menu-tab-blogs.menu-scroll {
  top: 103px;
  width: 100%; }

body {
  font-family: 'Inter', sans-serif;
  color: #222;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5; }

.container {
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 45px;
  font-weight: 700; }
  h1 a, h1 b, h1 strong, h1 p, h1 label {
    font-size: 45px;
    font-weight: 700; }

h2 {
  font-size: 32px;
  font-weight: 700; }
  h2 a, h2 b, h2 strong, h2 p, h2 label {
    font-size: 32px;
    font-weight: 700; }

h3 {
  font-size: 28px;
  font-weight: 700; }
  h3 a, h3 b, h3 strong, h3 p, h3 label {
    font-size: 28px;
    font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 700; }
  h4 a, h4 b, h4 strong, h4 p, h4 label {
    font-size: 24px;
    font-weight: 700; }

h5 {
  font-size: 22px;
  font-weight: 700; }
  h5 a, h5 b, h5 strong, h5 p, h5 label {
    font-size: 22px;
    font-weight: 700; }

h6 {
  font-size: 20px;
  font-weight: 700; }
  h6 a, h6 b, h6 strong, h6 p, h6 label {
    font-size: 20px;
    font-weight: 700; }

p, strong, b, i {
  font-size: 16px; }

span {
  font-size: 13px; }

label {
  font-size: 14px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

section {
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.none-overflow {
  overflow: initial; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 4px; }

.title-section h2 {
  display: inline-block;
  width: 100%; }
.title-section .desc-title {
  margin: 5px 0;
  color: #777;
  font-size: 18px;
  max-width: 80%;
  margin: 0 auto 20px auto; }

.title-page {
  display: inline-block;
  width: 100%; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

button {
  border: 0; }
  button:focus {
    outline: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset; }

.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0093D8;
  padding: 0 24px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 48px;
  line-height: 24px;
  font-size: 13px;
  border-radius: 48px;
  text-transform: uppercase;
  min-width: 170px;
  width: fit-content; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  input[type=button]:hover,
  input[type=submit]:hover, .btn-common-fill2:hover {
    opacity: 0.9;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill img, .btn-common-fill svg,
  .btn-common-line i,
  .btn-common-line img,
  .btn-common-line svg,
  input[type=button] i,
  input[type=button] img,
  input[type=button] svg,
  input[type=submit] i,
  input[type=submit] img,
  input[type=submit] svg, .btn-common-fill2 i,
  .btn-common-fill2 img, .btn-common-fill2 svg {
    font-weight: 600;
    margin-left: 10px;
    width: 16px; }

.btn-common-line {
  background-color: transparent !important;
  color: #0093D8 !important;
  border: 1px solid #0093D8 !important; }

.btn-common-fill2 {
  background-color: #EB1C24 !important;
  color: #fff !important;
  border: 1px solid #EB1C24 !important; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #222; }

.text-brand {
  color: #0093D8; }

.text-uppercase {
  text-transform: uppercase; }

.text-alpha {
  color: #777; }

.btn.focus, .btn:focus {
  box-shadow: none; }

a {
  text-decoration: none; }

.fw-normal {
  font-weight: normal; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

/* -------------- Scrollbar-------------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

/* -------------- Input / textarea -------------------- */
textarea {
  height: 147px !important; }

input, select, textarea {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 100%;
  padding: 5px 15px;
  height: 48px;
  font-size: 14px;
  color: #222; }
  input::placeholder, select::placeholder, textarea::placeholder {
    color: #777; }
  input:focus, select:focus, textarea:focus {
    border: 1px solid #0093D8; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #222;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #0093D8 !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #222 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #0093D8;
  border: 1px solid #0093D8; }

.input-custom:checked + .label-custom {
  color: #222 !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked + label {
  color: #0093D8 !important; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222;
  margin-bottom: 0;
  font-weight: normal; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #0093D8 !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #0093D8;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #0093D8;
  outline: 0;
  box-shadow: none; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 50px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #777;
  top: 15px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #222;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #EBF2FD; }

/* ----------------------- Modal----------------------- */
.modal-dialog.modal-dialog-medium {
  max-width: 1000px; }

.modal-dialog.modal-dialog-large {
  max-width: 100%; }

.modal {
  padding: 80px 0; }
  .modal .submit-login-out {
    width: 100%; }

.modal-content {
  margin: auto;
  border: 0;
  border-radius: 4px;
  padding: 40px; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-body {
  padding: 0; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0;
  justify-content: center; }
  .modal-header .close {
    position: absolute;
    right: 30px;
    font-size: 30px;
    padding: 10px;
    top: 20px;
    color: #777;
    opacity: 1; }
    .modal-header .close i {
      font-size: 20px;
      font-weight: 600; }
    .modal-header .close:hover {
      outline: none; }

.modal-title {
  font-weight: 600; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    display: flex;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #222;
    padding: 4px;
    font-weight: 500;
    align-items: center;
    justify-content: center; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: #0093D8;
      background-color: #fff;
      padding-top: 5px;
      border-radius: 4px;
      border: 1px solid #0093D8; }
  .pagging-page ul li:hover a {
    opacity: 0.9; }

/*------------- Custom slider slider --------------*/
.owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%; }
  .owl-nav span {
    opacity: 0;
    display: none; }

.owl-carousel .item {
  padding: 20px; }
  .owl-carousel .item .item-news {
    margin-bottom: 0; }

.owl-theme .owl-dots .owl-dot {
  height: inherit; }

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%; }
  .owl-prev::before {
    content: "\e64a";
    font-family: 'themify';
    display: block;
    font-size: 40px;
    color: #777; }

.owl-next {
  position: absolute;
  right: 0;
  top: 50%; }
  .owl-next::before {
    content: "\e649";
    font-family: 'themify';
    display: block;
    font-size: 40px;
    color: #777; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent; }

.owl-theme .owl-nav {
  margin-top: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #0093D8 !important; }

/*------------- Custom tab content --------------*/
.tab-system .nav-tabs .nav-link:focus, .tab-system .nav-tabs .nav-link:hover, .tab-system .nav-tabs .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  border-color: transparent; }
.tab-system .nav-tabs {
  border-bottom: 1.5px solid #E6E6E6;
  justify-content: center;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset; }
  .tab-system .nav-tabs .nav-link {
    font-weight: 600;
    width: 25%;
    text-align: center; }
    .tab-system .nav-tabs .nav-link span {
      font-size: 14px; }
.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: 1.5px solid #0093D8;
  color: #0093D8; }
.tab-system .tab-content {
  margin: 20px 0; }
.tab-system .nav-tabs .nav-item {
  margin-bottom: 0;
  padding: 15px;
  color: #222;
  font-weight: normal; }

/*------------- Custom editor  --------------*/
.editor-body ul, .editor-body ol {
  padding-left: 15px; }
.editor-body span, .editor-body p, .editor-body b, .editor-body strong, .editor-body label, .editor-body i {
  font-size: initial;
  width: initial;
  height: initial;
  font-weight: initial; }
.editor-body h1, .editor-body h2, .editor-body h3, .editor-body h4, .editor-body h5, .editor-body h6 {
  font-size: initial;
  width: initial;
  font-weight: initial;
  height: initial; }
  .editor-body h1 span, .editor-body h1 p, .editor-body h1 b, .editor-body h1 strong, .editor-body h1 label, .editor-body h1 i, .editor-body h1 a, .editor-body h2 span, .editor-body h2 p, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 label, .editor-body h2 i, .editor-body h2 a, .editor-body h3 span, .editor-body h3 p, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 label, .editor-body h3 i, .editor-body h3 a, .editor-body h4 span, .editor-body h4 p, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 label, .editor-body h4 i, .editor-body h4 a, .editor-body h5 span, .editor-body h5 p, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 label, .editor-body h5 i, .editor-body h5 a, .editor-body h6 span, .editor-body h6 p, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 label, .editor-body h6 i, .editor-body h6 a {
    font-size: initial;
    width: initial;
    font-weight: initial;
    height: initial; }
.editor-body img {
  max-width: 100%;
  margin: 15px 0; }

/*------------- News --------------*/
.item-news {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .item-news .info-news {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 4px 4px; }
    .item-news .info-news a span, .item-news .info-news span {
      color: #777; }
  .item-news.lagre-news .desc-news {
    font-size: 16px; }
  .item-news.lagre-news .title-news {
    font-size: 24px;
    line-height: 28px; }
  .item-news .avatar-thumb {
    display: block; }
    .item-news .avatar-thumb a img {
      border-radius: 4px 4px 0 0; }
  .item-news .title-news {
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .item-news .title-news:hover {
      color: #0093D8; }
    .item-news .title-news a {
      color: #222;
      font-size: 16px; }
  .item-news .desc-news {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 46px;
    font-size: 14px;
    margin-bottom: 0; }

.date-time-news {
  margin-bottom: 10px;
  color: #777;
  font-size: 13px; }
  .date-time-news span {
    margin-right: 0 !important; }
  .date-time-news img {
    width: 20px;
    margin-right: 7px; }
  .date-time-news .date-news::after {
    content: '-';
    display: inline-block;
    margin-left: 5px; }

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1;
  top: 100px; }

.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff; }

/* --------------  Header -------------- */
header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  padding: 10px 30px;
  background: #fff;
  border-bottom: 1px solid #E6E6E6; }
  header .top-head {
    width: 100%;
    padding: 5px 0; }
    header .top-head .language-box {
      display: inline-block;
      margin-left: 20px;
      position: relative; }
      header .top-head .language-box img {
        height: 20px;
        cursor: pointer;
        margin-right: 7px; }
      header .top-head .language-box ul {
        position: absolute;
        left: -15px;
        top: 0;
        width: 100px;
        display: inline-block;
        padding-top: 30px;
        opacity: 0;
        visibility: hidden;
        z-index: 2; }
        header .top-head .language-box ul li {
          opacity: 1 !important;
          display: inline-block;
          width: 100%;
          text-align: left; }
          header .top-head .language-box ul li a {
            background: white;
            padding: 15px;
            box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            color: #212529;
            width: 100%;
            display: inline-block;
            opacity: 1 !important; }
            header .top-head .language-box ul li a img {
              height: 20px;
              margin-right: 7px; }
            header .top-head .language-box ul li a:hover {
              opacity: 1 !important;
              color: #0093D8; }
      header .top-head .language-box:hover {
        cursor: pointer; }
        header .top-head .language-box:hover ul {
          opacity: 1;
          visibility: initial; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .menu {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: left; }
    header .menu nav ul {
      padding: 0;
      display: flex;
      justify-content: left;
      margin-bottom: 0; }
      header .menu nav ul li {
        position: relative;
        list-style: none;
        padding: 10px 0 0 0; }
        header .menu nav ul li::before {
          content: "\e64b";
          display: inline-block;
          font-family: 'themify';
          font-size: 12px;
          font-weight: 100;
          position: absolute;
          right: 0;
          top: 12px;
          color: #222;
          z-index: 3; }
        header .menu nav ul li.no-sub::before {
          display: none; }
        header .menu nav ul li i {
          display: none; }
        header .menu nav ul li a {
          padding: 0 20px;
          position: relative;
          font-size: 14px;
          font-weight: 500;
          color: #222;
          display: flex;
          align-items: center; }
        header .menu nav ul li ul {
          position: absolute;
          width: 290px;
          left: 0;
          top: 32px;
          border-radius: 0 0 4px 4px;
          border-top: 1px solid #0093D8;
          opacity: 0;
          visibility: hidden;
          background: white;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
          padding: 10px 25px;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          -webkit-transform: translateY(10px);
          transform: translateY(10px);
          display: inline-block; }
          header .menu nav ul li ul li {
            padding: 3px 0; }
            header .menu nav ul li ul li::before {
              display: none; }
            header .menu nav ul li ul li a {
              display: inline-block;
              width: 100%;
              font-weight: normal;
              transition: all 0.3s linear;
              transition: 0.5s;
              padding: 8px 0;
              font-size: 14px;
              color: #222;
              border-bottom: 1px solid #e6e6e6a6; }
              header .menu nav ul li ul li a::before {
                display: none; }
              header .menu nav ul li ul li a:hover {
                padding-left: 5px;
                border-radius: 4px;
                color: #777; }
            header .menu nav ul li ul li:last-child a {
              border-bottom: 0; }
        header .menu nav ul li:hover::before {
          color: #0093D8; }
        header .menu nav ul li:hover a {
          color: #0093D8; }
        header .menu nav ul li:hover ul {
          opacity: 1;
          visibility: initial; }
          header .menu nav ul li:hover ul li a {
            color: #222; }
            header .menu nav ul li:hover ul li a:hover {
              color: #0093D8; }
        header .menu nav ul li.active::before {
          color: #0093D8; }
        header .menu nav ul li.active a {
          color: #0093D8; }
        header .menu nav ul li.active ul li a {
          color: #222; }
          header .menu nav ul li.active ul li a.active {
            color: #0093D8; }
  header .btn-search-mb {
    display: none; }
  header .search-head {
    position: relative;
    display: inline-block;
    margin: 0 20px; }
    header .search-head input {
      border: 1px solid #E6E6E6;
      height: 40px;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 15px 0 15px;
      padding-right: 30px; }
      header .search-head input::placeholder {
        opacity: 0.7; }
      header .search-head input:focus {
        border: 1px solid #0093D8; }
    header .search-head i {
      position: absolute;
      right: 10px;
      top: 13px;
      color: #858585;
      font-size: 18px;
      opacity: 0.7; }
  header .logo {
    float: left; }
    header .logo img {
      height: 70px; }
  header .content-head-right {
    float: right;
    text-align: right; }
  header .menu-mobile {
    display: none; }
    header .menu-mobile .ti-menu {
      display: none; }
    header .menu-mobile .close-menu {
      display: none; }

.social-box {
  display: inline-block;
  margin: 0 10px; }
  .social-box a {
    color: #222;
    margin: 0 10px; }

.phone-box {
  display: inline-block; }
  .phone-box img {
    margin-right: 5px; }
  .phone-box span {
    color: #0093D8;
    font-size: 18px;
    font-weight: 600; }

/* --------------  End Header -------------- */
/* --------------  Slider homepage -------------- */
.slider-home {
  margin-top: 100px; }
  .slider-home .owl-prev {
    left: 5%; }
    .slider-home .owl-prev::before {
      color: #fff; }
  .slider-home .owl-next {
    right: 5%; }
    .slider-home .owl-next::before {
      color: #fff; }
  .slider-home .item {
    position: relative;
    padding: 0; }
    .slider-home .item .infor-slide {
      top: calc(50% - 67px);
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 1; }
      .slider-home .item .infor-slide p {
        color: #fff;
        font-size: 18px;
        width: 50%;
        margin: 0 auto; }
    .slider-home .item h1 {
      width: 80%;
      font-weight: 600;
      line-height: 47px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto 20px auto; }
    .slider-home .item .img-banner-mb {
      display: none; }
    .slider-home .item .img-banner-mpc {
      display: block; }
    .slider-home .item img {
      width: 100%; }
    .slider-home .item .btn-common-fill2 {
      margin: 20px auto; }
    .slider-home .item::after {
      background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
      opacity: 0.6;
      height: 100%;
      content: '';
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      z-index: 0; }
  .slider-home .owl-dots {
    display: block !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px; }
    .slider-home .owl-dots button {
      margin: 0 2px; }
      .slider-home .owl-dots button span {
        width: 12px !important;
        height: 12px !important;
        border-radius: 50%;
        display: block;
        background: transparent !important;
        border: 1px solid #fff;
        content: ''; }
      .slider-home .owl-dots button.active span {
        background: #fff !important;
        border: 0; }

/* --------------  Section who are you -------------- */
.section-who-are-you .row {
  align-items: center; }
.section-who-are-you .content-about {
  width: 100%;
  background-color: #0093D8;
  margin-top: 30px; }
  .section-who-are-you .content-about .description-about {
    height: 100%;
    color: #fff; }
    .section-who-are-you .content-about .description-about .btn-common-line {
      border: 1px solid #fff !important;
      color: #fff !important; }
    .section-who-are-you .content-about .description-about .content-desc {
      padding: 30px; }
.section-who-are-you .videos {
  width: 100%;
  height: 495px; }
  .section-who-are-you .videos .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 495px;
    cursor: pointer; }
    .section-who-are-you .videos .video-cans img {
      width: 100%; }
  .section-who-are-you .videos .close-bg-video {
    position: absolute;
    right: -50px;
    top: -10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: normal;
    border: 0;
    font-size: 20px;
    outline: none;
    z-index: 9999999;
    background-color: white; }
  .section-who-are-you .videos .current_page_item a {
    color: #0093D8; }
  .section-who-are-you .videos .overlay {
    width: 100%;
    margin: 0 auto;
    height: 495px;
    display: none; }
    .section-who-are-you .videos .overlay._active {
      display: block; }
      .section-who-are-you .videos .overlay._active iframe {
        width: 100%;
        height: 495px; }

.slider-product-home .avatar-thumb a {
  padding-top: 100%; }
.slider-product-home .item {
  padding: 20px 30px; }
  .slider-product-home .item .info-slider-home {
    padding-top: 30px; }
    .slider-product-home .item .info-slider-home h6 {
      min-height: 60px; }
      .slider-product-home .item .info-slider-home h6 a {
        color: #222;
        font-size: 18px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .slider-product-home .item .info-slider-home ul {
      margin-top: 20px; }
      .slider-product-home .item .info-slider-home ul li {
        list-style: none;
        position: relative;
        padding-left: 25px;
        display: block;
        margin-bottom: 15px;
        min-height: 30px; }
        .slider-product-home .item .info-slider-home ul li img {
          width: inherit;
          height: 20px;
          position: absolute;
          left: 0; }
        .slider-product-home .item .info-slider-home ul li a {
          color: #777;
          font-size: 14px; }
  .slider-product-home .item:hover {
    transition: all .3s ease-in-out;
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    border-radius: 4px; }
.slider-product-home .owl-dots {
  display: none; }
.slider-product-home .owl-next {
  right: -35px; }
.slider-product-home .owl-prev {
  left: -35px; }
.slider-product-home.owl-carousel .owl-stage-outer {
  padding-bottom: 40px;
  padding-top: 20px; }

.slider-project-home.owl-carousel .item {
  padding: 0; }
.slider-project-home .owl-nav {
  display: block !important; }
.slider-project-home .owl-dots {
  display: none; }
.slider-project-home .owl-prev::before, .slider-project-home .owl-next::before {
  color: #fff; }

.list-project .item-list:hover .info-nm {
  background: linear-gradient(180deg, rgba(0, 147, 216, 0) 0%, rgba(0, 147, 216, 0.921875) 76.56%, #0093D8 100%); }
.list-project .item-list:hover .detail-info {
  max-height: 300px; }
.list-project .info-nm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px 30px;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
  .list-project .info-nm .btn-common-line {
    border: 1px solid #fff !important;
    color: white !important; }
    .list-project .info-nm .btn-common-line:hover {
      background-color: #0093D8 !important;
      border: 1px solid transparent !important;
      color: #fff !important; }
.list-project .detail-info {
  max-height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden; }
.list-project .item-list {
  position: relative;
  color: white; }
  .list-project .item-list h2 a {
    color: white;
    font-size: 24px; }
  .list-project .item-list .avatar-thumb a {
    padding-top: 90%; }

.list-news-home .info-news {
  box-shadow: none; }
.list-news-home .title-cate-item {
  text-transform: inherit; }
.list-news-home .news-left {
  padding-right: 320px;
  margin: 15px 0 30px 0;
  position: relative;
  display: inline-block;
  width: 100%; }
  .list-news-home .news-left .desc-news {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px; }
  .list-news-home .news-left .info-news {
    padding-top: 0; }
  .list-news-home .news-left .avatar-thumb {
    position: absolute;
    right: 15px;
    top: 0;
    width: 280px; }
    .list-news-home .news-left .avatar-thumb a img {
      border-radius: 4px; }
.list-news-home .news-right {
  padding-left: 50px;
  margin: 10px 0 5px 0;
  position: relative;
  display: inline-block;
  width: 100%; }
  .list-news-home .news-right .stt-news {
    font-size: 30px;
    color: #0093D8;
    position: absolute;
    left: 0;
    top: 0;
    line-height: initial;
    font-weight: 600; }
  .list-news-home .news-right .info-news {
    padding-top: 0; }
  .list-news-home .news-right .title-news {
    margin-top: 0; }

.call-to-action {
  background-size: cover !important;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 438px; }
  .call-to-action .content-action {
    text-align: center;
    color: #fff;
    max-width: 70%;
    margin: 0 auto; }
    .call-to-action .content-action a {
      margin: 0 auto; }

footer {
  padding: 50px 0 20px 0;
  border-top: 1px solid #E6E6E6;
  clear: both; }
  footer .title-footer a {
    color: #222;
    font-weight: 600; }
  footer .about-company-footer {
    padding-right: 50px; }
    footer .about-company-footer img {
      height: 50px; }
    footer .about-company-footer p {
      font-size: 14px;
      margin-top: 20px;
      opacity: 0.8; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      color: #222;
      width: 100%;
      display: inline-block;
      margin-bottom: 6px;
      font-size: 13px;
      opacity: 0.8; }
  footer .hot-contact {
    display: flex;
    align-items: center; }
    footer .hot-contact .social-box {
      margin-left: 0; }
      footer .hot-contact .social-box a {
        display: inline-block;
        margin-left: 0; }
      footer .hot-contact .social-box img {
        height: 30px; }
    footer .hot-contact .phone-box {
      position: relative;
      padding-left: 55px; }
      footer .hot-contact .phone-box img {
        height: 40px;
        position: absolute;
        left: 0;
        top: 5px; }
      footer .hot-contact .phone-box span {
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
        width: 100%; }
      footer .hot-contact .phone-box a {
        font-size: 22px;
        font-weight: 600;
        color: #0093D8;
        line-height: initial; }

/* ------------------- Page about ------------------ */
.breadcrumbs {
  position: absolute;
  top: 25px;
  z-index: 1; }
  .breadcrumbs i {
    color: white;
    font-weight: 600;
    font-size: 13px; }
  .breadcrumbs a {
    color: white;
    font-size: 13px; }

.head-page {
  position: relative;
  background-size: cover !important;
  min-height: 500px;
  text-align: center;
  color: white;
  margin-top: 103px; }
  .head-page::after {
    background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
    opacity: 0.6;
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0; }
  .head-page .head-title-page {
    z-index: 1;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase; }
    .head-page .head-title-page p {
      text-transform: initial;
      font-size: 18px; }

.intro-vison {
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  margin: 30px 0 40px 0;
  font-size: 20px; }
  .intro-vison img {
    height: 20px;
    padding: 0 10px;
    margin-bottom: 5px; }

.vision-mission .vision-item {
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  padding: 20px 15px;
  padding-left: 150px;
  min-height: 175px;
  line-height: 26px;
  display: flex;
  align-items: center; }
  .vision-mission .vision-item img {
    position: absolute;
    left: 20px;
    top: 40px;
    height: 90px; }
  .vision-mission .vision-item p {
    font-size: 14px;
    color: #777;
    line-height: 24px; }
  .vision-mission .vision-item .infor-vision h4 {
    font-weight: 500; }

.div-info-thinking {
  margin-top: 50px; }
  .div-info-thinking img {
    width: 100%;
    border-radius: 4px; }
  .div-info-thinking .info-thinking {
    position: relative;
    padding-left: 80px; }
    .div-info-thinking .info-thinking h3 {
      color: #0093D8;
      font-style: italic;
      margin-bottom: 20px; }
      .div-info-thinking .info-thinking h3::before {
        background: url(../images/ic-quote.svg) center top no-repeat;
        position: absolute;
        content: '';
        display: inline-block;
        left: 0;
        top: 0;
        width: 72px;
        height: 72px; }

.ceo-name {
  text-align: right; }
  .ceo-name h4 {
    color: #0093D8;
    margin-bottom: 5px;
    font-size: 18px; }
  .ceo-name p {
    color: #777; }

.content-facilities {
  position: relative;
  padding-left: 528px; }
  .content-facilities .avatar-thumb {
    position: absolute;
    left: 0;
    top: 47px;
    width: 528px; }
    .content-facilities .avatar-thumb a {
      padding-top: 73%; }
  .content-facilities.facilities-02 {
    padding-left: 0;
    padding-right: 528px; }
    .content-facilities.facilities-02 .avatar-thumb {
      right: 0;
      left: inherit;
      top: 0; }
    .content-facilities.facilities-02 .detail-facilities {
      background-color: #8C8B8D;
      min-height: 382px; }
  .content-facilities:last-child .detail-facilities {
    background-color: #F3F6FE;
    color: #222; }
  .content-facilities:last-child .avatar-thumb {
    top: 0; }

.detail-facilities {
  background-color: #0093D8;
  padding: 30px 50px;
  color: #fff;
  min-height: 430px;
  display: flex;
  height: 100%;
  align-items: center; }
  .detail-facilities h4 {
    margin-bottom: 20px; }

.box-certificates {
  background: #FFFFFF;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
  text-align: center;
  min-height: 250px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center; }
  .box-certificates p {
    font-size: 18px;
    font-weight: 500;
    min-height: 60px;
    margin-bottom: 0; }
  .box-certificates img {
    height: 90px;
    margin-bottom: 20px; }

.list-partners {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .list-partners img {
    height: 80px;
    margin: 10px 20px; }
  .list-partners .owl-nav {
    display: none; }

.bg-gray {
  background-color: #F5F7FB; }

.section-histoy {
  position: relative;
  float: left;
  clear: both; }
  .section-histoy img {
    position: absolute;
    bottom: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%; }

.timeline-history {
  margin-top: 30px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 30px 30px 100px 30px; }
  .timeline-history .fix-position {
    padding: 30px 0 0 30px;
    cursor: pointer;
    border-top: 1px solid #0093D8;
    position: relative; }
    .timeline-history .fix-position span {
      font-size: 18px;
      color: #777;
      margin-top: 30px;
      font-weight: 600; }
      .timeline-history .fix-position span::before {
        z-index: 1;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #777;
        border-radius: 50%;
        position: absolute;
        top: -8px; }
    .timeline-history .fix-position p {
      color: #777;
      line-height: 26px;
      margin-top: 15px; }
      .timeline-history .fix-position p span {
        font-weight: 600;
        font-size: 16px; }
    .timeline-history .fix-position.active p {
      color: #222; }
    .timeline-history .fix-position.active span {
      color: #0093D8; }
      .timeline-history .fix-position.active span::before {
        background: #0093D8;
        border: 4px solid #93d0edba; }

.page-service img {
  border-radius: 4px; }

.listproduct {
  display: inline-block;
  width: 100%;
  padding: 20px 0; }
  .listproduct .item-product {
    text-align: center;
    padding: 30px 15px;
    border: 1px solid #fff;
    transition: all .3s ease-in-out;
    margin-bottom: 0; }
    .listproduct .item-product:hover {
      border: 1px solid #0093D8;
      box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12);
      border-radius: 4px; }
      .listproduct .item-product:hover p a {
        color: #0093D8; }
    .listproduct .item-product .avatar-thumb a {
      position: relative;
      padding-top: 150%;
      margin-bottom: 10px; }
      .listproduct .item-product .avatar-thumb a img {
        border-radius: 4px; }
    .listproduct .item-product a {
      font-size: 18px;
      font-weight: 600;
      color: #222;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.contact-page-product img {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px; }
.contact-page-product p span {
  font-weight: 600;
  font-size: 18px; }

.form-connection {
  padding: 40px;
  background: #F5F7FB; }
  .form-connection .title-head {
    font-size: 18px;
    text-transform: uppercase; }
  .form-connection .description-title {
    color: #777; }

.product-features .row {
  align-items: center;
  margin-top: 30px; }
.product-features ul li {
  list-style: none;
  position: relative;
  padding-left: 80px;
  width: 100%;
  display: inline-block;
  margin: 15px 0; }
  .product-features ul li h6 {
    font-size: 18px;
    font-weight: normal; }
  .product-features ul li span {
    color: #777; }
  .product-features ul li img {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px; }
.product-features .img-features img {
  width: 100%;
  border-radius: 4px;
  padding-left: 20px; }
.product-features.pro-information .img-features img {
  padding-left: inherit;
  padding-right: 20px;
  margin-bottom: 30px; }
  .product-features.pro-information .img-features img p {
    margin: 20px 0; }

.video-page {
  padding: 130px 0;
  margin-top: 50px;
  color: #fff;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video-page p {
    max-width: 80%;
    margin-top: 20px; }
  .video-page .icon-video {
    text-align: center; }
    .video-page .icon-video img {
      cursor: pointer;
      height: 100px; }
  .video-page .modal-dialog {
    margin: 0 auto;
    background: none;
    box-shadow: none;
    border-radius: 0;
    max-width: 70%; }
    .video-page .modal-dialog .modal-body, .video-page .modal-dialog .modal-content {
      padding: 15px; }
    .video-page .modal-dialog iframe {
      width: 100%;
      height: 565px; }
  .video-page .close {
    position: absolute;
    right: -5px;
    top: -10px; }

.slider-project-detail {
  margin: 30px 0; }
  .slider-project-detail .lSSlideOuter .lslide a:hover {
    opacity: 1; }
  .slider-project-detail .lSSlideOuter img {
    border: 0;
    width: 100%;
    border-radius: 4px;
    padding: 0; }
  .slider-project-detail .lSSlideOuter .lSPager.lSGallery {
    margin: 0 auto !important; }
    .slider-project-detail .lSSlideOuter .lSPager.lSGallery li {
      height: 90px; }
      .slider-project-detail .lSSlideOuter .lSPager.lSGallery li img {
        padding: 0;
        height: 100%;
        border-radius: 4px; }
      .slider-project-detail .lSSlideOuter .lSPager.lSGallery li.active img {
        padding: 0;
        border: 1px solid #0093D8 !important; }
  .slider-project-detail ul li {
    padding: 0 !important;
    margin: 0; }
    .slider-project-detail ul li img {
      height: 100% !important;
      border-radius: 4px; }
  .slider-project-detail.page-project-detail .lSSlideOuter .lSPager.lSGallery {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px; }
    .slider-project-detail.page-project-detail .lSSlideOuter .lSPager.lSGallery li img {
      border: 1px solid #fff; }

.section-pro-related {
  background-color: #F5F7FB;
  clear: both;
  float: left; }
  .section-pro-related .slider-product-home {
    margin-top: 30px; }
    .section-pro-related .slider-product-home .item {
      border: 1px solid transparent;
      padding: 30px 15px;
      text-align: center;
      margin: 0 10px; }
      .section-pro-related .slider-product-home .item .info-slider-home h6 {
        min-height: inherit; }
      .section-pro-related .slider-product-home .item:hover {
        border: 1px solid #0093D8;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12); }
      .section-pro-related .slider-product-home .item .avatar-thumb a {
        padding-top: 150%;
        margin-bottom: 10px; }
    .section-pro-related .slider-product-home .info-slider-home {
      padding-top: 0; }

.page-list-project .avatar-thumb a img {
  border-radius: 4px; }
.page-list-project .item-news {
  margin-bottom: 15px; }
  .page-list-project .item-news .info-news {
    box-shadow: none;
    padding: 15px 0 0; }
    .page-list-project .item-news .info-news p {
      margin-top: 5px; }

.col-nav-sidebar {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  text-align: left; }
  .col-nav-sidebar ul {
    padding: 0;
    margin-bottom: 0; }
    .col-nav-sidebar ul li {
      list-style: none; }
      .col-nav-sidebar ul li a {
        font-size: 14px;
        padding: 10px 0;
        position: relative;
        display: inline-block;
        color: #777;
        font-weight: 500;
        width: 100%; }
      .col-nav-sidebar ul li:hover a, .col-nav-sidebar ul li.active a {
        color: #0093D8; }

.hover-scale a {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden; }
  .hover-scale a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease; }
.hover-scale:hover img {
  webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.page-project-detail {
  position: relative;
  margin-top: 103px; }
  .page-project-detail .avatar-thumb a {
    padding-top: 40%; }
    .page-project-detail .avatar-thumb a img {
      border-radius: 0; }
  .page-project-detail .lSSlideWrapper::after {
    background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
    opacity: 0.6;
    height: 99%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0; }
  .page-project-detail .lSAction .lSPrev {
    background: url(../images/controls-right.png) no-repeat;
    right: 0;
    width: 50px;
    height: 50px;
    left: inherit; }
  .page-project-detail .lSAction .lSNext {
    background: url(../images/controls-left.png) no-repeat;
    left: 0;
    width: 50px;
    height: 50px;
    right: inherit; }

.content-detail-project {
  padding-right: 30px; }
  .content-detail-project h1 {
    color: #0093D8; }

.detail-project-right .box-scale {
  border-radius: 4px;
  background: #0093D8;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .detail-project-right .box-scale::after {
    background: url(../images/pattern-head.png) center top no-repeat;
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    background-size: cover;
    opacity: 0.09; }
  .detail-project-right .box-scale p {
    margin-bottom: 0;
    text-transform: uppercase; }
  .detail-project-right .box-scale a {
    font-size: 45px;
    font-weight: 600;
    margin-right: 6px; }
  .detail-project-right .box-scale .content-box-blue {
    padding: 30px; }
  .detail-project-right .box-scale .box-project-scale {
    padding: 8px 0; }
    .detail-project-right .box-scale .box-project-scale:last-child p {
      margin-bottom: 10px; }
    .detail-project-right .box-scale .box-project-scale:last-child span {
      font-size: 16px; }

.slider-project-related .item {
  padding: 20px 10px; }
  .slider-project-related .item .avatar-thumb a {
    padding-top: 66%; }
  .slider-project-related .item .desc-news {
    min-height: inherit; }
.slider-project-related .owl-nav {
  top: 32%; }
.slider-project-related .owl-prev {
  left: -40px; }
.slider-project-related .owl-next {
  right: -40px; }
.slider-project-related .owl-dots {
  display: none; }

.list-detail-cate-news .info-news {
  padding: 15px 20px 20px 15px; }

/*# sourceMappingURL=style-dung.css.map */
