@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
.breadcrumbs i {
  margin-right: 10px; }

.head-page .head-title-page {
  text-align: center;
  margin: 0 auto; }

.head-page::after {
  opacity: 0.8 !important; }

a:hover {
  color: #9F6C38; }

.none-overflow {
  overflow: inherit; }

.content-detail-news .show-sticky {
  top: 140px; }
.content-detail-news .box-sticky-scroll {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 20px; }
  .content-detail-news .box-sticky-scroll h5 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase; }
  .content-detail-news .box-sticky-scroll ul {
    padding-left: 30px;
    margin-bottom: 0; }
    .content-detail-news .box-sticky-scroll ul li {
      margin-bottom: 5px; }
      .content-detail-news .box-sticky-scroll ul li a {
        color: #3F3B3B;
        font-size: 14px; }
    .content-detail-news .box-sticky-scroll ul .li-sub {
      list-style: none;
      padding-left: 20px; }
      .content-detail-news .box-sticky-scroll ul .li-sub a {
        opacity: 0.8;
        font-size: 13px;
        font-family: inherit;
        font-weight: normal; }

.content-faqs .panel-group .panel {
  border-radius: 0;
  box-shadow: none; }
.content-faqs .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0; }
.content-faqs .panel-default {
  border-bottom: 2px #D9D9D9 solid; }
  .content-faqs .panel-default:last-child {
    border-bottom: none; }
.content-faqs .panel-title {
  position: relative;
  margin-bottom: 0;
  padding: 20px 20px 20px 0; }
.content-faqs .panel-title > a {
  text-decoration: none;
  line-height: 24px;
  font-size: 18px;
  color: #3F3B3B; }
.content-faqs .more-less {
  float: left;
  margin-left: 20px;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 23px;
  font-weight: 600; }
.content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px;
  color: #3F3B3B;
  padding-left: 24px;
  opacity: .8; }
  .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul {
    padding-left: 24px; }
    .content-faqs .panel-default > .panel-heading + .panel-collapse > .panel-body ul li {
      margin-bottom: 8px; }

.show-search-mb .search-head input {
  width: 100%;
  font-size: 16px !important; }
  .show-search-mb .search-head input:focus {
    border: inherit !important; }

.modal-dialog .modal-header {
  display: initial; }
.modal-dialog h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px; }
.modal-dialog p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px; }

.page-not-found {
  margin-top: 100px; }
  .page-not-found p {
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto; }

.moitruong-lamviec .item-career {
  margin-bottom: 50px;
  text-align: left; }
  .moitruong-lamviec .item-career img {
    height: 80px; }
  .moitruong-lamviec .item-career h4 {
    margin: 24px 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; }
  .moitruong-lamviec .item-career p {
    max-width: 85%;
    margin-bottom: 0;
    opacity: .8; }

.we-hiring .scrollbar {
  height: 750px; }
.we-hiring .item-career {
  text-align: left;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .we-hiring .item-career p {
    color: #757575;
    margin-bottom: 0; }

.file-upload-w-file-name [type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%; }
.file-upload-w-file-name [type=file] + label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  text-align: left;
  margin: 0;
  position: relative;
  background: white;
  color: #757575;
  cursor: pointer;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  width: 100%;
  padding: 10px 15px;
  height: 40px;
  font-size: 14px;
  line-height: 20px; }
  .file-upload-w-file-name [type=file] + label img {
    margin-right: 5px; }

.box-404 img {
  width: 100%;
  height: 100%;
  max-height: 500px; }

.page-not-found p {
  max-width: 100%; }

.menu-tab-blogs.menu-scroll {
  top: 103px;
  width: 100%; }

.content-head-right {
  display: flex;
  align-items: center; }

.language-box {
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center; }
  .language-box::after {
    content: "\e5c5";
    color: #757575;
    font-size: 24px;
    font-family: 'Material Symbols Outlined'; }
  .language-box a span {
    color: #3F3B3B;
    font-size: 14px; }

.btn-catalogue {
  margin-right: 10px; }
  .btn-catalogue img {
    width: 24px !important; }

.btn-hosonangluc::after {
  content: "\e873";
  font-size: 24px;
  font-family: 'Material Symbols Outlined';
  margin-left: 10px; }

.btn-header {
  display: flex; }

footer .about-company-footer .contact-main-footer {
  display: flex;
  align-items: center; }
  footer .about-company-footer .contact-main-footer p {
    font-size: 14px;
    margin: 0; }
  footer .about-company-footer .contact-main-footer a {
    display: flex;
    align-items: center; }
    footer .about-company-footer .contact-main-footer a img {
      height: 20px;
      margin-right: 3px; }
  footer .about-company-footer .contact-main-footer .contact-phone {
    margin: 0 14px;
    font-size: 16px;
    color: #9F6C38; }
  footer .about-company-footer .contact-main-footer .contact-mail {
    font-size: 14px;
    color: #3F3B3B; }
footer .about-company-footer .location p {
  font-size: 14px;
  line-height: 20px;
  text-transform: inherit;
  margin: 9px 0 0 0; }
footer .about-company-footer .social {
  margin-top: 25px; }
  footer .about-company-footer .social a img {
    height: inherit; }
footer .title-footer {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px; }

.slider-home {
  margin-top: 117px; }
  .slider-home::after {
    content: none; }
  .slider-home .img-sliders {
    width: 60%; }
    .slider-home .img-sliders .img-banner-pc img {
      height: 700px; }
  .slider-home .infor-slide {
    background: #F3EDE0;
    width: 40%;
    padding: 130px 35px 60px 50px; }
  .slider-home .item {
    display: flex;
    min-height: 700px; }

.box-head-page {
  background: #9F6C38;
  padding: 30px 0; }
  .box-head-page .box-item {
    position: relative;
    padding-left: 50px;
    border-right: 1px solid #ffffff2b;
    background: transparent;
    margin-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0; }
    .box-head-page .box-item .icon-box-head {
      position: absolute;
      left: 0;
      top: 50%;
      height: 55px;
      transform: translateY(-50%); }
    .box-head-page .box-item .box-text {
      color: white;
      margin-left: 30px; }
      .box-head-page .box-item .box-text h2 {
        font-size: 32px;
        margin-bottom: 3px;
        display: flex;
        align-items: center; }
        .box-head-page .box-item .box-text h2 span {
          font-size: 24px;
          margin-left: 10px; }
      .box-head-page .box-item .box-text p {
        font-size: 20px;
        margin-bottom: 0; }
  .box-head-page .col-md-4:last-child .box-item {
    border-right: none; }

.danh-muc-san-pham .content-danhmuc .item-product .avatar-thumb a {
  padding-top: inherit;
  text-align: center; }
  .danh-muc-san-pham .content-danhmuc .item-product .avatar-thumb a img {
    position: relative !important;
    width: 180px;
    height: 180px;
    max-width: 100%;
    border-radius: 100%;
    margin: 0 auto;
    border: 10px solid rgba(217, 217, 217, 0.4); }
.danh-muc-san-pham .content-danhmuc .item-product p {
  margin: 15px auto 0 auto;
  max-width: 75%;
  text-align: center; }
  .danh-muc-san-pham .content-danhmuc .item-product p a {
    color: #3F3B3B;
    font-size: 20px;
    line-height: 24px;
    text-align: center; }
.danh-muc-san-pham .content-danhmuc .item-product:hover .avatar-thumb a img {
  border: 10px solid #9f6b3861;
  transition: all 0.3s ease-in-out; }
.danh-muc-san-pham .content-danhmuc .item-product:hover p a {
  color: #9F6C38; }

.coso-vatchat .content-coso-vatchat {
  align-items: center; }
  .coso-vatchat .content-coso-vatchat .avatar-thumb a {
    padding-top: 82%; }
    .coso-vatchat .content-coso-vatchat .avatar-thumb a img {
      border-radius: 4px; }
  .coso-vatchat .content-coso-vatchat .col-md-4 {
    margin-top: 30px;
    margin-left: 15px; }
  .coso-vatchat .content-coso-vatchat .img-right {
    display: flex;
    align-items: center;
    padding-left: 30px; }
  .coso-vatchat .content-coso-vatchat .csvc1 {
    cursor: pointer; }
    .coso-vatchat .content-coso-vatchat .csvc1::before {
      content: "";
      position: absolute;
      width: 570px;
      height: 467px;
      left: 15px;
      top: 0;
      opacity: 0.35;
      border: 10px solid rgba(217, 217, 217, 0.9);
      border-radius: 4px;
      z-index: 1; }
    .coso-vatchat .content-coso-vatchat .csvc1::after {
      content: "";
      background: url(../images/img-gray.png) no-repeat center top;
      background-size: cover;
      width: 743px;
      height: 360px;
      top: 75px;
      position: absolute;
      z-index: -1;
      left: -30px; }
  .coso-vatchat .content-coso-vatchat .csvc2 {
    cursor: pointer;
    margin-bottom: 120px; }
    .coso-vatchat .content-coso-vatchat .csvc2::before {
      content: "";
      position: absolute;
      width: 330px;
      height: 271px;
      left: 0;
      top: 0;
      opacity: 0.35;
      border: 10px solid rgba(217, 217, 217, 0.9);
      border-radius: 4px;
      z-index: 1; }
  .coso-vatchat .content-coso-vatchat .csvc3 {
    cursor: pointer;
    margin-bottom: 20px; }
    .coso-vatchat .content-coso-vatchat .csvc3 .avatar-thumb a {
      padding-top: 123%; }
    .coso-vatchat .content-coso-vatchat .csvc3::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 185px;
      left: 15px;
      top: 0;
      opacity: 0.35;
      border: 10px solid rgba(217, 217, 217, 0.9);
      border-radius: 4px;
      z-index: 1; }
  .coso-vatchat .content-coso-vatchat .csvc4 {
    cursor: pointer; }
    .coso-vatchat .content-coso-vatchat .csvc4 .avatar-thumb a {
      padding-top: 123%; }
    .coso-vatchat .content-coso-vatchat .csvc4::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 185px;
      left: 15px;
      bottom: 7px;
      opacity: 0.35;
      border: 10px solid rgba(217, 217, 217, 0.9);
      border-radius: 4px;
      z-index: 1; }
  .coso-vatchat .content-coso-vatchat .line-border-x {
    position: absolute;
    bottom: -17px;
    left: -25px; }
  .coso-vatchat .content-coso-vatchat .line-border-y {
    position: absolute;
    bottom: -20px;
    left: -25px; }
  .coso-vatchat .content-coso-vatchat .box-border {
    position: relative; }
  .coso-vatchat .content-coso-vatchat .line-border-box {
    position: absolute;
    bottom: -40px;
    right: -25px;
    z-index: -1; }

.visao-chonshunfa {
  background: #F3EDE0; }
  .visao-chonshunfa .content-visao-chonshunfa {
    position: relative;
    padding-right: 643px; }
    .visao-chonshunfa .content-visao-chonshunfa .content-right .detail {
      position: relative;
      padding-left: 40px;
      border-bottom: 1px solid #D9D9D9;
      padding-bottom: 20px;
      margin-bottom: 20px; }
      .visao-chonshunfa .content-visao-chonshunfa .content-right .detail:last-child {
        border-bottom: 0;
        margin-bottom: 0; }
      .visao-chonshunfa .content-visao-chonshunfa .content-right .detail img {
        position: absolute;
        left: 0;
        top: 3%;
        width: 24px;
        height: 24px; }
      .visao-chonshunfa .content-visao-chonshunfa .content-right .detail .info h6 {
        margin-bottom: 6px; }
      .visao-chonshunfa .content-visao-chonshunfa .content-right .detail .info p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
        opacity: .8; }
    .visao-chonshunfa .content-visao-chonshunfa .content-left {
      display: flex;
      align-items: center; }
      .visao-chonshunfa .content-visao-chonshunfa .content-left .item-left {
        width: 40%; }
      .visao-chonshunfa .content-visao-chonshunfa .content-left .item-right {
        width: 60%;
        margin-left: 10px; }
    .visao-chonshunfa .content-visao-chonshunfa .item1 a {
      padding-top: 100%; }
    .visao-chonshunfa .content-visao-chonshunfa .item2 a {
      padding-top: 80%; }
      .visao-chonshunfa .content-visao-chonshunfa .item2 a img {
        width: 80%;
        margin-left: 43px; }
    .visao-chonshunfa .content-visao-chonshunfa .item3 a {
      padding-top: 100%; }
  .visao-chonshunfa .content-img {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }

.khachhang {
  background: #F9F6F3; }
  .khachhang .list-partners {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .khachhang .list-partners img {
      height: 60px;
      margin: 0 auto;
      width: initial;
      max-width: 100%;
      object-fit: contain; }
    .khachhang .list-partners .owl-nav {
      display: none; }

.chungnhan-tieuchuan .danhsach-chungnhan {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap; }
  .chungnhan-tieuchuan .danhsach-chungnhan .box {
    border-radius: 4px;
    padding: 20px 24px;
    width: 18%;
    margin: 0 10px 20px 10px;
    float: left;
    text-align: center;
    min-height: 165px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center; }
    .chungnhan-tieuchuan .danhsach-chungnhan .box img {
      height: 50px; }
    .chungnhan-tieuchuan .danhsach-chungnhan .box p {
      color: #9F6C38;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 20px;
      padding: 0 10px; }

.tintuc-noibat-pc {
  display: block; }

.tintuc-noibat-mb {
  display: none; }

.tintuc-noibat-mb .logo-backgr-img {
  display: none; }
.tintuc-noibat-mb .row {
  flex-direction: column-reverse; }
  .tintuc-noibat-mb .row .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }
    .tintuc-noibat-mb .row .col-md-4 .tintuc-noibat .chude {
      margin-right: 20px; }
  .tintuc-noibat-mb .row .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%; }
    .tintuc-noibat-mb .row .col-md-8 .danhsach-tintuc {
      display: inherit; }
      .tintuc-noibat-mb .row .col-md-8 .danhsach-tintuc .box-flex {
        display: flex; }

.tintuc-noibat {
  position: relative; }
  .tintuc-noibat p {
    margin-bottom: 24px;
    font-size: 20px; }
  .tintuc-noibat .btn-action {
    text-align: left; }
  .tintuc-noibat .chude {
    display: inline-block;
    width: 100%; }
    .tintuc-noibat .chude a {
      color: #9F6C38;
      font-size: 14px;
      line-height: 24px;
      border-radius: 4px;
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      margin-bottom: 10px; }
  .tintuc-noibat .danhsach-tintuc {
    overflow-x: auto;
    height: auto;
    margin-bottom: 40px;
    flex-wrap: nowrap; }
  .tintuc-noibat .logo-backgr-img {
    position: absolute;
    left: -38px;
    bottom: 0;
    z-index: -2; }

.lienhe-calltocation {
  position: relative;
  clear: both;
  background-size: cover !important;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 328px; }
  .lienhe-calltocation::after {
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    background: #9F6C38;
    opacity: .8; }
  .lienhe-calltocation .content {
    color: white;
    text-align: center;
    position: relative;
    z-index: 123;
    max-width: 80%;
    margin: 0 auto; }
    .lienhe-calltocation .content h2 {
      text-transform: uppercase;
      font-size: 42px;
      line-height: 45px; }
    .lienhe-calltocation .content p {
      font-size: 28px;
      line-height: 45px;
      margin-bottom: 0; }

.action-btn {
  display: block;
  bottom: 110px;
  position: fixed;
  right: 30px;
  z-index: 999; }

.action-btn {
  z-index: 12 !important; }

.coccoc-alo-ph-circle {
  width: 70px;
  height: 70px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #9F6C38;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.coccoc-alo-phone {
  background-color: transparent;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: #9F6C38;
  opacity: .6 !important; }

.coccoc-alo-ph-circle-fill {
  width: 70px;
  height: 70px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.img-phone .coccoc-alo-ph-img-circle {
  background: #9F6C38 url(../images/ic_baseline-phone.svg) no-repeat center center; }

.img-mess .coccoc-alo-ph-img-circle {
  background: #9F6C38 url(../images/ri_messenger-fill.svg) no-repeat center center; }

.coccoc-alo-ph-img-circle {
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: #9F6C38 url(../images/tuvan-mb.svg) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #9F6C38; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #9F6C38;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #9F6C38;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: #9F6C38;
  opacity: .75 !important; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #9F6C38; }

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
.breadcrumb-box {
  display: inline-block;
  width: 100%;
  margin-top: 130px; }
  .breadcrumb-box .breadcrumb-icon-home img {
    height: 20px;
    margin-bottom: 2px; }
  .breadcrumb-box nav ol {
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    background: none;
    display: flex;
    align-items: center; }
    .breadcrumb-box nav ol .breadcrumb-item {
      color: #757575; }
      .breadcrumb-box nav ol .breadcrumb-item a {
        font-size: 14px;
        line-height: 20px; }
  .breadcrumb-box .breadcrumb-item + .breadcrumb-item {
    display: flex;
    padding-left: 0.5rem;
    font-size: 14px;
    align-items: center; }
    .breadcrumb-box .breadcrumb-item + .breadcrumb-item::before {
      content: "\e409";
      color: #757575;
      font-size: 16px;
      font-family: 'Material Symbols Outlined'; }
  .breadcrumb-box .breadcrumb-item + .breadcrumb-item a {
    color: #757575; }

.title-headpage {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 44px; }

.danhsach-sanpham {
  padding-top: 0; }
  .danhsach-sanpham .banner-headpage img {
    width: 100%;
    margin-bottom: 25px; }
  .danhsach-sanpham .content-page-list .search-head {
    font-size: 18px;
    color: #757575;
    width: 25%;
    position: relative;
    text-align: right; }
    .danhsach-sanpham .content-page-list .search-head input {
      background-size: 20px;
      background-position: 8px center;
      padding-left: 40px;
      border: 2px solid #D9D9D9;
      border-radius: 4px;
      height: 40px;
      background-image: url(../images/ic-search.svg);
      background-repeat: no-repeat; }
      .danhsach-sanpham .content-page-list .search-head input::placeholder {
        color: #8C8B8D;
        font-size: 14px;
        line-height: 20px; }
  .danhsach-sanpham .content-page-list .title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px; }
    .danhsach-sanpham .content-page-list .title-content p {
      margin-bottom: 0; }

.tab-page-list .tab-content {
  margin: 0 !important; }
.tab-page-list .nav-tabs .nav-link {
  border: 2px solid #D9D9D9 !important;
  color: #3F3B3B;
  border-radius: 56px;
  height: 46px;
  margin-right: 10px;
  padding: 11px 24px !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal !important; }
  .tab-page-list .nav-tabs .nav-link.active {
    background-color: #9F6C38 !important;
    color: white !important;
    border-radius: 50px;
    height: 46px;
    border: 2px solid transparent !important; }
.tab-page-list.tab-custom .nav-tabs {
  padding-bottom: 20px !important; }
.tab-page-list ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent; }
.tab-page-list ::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent; }
.tab-page-list ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }
.tab-page-list ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }

.box-item {
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px; }
  .box-item .avatar-thumb a {
    padding-top: 100%; }
    .box-item .avatar-thumb a img {
      border-radius: 4px 4px 0 0; }
  .box-item .info-item {
    background: white;
    text-align: center;
    padding: 20px; }
    .box-item .info-item .title-product {
      color: #3F3B3B;
      text-transform: capitalize;
      font-size: 20px;
      line-height: 28px;
      min-height: 56px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .box-item .info-item .title-product:hover {
        color: #9F6C38; }
    .box-item .info-item .btn-action a {
      display: flex  !important;
      width: 100% !important;
      text-transform: inherit !important; }
    .box-item .info-item img {
      border-radius: 4px 4px 0 0; }

.chitietsanpham .slider-product-detail .item {
  margin-bottom: 60px; }
.chitietsanpham .slider-product-detail .lSSlideOuter .lSPager.lSGallery li img {
  opacity: 0.7;
  border: 1px solid #D9D9D9; }
.chitietsanpham .slider-product-detail .lSSlideOuter .lSPager.lSGallery li.active img {
  opacity: 1;
  border: 1px solid #9F6C38; }
.chitietsanpham .slider-product-detail .lSAction > .lSPrev,
.chitietsanpham .slider-product-detail .lSAction > .lSNext {
  background-position: unset; }
.chitietsanpham .slider-product-detail .lSAction > a {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 0; }
.chitietsanpham .slider-product-detail .lSAction > .lSPrev {
  background-image: url(../images/arrow-left.png);
  background-size: contain !important;
  left: 20px; }
.chitietsanpham .slider-product-detail .lSAction > .lSNext {
  background-image: url(../images/arrow-right.png);
  background-size: contain !important;
  right: 20px; }
.chitietsanpham .slider-product-detail .lSSlideOuter img {
  border-radius: 4px;
  width: 100%; }
.chitietsanpham .slider-product-detail .lSPager.lSGallery {
  margin-top: 11px !important;
  margin: 0 auto;
  width: 100% !important; }
  .chitietsanpham .slider-product-detail .lSPager.lSGallery li {
    width: 100px !important;
    margin-right: 10px !important; }
.chitietsanpham .slider-product-detail .lSSlideOuter .lSPager.lSGallery img {
  height: 100px;
  border-radius: 5px;
  width: 100px; }
.chitietsanpham .chitiet .title-headpage {
  margin-top: 0;
  margin-bottom: 0; }
.chitietsanpham .chitiet p {
  margin-bottom: 35px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 25px; }
  .chitietsanpham .chitiet p span {
    color: #9F6C38;
    font-size: 16px;
    line-height: 25px; }
.chitietsanpham .chitiet .btn-common-fill {
  width: 100%; }
.chitietsanpham .chitiet .btn-brochure {
  width: 100%; }
  .chitietsanpham .chitiet .btn-brochure::after {
    content: "\e173";
    color: #9F6C38;
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
    margin-left: 10px; }
.chitietsanpham .chitiet .mota .panel-group .panel {
  border-radius: 0;
  box-shadow: none; }
.chitietsanpham .chitiet .mota .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0; }
.chitietsanpham .chitiet .mota .panel-default {
  border-bottom: 2px #D9D9D9 solid; }
  .chitietsanpham .chitiet .mota .panel-default:last-child {
    border-bottom: none; }
.chitietsanpham .chitiet .mota .panel-title {
  margin-bottom: 0;
  font-weight: 600; }
  .chitietsanpham .chitiet .mota .panel-title a:active {
    color: #9F6C38; }
.chitietsanpham .chitiet .mota .panel-title > a {
  padding: 25px 0 25px 0;
  text-decoration: none;
  line-height: 26px;
  font-size: 22px;
  color: #9F6C38;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.chitietsanpham .chitiet .mota .panel-title > a.collapsed {
  color: #3F3B3B; }
.chitietsanpham .chitiet .mota .more-less {
  float: left;
  margin-left: 20px;
  font-weight: 600; }
.chitietsanpham .chitiet .mota .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  margin: 0 0 25px;
  color: #3F3B3B; }
  .chitietsanpham .chitiet .mota .panel-default > .panel-heading + .panel-collapse > .panel-body ul {
    margin-left: 30px; }
    .chitietsanpham .chitiet .mota .panel-default > .panel-heading + .panel-collapse > .panel-body ul li {
      margin-bottom: 12px; }
  .chitietsanpham .chitiet .mota .panel-default > .panel-heading + .panel-collapse > .panel-body p {
    margin-top: 0;
    margin-bottom: 16px; }

.sanpham-cungloai .box-item {
  margin-bottom: 0; }
.sanpham-cungloai .item {
  padding-top: 0  !important;
  padding-bottom: 0 !important; }
.sanpham-cungloai .owl-dots {
  display: none; }
.sanpham-cungloai .owl-prev {
  left: -30px; }
.sanpham-cungloai .owl-next {
  right: -30px; }

#popup-contacts .modal-header .close {
  position: absolute;
  right: 30px;
  font-size: 30px;
  padding: 8px;
  color: #757575;
  opacity: 1;
  background: #d9d9d9;
  text-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 30px !important; }
#popup-contacts .modal-dialog {
  max-width: 700px; }
#popup-contacts .modal-body {
  padding: 0; }
#popup-contacts .modal-content {
  margin: 0;
  background-color: white;
  width: 100%; }
#popup-contacts .form-contact p {
  max-width: 50%;
  margin: 0 auto 35px auto; }

.contact-section {
  text-align: center;
  padding: 0; }
  .contact-section .btn-action {
    text-align: right;
    margin-top: 10px; }
  .contact-section .modal-body .container {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .contact-section .form-contact {
    max-width: 600px;
    margin: auto; }
    .contact-section .form-contact .button-submitform {
      float: right; }
  .contact-section .title-section h2 {
    text-transform: inherit;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px; }
  .contact-section .title-section p {
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin-bottom: 35px; }
  .contact-section .form-control {
    color: #3F3B3B; }
  .contact-section .form-group {
    margin-bottom: 25px; }

.content-popup-csvc {
  /* Next & previous buttons */ }
  .content-popup-csvc .modal-header .close {
    right: 60px;
    top: 0 !important; }
  .content-popup-csvc #modal-popup-csvc .modal-dialog {
    max-width: 1400px; }
  .content-popup-csvc .modal {
    background: #00000080; }
  .content-popup-csvc .content-detail {
    position: relative; }
  .content-popup-csvc .caption-detail {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .content-popup-csvc #caption {
    font-size: 24px;
    margin-bottom: 0; }
  .content-popup-csvc .list-colum {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px 20px 20px;
    background: #00000036; }
  .content-popup-csvc .modal-content {
    background: transparent; }
  .content-popup-csvc .column {
    float: left;
    width: 166px;
    margin-right: 10px;
    display: flex; }
  .content-popup-csvc .mySlides {
    display: none; }
  .content-popup-csvc .cursor {
    cursor: pointer; }
  .content-popup-csvc .close {
    top: 35px  !important; }
  .content-popup-csvc .next {
    background-image: url(../images/chevron-right.png);
    background-size: contain !important;
    right: 0;
    position: absolute;
    width: 72px;
    height: 72px;
    bottom: 350px;
    cursor: pointer; }
  .content-popup-csvc .prev {
    background-image: url(../images/chevron-left.png);
    background-size: contain !important;
    left: 0;
    position: absolute;
    width: 72px;
    height: 72px;
    bottom: 350px;
    cursor: pointer; }
  .content-popup-csvc img {
    border-radius: 4px; }
  .content-popup-csvc .caption-container {
    text-align: center;
    background: #00000080;
    padding: 15px;
    color: white; }
  .content-popup-csvc .demo {
    opacity: 0.7;
    border: 1px solid transparent; }
  .content-popup-csvc .active,
  .content-popup-csvc .demo:hover {
    opacity: 1;
    border: 1px solid #9F6C38; }

.tintuc-large {
  padding-bottom: 10px;
  padding-top: 0; }
  .tintuc-large .tintuc-small .date-time-news p::before {
    font-size: 16px;
    top: 0; }
  .tintuc-large .tintuc-small .item-news .info-news a span {
    font-size: 13px;
    line-height: 20px; }
  .tintuc-large .tintuc-small .date-time-news span {
    font-size: 14px !important;
    line-height: 20px !important; }
  .tintuc-large .tintuc-small .item-news .title-news a {
    font-size: 16px;
    line-height: 18px; }
  .tintuc-large .tintuc-small .date-time-news p {
    margin-left: 20px; }
  .tintuc-large .date-time-news p::before {
    font-size: 24px;
    top: -8px; }
  .tintuc-large .date-time-news p {
    margin-left: 30px; }
  .tintuc-large .item-news .avatar-thumb a img {
    border-radius: 4px; }
  .tintuc-large .info-news {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: transparent !important;
    box-shadow: none !important; }
  .tintuc-large .item-news .info-news a span, .tintuc-large .item-news .info-news span {
    font-size: 16px;
    line-height: 20px; }
  .tintuc-large .item-news .title-news a {
    font-size: 32px;
    line-height: 40px; }

.danhsach-tintuc-tab {
  padding-top: 40px; }
  .danhsach-tintuc-tab .item-news .avatar-thumb a img {
    border-radius: 4px; }
  .danhsach-tintuc-tab .tab-page-list.tab-custom .nav-tabs {
    padding-bottom: 35px !important; }
  .danhsach-tintuc-tab .item-news {
    margin-bottom: 35px; }
  .danhsach-tintuc-tab .date-time-news p::before {
    top: 0; }
  .danhsach-tintuc-tab .item-news .title-news a {
    font-size: 20px;
    line-height: 24px; }
  .danhsach-tintuc-tab .info-news {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: transparent !important;
    box-shadow: none !important; }

.block-toc__link--active {
  padding: 6px 10px;
  background: #F3EDE0;
  margin-bottom: 8px;
  border-radius: 4px;
  margin-bottom: 8px; }

.chitiettintuc-large {
  padding-bottom: 40px; }
  .chitiettintuc-large .title-headpage {
    margin-bottom: 0;
    margin-top: 16px; }
  .chitiettintuc-large .avatar-thumb a img {
    border-radius: 4px; }
  .chitiettintuc-large .row {
    margin-top: 35px;
    align-items: center; }
  .chitiettintuc-large .title-timedate {
    border: 1px dashed #D9D9D9;
    border-radius: 50px;
    width: fit-content;
    padding: 8px;
    display: flex;
    align-items: center; }
    .chitiettintuc-large .title-timedate a {
      background: #9f6b38;
      color: white;
      border-radius: 50px;
      padding: 2px 10px;
      font-size: 13px;
      line-height: 20px;
      margin-right: 6px; }
    .chitiettintuc-large .title-timedate .date-time-news {
      margin-left: 5px; }
      .chitiettintuc-large .title-timedate .date-time-news p {
        margin-left: 20px; }
        .chitiettintuc-large .title-timedate .date-time-news p::before {
          font-size: 16px;
          top: 0; }

.noidungbaiviet {
  background: #F9F6F3; }
  .noidungbaiviet .show-sticky {
    top: 50px; }
  .noidungbaiviet .nd-danhmuc h2 {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px; }
  .noidungbaiviet .nd-danhmuc ul {
    counter-reset: headings; }
    .noidungbaiviet .nd-danhmuc ul li {
      padding-left: 0;
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      background: transparent;
      margin-bottom: 8px;
      border-radius: 4px; }
      .noidungbaiviet .nd-danhmuc ul li a {
        color: #3F3B3B;
        padding: 6px 10px;
        counter-increment: headings; }
        .noidungbaiviet .nd-danhmuc ul li a::before {
          content: counter(headings) ". "; }
  .noidungbaiviet .bg-light {
    background-color: transparent  !important;
    padding: 0; }
  .noidungbaiviet .nav-pills .nav-link.active, .noidungbaiviet .nav-pills .show > .nav-link {
    background-color: #F3EDE0;
    color: #3F3B3B; }

.share-social {
  text-align: center;
  border-top: 1px solid #D9D9D9;
  padding-top: 35px; }
  .share-social p {
    margin-bottom: 16px; }
  .share-social img {
    height: 30px;
    margin: 0 7px; }

.chitiet-baiviet p {
  text-align: justify;
  font-size: 16px;
  line-height: 30px; }
.chitiet-baiviet h2 {
  font-size: 24px;
  line-height: 38px; }

.baiviet-tuongtu .date-time-news p::before {
  top: 0; }
.baiviet-tuongtu .info-news {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: transparent !important;
  box-shadow: none !important; }
.baiviet-tuongtu .item-news .avatar-thumb a img {
  border-radius: 4px; }

.chinhsach-baomat {
  background: #F9F6F3;
  padding-top: 0; }
  .chinhsach-baomat .content-chinhsachbaomat {
    max-width: 70%;
    margin: 0 auto; }
    .chinhsach-baomat .content-chinhsachbaomat p {
      text-align: justify;
      font-size: 16px;
      line-height: 30px; }
    .chinhsach-baomat .content-chinhsachbaomat h2 {
      font-size: 24px;
      line-height: 38px; }

.page-not-found {
  background: #F9F6F3;
  margin-top: 0;
  padding-top: 150px; }
  .page-not-found .content-404 {
    text-align: center; }
    .page-not-found .content-404 img {
      width: 100%;
      height: 100%;
      max-width: 350px;
      margin-bottom: 20px; }
    .page-not-found .content-404 .box-text h1 {
      font-size: 100px; }
    .page-not-found .content-404 .box-text h5 {
      font-size: 18px; }

.timkiem {
  background: #F9F6F3;
  padding-top: 0; }
  .timkiem h4 {
    font-size: 32px;
    margin-bottom: 24px; }
  .timkiem .content-timkiem .item {
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 25px;
    margin-bottom: 25px; }
    .timkiem .content-timkiem .item:last-child {
      border-bottom: 0; }
    .timkiem .content-timkiem .item a {
      color: #3F3B3B;
      line-height: 32px;
      font-size: 20px;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .timkiem .content-timkiem .item a:hover {
        color: #9F6C38; }
    .timkiem .content-timkiem .item span {
      font-size: 14px;
      line-height: 24px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.faqs-page {
  padding-top: 0; }
  .faqs-page .nd-danhmuc h2 {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px; }
  .faqs-page .nd-danhmuc ul {
    counter-reset: headings; }
    .faqs-page .nd-danhmuc ul li {
      padding-left: 0;
      list-style: none;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      background: transparent;
      margin-bottom: 8px;
      border-radius: 4px;
      padding: 6px 10px; }
      .faqs-page .nd-danhmuc ul li.active {
        background: #F3EDE0; }
      .faqs-page .nd-danhmuc ul li a {
        color: #3F3B3B;
        padding: 6px 10px;
        counter-increment: headings; }
        .faqs-page .nd-danhmuc ul li a::before {
          content: counter(headings) ". "; }
  .faqs-page .content-faqs .search-head {
    font-size: 18px;
    color: #757575;
    width: 100%;
    position: relative;
    text-align: right; }
    .faqs-page .content-faqs .search-head input {
      background-size: 20px;
      background-position: 8px center;
      padding-left: 40px;
      border: 2px solid #D9D9D9;
      border-radius: 4px;
      height: 40px;
      background-image: url(../images/ic-search.svg);
      background-repeat: no-repeat;
      width: 100%; }
      .faqs-page .content-faqs .search-head input:hover {
        border: 2px solid #9F6C38; }
      .faqs-page .content-faqs .search-head input::placeholder {
        font-size: 14px;
        color: #8C8B8D; }

.gioithieu-tuyendung .row {
  align-items: center; }
.gioithieu-tuyendung .box-left {
  position: relative; }
  .gioithieu-tuyendung .box-left img {
    width: 100%;
    padding-left: 90px; }
  .gioithieu-tuyendung .box-left .box-item {
    background: white;
    padding: 15px 30px;
    border: 0;
    margin-bottom: 0;
    width: inherit;
    text-align: center;
    max-width: 40%; }
  .gioithieu-tuyendung .box-left .box-item1 {
    position: absolute;
    right: 0;
    bottom: 0; }
  .gioithieu-tuyendung .box-left .box-item2 {
    position: absolute;
    left: 0;
    top: 50px; }
  .gioithieu-tuyendung .box-left .box-item3 {
    position: absolute;
    left: 0;
    top: 180px;
    max-width: 40%; }
.gioithieu-tuyendung .box-right h2 {
  margin-bottom: 24px;
  color: #9F6C38;
  position: relative;
  padding-left: 72px;
  max-width: 90%; }
  .gioithieu-tuyendung .box-right h2:before {
    content: "\e244";
    color: #9F6C38;
    font-size: 55px;
    font-family: 'Material Symbols Outlined';
    font-weight: 600;
    position: absolute;
    left: 20px;
    bottom: 40px; }
.gioithieu-tuyendung .box-right p {
  font-size: 20px;
  line-height: 32px;
  padding-left: 72px; }
  .gioithieu-tuyendung .box-right p span {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 32px; }

.danhsach-ungtuyen .box-detail {
  display: flex;
  align-items: center; }
.danhsach-ungtuyen .btn-common-fill {
  bottom: 35px;
  position: absolute;
  right: 23px; }
.danhsach-ungtuyen .box-items {
  padding: 24px;
  border-radius: 4px;
  position: relative;
  padding-right: 250px;
  margin-bottom: 24px; }
  .danhsach-ungtuyen .box-items .detail {
    text-align: left; }
    .danhsach-ungtuyen .box-items .detail h6 {
      margin-bottom: 15px;
      line-height: 32px; }
    .danhsach-ungtuyen .box-items .detail .item-detail1 {
      position: relative;
      padding-left: 30px;
      line-height: 24px;
      margin-right: 25px;
      margin-bottom: 0;
      opacity: .8; }
      .danhsach-ungtuyen .box-items .detail .item-detail1:before {
        content: "\e7fd";
        color: #9F6C38;
        font-size: 24px;
        margin-right: 5px;
        font-family: 'Material Symbols Outlined';
        position: absolute;
        left: 0;
        top: 0; }
    .danhsach-ungtuyen .box-items .detail .item-detail2 {
      opacity: .8;
      margin-bottom: 0;
      position: relative;
      padding-left: 30px;
      line-height: 24px;
      margin-right: 25px; }
      .danhsach-ungtuyen .box-items .detail .item-detail2:before {
        content: "\f6ea";
        color: #9F6C38;
        font-size: 24px;
        margin-right: 5px;
        font-family: 'Material Symbols Outlined';
        position: absolute;
        left: 0;
        top: 0; }
    .danhsach-ungtuyen .box-items .detail .item-detail3 {
      opacity: .8;
      margin-bottom: 0;
      position: relative;
      padding-left: 30px;
      line-height: 24px;
      margin-right: 25px; }
      .danhsach-ungtuyen .box-items .detail .item-detail3:before {
        content: "\e916";
        color: #9F6C38;
        font-size: 24px;
        margin-right: 5px;
        font-family: 'Material Symbols Outlined';
        position: absolute;
        left: 0;
        top: 0; }

.chitiet-ungtuyen .form-ungtuyen {
  margin-top: 120px;
  border-radius: 4px; }
  .chitiet-ungtuyen .form-ungtuyen .title-section p {
    max-width: 80%;
    margin: 0 auto 35px auto; }
.chitiet-ungtuyen .contact-section {
  padding: 30px 40px; }
.chitiet-ungtuyen .btn-common-fill {
  position: inherit;
  width: 100%; }
.chitiet-ungtuyen .box-items {
  padding: 0;
  position: relative;
  margin-bottom: 45px; }
  .chitiet-ungtuyen .box-items h6 {
    font-size: 32px; }
.chitiet-ungtuyen .chitiet {
  margin-bottom: 35px; }
  .chitiet-ungtuyen .chitiet h4 {
    margin-bottom: 16px; }
  .chitiet-ungtuyen .chitiet p {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    line-height: 24px; }
    .chitiet-ungtuyen .chitiet p:before {
      content: "\f88b";
      color: #757575;
      font-size: 24px;
      margin-right: 5px;
      font-family: 'Material Symbols Outlined';
      position: absolute;
      left: 0;
      top: 0; }

.lienhe {
  padding-top: 20px; }
  .lienhe .contact-section {
    padding: 30px 40px;
    border-radius: 4px;
    position: relative; }
  .lienhe .box-around1 {
    border-radius: 4px;
    background: #9f6b3873;
    width: 481px;
    height: 635px;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -2; }
  .lienhe .box-around2 {
    border-radius: 4px;
    background: #9f6b3873;
    width: 481px;
    height: 635px;
    position: absolute;
    left: -15px;
    top: 30px;
    z-index: -2; }
  .lienhe .thongtinlienhe .detail {
    position: relative;
    padding-left: 60px;
    margin-bottom: 35px; }
    .lienhe .thongtinlienhe .detail img {
      position: absolute;
      left: 0;
      top: 3px;
      height: 47px; }
    .lienhe .thongtinlienhe .detail .content-detail a {
      color: #3F3B3B; }
    .lienhe .thongtinlienhe .detail .content-detail span {
      color: #757575;
      font-size: 13px;
      margin-bottom: 5px; }
    .lienhe .thongtinlienhe .detail .content-detail p {
      margin-bottom: 0; }

.gg-map {
  padding-bottom: 0; }
  .gg-map a {
    display: inline-block;
    width: 100%; }
  .gg-map img {
    width: 100%;
    cursor: pointer; }

.ds-catalogue {
  padding-top: 0; }
  .ds-catalogue .item-news .avatar-thumb img {
    border-radius: 4px; }
  .ds-catalogue .item-news .info-news {
    padding: 20px 0 0 0;
    box-shadow: none;
    background: transparent; }
    .ds-catalogue .item-news .info-news .title-news {
      min-height: inherit;
      margin-bottom: 5px; }
    .ds-catalogue .item-news .info-news .desreption {
      opacity: .8;
      font-size: 16px;
      line-height: 24px;
      color: #3F3B3B; }

.tab-link-about nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
  margin: 0;
  padding-bottom: 0;
  border-bottom: 2px solid #D9D9D9;
  margin-bottom: -2px; }
  .tab-link-about nav ul li {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0 30px 0 0; }
    .tab-link-about nav ul li a {
      color: #757979;
      font-size: 18px;
      line-height: 24px; }
    .tab-link-about nav ul li.active {
      border-bottom: 2px solid #9F6C38;
      margin-bottom: -2px; }
      .tab-link-about nav ul li.active a {
        color: #9F6C38; }

.gioithieu {
  padding-top: 25px; }
  .gioithieu .row {
    align-items: center; }
  .gioithieu .thum-img {
    position: relative;
    padding: 30px; }
    .gioithieu .thum-img img {
      width: 100%;
      border-radius: 4px; }
  .gioithieu .items-box1 {
    position: absolute;
    left: 15px;
    width: initial;
    top: 0;
    z-index: -3;
    padding: 0; }
  .gioithieu .items-box2 {
    position: absolute;
    right: 15px;
    width: initial;
    bottom: 0;
    z-index: -3;
    padding: 0; }
  .gioithieu .content-gioithieu h3 {
    margin-bottom: 24px; }
  .gioithieu .content-gioithieu .des p {
    margin-bottom: 5px;
    color: #525757;
    opacity: .8;
    font-size: 18px;
    line-height: 32px; }
  .gioithieu .content-gioithieu .thongtin-doanhnghiep p {
    position: relative;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 33px;
    line-height: 24px; }
    .gioithieu .content-gioithieu .thongtin-doanhnghiep p:before {
      content: "\e2e6";
      color: #9F6C38;
      font-size: 24px;
      margin-right: 5px;
      font-family: 'Material Symbols Outlined';
      position: absolute;
      left: 0;
      top: 0; }
    .gioithieu .content-gioithieu .thongtin-doanhnghiep p span {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px; }

.tamnhin-sumenh {
  position: relative; }
  .tamnhin-sumenh .tamnhin {
    max-width: 70%;
    margin: 0 auto; }
    .tamnhin-sumenh .tamnhin h4 {
      margin: 24px 0 10px 0; }
    .tamnhin-sumenh .tamnhin img {
      height: 80px; }
    .tamnhin-sumenh .tamnhin p {
      margin-bottom: 0;
      text-align: justify;
      opacity: .8; }
  .tamnhin-sumenh .bg-logo {
    position: absolute;
    bottom: 0;
    right: 0; }

.giatri-cotloi .content-circle {
  position: relative;
  max-width: 262px; }
  .giatri-cotloi .content-circle img {
    height: 250px; }
  .giatri-cotloi .content-circle .content-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px; }
    .giatri-cotloi .content-circle .content-text .text-back {
      font-size: 24px;
      color: #3F3B3B;
      margin-bottom: 0; }
    .giatri-cotloi .content-circle .content-text .text-brand {
      font-size: 24px;
      color: #9F6C38;
      margin-bottom: 0; }
.giatri-cotloi .content-value {
  right: 20px;
  top: 50%;
  position: absolute;
  font-size: 24px;
  line-height: 38px;
  max-width: 48%;
  transform: translateY(-50%);
  text-align: justify; }
.giatri-cotloi .box-circle {
  margin-bottom: 60px;
  position: relative;
  padding-right: 300px; }

.cta-hosonangluc {
  position: relative;
  background: #9F6C38;
  min-height: 328px;
  overflow: inherit; }
  .cta-hosonangluc img {
    position: absolute;
    right: 250px;
    top: -110px; }
  .cta-hosonangluc .content {
    color: white;
    text-align: left;
    position: relative;
    z-index: 123;
    max-width: 56%; }
    .cta-hosonangluc .content span {
      text-transform: uppercase;
      font-size: 42px;
      line-height: 45px; }
    .cta-hosonangluc .content p {
      font-size: 28px;
      line-height: 45px;
      margin-bottom: 0; }
    .cta-hosonangluc .content .btn-common-line {
      text-align: right; }
      .cta-hosonangluc .content .btn-common-line::after {
        content: "\e873";
        color: #9F6C38;
        font-size: 24px;
        font-family: 'Material Symbols Outlined';
        margin-left: 10px; }

.coso-vatchat-vechungtoi {
  padding-top: 25px; }

.linhvuc-hoatdong .item-news {
  border-radius: 40px;
  border: 1px solid #D9D9D9;
  margin-bottom: 0; }
  .linhvuc-hoatdong .item-news img {
    border-radius: 4px 4px 0 0; }
  .linhvuc-hoatdong .item-news .info-news {
    min-height: 227px; }
    .linhvuc-hoatdong .item-news .info-news:hover {
      background: #9F6C38;
      transition: all 0.3s ease-in-out; }
      .linhvuc-hoatdong .item-news .info-news:hover .title-news a {
        color: white; }
      .linhvuc-hoatdong .item-news .info-news:hover .desreption {
        color: white; }
    .linhvuc-hoatdong .item-news .info-news .desreption {
      opacity: .8;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.quytrinh-sanxuat {
  padding-top: 25px; }
  .quytrinh-sanxuat img {
    width: 100%; }

.trietly-kinhdoanh .row {
  align-items: center; }
.trietly-kinhdoanh .box-left img {
  width: 100%; }
.trietly-kinhdoanh .box-right {
  font-size: 20px;
  line-height: 36px;
  position: relative;
  padding-right: 151px;
  padding-left: 15px;
  text-align: justify; }
  .trietly-kinhdoanh .box-right span {
    font-size: 20px;
    line-height: 36px;
    color: #9F6C38; }
  .trietly-kinhdoanh .box-right::after {
    z-index: -4;
    width: 305px;
    height: 264px;
    background: url(../images/quote.png) no-repeat center !important;
    background-size: contain !important;
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0; }

.chungnhan-tieuchuan .box {
  min-height: 165px !important; }
.chungnhan-tieuchuan .des {
  max-width: 68%;
  margin: 0 auto;
  line-height: 32px;
  color: #757979;
  margin-bottom: 0;
  font-size: 20px; }
.chungnhan-tieuchuan .box-certificates span {
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  max-width: 80%;
  display: inline-block; }

.chienluoc {
  position: relative; }
  .chienluoc .box-lagre {
    position: relative;
    padding-right: 130px; }
  .chienluoc .box-left {
    padding: 20px 30px 20px 170px;
    width: 100%;
    background: white;
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    position: relative; }
    .chienluoc .box-left::after {
      content: "";
      background: url(../images/poly.svg) no-repeat center top;
      background-size: cover;
      width: 28px;
      height: 54px;
      position: absolute;
      right: -27px;
      top: 35%; }
    .chienluoc .box-left .box-item-icon {
      position: absolute;
      top: -16px;
      left: 30px; }
      .chienluoc .box-left .box-item-icon .box-grap {
        position: relative; }
      .chienluoc .box-left .box-item-icon .box-icon {
        position: absolute;
        bottom: 30px;
        left: 28px;
        height: 55px; }
  .chienluoc .box-right {
    padding: 20px 130px 20px 40px;
    width: 100%;
    background: white;
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    position: relative; }
    .chienluoc .box-right::after {
      content: "";
      background: url(../images/poly.svg) no-repeat center top;
      background-size: cover;
      width: 28px;
      height: 54px;
      position: absolute;
      left: -27px;
      top: 35%;
      transform: rotate(180deg); }
    .chienluoc .box-right .box-item-icon {
      position: absolute;
      top: -16px;
      right: 30px; }
      .chienluoc .box-right .box-item-icon .box-grap {
        position: relative; }
      .chienluoc .box-right .box-item-icon .box-icon {
        position: absolute;
        height: 55px;
        right: 25px;
        bottom: 35px; }
  .chienluoc .box-postion4 {
    margin-top: -25px; }
  .chienluoc .box-postion3 {
    margin-top: 110px; }
  .chienluoc .box-postion1 {
    margin-top: 144px; }
  .chienluoc .box-chienluoc {
    position: relative; }
    .chienluoc .box-chienluoc::after {
      content: "";
      background: url(../images/line-item.svg) no-repeat center top;
      background-size: cover;
      width: 105px;
      height: 459px;
      position: absolute;
      left: -60px;
      right: 0;
      margin: 0 auto;
      top: 65px; }
  .chienluoc .item-box h6 {
    line-height: 30px;
    margin-bottom: 13px;
    color: #9F6C38; }
  .chienluoc .item-box ul {
    list-style: disc;
    margin-bottom: 0; }
    .chienluoc .item-box ul li {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px; }
  .chienluoc .item-box img {
    width: 100%; }

.chungnhan-tieuchuan.box-title .box {
  min-height: 205px !important; }

.contact-facebook iframe {
  width: 100%;
  display: inline-block; }
  .contact-facebook iframe ._2p3a {
    width: 100% !important;
    display: inline-block !important; }

body {
  font-family: 'Questrial', sans-serif;
  color: #3F3B3B;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  background: #FAF6F3; }

* {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48; }

.container {
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none;
  color: #9F6C38; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 44px;
  font-weight: normal; }
  h1 a, h1 b, h1 strong, h1 p, h1 label {
    font-size: 45px;
    font-weight: normal; }

h2 {
  font-size: 32px;
  font-weight: normal; }
  h2 a, h2 b, h2 strong, h2 p, h2 label {
    font-size: 32px;
    font-weight: normal; }

h3 {
  font-size: 28px;
  font-weight: normal; }
  h3 a, h3 b, h3 strong, h3 p, h3 label {
    font-size: 28px;
    font-weight: normal; }

h4 {
  font-size: 24px;
  font-weight: normal; }
  h4 a, h4 b, h4 strong, h4 p, h4 label {
    font-size: 24px;
    font-weight: normal; }

h5 {
  font-size: 22px;
  font-weight: normal; }
  h5 a, h5 b, h5 strong, h5 p, h5 label {
    font-size: 22px;
    font-weight: normal; }

h6 {
  font-size: 20px;
  font-weight: normal; }
  h6 a, h6 b, h6 strong, h6 p, h6 label {
    font-size: 20px;
    font-weight: normal; }

p, strong, b, i {
  font-size: 16px; }

span {
  font-size: 13px; }

label {
  font-size: 14px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mr-20 {
  margin-right: 20px; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.btn-header-mobile {
  display: none; }

section {
  float: left;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.none-overflow {
  overflow: initial; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11); }

.title-section h2 {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  line-height: 48px;
  margin-bottom: 0; }
.title-section .desc-title {
  margin: 5px 0;
  color: #757575;
  font-size: 18px;
  max-width: 80%;
  margin: 0 auto 20px auto; }

.title-page {
  display: inline-block;
  width: 100%; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

button {
  border: 0; }
  button:focus {
    outline: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: unset; }

.btn-common-fill,
.btn-common-line,
input[type=button],
input[type=submit], .btn-common-fill2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9F6C38;
  padding: 14px 12px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 52px;
  line-height: 24px;
  font-size: 18px;
  border-radius: 4px;
  min-width: 160px;
  width: fit-content; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  input[type=button]:hover,
  input[type=submit]:hover, .btn-common-fill2:hover {
    opacity: 0.7;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill img, .btn-common-fill svg,
  .btn-common-line i,
  .btn-common-line img,
  .btn-common-line svg,
  input[type=button] i,
  input[type=button] img,
  input[type=button] svg,
  input[type=submit] i,
  input[type=submit] img,
  input[type=submit] svg, .btn-common-fill2 i,
  .btn-common-fill2 img, .btn-common-fill2 svg {
    margin-left: 10px;
    width: 16px; }
  .btn-common-fill::after,
  .btn-common-line::after,
  input[type=button]::after,
  input[type=submit]::after, .btn-common-fill2::after {
    content: "\e941";
    font-size: 24px;
    font-family: 'Material Symbols Outlined';
    margin-left: 10px; }

.btn-hosonangluc::after {
  content: "\e873";
  color: white;
  font-size: 24px;
  font-family: 'Material Symbols Outlined';
  margin-left: 10px; }

.btn-xemthem-tintuc::after {
  content: "\e5db";
  color: white;
  font-size: 24px;
  font-family: 'Material Symbols Outlined';
  margin-left: 10px; }

.btn-catalogue::after {
  content: none;
  color: white;
  font-size: 24px;
  font-family: 'Material Symbols Outlined';
  margin-left: 10px; }

.btn-common-fill {
  color: white; }

.btn-common-line {
  background-color: white !important;
  color: #9F6C38 !important;
  border: 2px solid #9F6C38 !important; }

.btn-common-fill2 {
  background-color: #3F3B3B !important;
  color: #fff !important;
  border: 2px solid #3F3B3B !important; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #3F3B3B; }

.text-brand {
  color: #9F6C38; }

.text-uppercase {
  text-transform: uppercase; }

.text-alpha {
  color: #757575; }

.btn.focus, .btn:focus {
  box-shadow: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.fw-normal {
  font-weight: normal; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

/* -------------- Scrollbar-------------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: #D9D9D9; }

::-webkit-scrollbar {
  width: 0;
  height: 2px;
  background-color: #D9D9D9;
  border-radius: 50px; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #9F6C38; }

/* -------------- Input / textarea -------------------- */
textarea {
  height: 88px !important; }

.form-group input, .form-group select, .form-group textarea {
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  width: 100%;
  padding: 10px 15px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #3F3B3B; }
  .form-group input::placeholder, .form-group select::placeholder, .form-group textarea::placeholder {
    color: #8C8B8D; }
  .form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border: 2px solid #9F6C38; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #3F3B3B;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #9F6C38 !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #3F3B3B !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #9F6C38;
  border: 1px solid #9F6C38; }

.input-custom:checked + .label-custom {
  color: #3F3B3B !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked + label {
  color: #9F6C38 !important; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #3F3B3B;
  margin-bottom: 0;
  font-weight: normal; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #9F6C38 !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #9F6C38;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #9F6C38;
  outline: 0;
  box-shadow: none; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 50px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #757575;
  top: 15px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #3F3B3B;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #EBF2FD; }

/* ----------------------- Modal----------------------- */
.modal-dialog.modal-dialog-medium {
  max-width: 1000px; }

.modal-dialog.modal-dialog-large {
  max-width: 100%; }

.modal {
  padding: 80px 0; }
  .modal .submit-login-out {
    width: 100%; }

.modal-content {
  margin: auto;
  border: 0;
  border-radius: 4px;
  padding: 40px; }

.modal-dialog {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-body {
  padding: 0; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0;
  justify-content: center; }
  .modal-header .close {
    position: absolute;
    right: 30px;
    font-size: 30px;
    padding: 8px;
    top: 30px;
    color: #757575;
    opacity: 1;
    background: #d9d9d9;
    text-shadow: none;
    width: 40px;
    height: 40px;
    border-radius: 50px; }
    .modal-header .close:hover {
      outline: none; }
    .modal-header .close:before {
      content: "\e5cd";
      color: #9F6C38;
      font-size: 24px;
      font-family: 'Material Symbols Outlined'; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    display: flex;
    width: 38px;
    height: 38px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #3F3B3B;
    padding: 4px;
    align-items: center;
    justify-content: center; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: #9F6C38;
      background-color: transparent;
      padding-top: 5px;
      border-radius: 50px;
      border: 1px solid #9F6C38; }
  .pagging-page ul li:hover a {
    color: #9F6C38; }

/*------------- Custom slider slider --------------*/
.owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%; }
  .owl-nav span {
    opacity: 0;
    display: none; }

.owl-carousel .item {
  padding: 20px;
  text-align: center; }
  .owl-carousel .item .item-news {
    margin-bottom: 0; }

.owl-theme .owl-dots .owl-dot {
  height: inherit; }

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%; }
  .owl-prev::before {
    content: "\e64a";
    font-family: 'themify';
    display: block;
    font-size: 40px;
    color: #757575; }

.owl-next {
  position: absolute;
  right: 0;
  top: 50%; }
  .owl-next::before {
    content: "\e649";
    font-family: 'themify';
    display: block;
    font-size: 40px;
    color: #757575; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent; }

.owl-theme .owl-nav {
  margin-top: 0; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #9F6C38 !important; }

/* --------------------------- Custom tab content ------------------------------- */
.tab-custom .tab-content {
  margin: 20px 20px 0 10px; }
.tab-custom .nav-tabs {
  border: 0;
  display: flex;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset;
  justify-content: left; }
  .tab-custom .nav-tabs .nav-link {
    color: #3F3B3B;
    border: 0;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600; }
    .tab-custom .nav-tabs .nav-link.active {
      background-color: transparent;
      border-bottom: 2px solid #9F6C38;
      color: #9F6C38; }

/*------------- Custom editor  --------------*/
.editor-body ul, .editor-body ol {
  padding-left: 15px; }
.editor-body span, .editor-body p, .editor-body b, .editor-body strong, .editor-body label, .editor-body i {
  font-size: initial;
  width: initial;
  height: initial;
  font-weight: initial; }
.editor-body h1, .editor-body h2, .editor-body h3, .editor-body h4, .editor-body h5, .editor-body h6 {
  font-size: initial;
  width: initial;
  font-weight: initial;
  height: initial; }
  .editor-body h1 span, .editor-body h1 p, .editor-body h1 b, .editor-body h1 strong, .editor-body h1 label, .editor-body h1 i, .editor-body h1 a, .editor-body h2 span, .editor-body h2 p, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 label, .editor-body h2 i, .editor-body h2 a, .editor-body h3 span, .editor-body h3 p, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 label, .editor-body h3 i, .editor-body h3 a, .editor-body h4 span, .editor-body h4 p, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 label, .editor-body h4 i, .editor-body h4 a, .editor-body h5 span, .editor-body h5 p, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 label, .editor-body h5 i, .editor-body h5 a, .editor-body h6 span, .editor-body h6 p, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 label, .editor-body h6 i, .editor-body h6 a {
    font-size: initial;
    width: initial;
    font-weight: initial;
    height: initial; }
.editor-body img {
  max-width: 100%;
  margin: 15px 0; }

/*------------- News --------------*/
.item-news {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .item-news .info-news {
    padding: 10px 20px 20px 20px;
    background: white;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.11);
    border-radius: 0 0 4px 4px; }
    .item-news .info-news a span, .item-news .info-news span {
      color: #757575;
      line-height: 20px; }
  .item-news .avatar-thumb {
    display: block; }
    .item-news .avatar-thumb a img {
      border-radius: 4px 4px 0 0; }
  .item-news .title-news {
    min-height: 50px;
    margin-bottom: 15px;
    margin-top: 3px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .item-news .title-news:hover {
      color: #9F6C38; }
    .item-news .title-news a {
      color: #3F3B3B;
      font-size: 18px;
      line-height: 26px; }
      .item-news .title-news a:hover {
        color: #9F6C38; }

.date-time-news {
  margin-bottom: 0;
  color: #757575;
  position: relative; }
  .date-time-news span {
    margin-right: 0 !important;
    font-size: 14px;
    line-height: 20px; }
  .date-time-news img {
    width: 20px;
    margin-right: 7px; }
  .date-time-news .date-news::after {
    content: ',';
    display: inline-block;
    margin-left: 0; }
  .date-time-news p {
    margin-left: 20px;
    margin-bottom: 0; }
    .date-time-news p::before {
      content: "\ebcc";
      color: #757575;
      font-size: 16px;
      font-family: 'Material Symbols Outlined';
      position: absolute;
      left: 0;
      top: 4px; }

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1;
  top: 100px; }

.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff; }

/* --------------  Header -------------- */
header {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: top 0.3s;
  padding: 20px 20px;
  background: #FAF6F3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06); }
  header .top-head {
    display: flex;
    align-items: center; }
    header .top-head .language-box {
      margin: 0 20px; }
      header .top-head .language-box img {
        height: 24px;
        cursor: pointer;
        margin-right: 0; }
      header .top-head .language-box ul {
        position: absolute;
        left: -15px;
        top: 10px;
        width: 100px;
        display: inline-block;
        padding-top: 30px;
        opacity: 0;
        visibility: hidden;
        z-index: 2; }
        header .top-head .language-box ul li {
          opacity: 1 !important;
          display: inline-block;
          width: 100%;
          text-align: left; }
          header .top-head .language-box ul li a {
            background: white;
            padding: 15px;
            box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            color: #212529;
            width: 100%;
            display: inline-block;
            opacity: 1 !important; }
            header .top-head .language-box ul li a img {
              height: 24px;
              margin-right: 0; }
            header .top-head .language-box ul li a:hover {
              opacity: 1 !important;
              color: #9F6C38; }
      header .top-head .language-box:hover {
        cursor: pointer; }
        header .top-head .language-box:hover ul {
          opacity: 1;
          visibility: initial; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .menu {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: left; }
    header .menu nav ul {
      padding: 0;
      display: flex;
      justify-content: left;
      margin-bottom: 0; }
      header .menu nav ul li {
        position: relative;
        list-style: none;
        padding: 0 15px; }
        header .menu nav ul li::before {
          content: "\e5c5";
          color: #757575;
          font-size: 18px;
          font-family: 'Material Symbols Outlined';
          position: absolute;
          right: -5px;
          top: 0;
          z-index: 3; }
        header .menu nav ul li.no-sub::before {
          display: none; }
        header .menu nav ul li i {
          display: none; }
        header .menu nav ul li a {
          padding: 0;
          position: relative;
          font-size: 18px;
          color: #3F3B3B;
          display: flex;
          align-items: center; }
        header .menu nav ul li ul {
          position: absolute;
          width: 330px;
          left: 15px;
          top: 32px;
          border-radius: 0 0 4px 4px;
          border-top: 2px solid #9F6C38;
          opacity: 0;
          visibility: hidden;
          background: #FAF6F3;
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
          padding: 12px 24px 12px 24px;
          -webkit-transition: all .5s ease;
          transition: all .5s ease;
          -webkit-transform: translateY(10px);
          transform: translateY(10px);
          display: inline-block; }
          header .menu nav ul li ul li {
            padding: 0; }
            header .menu nav ul li ul li::before {
              display: none; }
            header .menu nav ul li ul li a {
              display: inline-block;
              width: 100%;
              font-weight: normal;
              transition: all 0.3s linear;
              transition: 0.5s;
              padding: 12px 0;
              font-size: 18px;
              color: #3F3B3B;
              border-bottom: 0; }
              header .menu nav ul li ul li a::before {
                display: none; }
              header .menu nav ul li ul li a:hover {
                padding-left: 0;
                border-radius: 0;
                color: #757575; }
            header .menu nav ul li ul li:last-child a {
              border-bottom: 0; }
        header .menu nav ul li:hover::before {
          color: #9F6C38; }
        header .menu nav ul li:hover a {
          color: #9F6C38; }
        header .menu nav ul li:hover ul {
          opacity: 1;
          visibility: initial; }
          header .menu nav ul li:hover ul li a {
            color: #3F3B3B; }
            header .menu nav ul li:hover ul li a:hover {
              color: #9F6C38; }
        header .menu nav ul li.active::before {
          color: #9F6C38; }
        header .menu nav ul li.active a {
          color: #9F6C38; }
        header .menu nav ul li.active ul li a {
          color: #3F3B3B; }
          header .menu nav ul li.active ul li a.active {
            color: #9F6C38; }
  header .btn-search-mb {
    display: none; }
  header .search-head {
    background: white;
    display: none;
    width: 100%;
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    transition: 0.5s;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
    border: 1px solid #D9D9D9; }
    header .search-head:hover {
      border: 1px solid #9F6C38; }
    header .search-head .container {
      max-width: 600px;
      position: relative; }
    header .search-head .ti-close:before {
      content: "\e646" !important; }
    header .search-head i {
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
      color: #757575;
      padding: 10px;
      border-radius: 0 2px 2px 0; }
  header .btn-search-mb {
    display: block;
    cursor: pointer; }
    header .btn-search-mb .ic-search {
      color: #959FAB; }
      header .btn-search-mb .ic-search::before {
        font-size: 15px; }
  header .top-head.show-search-mb .search-head {
    display: block;
    z-index: 2; }
    header .top-head.show-search-mb .search-head i {
      border-radius: 0; }
  header .top-head.show-search-mb .close-search {
    display: block; }
  header .top-head.show-search-mb input {
    border: 0;
    border-radius: 2px;
    height: 55px; }
    header .top-head.show-search-mb input::placeholder {
      color: #757575;
      font-size: 14px; }
  header .top-head.show-search-mb .top-head {
    position: absolute;
    top: 15px;
    width: 100%;
    left: 0; }
  header .logo {
    float: left; }
    header .logo img {
      height: 76px; }
  header .menu-mobile {
    display: none; }
    header .menu-mobile .ti-menu {
      display: none; }
    header .menu-mobile .close-menu {
      display: none; }

.social-box {
  display: inline-block;
  margin: 0 10px; }
  .social-box a {
    color: #3F3B3B;
    margin: 0 10px; }

.phone-box {
  display: inline-block; }
  .phone-box img {
    margin-right: 5px; }
  .phone-box span {
    color: #9F6C38;
    font-size: 18px; }

/* --------------  End Header -------------- */
/* --------------  Slider homepage -------------- */
.slider-home .owl-prev {
  left: 5%; }
  .slider-home .owl-prev::before {
    color: #fff; }
.slider-home .owl-next {
  right: 5%; }
  .slider-home .owl-next::before {
    color: #fff; }
.slider-home .item {
  position: relative;
  padding: 0; }
  .slider-home .item .infor-slide {
    top: calc(50% - 67px);
    text-align: left;
    z-index: 1; }
    .slider-home .item .infor-slide p {
      color: #3F3B3B;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 24px;
      margin-right: 120px; }
  .slider-home .item h1 {
    line-height: 60px;
    color: #3F3B3B;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .slider-home .item .img-banner-mb {
    display: none; }
  .slider-home .item .img-banner-mpc {
    display: block; }
  .slider-home .item img {
    width: 100%; }
  .slider-home .item .btn-common-fill2 {
    margin: 20px auto; }
  .slider-home .item::after {
    opacity: 0.6;
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0; }
.slider-home .owl-nav {
  display: none; }
.slider-home .owl-dots {
  display: block !important;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 40px; }
  .slider-home .owl-dots button {
    margin: 0 2px; }
    .slider-home .owl-dots button span {
      width: 50px !important;
      height: 6px !important;
      border-radius: 50%;
      display: block;
      background: #B3B1A9 !important;
      margin: 0 5px !important;
      content: ''; }
    .slider-home .owl-dots button.active span {
      background: #fff !important;
      border: 0; }

.call-to-action {
  background-size: cover !important;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 438px; }
  .call-to-action .content-action {
    text-align: center;
    color: #fff;
    max-width: 70%;
    margin: 0 auto; }
    .call-to-action .content-action a {
      margin: 0 auto; }

footer {
  padding: 50px 0 50px 0;
  border-top: 1px solid #D9D9D9;
  clear: both; }
  footer .title-footer a {
    color: #3F3B3B; }
  footer .about-company-footer img {
    height: 80px; }
  footer .about-company-footer p {
    font-size: 22px;
    margin-top: 25px;
    text-transform: uppercase;
    margin-bottom: 9px; }
  footer ul li {
    list-style: none; }
    footer ul li a {
      color: #3F3B3B;
      text-transform: capitalize;
      width: 100%;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px; }
  footer .hot-contact {
    display: flex;
    align-items: center; }
    footer .hot-contact .social-box {
      margin-left: 0; }
      footer .hot-contact .social-box a {
        display: inline-block;
        margin-left: 0; }
      footer .hot-contact .social-box img {
        height: 30px; }
    footer .hot-contact .phone-box {
      position: relative;
      padding-left: 55px; }
      footer .hot-contact .phone-box img {
        height: 40px;
        position: absolute;
        left: 0;
        top: 5px; }
      footer .hot-contact .phone-box span {
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
        width: 100%; }
      footer .hot-contact .phone-box a {
        font-size: 22px;
        color: #9F6C38;
        line-height: initial; }

/* ------------------- Page about ------------------ */
.breadcrumbs {
  position: absolute;
  top: 25px;
  z-index: 1; }
  .breadcrumbs i {
    color: white;
    font-size: 13px; }
  .breadcrumbs a {
    color: white;
    font-size: 13px; }

.head-page {
  position: relative;
  background-size: cover !important;
  min-height: 500px;
  text-align: center;
  color: white;
  margin-top: 103px; }
  .head-page::after {
    background: linear-gradient(90deg, rgba(0, 147, 216, 0.51) 0%, rgba(0, 147, 216, 0.27) 68.78%, rgba(1, 123, 196, 0) 84.38%, rgba(1, 123, 196, 0) 100%);
    opacity: 0.6;
    height: 100%;
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0; }
  .head-page .head-title-page {
    z-index: 1;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase; }
    .head-page .head-title-page p {
      text-transform: initial;
      font-size: 18px; }

.list-partners {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .list-partners img {
    height: 80px;
    margin: 10px 20px; }
  .list-partners .owl-nav {
    display: none; }

.bg-gray {
  background-color: #F3EDE0; }

.col-nav-sidebar {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  text-align: left; }
  .col-nav-sidebar ul {
    padding: 0;
    margin-bottom: 0; }
    .col-nav-sidebar ul li {
      list-style: none; }
      .col-nav-sidebar ul li a {
        font-size: 14px;
        padding: 10px 0;
        position: relative;
        display: inline-block;
        color: #757575;
        width: 100%; }
      .col-nav-sidebar ul li:hover a, .col-nav-sidebar ul li.active a {
        color: #9F6C38; }

.hover-scale a {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden; }
  .hover-scale a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease; }
.hover-scale:hover img {
  webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

/*# sourceMappingURL=style-dung.css.map */
