@media only screen and (min-width: 1551px){
    .modal-dialog {
        max-width: 720px !important;
    }
}
@media(min-width: 1280px) and (max-width: 1550px){
    .modal-dialog {
        max-width: 600px !important;
    }
}
@media only screen and (max-width: 1001px){
    .content-address{
        .btn-action{
            padding: 18px 20px !important;
        }
    }
    .partner-ss {
        padding: 120px 0 70px;
    }
    .section-new{
        padding: 120px 0 70px;
    }
    .library-ss {
        padding: 120px 0 70px;
    }
    .section-new-detail {
        padding: 120px 0 0;
    }
    .header-contact{
        display: none;
    }
    #navbar{
        .logo{
            padding-left: 56px;
            z-index: 1;
        }
        .logo{
            a{
                img{
                    height: 40px;
                }
            }
        }
    }
    .btn-menu-mb{
        display: block;
    }
    header{
        nav{
            display: none;
        }
        &.active{
            nav{
                display: block !important;
            }
            .btn-open-menu{
                display: none;
            }
            .btn-close-menu{
                display: inline-block !important;
            }
            .header-contact{
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                padding: 24px 20px;
                bottom: 0;
                left: 0;
                position: fixed;
                bottom: 0;
                z-index: 1;
            }
        }
    }
    .btn-menu-mb{
        display: block !important;
    }
    .container-header{
        position: relative;
        .btn-menu-mb{
            position: absolute;
            bottom: 14px;
            left: 0;
            width: 20px;
            height: 20px;
            z-index: 1;
        }
    }
    .btn-action{
        z-index: 1;
    }
    .menu-header nav{
        ul {
            display: block;
        }
        position: fixed;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #28218E 0%, #0A112D 100%);
        left: 0;
        bottom: 0;
        padding: 60px 5px;
        top: 80px;
    }
    header{
        height: inherit;
        .container-scroll {
            align-items: flex-end;
        }
        padding: 24px 0;
    }
    .btn-menu-mb{
        img{
            height: 40px;
        }
    }
}
@media only screen and (max-width: 991px){
    .ss-slider-run .img-manufacturing {
        margin-top: 0;
        padding-top: 82%;
    }
    .organizational-logo img {
        height: 120px;
    }
    .logo-our-brands {
        display: block;
    }
    #countdown ul span{
        width: 100px;
        height: 100px;
        font-size: 34px;
    }
    section{
        padding: 30px 0;
    }
    .menu-header nav ul li a {
        font-size: 12px;
        padding: 16px 12px;
        color: #fff;
        display: inline-block;
        font-weight: 400;
        font-family: 'UTM Banque';
        text-decoration: none;
    }
}
@media(min-width: 768px) and (max-width: 999px) {
    .address-footer img {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 767px){
    .charityfund .box-left {
        margin-top: 40px;
    }
    .error-ss{
        h4{
            font-size: 44px;
        }
        h2{
            font-size: 60px;
        }
    }
    .charityfund .img-manufacturing img {
        border-radius: 28px;
    }
    .logo a:nth-child(1) img {
        padding-right: 0px;
    }
    .charityfund{
        .row{
            flex-direction: column-reverse;
            .box-right{
                padding-left: 0;
            }
        }
    }
    .header-contact .icon-contact-mini {
        margin: 0 12px 0 0px;
        color: #fff;
    }
    .menu-header nav {
        top: 51px;
    }
    header {
        padding: 12px 0;
    }
    #navbar.sticky {
        height: 51px;
        background: #0A112E;
    }
    .ss-slider-run .img-manufacturing {
        padding-top: 80%;
        margin-top: 0;
    }
    span{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    .text-content{
        .title-gradient{
            font-size: 20px;
        }
    }
    .item-at.active .tab-at {
        .row{
            flex-direction: column-reverse;
        }

    }
    .section-new-detail .content-new-header {
        padding-bottom: 30px;
    }
    .partner-ss{
        .logo-partner-ss{
            .col-md-6{
                margin-bottom: 24px;
            }
        }
    }
    .section-new{
        .title-section{
            margin-bottom: 0;
        }
        padding: 100px 0 30px;
        .connection-content{
            padding: 30px 0;
            .box-left{
                padding-right: 15px;
            }
            .box-right{
                padding-left: 0px;
            }
        }
    }
    .section-new-detail{
        .right-new{
            .col-md-6{
                width: 50%;
            }
            .content-item-new b {
                font-size: 16px;
            }
        }
    }
    h5{
        font-size: 16px;
    }
    .slide-mb{
        display: block !important;
        .flex-bt{
            padding: 0 15px;
        }
    }
    .slide-pc{
        display: none !important;
    }
    .error-ss{
        padding: 140px 0 30px;
    }
    footer {
        margin-top: 70px;
        .footer-logo{
            margin-bottom: 38px;
            img{
                height: 90px;
            }
        }
        .col-md-3{
            width: 50%;
        }
        .col-md-5{
            float: left;
            width: 50%;
        }
        .content-address.slide-mb{
            .flex-bt{
                padding: 0 40px;
            }
            .btn-action{
                height: 55px;
                font-size: 16px;
                padding: 16px 40px !important;
                margin-top: 32px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    height: 16px;
                }
            }
        }
    }
    .organizational-logo{
        margin-top: 12px;
        img {
            height: 86px;
            padding: 0 48px;
        }
    }
    .logo-our-brands {
        margin-bottom: 12px;
    }
    .section-about-home {
        .container{
            padding: 0;
        }
        padding: 100px 0 30px;
        .img-manufacturing{
            padding-top: 126%;
        }
    }
    section{
        padding: 30px 0;
    }
    .title-section {
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 24px;
        }
    }
    .button-list{
        padding: 0px !important;
        border-radius: 20px;
        .title-at h2 {
            font-size: 14px;
        }
    }
    .arena-map{
        .button-list {
            margin-top: 24px;
        }
        .text-content{
            span{
                display: block;
                color: transparent;
                width: 100%;
                margin-bottom: 0;
            }
        }
        .title-main-des {
            display: inherit;
            img{
                float: left;
                height: 50px;
            }
            .title-gradient {
                margin-bottom: 32px;
                min-height: 50px;
            }
        }
        .title-main-des .text-content i {
            width: 100%;
            color: transparent;
            display: block;
        }
    }
    .ss-slider-run .box-right {
        padding-left: 0px;
        margin-top: 50px;
    }
    #countdown ul{
        span{
            width: 72px;
            height: 72px;
            font-size: 28px;
            border-radius: 10px;
        }
        li{
            font-size: 18px;
        }
    }
    .btn-action {
        height: 24px;
        font-size: 8px;
        padding: 5px 16px !important;
        margin-left: inherit !important;
        img{
            margin-left: 12px;
            height: 10px;
        }
    }
    .btn-menu-mb img {
        height: 20px;
    }
    #navbar{
        .logo{
            padding-left: 36px;
            a img {
                height: 26px;
            }
        }
    }
    .container-header .btn-menu-mb {
        bottom: 5px;
    }
}
@media only screen and (max-width: 560px){
    .modal-dialog{
        h5{
            font-size: 18px;
        }
        .box-btn a img {
            width: 100%;
            padding: 0 12px;
    } 
    }
    #countdown ul .box-none span p {
        height: 17px;
    }
    .ss-slider-run .box-left .item-content {
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 0 0 20px 20px;
        padding: 120px 20px 20px;
        .font-mont{
            font-size: 13px;
        }
    }
    footer {
        .copyright{
            p{
                font-size: 13px;
            }
        }
        .footer-pc{
            padding-bottom: 30px;
        }
        .box-ad-ct{
            img{
                height: 32px;
                margin-right: 6px;
            }
            :last-child{
                img{
                    margin-right: 0;
                }
            }
        }
        .slide-mb{
            display: block !important;
            .flex-bt{
                padding: 0 15px;
            }
        }
        .slide-pc{
            display: none !important;
        }
    }
    .organizational-logo img {
        height: 68px;
        padding: 0 24px;
    }
    #countdown ul{
        li{
            font-size: 11px;
        }
        span{
            width: 46px;
            height: 46px;
            font-size: 16px;
        }
    }
    section{
        padding: 30px 0;
    }
    .menu-header nav ul li a {
        font-size: 12px;
        padding: 16px 12px;
        color: #fff;
        display: inline-block;
        font-weight: 400;
        font-family: 'UTM Banque';
        text-decoration: none;
    }
}
@media only screen and (max-width: 420px){
    .section-new .connection-content .box-right{
        .ellipsis{
            margin-bottom: 0;
        }
        .title-item {
            margin-bottom: 16px;
        }
    }
    .error-ss{
        h4{
            font-size: 36px;
        }
        h2{
            font-size: 44px;
        }
    }
    .arena-map{
        .title-main-des {
            img{
                height: 72px;
            }
            .title-gradient {
                min-height: 72px;
            }
        }
        .title-main-des .text-content i {
            width: 100%;
            color: transparent;
            display: block;
        }
    }
    .charityfund .img-manufacturing img {
        border-radius: 10px;
    }
    .logo-our-brands img {
        margin: 12px 6px;
    }
    .address-footer b {
        font-size: 14px;
    }
    .mt-40{
        margin-top: 20px;
    }
    .partner-ss{
        .logo-partner-ss{
            img{
                height: 86px;
                padding: 0 15px;
            }
        }
    }
    .section-new{
        .connection-content{
            .box-left{
                padding-right: 0px;
            }
            .box-right{
                margin-top: 64%;
            }
        }
    }
    .connection-content{
        display: inherit;
        .thumnails-avatar a {
            margin-bottom: 8px;
        }
        .box-left{
            max-width: 100%;
            flex: 0 0 100%;
            padding-right: 0;
        }
        .box-right{
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 0;
        }
    }
    .section-new-detail{
        padding: 100px 0 0px;
        .right-new{
            .col-md-6{
                width: 100%;
            }
            .content-item-new b {
                font-size: 16px;
            }
        }
    }
    .library-ss{
        padding: 100px 0 30px;
        .slide-about{
            margin-top: 30px;
        }
    }
    .error-ss{
        padding: 100px 0 30px;
    }
}
@media only screen and (max-width: 380px){
    footer{
        .col-md-3{
            width: 60%;
        }
        .col-md-5{
            width: 40%;
        }
        .box-ad-ct img {
            height: 24px;
            margin: 4px;
        }
        .content-address.slide-mb .btn-action {
            padding: 16px 16px !important;
        }
    } 
    header.active .header-contact {
        padding: 24px 12px;
    }
    .header-contact{
        .box-icon-contact .icon-contact-mini {
            margin: 0 8px 0 0px;
        }
        .icon-contact-mini {
            margin: 0 8px 0 0px;
            color: #fff;
        }
    }
    .content-address{
        .btn-action img {
            margin-left: 8px;
        }
    }
    .address-footer{
        .content-address{
            img {
                margin-right: 2px;
            }
        }
    }
}


