@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
  outline: none; }

@font-face {
  font-family: 'UTM Banque';
  src: url("../font/UTMBanque.woff2") format("woff2"), url("../font/UTMBanque.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'UTM Banque Bold';
  src: url("../font/UTMBanqueBold.woff2") format("woff2"), url("../font/UTMBanqueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'UTM Banque';
  font-weight: 400;
  font-size: 16px;
  color: #414142;
  padding-top: 0;
  background: #0A112E;
  position: relative; }
  body::before {
    background: url(../images/bg-life.svg) no-repeat center bottom;
    width: 100%;
    height: 1300px;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; }

.container {
  max-width: 1088px; }

.ita {
  font-style: italic; }

.pd-l30 {
  padding-left: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-12 {
  margin-bottom: 12px; }

p {
  color: #fff;
  font-family: 'Montserrat'; }

span {
  font-family: 'Montserrat';
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  display: block;
  margin-bottom: 20px; }

/*--header--*/
header {
  height: 190px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1; }
  header .container-header {
    max-width: 100%;
    margin: auto; }
  header .container-scroll {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container-scroll .btn-action {
      margin-left: 62px; }

#navbar {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  left: 0;
  background: transparent;
  z-index: 9;
  display: flex;
  align-items: center; }

.logo {
  display: flex;
  align-items: center; }
  .logo a:nth-child(1) img {
    padding-top: 0;
    padding-bottom: 0;
    height: 53px; }
  .logo img {
    float: left;
    margin-right: 30px;
    height: 35px; }

.bd-1w {
  border: 1px solid #fff; }

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu-header nav ul {
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    .menu-header nav ul li {
      list-style: none; }
      .menu-header nav ul li:hover a {
        font-weight: bold; }
      .menu-header nav ul li a {
        font-size: 12px;
        padding: 20px 24px;
        color: #fff;
        display: inline-block;
        font-weight: 400;
        font-family: 'UTM Banque';
        text-decoration: none; }
      .menu-header nav ul li.active a {
        font-weight: 700;
        color: #fff; }

.section-location {
  display: inline-block;
  position: relative;
  width: 100%; }
  .section-location img {
    width: 100%; }
  .section-location .title-maps {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%; }
    .section-location .title-maps .row {
      margin: 0;
      width: 100%; }
      .section-location .title-maps .row .title-section {
        text-align: left; }
        .section-location .title-maps .row .title-section h3 {
          text-align: left;
          margin: 0 0 0 -1.5%;
          margin-top: -17%; }

.slide-section {
  padding-top: 0;
  position: relative; }
  .slide-section .content-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex; }
    .slide-section .content-slide.relative {
      position: relative !important;
      height: initial !important; }
    .slide-section .content-slide .container-slide {
      max-width: 1210px;
      width: 100%;
      margin: auto; }
      .slide-section .content-slide .container-slide h1 {
        text-transform: none;
        text-align: center;
        font-size: 64px;
        color: #8B756E;
        font-weight: 400;
        margin-top: -26%; }
        .slide-section .content-slide .container-slide h1.left {
          text-align: left; }

.owl-nav {
  display: none; }

.owl-dots {
  margin-top: 12px;
  height: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .owl-dots .owl-dot.active {
    background: #fff !important;
    width: 40px; }
  .owl-dots .owl-dot {
    background: #8A9AD0 !important;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    border-radius: 14px; }
    .owl-dots .owl-dot span {
      background: none !important; }

.owl-theme .owl-nav {
  margin-top: 0; }

.section-about-home {
  padding: 240px 0 70px;
  position: relative; }
  .section-about-home .button-link a {
    margin-top: 25px !important; }

.img-manufacturing {
  position: relative;
  padding-top: 55%;
  display: block;
  width: 100%;
  float: right;
  overflow: hidden;
  padding-top: 49%; }
  .img-manufacturing img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .img-manufacturing a {
    display: block;
    width: 100%; }

.thumnails-avatar {
  display: block;
  width: 100%; }
  .thumnails-avatar a {
    position: relative;
    padding-top: 55%;
    display: block;
    width: 100%;
    float: right;
    overflow: hidden;
    padding-top: 62%; }
    .thumnails-avatar a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.product-categories {
  padding: 0 48px;
  padding-bottom: 128px; }

.list-product-categories .item-product-categories {
  margin-top: 40px;
  border: 1px solid #fff;
  width: 100%;
  display: inline-block;
  position: relative;
  height: 100%;
  margin-top: 40px; }
  .list-product-categories .item-product-categories:hover img {
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1.2); }
  .list-product-categories .item-product-categories .thumnails-product-categories {
    position: relative;
    padding-top: 55%;
    display: block;
    width: 100%;
    float: right;
    overflow: hidden;
    padding-top: 72% !important; }
    .list-product-categories .item-product-categories .thumnails-product-categories img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .list-product-categories .item-product-categories .infor-ourProduct {
    padding: 36px 24px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block; }
    .list-product-categories .item-product-categories .infor-ourProduct a {
      cursor: pointer;
      text-decoration: none; }
      .list-product-categories .item-product-categories .infor-ourProduct a b {
        width: 100%;
        display: inline-block;
        font-size: 30px;
        font-weight: normal;
        color: #fff;
        font-weight: 500;
        line-height: 1.2; }
      .list-product-categories .item-product-categories .infor-ourProduct a.btn-ourproduct {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        display: flex;
        align-items: center; }
        .list-product-categories .item-product-categories .infor-ourProduct a.btn-ourproduct img {
          height: 26px;
          margin-right: 8px; }
        .list-product-categories .item-product-categories .infor-ourProduct a.btn-ourproduct span {
          color: #fff;
          font-size: 20px; }

.primary-section {
  padding: 146px 48px 229px 48px;
  background: url(../images/our-primarybg.png) no-repeat right bottom;
  background-size: cover; }

.list-primary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px; }
  .list-primary .item-primary {
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding: 0 7.5px;
    position: relative; }
    .list-primary .item-primary span {
      position: absolute;
      bottom: 0;
      font-size: 32px;
      left: 0;
      padding: 0 35px 19px 35px;
      color: white;
      width: 100%; }
    .list-primary .item-primary .thumbnails-primary {
      background: black;
      width: 100%;
      display: inline-block; }
      .list-primary .item-primary .thumbnails-primary a {
        position: relative;
        padding-top: 55%;
        display: block;
        width: 100%;
        float: right;
        overflow: hidden;
        padding-top: 195%; }
        .list-primary .item-primary .thumbnails-primary a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }
        .list-primary .item-primary .thumbnails-primary a img {
          opacity: .8;
          transform: scale(1);
          transition: transform 0.5s, opacity 0.5s; }
        .list-primary .item-primary .thumbnails-primary a:hover img {
          transform: scale(1.3); }

.center {
  text-align: center; }

.container-main {
  max-width: 1512px;
  margin: auto;
  width: 100%; }

.menu-mobile {
  display: none; }

section {
  padding: 70px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  float: left; }

.slide-pc {
  display: block;
  width: 100%; }

.slide-mb {
  display: none;
  width: 100%; }

.title-section {
  display: inline-block;
  width: 100%;
  margin-bottom: 32px; }
  .title-section h3 {
    width: 100% !important;
    font-size: 40px; }
  .title-section.center {
    text-align: center; }
  .title-section h3 {
    display: inline-block;
    width: 100%;
    color: #fff; }
    .title-section h3 span {
      color: #fff;
      font-weight: 400;
      font-size: 48px;
      line-height: 126.5%; }
    .title-section h3 b {
      font-size: 40px;
      text-transform: none;
      color: #fff;
      line-height: 126.5%;
      font-weight: 700;
      text-transform: none;
      position: relative; }
      .title-section h3 b::before {
        width: 100%;
        height: 21px;
        display: inline-block;
        content: '';
        background: #DFEFF9;
        position: absolute;
        bottom: 2px;
        z-index: -1; }
  .title-section h2 {
    color: #fff; }
  .title-section p {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-family: 'Manrope', sans-serif;
    width: 100%; }

.call-partnership > img {
  display: inline-block;
  width: 100%; }

.call-partnership {
  padding-top: 60px !important;
  overflow: initial;
  padding-top: 0;
  display: inline-block;
  width: 100%;
  padding-bottom: 0; }
  .call-partnership .title-section {
    margin-bottom: 0;
    padding-left: 48px;
    position: relative; }
    .call-partnership .title-section h3 {
      z-index: 2;
      position: relative; }
    .call-partnership .title-section p {
      text-align: left;
      z-index: 2;
      position: relative; }
    .call-partnership .title-section img {
      position: absolute;
      top: -84px;
      left: 0;
      max-width: 100%; }
  .call-partnership .content-call-partner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 65px 0;
    background: rgba(0, 0, 0, 0.55); }

.item-call-partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0;
  background: white;
  padding: 24px 32px; }
  .item-call-partner b {
    font-size: 32px;
    font-weight: 700;
    color: #51362D; }
  .item-call-partner .button-link {
    width: fit-content; }
    .item-call-partner .button-link a {
      margin: 0; }

.call-partner-mb {
  display: none !important; }

.call-to-action:hover {
  text-decoration: none; }

.adress-content {
  display: inline-block;
  width: 100%; }
  .adress-content p {
    display: inline-block;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    padding-left: 25px;
    line-height: 30px;
    margin-bottom: 15px !important;
    position: relative; }
    .adress-content p img {
      margin-top: 2px;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px; }
    .adress-content p span {
      font-weight: normal;
      font-family: 'Manrope', sans-serif; }

.tb-btn-call-bottom {
  position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center; }
  .tb-btn-call-bottom span {
    background: #fff;
    height: 100%;
    padding: 0 20px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin-right: 2px;
    align-items: center;
    color: white;
    border-radius: 0 !important; }
    .tb-btn-call-bottom span a {
      border-radius: 0 !important; }
  .tb-btn-call-bottom img {
    height: 30px;
    background: #fff;
    padding: 0 20px; }
  .tb-btn-call-bottom b {
    background: #fff;
    display: flex;
    align-items: center;
    height: 60px; }
  .tb-btn-call-bottom a {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 2px;
    overflow: hidden;
    color: white;
    text-decoration: none; }

.active-language {
  background: #4730EF; }

.header-contact {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end; }
  .header-contact .icon-contact-mini {
    margin: 0 35px 0 0px;
    color: #fff; }
  .header-contact .box-icon-contact .icon-contact-mini {
    margin: 0 16px 0 0px; }
  .header-contact .call-to-action img {
    margin-right: 4px;
    margin-top: -2px; }
  .header-contact .language {
    border-radius: 20px;
    padding: 3px 2px 5px;
    border: 1px solid #4730EF;
    background: rgba(71, 48, 239, 0.2); }
    .header-contact .language a {
      font-family: 'UTM Banque';
      padding: 6px 5px;
      font-size: 12px;
      border-radius: 100%;
      color: #fff;
      text-decoration: none; }
    .header-contact .language .en-language {
      padding: 6px 5px; }
    .header-contact .language .vn-language {
      padding: 6px 9px; }

.btn-action {
  display: block;
  border-radius: 38px;
  border: 1px solid #4730EF;
  background: rgba(71, 48, 239, 0.5);
  height: 41px;
  padding: 10px 30px !important;
  width: fit-content;
  font-size: 12px; }
  .btn-action:hover {
    font-weight: inherit !important; }
  .btn-action img {
    margin-left: 16px; }

.font-mont {
  font-family: 'Montserrat'; }

.title-gradient {
  padding-top: 4px;
  background: linear-gradient(90deg, #FFF -6.81%, rgba(255, 255, 255, 0) 153.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400; }

.pagging-list-product {
  display: inline-block;
  width: 100%;
  margin-top: 40px; }

.box-pagging-bottom {
  display: flex;
  align-items: center; }
  .box-pagging-bottom a span {
    width: 12px;
    height: 12px;
    background: #D9D9D9;
    border-radius: 100%;
    display: inline-block; }
    .box-pagging-bottom a span.active {
      width: 61px;
      background: #fff;
      border-radius: 10px; }

.element-pagging {
  margin-left: 44px; }

.arrow-pagging-product {
  display: flex;
  align-items: center; }

.numbers-pagging {
  float: left;
  margin: 0 12px; }
  .numbers-pagging a {
    float: left;
    margin: 0 12px;
    width: 42px;
    height: 42px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    color: #414142;
    text-decoration: none; }
    .numbers-pagging a.active {
      background: #C67E3B;
      color: white;
      font-weight: 700;
      border-color: #C67E3B !important; }

.our-brands {
  padding-top: 0;
  padding-bottom: 76px; }
  .our-brands .list-our-brands {
    width: 100%;
    display: flex;
    justify-content: center; }
    .our-brands .list-our-brands a img {
      margin: 0 30px;
      height: 183px; }

.pc {
  display: inline-block !important; }

.mb {
  display: none !important; }

#countdown {
  display: inline-block;
  width: 100%; }
  #countdown ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style-type: none; }
    #countdown ul li {
      text-align: center;
      color: #fff;
      font-size: 24px; }
    #countdown ul span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #161855;
      border: 1px solid #fff;
      border-radius: 20px;
      width: 126px;
      height: 126px;
      font-size: 40px;
      color: #fff;
      margin-bottom: 12px;
      font-family: 'UTM Banque Bold'; }
    #countdown ul .box-none span {
      background: transparent !important;
      border: none; }
      #countdown ul .box-none span p {
        background: #fff;
        width: 2px;
        height: 42px; }

.logo-our-brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center; }
  .logo-our-brands img {
    margin: 12px 20px; }

.ss-slider-run {
  color: #fff; }
  .ss-slider-run .owl-dot.active {
    opacity: 0.5; }
  .ss-slider-run .title-section {
    margin-bottom: 18px; }
  .ss-slider-run .box-right {
    padding-left: 30px; }
  .ss-slider-run .box-left .item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    padding: 120px 40px 20px;
    background: linear-gradient(0deg, #0C173F 0%, #14308E 38.5%, rgba(142, 130, 228, 0) 75.82%, rgba(217, 217, 217, 0) 113.74%); }
  .ss-slider-run .box-left .cont-namu {
    display: block;
    width: 100%;
    position: relative; }
    .ss-slider-run .box-left .cont-namu .btn-contmanu {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      right: 0;
      width: 60px;
      height: 60px;
      border: 1px solid #fff;
      border-radius: 100%; }
      .ss-slider-run .box-left .cont-namu .btn-contmanu img {
        height: 24px !important;
        width: 24px !important;
        position: initial; }
  .ss-slider-run .box-left h5 {
    font-size: 16px; }
  .ss-slider-run .box-left p {
    width: 100%;
    padding-right: 80px; }
  .ss-slider-run p {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 300; }
  .ss-slider-run .img-manufacturing {
    padding-top: 120%;
    margin-top: -100px; }
    .ss-slider-run .img-manufacturing img {
      border-radius: 20px;
      object-fit: contain; }
  .ss-slider-run .owl-dot {
    background: #1A195E !important; }

.arena-map {
  display: inline-block;
  width: 100%; }
  .arena-map .title-main-des {
    display: flex;
    align-items: center;
    margin-bottom: 24px; }
    .arena-map .title-main-des img {
      margin-right: 24px; }
    .arena-map .title-main-des .text-content i {
      font-style: normal; }
  .arena-map .img-manufacturing {
    padding-top: 100%; }
  .arena-map .img-list-full {
    width: 100%;
    height: fit-content; }
  .arena-map .arena-maps {
    width: 100%; }
    .arena-map .arena-maps .box-item-arena {
      display: block;
      width: 100%;
      margin-top: 32px; }
      .arena-map .arena-maps .box-item-arena:first-child {
        margin-top: 0; }
      .arena-map .arena-maps .box-item-arena .title-section {
        margin-bottom: 4px; }
    .arena-map .arena-maps .arenamap-img {
      display: inline-block;
      width: 100%; }
      .arena-map .arena-maps .arenamap-img img {
        width: 100%;
        display: inline-block; }

.arena-slide-body .img-manufacturing {
  padding-top: 46%; }

.credit-card {
  display: none; }

.button-list {
  border-radius: 38px;
  border: 1px solid #4730EF;
  background: rgba(71, 48, 239, 0.5);
  padding: 7px 40px !important;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 48px; }
  .button-list .tab-at h3 {
    margin-bottom: 32px; }

.accordion {
  max-width: 1280px;
  margin: 40px auto;
  padding: 0px 40px; }

.tab-at {
  display: none;
  padding: 15px;
  border-top: none; }
  .tab-at .box-content {
    display: inline-block;
    width: 100%; }
    .tab-at .box-content img {
      width: 100%; }
    .tab-at .box-content ul {
      list-style-type: none; }
      .tab-at .box-content ul li {
        padding-left: 12px; }

.title-at {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  transition: background-color 0.3s ease; }

.title-at:after {
  content: url("../images/arrow-right.svg");
  height: 20px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.3s ease;
  font-size: 24px; }

.title-at.active::after {
  content: url("../images/arrow-up.svg"); }

.item-at {
  width: 100%;
  border-radius: 5px; }

.title-at h2 {
  font-size: 22px;
  font-weight: 600px;
  padding: 10px 15px;
  margin: 0; }

.charityfund .box-left {
  display: inline-block;
  width: 100%; }
.charityfund .box-right {
  display: inline-block;
  width: 100%; }
.charityfund .img-manufacturing {
  padding-top: 100%; }
  .charityfund .img-manufacturing img {
    border-radius: 40px;
    border: 1px solid #fff; }

.organizational-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .organizational-logo img {
    height: 150px;
    padding: 0 60px; }

.price-list .box-content img {
  width: 100%;
  height: fit-content; }

.racekit {
  display: inline-block;
  width: 100%; }

.racekit {
  display: inline-block;
  width: 100%; }
  .racekit .racekit-box-body {
    width: 100%; }
    .racekit .racekit-box-body .box-item-racekit {
      display: block;
      width: 100%;
      margin-top: 32px; }
      .racekit .racekit-box-body .box-item-racekit:first-child {
        margin-top: 0; }
      .racekit .racekit-box-body .box-item-racekit .title-section {
        margin-bottom: 4px; }
    .racekit .racekit-box-body .item-racekit-img {
      display: inline-block;
      width: 100%; }
      .racekit .racekit-box-body .item-racekit-img img {
        width: 100%;
        display: inline-block; }

.question {
  position: relative;
  z-index: 1; }
  .question .button-list {
    margin-top: 20px; }

.footer-pc {
  display: block;
  width: 100%;
  padding-bottom: 70px; }

footer {
  margin: 80px 0 0;
  display: inline-block;
  width: 100%;
  position: relative; }
  footer .copyright, footer .container {
    position: relative;
    z-index: 1; }
  footer::before {
    background: url(../images/footer-life.svg) no-repeat center bottom;
    width: 100%;
    height: 1022px;
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: -1; }

#navbar.sticky {
  height: 80px;
  background: #0A112E; }
  #navbar.sticky .header-contact {
    display: none; }

.copyright {
  padding: 28px 0 8px;
  border-top: 1px solid #8180A7;
  text-align: center; }

.address-footer {
  color: #fff;
  display: grid;
  width: 100%;
  height: 100%; }
  .address-footer img {
    height: 20px;
    width: 20px;
    margin-right: 12px; }
  .address-footer b {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300; }

.footer-contact-ad {
  display: grid;
  width: 100%;
  height: 100%; }

.content-address {
  display: flex;
  align-items: flex-end; }
  .content-address .btn-action {
    height: 67px;
    padding: 18px 40px !important;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: 1.5px solid #B6ACFF;
    background: #4730EF; }
    .content-address .btn-action img {
      margin-left: 38px; }

.item-at.active {
  border: 20px; }

.flex-bt {
  display: block;
  width: 100%; }

.box-ad-ct {
  display: inline-block;
  width: 100%; }
  .box-ad-ct img {
    height: 40px;
    margin-right: 20px; }

#exampleModal {
  background: #0A112E;
  padding: 24px; }

.modal.fade.show {
  display: flex !important;
  align-items: center; }

.modal-dialog {
  max-width: 600px !important;
  width: 100%;
  max-width: inherit; }
  .modal-dialog .modal-content {
    background: #161855; }
  .modal-dialog .header-img {
    width: 100%; }
  .modal-dialog .close {
    position: absolute;
    display: block;
    right: -24px;
    top: -32px; }
    .modal-dialog .close span {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-shadow: 0 1px 0 #fff; }
  .modal-dialog .modal-header {
    position: relative; }
  .modal-dialog h5 {
    color: #fff;
    margin: 20px 0;
    font-size: 24px; }
  .modal-dialog .modal-body {
    text-align: center; }
  .modal-dialog .box-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .modal-dialog .box-btn a {
      display: inline-block;
      width: 100%;
      background: #29218E;
      margin-left: 8px;
      border-radius: 20px;
      border: 1px solid #4730EF; }
      .modal-dialog .box-btn a:first-child {
        margin-right: 8px;
        margin-left: 0px; }
      .modal-dialog .box-btn a img {
        padding: 0 30px;
        max-height: 77px;
        width: auto; }

.section-new-detail {
  color: #fff;
  padding: 220px 0 0; }
  .section-new-detail .breadcrumb-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px; }
    .section-new-detail .breadcrumb-new a {
      font-size: 11px; }
      .section-new-detail .breadcrumb-new a img {
        margin-right: 4px; }
    .section-new-detail .breadcrumb-new span {
      margin-bottom: 0;
      font-size: 11px; }
      .section-new-detail .breadcrumb-new span a {
        text-decoration: underline !important; }
  .section-new-detail .content-item-new b {
    font-size: 12px;
    font-family: 'Montserrat'; }
  .section-new-detail .content-new-header {
    position: relative;
    padding-bottom: 70px;
    border-bottom: 1px solid #29218E; }
    .section-new-detail .content-new-header .box-content img {
      width: 100%; }
    .section-new-detail .content-new-header .right-new .title-section h5 {
      width: fit-content;
      border-bottom: 1px solid #4730EF; }
  .section-new-detail .hidden-md-down {
    position: absolute;
    top: 0;
    left: -40px;
    height: 100%; }
  .section-new-detail .sticky {
    display: grid;
    position: sticky;
    top: 0;
    padding-top: 140px;
    padding-bottom: 70px; }
    .section-new-detail .sticky img {
      width: 30px;
      margin-top: 12px; }
  .section-new-detail .box-content b {
    margin-top: 12px;
    font-family: 'Montserrat';
    display: block;
    font-size: 14px;
    margin-bottom: 40px;
    font-weight: 300; }
  .section-new-detail .img-manufacturing {
    padding-top: 70%; }
  .section-new-detail .content-item-new {
    display: block;
    width: 100%; }
    .section-new-detail .content-item-new .box-left {
      display: block;
      width: 100%; }

.new-connection {
  display: block;
  width: 100%; }
  .new-connection .img-manufacturing {
    padding-top: 70%; }

.connection-content {
  display: flex;
  justify-content: center; }
  .connection-content .box-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px; }
    .connection-content .box-right span {
      font-size: 10px; }
    .connection-content .box-right h6 {
      color: #fff; }
    .connection-content .box-right p {
      font-size: 12px; }
  .connection-content .box-left {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px; }

.section-new {
  padding: 220px 0 120px; }
  .section-new .connection-content {
    padding: 50px 0;
    border-bottom: 1px solid #4E609E; }
    .section-new .connection-content .box-right {
      padding-left: 26px; }
      .section-new .connection-content .box-right span {
        font-size: 12px;
        margin-bottom: 4px; }
      .section-new .connection-content .box-right .title-item {
        display: block;
        width: 100%;
        margin-bottom: 32px; }
      .section-new .connection-content .box-right h6 {
        font-size: 20px; }
      .section-new .connection-content .box-right p {
        font-size: 16px; }
    .section-new .connection-content .box-left {
      padding-right: 26px; }
    .section-new .connection-content .ellipsis {
      height: 46px; }
    .section-new .connection-content .img-manufacturing {
      padding-top: 70%; }

.connection-content .box-right span a {
  text-decoration: underline !important; }

.pagination {
  display: block;
  width: 100%;
  margin-top: 50px; }
  .pagination .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .pagination .pages .active {
      background: linear-gradient(180deg, #4730EF 0%, rgba(71, 48, 239, 0) 100%) !important;
      stroke-width: 1px;
      stroke: #FFF; }
    .pagination .pages .page-number {
      margin: 7px;
      border-radius: 100%;
      border: 1px solid #fff;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer; }

a {
  text-decoration: none !important;
  color: #fff; }
  a:hover {
    color: #fff; }
  a b {
    color: #fff; }

.ellipsis {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px; }

.library-ss {
  padding: 220px 0 70px; }
  .library-ss .owl-nav {
    display: block; }
    .library-ss .owl-nav .owl-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 12px;
      top: 42%;
      width: 50px;
      height: 50px;
      background: rgba(22, 24, 85, 0.5) !important;
      stroke-width: 1px;
      border: 1px solid #4730EF !important;
      border-radius: 100%; }
      .library-ss .owl-nav .owl-prev span {
        margin-bottom: 0;
        font-size: 40px;
        margin-bottom: 4px; }
    .library-ss .owl-nav .owl-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 12px;
      top: 42%;
      width: 50px;
      height: 50px;
      background: rgba(22, 24, 85, 0.5) !important;
      stroke-width: 1px;
      border: 1px solid #4730EF !important;
      border-radius: 100%; }
      .library-ss .owl-nav .owl-next span {
        margin-bottom: 0;
        font-size: 40px;
        margin-bottom: 4px; }
  .library-ss .img-manufacturing {
    padding-top: 68%; }
  .library-ss .slide-about {
    display: block;
    width: 100%;
    margin-top: 70px; }

.btn-search {
  display: flex;
  align-items: center;
  background: #161855;
  border-radius: 20px;
  height: 72px;
  padding: 0 24px;
  width: fit-content; }
  .btn-search h5 {
    margin-bottom: 0;
    margin-right: 20px; }

.partner-ss {
  padding: 220px 0 70px; }
  .partner-ss .logo-partner-ss {
    text-align: center;
    padding: 20px 0;
    min-height: 500px; }

.error-ss {
  color: #fff;
  display: block;
  width: 100%;
  padding: 220px 0 70px; }
  .error-ss .content-ss {
    display: block;
    width: 100%; }
    .error-ss .content-ss img {
      width: 100%; }
  .error-ss h4 {
    font-size: 64px; }
  .error-ss h2 {
    font-size: 96px; }

.item-at.active .tab-at {
  display: block !important;
  padding-top: 60px; }

.item-at.active .title-at::after {
  rotate: -90deg; }

/*# sourceMappingURL=style.css.map */
