@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-family: 'UTM Banque';
    src: url('../font/UTMBanque.woff2') format('woff2'),
        url('../font/UTMBanque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Banque Bold';
    src: url('../font/UTMBanqueBold.woff2') format('woff2'),
        url('../font/UTMBanqueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


$light: linear-gradient(90deg, #FFF -2.66%, rgba(255, 255, 255, 0.00) 109.87%);
$text: #fff;
$border: #4730EF;
$primary: #4730EF;
body{
    font-family: 'UTM Banque';
    font-weight: 400;
    font-size: 16px;
    color: #414142;
    padding-top: 0;
    background: #0A112E;
    position: relative;
    &::before{
        background: url(../images/bg-life.svg) no-repeat center bottom;
        width: 100%;
        height: 1300px;
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
    }
}
@mixin width{
    width: 100%;
    display: inline-block;
}
@mixin thumbnails{
    position: relative;
    padding-top: 55%;
    display: block;
    width: 100%;
    float: right;
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0;
    }
}
.container{
    max-width: 1088px;
}
.ita{
    font-style: italic;
}
.pd-l30{
    padding-left: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-12{
    margin-bottom: 12px;
}
p{
    color: $text;
    font-family: 'Montserrat';
}
span{
    font-family: 'Montserrat';
    font-size: 15px;
    color: $text;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
}
/*--header--*/
header{
    height: 190px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    .container-header{
        max-width: 100%;
        margin: auto;
    }
    .container-scroll{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-action{
            margin-left: 62px;
        }
    }
}
#navbar {
    position: fixed;
    top: 0;
    transition: top 0.3s;
    left: 0;
    background: transparent;
    z-index: 9;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    a{
        &:nth-child(1){
            img{
                padding-top: 0;
                padding-bottom: 0;
                height: 53px;
            }
        }
    }
    img{
        float: left;
        margin-right: 30px;
        height: 35px;
        
    }
}
.bd-1w{
    border: 1px solid #fff;
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav{
        ul{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            li{
                list-style: none;
                &:hover{
                    a{
                        font-weight: bold;
                    }
                }
                a{
                    font-size: 12px;
                    padding: 20px 24px;
                    color: #fff;
                    display: inline-block;
                    font-weight: 400;
                    font-family: 'UTM Banque';
                    text-decoration: none;
                }
                &.active{
                    a{
                        font-weight: 700;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.section-location{
    display: inline-block;
    position: relative;
    width: 100%;
    img{
        width: 100%;
    }
    .title-maps{
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        top: 0;
        height: 100%;
        width: 100%;
        .row{
            margin: 0;
            width: 100%;
            .title-section{
                text-align: left;
                h3{
                    text-align:left;
                    margin:0 0 0 -1.5%;
                    margin-top: -17%;
                }
            }
        }
    }
}
.slide-section{
    padding-top: 0;
    position: relative;
    .content-slide{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        &.relative{
            position: relative !important;
            height: initial !important;
        }
        .container-slide{
            max-width: 1210px;
            width: 100%;
            margin: auto;
            h1{
                text-transform: none;
                text-align: center;
                font-size: 64px;
                color: #8B756E;
                font-weight: 400;
                margin-top: -26%;
                &.left{
                    text-align: left;
                }
            }
        }
    }
}
.owl-nav{
    display: none;
}
.owl-dots{
    margin-top: 12px;
    height: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .owl-dot.active{
        background: #fff !important;
        width: 40px;
    }
    .owl-dot{
        background: #8A9AD0 !important;
        margin: 0 4px;
        width: 10px;
        height: 10px;
        border-radius: 14px;
        span{
            background: none !important;
        }
    }
}
.owl-theme .owl-nav {
    margin-top: 0;
}
.section-about-home{
    padding: 240px 0 70px;
    position: relative;
    .button-link{
        a{
            margin-top: 25px !important;
        }
    }
}
.img-manufacturing{
    @include thumbnails();
    padding-top: 49%;
    a{
        display: block;
        width: 100%;
    }
}
.thumnails-avatar{
    display: block;
    width: 100%;
    a{
        @include thumbnails();
        padding-top: 62%;
    }
}
.product-categories{
    padding: 0 48px;
    padding-bottom: 128px;
}
.list-product-categories{
    .item-product-categories{
        margin-top: 40px;
        border: 1px solid #fff;
        @include width();
        position: relative;
        height: 100%;
        margin-top: 40px;
        &:hover{
            img{
                transition: transform 0.5s, opacity 0.5s;
                transform: scale(1.2)
            }
        }
        .thumnails-product-categories{
            @include thumbnails();
            padding-top: 72% !important;
        }
        .infor-ourProduct{
            padding: 36px 24px;
            margin-bottom: 10px;
            @include width();
            a{
                cursor: pointer;
                text-decoration: none;
                b{
                    @include width();
                    font-size: 30px;
                    font-weight: normal;
                    color: #fff;
                    font-weight: 500;
                    line-height: 1.2;
                }
                &.btn-ourproduct{
                    @include width();
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    img{
                        height: 26px;
                        margin-right: 8px;
                    }
                    span{
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.primary-section{
    padding: 146px 48px 229px 48px;
    background: url(../images/our-primarybg.png) no-repeat right bottom;
    background-size: cover;
}
.list-primary{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
    .item-primary{
        -ms-flex: 0 0 16.666%;
        flex: 0 0 16.666%;
        max-width: 16.666%;
        padding: 0 7.5px;
        position: relative;
        
        span{
            position: absolute;
            bottom: 0;
            font-size: 32px;
            left: 0;
            padding: 0 35px 19px 35px;
            color: white;
            width: 100%;
        }
        .thumbnails-primary{
            background: black;
            @include width();
            a{
                @include thumbnails();
                padding-top: 195%;
                img{
                    opacity: .8;
                    transform: scale(1);
                    transition: transform 0.5s, opacity 0.5s;
                }
                &:hover{
                    img{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
.center{
    text-align: center;
}
.container-main{
    max-width: 1512px;
    margin: auto;
    width: 100%;
}
.menu-mobile{
    display: none;
}
section{
    padding: 70px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;
}
.slide-pc{
display: block;
width: 100%;
}
.slide-mb{
    display: none;
    width: 100%;
}
.title-section{
    display: inline-block;
    width: 100%;
    margin-bottom: 32px;
    h3{
        width: 100% !important;
        font-size: 40px;
    }
    &.center{
        text-align: center;
    }
    h3{
        display: inline-block;
        width: 100%;
        color: $text;
        span{
            color: #fff;
            font-weight: 400;
            font-size: 48px;
            line-height: 126.5%;
        }
        b{
            font-size: 40px;
            text-transform: none;
            color: #fff;
            line-height: 126.5%;
            font-weight: 700;
            text-transform: none;
            position: relative;
            &::before{
                width: 100%;
                height: 21px;
                display: inline-block;
                content: '';
                background: #DFEFF9;
                position: absolute;
                bottom: 2px;
                z-index: -1;
            }
        }
    }
    h2{
        color: $text;
    }
    p{
        color: #fff;
        text-align: center;
        display: inline-block;
        font-family: 'Manrope', sans-serif;
        width: 100%;
    }
}
.call-partnership > img{
    display: inline-block;
    width: 100%;
}
.call-partnership{
    padding-top: 60px !important;
    overflow: initial;
    padding-top: 0;
    .title-section{
        margin-bottom: 0;
        padding-left: 48px;
        position: relative;
        h3{
            z-index: 2;
            position: relative;
        }
        p{
            text-align: left;
            z-index: 2;
            position: relative;
        }
        img{
            position: absolute;
            top:-84px;
            left: 0;
            max-width: 100%;
        }
    }
    display: inline-block;
    width: 100%;
   padding-bottom: 0;
    .content-call-partner{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 65px 0;
        background: rgba(0, 0, 0, 0.55);
    }
}
.item-call-partner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
    background: white;
    padding: 24px 32px;
    b{
        font-size: 32px;
        font-weight: 700;
        color: #51362D;
    }
    .button-link{
        width: fit-content;
        a{
            margin: 0;
        }
    }
}
.call-partner-mb{
    display: none !important;
}
.call-to-action{
    &:hover{
        text-decoration: none;
    }
}
.adress-content{
    display: inline-block;
    width: 100%;
    p{
        display: inline-block;
        width: 100%;
        font-family: 'Manrope', sans-serif;
        padding-left: 25px;
        line-height: 30px;
        margin-bottom: 15px !important;
        position: relative;
        img{
            margin-top: 2px;
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
        }
        span{
            font-weight: normal;
            font-family: 'Manrope', sans-serif;
        }
    }
}
.tb-btn-call-bottom{
	position: fixed;
    bottom: 30px;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    span{
        background: #fff;
        height: 100%;
        padding: 0 20px;
        display: flex;
        font-size: 20px;
        font-weight: 700;
        margin-right: 2px;
        align-items: center;
        color: white;
        border-radius: 0 !important;
        a{
            border-radius: 0!important;
        }
    }
    img{
        height: 30px;
        background: #fff;
        padding: 0 20px;
    }
    b{
        background: #fff;
        display: flex;
        align-items: center;
        height: 60px;
    }

    a{
        height: 60px;
        display: flex;
        align-items: center;
        margin-left: 2px;
        overflow: hidden;
        color: white;
        text-decoration: none;
        
    }
}
.active-language{
    background: $primary;
}
.header-contact{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    .icon-contact-mini{
        margin: 0 35px 0 0px;
        color: $text;
    }
    .box-icon-contact{
        .icon-contact-mini{
            margin: 0 16px 0 0px;
        }
    }
    .call-to-action{
        img{
            margin-right: 4px;
            margin-top: -2px;
        }
    }
    .language{
        border-radius: 20px;
        padding: 3px 2px 5px;
        border: 1px solid $border;
        background: rgba(71, 48, 239, 0.20);
        a{
            font-family: 'UTM Banque';
            padding: 6px 5px;
            font-size: 12px;
            border-radius: 100%;
            color: $text;
            text-decoration: none;
        }
        .en-language{
            padding: 6px 5px;
        }
        .vn-language{
            padding: 6px 9px;
        }
    }
}
.btn-action{
    display: block;
    border-radius: 38px;
    border: 1px solid #4730EF;
    background: rgba(71, 48, 239, 0.50);
    height: 41px;
    padding: 10px 30px !important;
    width: fit-content;
    font-size: 12px;
    &:hover{
        font-weight: inherit !important;
    }
    img{
        margin-left: 16px;
    }
}
// <-------Font-title----------->
.font-mont{
    font-family: 'Montserrat';
}
.title-gradient{
    padding-top: 4px;
    background: linear-gradient(90deg, #FFF -6.81%, rgba(255, 255, 255, 0.00) 153.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}
// <======pagging======>
.pagging-list-product{
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.box-pagging-bottom{
    display: flex;
    align-items: center;
    a{
      span{
        width: 12px;
        height: 12px;
        background: #D9D9D9;
        border-radius: 100%;
        display: inline-block;
        &.active{
            width: 61px;
            background: #fff;
            border-radius: 10px;
        }
      }
    }
}
.element-pagging{
    margin-left: 44px;
}
.arrow-pagging-product{
    display: flex;
    align-items: center;
}
.numbers-pagging{
    float: left;
    margin: 0 12px;
    a{
        float: left;
        margin: 0 12px;
        width: 42px;
        height: 42px;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 18px;
        color: #414142;
        text-decoration: none;
        &.active{
            background: #C67E3B;
            color: white;
            font-weight: 700;
            border-color: #C67E3B !important;
        }
    }
}
.our-brands{
    padding-top: 0;
    padding-bottom: 76px;
    
    .list-our-brands{
        width: 100%;
        display: flex;
        justify-content: center;
        a{
            img{
                margin: 0 30px;
                height: 183px;
            }
        }
    }
}
.pc{
    display: inline-block !important;
}
.mb{
    display: none !important;
}
#countdown{
    display: inline-block;
    width: 100%;
    ul{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        li{
            text-align: center;
            color: $text;
            font-size: 24px;
        }
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #161855;
            border: 1px solid #fff;
            border-radius: 20px;
            width: 126px;
            height: 126px;
            font-size: 40px;
            color: $text;
            margin-bottom: 12px;
            font-family: 'UTM Banque Bold';
        }
        .box-none{
            span{
                background: transparent !important;
                border: none;
                p{
                    background: #fff;
                    width: 2px;
                    height: 42px;
                }
            }
        }
    }
}
.logo-our-brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    text-align: center;
    img{
        margin: 12px 20px;
    }
}
.ss-slider-run{
    color: $text;
    .owl-dot.active{
        opacity: 0.5;
    }
    .title-section{
        margin-bottom: 18px;
    }
    .box-right{
        padding-left: 30px;
    }
    .box-left{
        .item-content{
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 0 20px 20px;
            padding: 120px 40px 20px;
            background: linear-gradient(0deg, #0C173F 0%, #14308E 38.5%, rgba(142, 130, 228, 0.00) 75.82%, rgba(217, 217, 217, 0.00) 113.74%);
        }
        .cont-namu{
            display: block;
            width: 100%;
            position: relative;
            .btn-contmanu{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;
                right: 0;
                width: 60px;
                height: 60px;
                border: 1px solid #fff;
                border-radius: 100%;
                img{
                    height: 24px !important;
                    width: 24px !important;
                    position: initial;
                }
            }
        }
        h5{
            font-size: 16px;
        }
        p{
            width: 100%;
            padding-right: 80px;
        }
    }
    p{
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 300;
    }
    .img-manufacturing{
        padding-top: 120%;
        margin-top: -100px;
        img{
            border-radius: 20px;
            object-fit: contain;
        }
    }
    .owl-dot{
        background: #1A195E !important;
    }
}
.arena-map{
    display: inline-block;
    width: 100%;
    .title-main-des{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        img{
            margin-right: 24px;
        }
        .text-content{
            i{
                font-style: normal;
            }
        }
    }
    .img-manufacturing{
        padding-top: 100%;
    }
    .img-list-full{
        width: 100%;
        height: fit-content;
    }
    .arena-maps{
        width: 100%;
        .box-item-arena{
            display: block;
            width: 100%;
            margin-top: 32px;
            &:first-child{
                margin-top: 0;
            }
            .title-section{
                margin-bottom: 4px;
            }
        }
        .arenamap-img{
            display: inline-block;
            width: 100%;
            img{
                width: 100%;
                display: inline-block;
            }
        }
    }
}
.arena-slide-body{
    .img-manufacturing{
        padding-top: 46%;
    }
}
.credit-card{
    display:none;
  }
.button-list{
    border-radius: 38px;
    border: 1px solid #4730EF;
    background: rgba(71, 48, 239, 0.50);
    padding: 7px 40px !important;
    width: 100%;
    color: rgba(255, 255, 255, 0.80);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 48px;
    .tab-at{
        h3{
            margin-bottom: 32px;
        }
    }
}
.accordion {
    max-width: 1280px;
    margin: 40px auto;
    padding: 0px 40px;
}
  
  .tab-at {
    display: none;
    padding: 15px;
    border-top: none;
    .box-content{
        display: inline-block;
        width: 100%;
        img{
            width: 100%;
        }
        ul{
            list-style-type: none;
            li{
                padding-left: 12px;
            }
        }
    }
  }
  .title-at {
    cursor: pointer;
    background-color: transparent;
    position: relative;
  
    transition: background-color 0.3s ease;
  }
  .title-at:after {
    content: url('../images/arrow-right.svg');
    height: 20px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 10px;
    transition: all 0.3s ease;
    font-size: 24px;
  }
  .title-at.active::after {
    content: url('../images/arrow-up.svg');
  }
  .item-at {
    width: 100%;
    border-radius: 5px;
  }
  .title-at h2 {
    font-size: 22px;
    font-weight: 600px;
    padding: 10px 15px;
    margin: 0;
  }
.charityfund{
    .box-left{
        display: inline-block;
        width: 100%;
    }
    .box-right{
        display: inline-block;
        width: 100%;
    }
    .img-manufacturing{
        padding-top: 100%;
        img{
            border-radius: 40px;
            border: 1px solid #fff;
        }
    }
}
.organizational-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    img{
        height: 150px;
        padding: 0 60px;
    }
}
.price-list{
    .box-content{
        img{
            width: 100%;
            height: fit-content;
        }
    }
}
.racekit{
    display: inline-block;
    width: 100%;
}
.racekit{
    display: inline-block;
    width: 100%;
    .racekit-box-body{
        width: 100%;
        .box-item-racekit{
            display: block;
            width: 100%;
            margin-top: 32px;
            &:first-child{
                margin-top: 0;
            }
            .title-section{
                margin-bottom: 4px;
            }
        }
        .item-racekit-img{
            display: inline-block;
            width: 100%;
            img{
                width: 100%;
                display: inline-block;
            }
        }
    }
}
.question{
    position: relative;
    z-index: 1;
    
    .button-list{
        margin-top: 20px;
    }
}
.footer-pc{
    display: block;
    width: 100%;
    padding-bottom: 70px;
}
footer{
    margin: 80px 0 0;
    display: inline-block;
    width: 100%;
    position: relative;
    .copyright, .container{
        position: relative;
        z-index: 1;
    }
    &::before{
        background: url(../images/footer-life.svg) no-repeat center bottom;
        width: 100%;
        height:1022px;
        display: inline-block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-size: cover;
        z-index: -1;
    }
}
#navbar{
    &.sticky{
        height: 80px;
        background: #0A112E;
        .header-contact{
            display: none;
        }
    }
}
.copyright{
    padding: 28px 0 8px;
    border-top: 1px solid #8180A7;
    text-align: center;
}
.address-footer{
    color: $text;
    display: grid;
    width: 100%;
    height: 100%;
    img{
        height: 20px;
        width: 20px;
        margin-right: 12px;
    }
    b{
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
    }
}
.footer-contact-ad{
    display: grid;
    width: 100%;
    height: 100%;
}
.content-address{
    display: flex;
    align-items: flex-end;
    .btn-action {
        height: 67px;
        padding: 18px 40px !important;
        color: $text;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        border: 1.5px solid #B6ACFF;
        background: #4730EF;
        img{
            margin-left: 38px;
        }
    }
}
.item-at.active{
    border: 20px;
}
.flex-bt{
    display: block;
    width: 100%;
}
.box-ad-ct{
    display: inline-block;
    width: 100%;
    img{
        height: 40px;
        margin-right: 20px;
    }
}
#exampleModal{
    background: #0A112E;
    padding: 24px;
}
.modal.fade.show{
    display: flex !important;
    align-items: center;
}
.modal-dialog{
    max-width: 600px !important;
    width: 100%;
    max-width: inherit;
    .modal-content{
        background: #161855;
    }
    .header-img{
        width: 100%;
    }
    .close {
        position: absolute;
        display: block;
        right: -24px;
        top: -32px;
        span{
            font-size: 36px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-shadow: 0 1px 0 #fff;
        }
    }
    .modal-header{
        position: relative;
    }
    h5{
        color: $text;
        margin: 20px 0;
        font-size: 24px;
    }
    .modal-body{
        text-align: center;
    }
    .box-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
            background: #29218E;
            margin-left: 8px;
            border-radius: 20px;
            border: 1px solid #4730EF;
            &:first-child{
                margin-right: 8px;
                margin-left: 0px;
            }
            img{
                padding: 0 30px;
                max-height: 77px;
                width: auto;
            }
        }
    }
}



// <===========================New-detail==============================>
.section-new-detail{
    color: $text;
    padding: 220px 0 0;
    .breadcrumb-new{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        a{
            font-size: 11px;
            img{
                margin-right: 4px;
            }
        }
        span{
            margin-bottom: 0;
            font-size: 11px;
            a{
                text-decoration: underline !important;
            }
            
        }
    }
    .content-item-new{
        b{
            font-size: 12px;
            font-family: 'Montserrat';
        }
    }
    .content-new-header{
        position: relative;
        padding-bottom: 70px;
        border-bottom: 1px solid #29218E;
        .box-content{
            img{
                width: 100%;
            }
        }
        .right-new{
            .title-section{
                h5{
                    width: fit-content;
                    border-bottom: 1px solid #4730EF;
                }
            }
        }
    }
    .hidden-md-down{
        position: absolute;
        top: 0;
        left: -40px;
        height: 100%;
    }
    .sticky{
        display: grid;
        position: sticky;
        top: 0;
        padding-top: 140px;
        padding-bottom: 70px;
        img{
            width: 30px;
            margin-top: 12px;
        }
    }
    .box-content{
        b{
            margin-top: 12px;
            font-family: 'Montserrat';
            display: block;
            font-size: 14px;
            margin-bottom: 40px;
            font-weight: 300;
        }
    }
    .img-manufacturing{
        padding-top: 70%;
    }
    .content-item-new{
        display: block;
        width: 100%;
        .box-left{
            display: block;
            width: 100%;
        }
    }
}
.new-connection{
    display: block;
    width: 100%;
    .img-manufacturing{
        padding-top: 70%;
    }
}
.connection-content{
    display: flex;
    justify-content: center;
    .box-right{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        span{
            font-size: 10px;
        }
        h6{
            color: $text;
        }
        p{
            font-size: 12px;
        }
    }
    .box-left{
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
    }
}

// <===========================New==============================>
.section-new{
    padding: 220px 0 120px;
    .connection-content{
        padding: 50px 0;
        border-bottom: 1px solid #4E609E;
        .box-right {
            padding-left: 26px;
            span {
                font-size: 12px;
                margin-bottom: 4px;
            }
            .title-item{
                display: block;
                width: 100%;
                margin-bottom: 32px;
            }
            h6{
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }
        }
        .box-left{
            padding-right: 26px;
        }
        .ellipsis{
            height: 46px;
        }
        .img-manufacturing{
            padding-top: 70%;
        }
    }
}
.connection-content{
    .box-right{
        span{
            a{
                text-decoration: underline !important;
            }
        }
    }
}
.pagination{
    display: block;
    width: 100%;
    margin-top: 50px;
    .pages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .active{
            background: linear-gradient(180deg, #4730EF 0%, rgba(71, 48, 239, 0.00) 100%) !important;
            stroke-width: 1px;
            stroke: #FFF;
        }
        .page-number{
            margin: 7px;
            border-radius: 100%;
            border: 1px solid #fff;
            height: 36px;
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text;
            cursor: pointer;
        }
    }
}
a{
    text-decoration: none !important;
    color: #fff;
    &:hover{
        color: $text;
    }
    b{
        color: $text;
    }
}
.ellipsis{
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38px;
}


// <===========================Library-ss==============================>
.library-ss{
    padding: 220px 0 70px;
    .owl-nav {
        display: block;
        .owl-prev{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 12px;
            top: 42%;
            width: 50px;
            height: 50px;
            background: rgba(22, 24, 85, 0.50) !important;
            stroke-width: 1px;
            border: 1px solid #4730EF !important;
            border-radius: 100%;
            span{
                margin-bottom: 0;
                font-size: 40px;
                margin-bottom: 4px;
            }
        }
        .owl-next{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 12px;
            top: 42%;
            width: 50px;
            height: 50px;
            background: rgba(22, 24, 85, 0.50) !important;
            stroke-width: 1px;
            border: 1px solid #4730EF !important;
            border-radius: 100%;
            span{
                margin-bottom: 0;
                font-size: 40px;
                margin-bottom: 4px;
            }
        }
    }
    .img-manufacturing{
        padding-top: 68%;
    }
    .slide-about{
        display: block;
        width: 100%;
        margin-top: 70px;
    }
}
.btn-search{
    display: flex;
    align-items: center;
    background: #161855;
    border-radius: 20px;
    height: 72px;
    padding: 0 24px;
    width: fit-content;
    h5{
        margin-bottom: 0;
        margin-right: 20px;
    }
}


// <===========================Library-ss==============================>
.partner-ss{
    padding: 220px 0 70px;
    .logo-partner-ss{
        text-align: center;
        padding: 20px 0;
        min-height: 500px;
    }
}


// <===========================Library-ss==============================>
.error-ss{
    color: $text;
    display: block;
        width: 100%;
    padding: 220px 0 70px;
    .content-ss{
        display: block;
        width: 100%;
        img{
            width: 100%;
        }
    }
    h4{
        font-size: 64px;
    }
    h2{
        font-size: 96px;
    }
}
// <--------------------------------run to live 2023----------------------------->









.item-at.active .tab-at{
    display: block !important;
    padding-top: 60px;
}
.item-at.active{
.title-at{
    &::after{
        rotate: -90deg;
    }
}
}
