@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;800&family=Manrope:wght@400;500;700&display=swap");
@media only screen and (max-width: 1840px) {
  .col-item-product-box.pdtop09 .avatar-thumb a {
    padding-top: 46.7%; } }
@media only screen and (max-width: 1640px) {
  .col-item-product-box.pdtop09 .avatar-thumb a {
    padding-top: 46.2%; } }
@media only screen and (max-width: 1500px) {
  .action-job .btn-expand-table-suplier a {
    font-size: 16px;
    font-weight: 700; }

  .action-job b {
    font-size: 16px;
    font-weight: 700; }

  .action-job .link-suplier a {
    font-size: 14px; }

  .list-job-post .head-job-list h2, .list-job-post .head-job-list h2 b {
    font-size: 32px; }

  .list-job-ulli {
    width: 100%;
    display: inline-block; }
    .list-job-ulli ul {
      margin: 0;
      width: 100%;
      display: inline-block;
      margin-top: 20px;
      border-top: 1px solid #E6E6E6;
      padding-top: 20px; }
      .list-job-ulli ul li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #E6E6E6; }
        .list-job-ulli ul li .item-job-list {
          padding: 10px 15px; }
        .list-job-ulli ul li .table-form-suplier table thead th {
          font-size: 16px; }
        .list-job-ulli ul li .table-form-suplier table td {
          border: 0;
          font-size: 14px; }
    .list-job-ulli .title-job a {
      font-size: 20px; }

  .list-job-post {
    padding: 30px 15px !important; }

  .material-phase02 {
    background-size: contain !important; }

  .pink-bg-phase2 .logo-brands-product .box-brand {
    margin: 0 20px; }

  .col-item-product-box.pdtop09 .avatar-thumb a {
    padding-top: 45.7%; } }
@media only screen and (max-width: 1400px) {
  .col-item-product-box.pdtop11 .avatar-thumb a {
    padding-top: 82%; } }
@media only screen and (max-width: 1210px) {
  .search-job {
    max-width: 400px; }

  .material-phase02 {
    background-size: cover !important; }

  .col-item-product-box.pdtop09 .avatar-thumb a {
    padding-top: 45%; } }
@media only screen and (max-width: 1680px) {
  header.tb-header nav ul li {
    padding: 0 15px; } }
@media only screen and (max-width: 1500px) {
  .tb-contact-banner.tb-head-product-category .box-red {
    padding: 0px 0 !important; }

  .tb-history-page .slick-list {
    margin: 0 auto;
    max-width: 90% !important; }

  .tb-history-page .tb-horizontal .slick-next::before {
    right: 30px !important; }

  .tb-history-page .tb-horizontal .slick-prev::before {
    left: 30px !important; }

  .tb-history-page .tb-horizontal {
    padding: 0 !important; }

  .tb-manufactures .row .tb-item-manafuctures p {
    font-size: 14px; }

  .tb-contact-banner .tb-head-page-container h1 {
    font-size: 56px; }

  .tb-investment.tb-product-orientation .tb-reverse .tb-content-absolute .tb-container-absolute .row .tb-item-content-investment {
    padding-left: 71px;
    padding-top: 6% !important; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link {
    margin-right: 10px;
    background: white;
    font-size: 17px;
    color: #414142;
    font-style: normal;
    font-weight: 400;
    line-height: 153.4%;
    font-family: 'Geologica', sans-serif;
    padding: 16px 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border: none;
    margin: 20px 10px 20px 0; }

  .tb-manufacturing-about .slider_counter {
    margin-bottom: 30px; }
    .tb-manufacturing-about .slider_counter .current {
      font-size: 60px; }
    .tb-manufacturing-about .slider_counter .length {
      font-size: 60px; }
  .tb-manufacturing-about .next-slick-arrow span::before {
    width: 120px;
    height: 120px;
    top: 0; }
  .tb-manufacturing-about .slick-thumb-nav img {
    width: 120px; }

  .tb-vision-mission .tb-vision-mission-container {
    max-width: 1200px; }
  .tb-vision-mission .tb-box-vision b {
    font-size: 18px; }
  .tb-vision-mission .tb-box-vision p {
    font-size: 28px; }
    .tb-vision-mission .tb-box-vision p b {
      font-size: 28px; }
  .tb-vision-mission .core-value img {
    width: 350px; }

  .tb-history-page .tb-title-section {
    margin-bottom: 40px; }
  .tb-history-page .slick-list {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slick-dots {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slide-placeholder .content {
    padding-top: 50px; }
    .tb-history-page .tb-horizontal .slide-placeholder .content p {
      -webkit-line-clamp: inherit;
      min-height: 230px; }
  .tb-history-page .tb-horizontal .slide-placeholder h2 {
    font-size: 40px; }
  .tb-history-page .tb-horizontal .slick-next::before {
    right: 50px;
    top: -100px;
    width: 50px;
    height: 50px; }
  .tb-history-page .tb-horizontal .slick-prev::before {
    left: 50px;
    top: -100px;
    width: 50px;
    height: 50px; }

  .tb-item-content-investment p {
    min-height: 186px; }

  footer .container-footer {
    max-width: 1200px; }
    footer .container-footer .tb-logo-footer {
      margin-right: 80px; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    top: 0;
    padding: 30px 0; }
    .tb-product-categories .tb-product-categories-container .tab-content .content h2 {
      margin-bottom: 20px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left {
    max-width: 610px; }

  .tb-project-in-cuba .tb-project-in-cuba-container {
    max-width: 1200px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
      font-size: 70px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .mg-right {
      margin-right: 40px !important; }
    .tb-project-in-cuba .tb-project-in-cuba-container .content-left p {
      font-size: 20px !important; }

  .tp-consumer-project-detail-banner {
    margin-bottom: 100px; }

  .tb-project-in-cuba {
    margin-bottom: 100px; }

  .tb-our-the-business {
    margin-bottom: 100px; }
    .tb-our-the-business .tb-our-the-business-container {
      max-width: 1200px !important; }

  .tb-consumer-product .tb-consumer-product-container {
    max-width: 1200px !important; }

  .tb-green-power-project .tb-green-power-project-container {
    max-width: 1200px !important; }

  .tb-benefits-of-investment {
    margin-bottom: 48px; }

  .tb-benefits-of-investment-container {
    max-width: 1200px !important; }
    .tb-benefits-of-investment-container .tb-title-section {
      font-size: 40px !important; }
    .tb-benefits-of-investment-container .tb-infor-manafactures h5 a {
      font-size: 24px !important; }
    .tb-benefits-of-investment-container .tb-infor-manafactures p {
      font-size: 20px !important; }

  .tb-box-achrievement-numbers {
    max-width: 1200px; }

  .tb-achrievement-item a.tb-infor-achrievement {
    left: 30px;
    bottom: 30px;
    font-size: 30px; }

  .tb-contact-banner {
    margin-bottom: 60px !important; }

  .tab-tb-content-contact .tab-custom {
    margin-top: 0; }

  .tab-tb-content-contact .tab-custom .tab-title {
    max-width: 1200px; }

  .tb-mariel-special-development-container {
    max-width: 1200px !important; }

  .tb-content-absolute .tb-container-absolute {
    max-width: 1200px !important; }
    .tb-content-absolute .tb-container-absolute .tb-item-content-investment h6 {
      padding-right: 0; }

  .tb-investment.tb-product-orientation {
    margin-bottom: 100px; }

  .tb-product-categories .tb-product-categories-container {
    max-width: 1200px; }

  .tb-social-activites.tb-mariel-special-development {
    margin-bottom: 60px; }

  .tb-green-power-project {
    margin-bottom: 100px;
    padding: 100px 0; }

  .tb-consumer-product {
    padding-bottom: 100px; }

  .tb-benefits-of-investment.tb-other-industries {
    padding: 98px 0 70px 0;
    margin-bottom: 100px; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 170px 100px 0 100px; }

  .tb-together.tb-buy-from-us {
    margin-top: 100px; }

  .tb-logo-brands.tb-our-biggest-products-brands {
    padding: 100px 0;
    margin-bottom: 100px; }

  .tb-how-we-add {
    padding-top: 100px;
    margin-bottom: 100px; }
    .tb-how-we-add .tb-how-we-add-container {
      max-width: 1200px !important; }

  .tb-logo-brands {
    margin-bottom: 100px; }
    .tb-logo-brands .tb-logo-brands-container {
      max-width: 1200px !important; }

  .tb-list-product {
    margin-bottom: 100px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6, .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment h6 {
    padding-right: 150px; }

  .tb-social-activites {
    margin-bottom: 100px; }

  .tb-together {
    margin-bottom: 100px; }

  .tb-manufactures {
    margin-bottom: 100px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-left: 77px; }

  .archievement-section {
    padding: 0 0 100px 0; }

  .tb-product-section {
    margin-top: 100px;
    margin-bottom: 0; }

  header.tb-header nav ul li {
    padding: 0 15px; }

  .tb-infor-achrievement {
    padding-left: 50px; }

  .tb-together .tb-infor-together {
    padding: 78px 100px 0 100px; }

  footer .container-footer {
    max-width: 100% !important;
    width: 100%;
    padding: 0 20px; }

  footer .container-footer .tb-logo-footer {
    margin-right: 0 !important;
    width: 18% !important; }

  .tb-link-contact-footer {
    width: 30% !important;
    margin-right: 0 !important;
    margin-left: 5%;
    max-width: 100% !important; }

  .tb-link-footer {
    width: 15%;
    margin-left: 5%; } }
@media only screen and (max-width: 1300px) {
  .content-tab-news a {
    height: 60px;
    font-size: 16px;
    color: #414141;
    padding: 0 18px; }

  .item-news-last.left-avatar {
    padding-left: 200px;
    position: relative; }

  .item-news-last.left-avatar .news-avatar {
    width: 180px; }

  .item-news-last .infor-news-lager h5 a {
    font-size: 20px; }

  .item-news-last .infor-news-lager span {
    font-size: 14px; }

  .item-news-last .infor-news-lager label {
    font-size: 13px; }

  .tb-contact-banner .tb-head-page-container h1 {
    font-size: 40px; }

  .tab-tb-content-contact .tab-custom .tab-title {
    max-width: 1000px; }

  .tb-contact-social .content-right .col-md-6 div {
    padding: 17% 0 0 9% !important; }

  .tb-contact-social .row.content-right p {
    font-size: 23px !important; }
  .tb-contact-social .row.content-right span {
    font-size: 16px !important; }

  .tb-contact-social .content-right span a {
    font-size: 15px; }

  .tb-section-investment h6 {
    margin-bottom: 10px !important; }

  .tb-section-investment .investment-row.left p img {
    width: 20px;
    top: 9px; }

  .tb-section-investment .tb-item-content-investment {
    max-width: 100%; }

  .tb-section-investment .investment-row.left p {
    padding-left: 30px;
    position: relative;
    margin-top: 9px; }

  .tb-section-investment .investment-row.left .row .tb-item-content-investment {
    padding-left: 26px; }

  .tb-investment.tb-product-orientation .tb-content-investment .tb-item-content-investment p {
    color: #414142;
    font-size: 18px; }

  .tb-green-power-project .tb-green-power-project-container {
    max-width: 1000px !important; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left {
    max-width: 436px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left p, .tb-project-in-cuba .tb-project-in-cuba-container .content-left .quater,
  .tb-project-in-cuba .tb-project-in-cuba-container .content-left .date-year {
    font-size: 16px !important; }

  .tb-project-in-cuba {
    padding: 40px 20px !important; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-right .number p {
    color: #034EA2;
    font-size: 15px; }

  .tb-benefits-of-investment.tb-other-industries {
    padding: 40px 20px; }

  .tb-product-categories .tb-product-categories-container .tab-content .content ul li {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 6px; }

  .tb-product-categories .tb-product-categories-container .tab-content {
    position: relative;
    padding-right: 65%; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    top: 0;
    padding: 30px 0;
    width: 65%; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link {
    margin-right: 10px;
    background: white;
    font-size: 15px;
    color: #414142;
    font-style: normal;
    font-weight: 400;
    line-height: 153.4%;
    font-family: 'Geologica', sans-serif;
    padding: 16px 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border: none;
    margin: 20px 0px 20px 0; }

  header.tb-header .sub-languages {
    right: -70px; }

  .tb-box-vision.core-value {
    padding-right: 295px; }

  .tb-vision-mission .core-value img {
    width: 284px; }

  .tb-box-vision {
    padding: 30px 52px 30px 30px; }

  .tb-history-page .tb-horizontal .slide-placeholder p {
    font-size: 12px; }

  .tb-vision-mission {
    padding: 0 15px; }

  .tb-manufacturing-about .slider-image .content p {
    font-size: 14px; }

  .tb-infor-achrievement {
    padding-left: 0; }

  .tb-history-page .tb-title-section {
    margin-bottom: 40px; }
  .tb-history-page .slick-list {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slick-dots {
    max-width: 1200px; }
  .tb-history-page .tb-horizontal .slide-placeholder .content {
    padding-top: 50px; }
    .tb-history-page .tb-horizontal .slide-placeholder .content p {
      -webkit-line-clamp: inherit;
      min-height: 230px; }
  .tb-history-page .tb-horizontal .slide-placeholder h2 {
    font-size: 40px;
    margin-top: 26px; }
  .tb-history-page .tb-horizontal .slick-next::before {
    right: 0;
    width: 54px;
    height: 54px; }
  .tb-history-page .tb-horizontal .slick-prev::before {
    left: 0;
    width: 54px;
    height: 54px; }

  .tb-list-product .title-bottom {
    font-size: 18px; }
  .tb-list-product .title-top {
    font-size: 18px; }

  .tb-investment .tb-title-section {
    padding-left: 30px; }

  .tb-product-slide label {
    font-size: 130px; }

  .tb-title-section {
    font-size: 40px; }
    .tb-title-section b {
      font-size: 40px; }

  .tb-labe-name-section {
    font-size: 130px;
    left: 0 !important;
    top: 70px; }

  .tb-infor-achrievement h3 {
    font-size: 32px; }

  .tb-item-numbers-count h2 {
    font-size: 50px; }
  .tb-item-numbers-count b {
    font-size: 24px; }

  .tp-slide .bg-opacity p {
    padding: 0 20px; }

  .tb-manufactures .row .tb-item-manafuctures h5 a {
    font-size: 22px; }

  .tb-manufactures .row .tb-item-manafuctures p {
    font-size: 18px; }

  .tb-manufactures .row .tb-item-manafuctures .tb-link-manafactures a span {
    font-size: 16px; }

  .tb-achrievement-item a.tb-infor-achrievement {
    padding-left: 0;
    font-size: 24px;
    bottom: 20px; }

  .tb-content-absolute {
    left: 45px;
    padding-right: 77px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-left: 40px; }

  .tb-manufactures .row .tb-item-manafuctures .tb-infor-manafactures {
    padding: 25px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
    font-size: 45px !important; }

  .tb-contact-banner .tb-head-page-container {
    left: 0;
    top: 80px;
    text-align: left;
    padding: 0 30px; }

  .tb-contact-banner .tb-head-page-container nav .nav-tabs .nav-link {
    padding: 22px 52px; }

  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link {
    padding: 15px 46px; }

  header.tb-header {
    padding-left: 10px; }
    header.tb-header nav ul li {
      padding: 0 8px; }

  .tb-box-content-achrievement .tb-content-archievement {
    left: 100px; }
    .tb-box-content-achrievement .tb-content-archievement .tb-container-achrievement .tb-infor-achrievement {
      padding-right: 100px; }

  .tb-together .tb-infor-together {
    padding: 70px 100px 0 100px; }

  .tb-footer .container-footer .tb-logo-footer .tb-img-logo-footer {
    width: 80px  !important; }

  .tb-footer .tb-logo-footer {
    width: 100%; }
  .tb-footer .social-footer {
    display: inherit; }
    .tb-footer .social-footer img {
      height: 24px; }
  .tb-footer .tab-content .tab-pane {
    padding: 0; }
  .tb-footer .tab-content .tb-content-tab-footer {
    padding: 10px; }
  .tb-footer .tb-content-tab-footer span {
    font-size: 13px !important; }
  .tb-footer .container-footer {
    margin: 0 auto;
    padding: 0 20px; }
    .tb-footer .container-footer .tb-logo-footer {
      max-width: 220px;
      margin-right: 30px; }
      .tb-footer .container-footer .tb-logo-footer .tb-img-logo-footer {
        margin-bottom: 40px; }
    .tb-footer .container-footer .tb-link-contact-footer {
      max-width: 220px;
      margin-right: 20px;
      min-width: inherit; }
    .tb-footer .container-footer .tb-link-footer {
      max-width: 220px;
      margin-right: 30px;
      min-width: inherit; }
      .tb-footer .container-footer .tb-link-footer .tb-title-footer b {
        font-size: 16px; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 100px 100px 0 100px; }

  header.tb-header nav ul li a {
    font-size: 16px; }

  header.tb-header {
    padding: 0 20px 0 41px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-top: 50px; }

  .tb-content-infor-together br {
    display: none; }

  .tb-together .tb-content-infor-together h3 {
    font-size: 38px; }
    .tb-together .tb-content-infor-together h3 b {
      font-size: 38px; }

  .tb-together .tb-content-infor-together a b {
    font-size: 16px; }

  .tb-together .tb-content-infor-together a img {
    width: 30px; }

  .tb-social-activites .tb-social-infor .tb-description-social p {
    display: inline-block;
    font-size: 24px;
    padding: 5px 20px; }
    .tb-social-activites .tb-social-infor .tb-description-social p b {
      font-size: 24px; }

  .tb-social-activites .tb-social-infor .tb-description-social {
    bottom: 3px; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 30px; }

  .tb-together.tb-buy-from-us .tb-item-content-investment p {
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: white; }

  .tb-product-categories, .tb-our-the-business, .tb-consumer-product, .tb-benefits-of-investment {
    padding: 40px 20px; }

  .tb-green-power-project {
    padding: 60px 20px; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link span {
    font-size: 13px; }

  .tb-item-manafuctures h5 a {
    line-height: 144%;
    font-size: 20px; }

  .tb-mariel-special-development-container {
    padding: 0 20px; }
    .tb-mariel-special-development-container .tb-title-section.tb-b-100 {
      padding-right: 30px; }

  .tb-social-activites.tb-mariel-special-development .tb-social-infor .tb-description-social p {
    font-size: 20px;
    line-height: 119.1%;
    padding: 20px 0 0 0;
    background: transparent;
    margin-bottom: 0;
    margin: 0 30px 42px 30px;
    max-width: 774px; } }
.slide-social-activies {
  display: none; }

@media only screen and (max-width: 1100px) {
  .process-box .item-process img {
    height: 78px;
    margin-bottom: 4px; }

  .stationary-bg-phase2 .box-brand {
    width: max-content !important; }
    .stationary-bg-phase2 .box-brand img {
      height: 160px !important; }

  .process-box::before {
    height: 1px;
    width: 93%;
    content: '';
    display: inline-block;
    position: absolute;
    top: 164px;
    left: 80px; }

  .process-box .item-process b {
    font-size: 20px;
    margin-bottom: 32px; }

  .tab-tb-content-contact .tab-custom .tab-title {
    max-width: 890px; }

  .tb-contact-banner .tb-head-page-container nav {
    left: 30px; }

  .tb-green-power-project .tb-green-power-project-container {
    max-width: 800px !important; }

  .tp-consumer-project-detail-banner {
    margin-top: 85px; }

  .tb-green-power-project.tb-explore-our-projects .owl-next::before,
  .tb-green-power-project.tb-explore-our-projects .owl-prev::before {
    bottom: 246px; }

  .tp-slide-project p {
    padding: 0 20px;
    width: 100%;
    font-size: 52px; }

  .tb-green-power-project.tb-explore-our-projects .slider-explore-our-projects .item .tb-infor-manafactures h5 a {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.992px;
    color: #333; }

  .tb-item-manafuctures .tb-link-manafactures a span {
    font-size: 16px; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link {
    width: 50%;
    padding: 0 5px;
    background: none;
    box-shadow: none; }
    .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link span {
      background: white;
      display: inline-block;
      width: 100%;
      padding: 20px 15px;
      display: inline-block;
      width: 100%;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24); }
    .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link.active {
      background: none !important; }
      .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link.active span {
        background: #0068FF;
        font-weight: 700;
        color: white; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    color: #FFF;
    font-size: 42px;
    padding-left: 0; }

  .tb-together.tb-buy-from-us .tb-item-content-investment h3 {
    font-size: 42px; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand img {
    height: 64px; }

  .product-mb {
    display: block  !important; }
    .product-mb .col-md-12 {
      padding: 0 20px !important; }
      .product-mb .col-md-12 .row {
        margin-left: 0 !important;
        margin-right: 0 !important; }
        .product-mb .col-md-12 .row .box-title.box4 {
          margin: 0 !important; }
          .product-mb .col-md-12 .row .box-title.box4 .avatar-thumb a {
            padding-top: 146.2% !important; }
        .product-mb .col-md-12 .row.row-lastchild {
          margin: 0 !important; }
          .product-mb .col-md-12 .row.row-lastchild .box-title.box8 {
            margin: 0 !important; }
            .product-mb .col-md-12 .row.row-lastchild .box-title.box8 .avatar-thumb a {
              padding-top: 88% !important; }
          .product-mb .col-md-12 .row.row-lastchild .box-title.box9 {
            margin: 0 !important; }
            .product-mb .col-md-12 .row.row-lastchild .box-title.box9 .avatar-thumb a {
              padding-top: 88% !important; }
    .product-mb .col-md-6 {
      padding: 1px !important; }
      .product-mb .col-md-6:nth-child(1) {
        padding-right: 3px !important; }
      .product-mb .col-md-6:nth-child(2) {
        padding-left: 3px !important; }
    .product-mb .box-title.box2 {
      margin-bottom: 0 !important; }
    .product-mb .title-bottom, .product-mb .title-top {
      font-size: 24px !important; }
    .product-mb .box-title.box2 .avatar-thumb a {
      padding-top: 119%; }
    .product-mb .box-title.box7 {
      margin-top: 0 !important; }
    .product-mb .box-title.box7 .avatar-thumb a {
      padding-top: 37%; }
    .product-mb .box-title.box7 {
      margin-bottom: 0 !important; }
    .product-mb .row .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }

  .product-pc {
    display: none !important; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    width: 572px; }

  .tb-product-categories .tb-product-categories-container .tab-content {
    position: relative;
    padding-right: 572px; }

  .tb-benefits-of-investment-container .tb-infor-manafactures h5 a {
    font-size: 18px !important; } }
@media only screen and (max-width: 1000px) {
  .news-page .lager-news .infor-news-lager {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 30px;
    background: #0068FF;
    width: 100%;
    float: left; }

  .item-news-last.left-avatar {
    padding-left: 0;
    position: relative; }

  .item-news-last.left-avatar .news-avatar {
    position: relative;
    width: 100%;
    margin-bottom: 20px; }

  .search-result-content {
    padding: 0 15px; }

  .right-sidebar .head-results-right {
    margin-bottom: 20px;
    margin-top: 50px; }

  .title-item-345 b, .title-item-345 {
    font-size: 32px; }

  .list-result-right .item-result, .list-result-right .item-result .infor-item-result {
    padding-right: 0; }

  .list-result-right .item-result .avatar-result {
    width: 100%;
    position: relative;
    right: 0;
    top: 0; }

  .pagging-result {
    display: flex;
    align-items: center;
    justify-content: center; }

  .content-404 h2 {
    font-size: 32px; }
    .content-404 h2 br {
      display: none !important; }

  .blue-alpha-phase2 {
    padding-top: 50px !important; }

  .list-product-col {
    display: none !important; }

  .tb-link-footer {
    margin-left: 4%; }

  .tb-infor-exportmarket p span {
    font-size: 15px; }

  .tab-tb-content-contact {
    padding: 0 20px; }

  .tb-contact-social .row > .col-md-6:nth-child(1), .tb-contact-social .row > .col-md-6:nth-child(2) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .tb-contact-social .row > .col-md-6:nth-child(1) .row.content-right .col-md-6, .tb-contact-social .row > .col-md-6:nth-child(2) .row.content-right .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }

  .tb-contact-social .content-right .col-md-6 div {
    padding: 15% 0 15% 9% !important; }

  .tp-consumer-project-detail-banner.tp-green-energry-banner.tb-contact-banner .row .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .tp-consumer-project-detail-banner.tp-green-energry-banner.tb-contact-banner .row .col-md-6:nth-child(1) {
      position: absolute;
      width: 100%;
      height: 100%; }
      .tp-consumer-project-detail-banner.tp-green-energry-banner.tb-contact-banner .row .col-md-6:nth-child(1) .tb-head-page-container {
        width: 100% !important;
        text-align: center;
        max-width: 100%;
        padding-top: 20%;
        padding-right: 0 !important; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left {
    max-width: 356px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
    font-size: 27px !important; }

  .tb-contact-banner.tb-head-product-category {
    margin-top: 85px; }

  .tp-slide-project.tp-slide-product p {
    width: 100% !important;
    max-width: 754px !important; }

  .tp-slide-project video {
    width: 100%;
    min-height: 600px;
    object-fit: cover; }

  .tb-list-product .title-bottom {
    font-size: 14px; }
  .tb-list-product .title-top {
    font-size: 14px; }

  .tb-list-product .box-title {
    position: relative; }

  .tb-list-product .title-top {
    left: 10px; }

  .tp-slide-project {
    margin-top: 85px; }

  .tb-list-product .box-title.box8 .title-bottom, .tb-list-product .title-bottom {
    left: 15px; }

  .tb-box-vision.blue {
    padding-right: 241px; }

  .tp-button a span {
    font-size: 18px; }

  .tb-together .tb-infor-together {
    padding: 30px 30px 0 30px !important; }

  .tb-together .tb-content-infor-together h3 {
    margin-bottom: 20px; }

  .tb-head-page {
    margin-top: 85px;
    position: relative; }

  .tb-head-page-container {
    margin: auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center; }

  .tb-heade-mb.show .languages-search {
    display: none; }

  .tb-heade-mb ul li {
    height: initial !important;
    display: inline-block; }
    .tb-heade-mb ul li.active .submenu {
      display: block !important; }
    .tb-heade-mb ul li.active img {
      transform: rotate(180deg); }
    .tb-heade-mb ul li ul {
      top: 0 !important;
      position: relative;
      height: initial !important;
      float: left !important; }
      .tb-heade-mb ul li ul li {
        height: initial !important;
        float: left !important;
        width: 50% !important;
        text-align: center; }
        .tb-heade-mb ul li ul li a {
          text-align: center; }

  .archievement-section {
    padding: 0; }
    .archievement-section .tb-item-numbers-count .list-number {
      max-width: 245px;
      margin: 0 auto 50px auto; }
    .archievement-section .tb-item-numbers-count h2 {
      font-size: 45px; }
    .archievement-section .tb-item-numbers-count b {
      line-height: 144%;
      /* 46.08px */
      font-size: 24px;
      margin-bottom: 16px; }

  .tp-video {
    padding: 116px 24px 65px 24px; }

  .tb-header.tb-heade-mb nav ul li .submenu.active {
    display: block !important; }

  .tp-slide {
    margin-top: 85px; }

  header.tb-header {
    display: none; }

  .box-head-mb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }

  .tb-header {
    display: none; }
    .tb-header.tb-heade-mb {
      display: block !important;
      height: 85px;
      padding: 12px 24px; }
      .tb-header.tb-heade-mb .arrow-down {
        margin-left: 8px; }
      .tb-header.tb-heade-mb .logo-mb img {
        height: 59px; }
      .tb-header.tb-heade-mb .ti-menu:before {
        font-size: 0;
        background: url(../images/menu-mb-icon.svg) no-repeat center;
        width: 24px;
        height: 24px;
        display: inline-block; }
      .tb-header.tb-heade-mb .ti-close:before {
        background: url(../images/ic-close-mb.svg) no-repeat center;
        width: 24px;
        height: 24px;
        display: inline-block; }
      .tb-header.tb-heade-mb .img-show-search {
        margin-right: 16px; }
      .tb-header.tb-heade-mb .sub-search {
        height: 85px; }
        .tb-header.tb-heade-mb .sub-search .logo img {
          width: 63px;
          height: 59px; }
      .tb-header.tb-heade-mb .sub-languages {
        right: 0;
        top: 0; }
        .tb-header.tb-heade-mb .sub-languages .content-sub {
          margin-top: 55px; }
      .tb-header.tb-heade-mb .languages-search {
        margin-right: 40px; }
      .tb-header.tb-heade-mb .menu-mobile {
        position: absolute;
        top: 30px;
        right: 25px;
        display: block;
        z-index: 2; }
        .tb-header.tb-heade-mb .menu-mobile i {
          font-size: 0; }
        .tb-header.tb-heade-mb .menu-mobile .ti-menu {
          display: block; }
        .tb-header.tb-heade-mb .menu-mobile .close-menu {
          display: none; }
      .tb-header.tb-heade-mb nav {
        display: none; }
        .tb-header.tb-heade-mb nav ul li ul.submenu {
          display: none; }
      .tb-header.tb-heade-mb.show nav {
        display: block; }
        .tb-header.tb-heade-mb.show nav ul {
          position: fixed;
          left: 0;
          top: 85px;
          width: 100%;
          height: 100%;
          background: #003D96;
          border-top: 0;
          padding: 11px 0 0 0 !important;
          scroll-behavior: smooth;
          transition: all 0.2s ease-in-out;
          display: inline-block;
          overflow-y: auto; }
          .tb-header.tb-heade-mb.show nav ul li {
            display: inherit;
            text-align: center;
            height: 41px;
            padding: 8px 32px;
            margin-bottom: 24px; }
            .tb-header.tb-heade-mb.show nav ul li a {
              color: white;
              font-family: 'Geologica', sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
              margin-right: 0; }
            .tb-header.tb-heade-mb.show nav ul li ul.submenu {
              display: none;
              background: #00326E;
              position: initial;
              height: initial;
              padding-top: 0  !important;
              margin: 8px 0 24px 0; }
              .tb-header.tb-heade-mb.show nav ul li ul.submenu li {
                padding: 16px 12px;
                height: inherit;
                margin-bottom: 0;
                width: 50%;
                float: left; }
                .tb-header.tb-heade-mb.show nav ul li ul.submenu li a {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  letter-spacing: -0.28px;
                  text-transform: uppercase; }
      .tb-header.tb-heade-mb.show .tp-search {
        display: none; }
      .tb-header.tb-heade-mb.show .tp-language {
        display: none; }
      .tb-header.tb-heade-mb.show .menu-mobile .ti-menu {
        display: none; }
      .tb-header.tb-heade-mb.show .menu-mobile .close-menu {
        position: fixed;
        top: 30px;
        right: 25px;
        display: block;
        z-index: 2; }
      .tb-header.tb-heade-mb.show .box-head-mb {
        position: absolute;
        top: 12px;
        padding-right: 100px; }
      .tb-header.tb-heade-mb.show .languages-search {
        z-index: -1;
        position: relative; }

  .tp-slide .bg-opacity p {
    font-size: 40px; }

  .tb-achrievement-item a.tb-infor-achrievement {
    padding-left: 0;
    font-size: 20px;
    bottom: 10px;
    left: 10px; }

  .tb-box-content-achrievement .tb-content-archievement {
    left: 50px; }

  .tb-content-absolute .tb-container-absolute .row .col-md-6:nth-child(2) .tb-item-content-investment {
    padding-top: 100px; }

  .tb-manufactures .row .tb-item-manafuctures h5 a {
    font-size: 20px; }

  .tb-manufactures .row .tb-item-manafuctures p {
    font-size: 16px; }

  .tb-manufactures .row .tb-item-manafuctures .tb-link-manafactures a img {
    margin-right: 5px; }

  .tb-together .tb-content-infor-together h3 {
    font-size: 34px; }
    .tb-together .tb-content-infor-together h3 b {
      font-size: 34px; }
  .tb-together .tb-content-infor-together a img {
    height: 40px; }
  .tb-together .tb-content-infor-together a b {
    font-size: 18px; }

  .tb-social-activites .tb-social-infor .tb-description-social {
    bottom: 20px; }
    .tb-social-activites .tb-social-infor .tb-description-social p {
      font-size: 24px; }
      .tb-social-activites .tb-social-infor .tb-description-social p b {
        font-size: 24px; }

  .tb-logo-footer .social-footer a {
    padding: 0 5px; }

  .horizontal-pc {
    display: none !important; }

  .horizontal-mb {
    display: block !important;
    width: 100%; }
    .horizontal-mb ul {
      margin: 0;
      padding: 0;
      position: relative; }
      .horizontal-mb ul::before {
        width: 1px;
        content: '';
        display: inline-block;
        position: absolute;
        left: 45px;
        width: 1px;
        background: #0068FF;
        height: 96%;
        top: 7px; }
      .horizontal-mb ul li {
        display: inline-block;
        padding-left: 80px;
        position: relative;
        margin-bottom: 30px;
        width: 100%;
        padding-top: 18px; }
        .horizontal-mb ul li:nth-last-child(1) {
          margin-bottom: 0; }
        .horizontal-mb ul li::before {
          width: 12px;
          height: 12px;
          content: '';
          display: inline-block;
          position: absolute;
          left: 40px;
          border-radius: 50%;
          top: 0px;
          background: #0068FF; }
        .horizontal-mb ul li h6 {
          font-size: 24px;
          color: #0068FF;
          margin-top: -26px; }
        .horizontal-mb ul li p {
          font-size: 16px;
          margin-bottom: 0;
          display: inline-block;
          width: 100%;
          display: none; }
        .horizontal-mb ul li.active p {
          display: inline-block !important; }
        .horizontal-mb ul li.active h6 {
          font-size: 32px; }
        .horizontal-mb ul li.active::before {
          width: 16px;
          height: 16px;
          content: '';
          display: inline-block;
          position: absolute;
          left: 38px;
          border-radius: 50%;
          top: 0px;
          background: #0068FF; }

  .tb-vision-mission-container .row .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .tb-vision-mission .tb-vision-mission-container .tb-labe-name-section {
    justify-content: center; }

  .tb-history-page {
    margin-bottom: 61px; }

  .tb-vision-mission-container {
    padding: 0 20px; }

  .tb-box-vision {
    display: inline-block;
    width: 100%;
    margin-top: 58px;
    padding: 30px 52px 30px 30px;
    border-radius: 5.74px;
    margin-bottom: 20px; }

  .tb-box-vision.core-value {
    margin-top: 0px !important; }

  .tb-vision-mission .core-value img {
    width: 375px; }

  .tb-contact-banner.tb-head-product-category .row {
    flex-direction: column-reverse; }
    .tb-contact-banner.tb-head-product-category .row .col-md-4, .tb-contact-banner.tb-head-product-category .row .col-md-8 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; }
    .tb-contact-banner.tb-head-product-category .row h1 {
      padding: 50px 20px; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures img {
    height: 86px; }

  .tb-how-we-add.tb-list-category-product {
    padding: 40px 0; }
    .tb-how-we-add.tb-list-category-product .col-md-3, .tb-how-we-add.tb-list-category-product .col-md-4, .tb-how-we-add.tb-list-category-product .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 40px; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand {
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    margin: auto; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs {
    border-bottom: none;
    height: auto;
    white-space: nowrap;
    width: max-content;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: initial;
    display: inline-block;
    width: 100%; }

  .tb-product-categories-container nav a {
    color: white;
    width: 50%;
    float: left;
    padding: 20px; }

  .tb-logo-brands.tb-our-biggest-products-brands {
    padding: 30px 0;
    margin-bottom: 0; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link {
    margin-bottom: 0;
    text-align: center; }

  .tb-product-categories .tb-product-categories-container .tab-content {
    position: relative;
    padding-right: 0; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    width: 100%;
    position: relative !important;
    top: 0 !IMPORTANT;
    margin-top: -10px; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs {
    width: initial;
    margin-left: -5px;
    margin-right: -5px; }

  .tb-together.tb-together-product {
    margin-top: 0px !important; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand .tb-link-manafactures a {
    display: initial; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand .tb-link-manafactures a img {
    padding: 0;
    margin: 0;
    width: fit-content; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand .tb-link-manafactures a span {
    font-size: 14px; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link {
    margin-bottom: 0;
    text-align: center;
    white-space: break-spaces; }
    .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link span {
      min-height: 86px;
      display: flex;
      align-items: center;
      justify-content: center; }

  .tb-section-investment .img-row-investment {
    width: 100% !important; }

  .absolute-infor-investment {
    position: relative !important; }
    .absolute-infor-investment .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }

  .tb-section-investment .investment-row {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column-reverse; }

  .tb-item-content-investment p {
    min-height: initial !important; }

  .img-row-investment {
    margin-bottom: 30px; }

  .tb-item-content-investment {
    margin-bottom: 30px; } }
@media only screen and (max-width: 767px) {
  .tb-together .tb-infor-together {
    padding: 48px 20px !important; }

  .process-section {
    padding-bottom: 0 !important; }

  .life-thaibinh {
    padding-top: 30px !important; }

  .infor-head-page-phase2 {
    padding: 0 15px !important; }

  .head-job-list h2 {
    text-align: left; }
    .head-job-list h2 br {
      display: none; }

  .title-item-345 h3 {
    font-size: 32px; }

  .item-job-list.mb b {
    margin-bottom: 20px !important; }

  .title-job a {
    font-family: 'Geologica', sans-serif;
    margin-bottom: 30px !important; }

  .filter-career, .combobox-career {
    justify-content: space-between;
    flex-wrap: wrap; }

  .filter-career .combobox-career .item-combobox {
    margin-right: 0;
    width: 100%;
    max-width: 100%; }

  .search-job-list button {
    top: 0;
    background: #0068FF; }

  .search-job input {
    border: 1px solid #e7e7e7; }

  .process-box .item-process label {
    margin: 0; }

  .process-box .item-process p {
    text-align: left;
    padding: 0; }

  .process-box::after {
    display: none; }

  .item-process {
    position: relative;
    padding-left: 140px; }
    .item-process .icon-title {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px !important;
      text-align: center; }

  .process-box .item-process {
    width: 100%;
    margin-bottom: 50px; }

  .process-box .item-process {
    width: 100%; }

  .process-box::before {
    display: none; }

  .link-pagging-news .col-md-6 {
    text-align: center; }
    .link-pagging-news .col-md-6 .tp-button {
      margin: auto;
      float: none !important;
      margin-bottom: 20px !important; }
    .link-pagging-news .col-md-6 .pagging-result {
      justify-content: center; }

  .content-tab-news {
    flex-flow: wrap; }

  .content-tab-news a {
    border-right: 1px solid #E6E6E6; }

  .box-search-results h1 {
    font-size: 40px; }

  .content-head-search-result {
    padding: 0 15px; }

  .box-404-search-btn {
    padding: 0 15px; }
    .box-404-search-btn .tp-button a span {
      font-size: 14px;
      padding: 0;
      width: 170px;
      text-align: center;
      justify-content: center; }

  .content-popup-thankyou .tp-button a span {
    width: 170px;
    text-align: center;
    justify-content: center; }

  .content-popup-thankyou {
    padding: 50px 0; }
    .content-popup-thankyou .tp-button a span {
      font-size: 14px;
      padding: 0 13px; }

  .btn-action-bottom {
    display: inline-block;
    width: 100%;
    margin-top: 0px; }
    .btn-action-bottom .tp-button {
      margin-bottom: 20px; }

  .material-phase02 {
    background: url(../images/material-mb.png) no-repeat center top !important;
    padding-bottom: 110px !important; }

  body .news-page .news-avatar a {
    padding-top: 60% !important; }

  .news-page {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 105px; }

  .material-phase02 .box-brand img {
    height: 152px !important; }

  body .box-red {
    padding: 20px 15px !important;
    width: 100% !important;
    display: inline-block;
    text-align: center; }
    body .box-red .tb-head-page-container {
      margin-right: 0;
      display: inline-block;
      padding: 0 !important;
      width: 100% !important;
      margin-top: 0 !important;
      text-align: center; }
      body .box-red .tb-head-page-container h1 {
        text-align: center;
        display: inline-block;
        width: 100%;
        padding: 0 !important; }

  .pink-bg-phase2 .tb-title-section {
    font-size: 30px; }
    .pink-bg-phase2 .tb-title-section b {
      font-size: 30px; }

  .food-section-phase2 .col-md-6, .food-section-phase2 .col-md-4, .manufacturing-section-phase2 .col-md-6, .manufacturing-section-phase2 .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .manufacturing-section-phase2 .tb-infor-manafactures {
    margin-bottom: 40px !important; }

  .tb-how-we-add .tb-how-we-add-container .tb-infor-manafactures p {
    -webkit-line-clamp: 200 !important; }

  .tb-product-categories .tb-product-categories-container .tab-content .content {
    padding: 20px;
    background: #0068FF; }

  .tb-manufacturing-about .tb-title-section {
    margin-left: 0;
    text-align: left;
    line-height: 153.4%;
    margin-bottom: 20px;
    width: 100%;
    text-align: center; }

  .pink-bg-phase2 .logo-brands-product .box-brand {
    margin: 0 !important;
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 100%; }
    .pink-bg-phase2 .logo-brands-product .box-brand img {
      height: 75px !important; }

  .tb-logo-brands.tb-our-biggest-products-brands .logo-brands-product {
    display: inline-block;
    width: 100%;
    justify-content: unset;
    margin: auto;
    text-align: center; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures h5 {
    font-size: 20px; }

  footer.footer-mb .tb-logo-footer, footer.footer-mb .tb-link-footer {
    width: 100% !important;
    margin: 0 !important; }

  .tb-contact-banner .tb-head-page-container {
    left: 0;
    top: 0; }

  .tb-contact-banner .tb-head-page-container {
    bottom: 0 !important; }

  .tb-mail-footer ul {
    position: relative;
    width: 100%; }
    .tb-mail-footer ul li {
      position: relative;
      display: inline-block !important;
      width: 100%;
      padding-left: 68px !important; }
      .tb-mail-footer ul li .tb-content-tab-footer {
        display: inline-block;
        width: 100%; }
        .tb-mail-footer ul li .tb-content-tab-footer a {
          width: 100%;
          padding-left: 30px !important;
          position: relative;
          display: inline-block !important;
          margin: 0 !important; }
          .tb-mail-footer ul li .tb-content-tab-footer a img {
            position: absolute;
            left: 0;
            top: 0;
            width: 24px; }
          .tb-mail-footer ul li .tb-content-tab-footer a span {
            word-break: break-all; }

  .tb-social-activites {
    margin-bottom: 0; }

  .mb-head {
    display: block !important; }

  .pc-head {
    display: none !important; }

  .tp-consumer-project-detail-banner .tb-head-page-container {
    bottom: 100px;
    text-align: left;
    padding: 0 20px; }
    .tp-consumer-project-detail-banner .tb-head-page-container h1 {
      font-size: 32px;
      line-height: 36px; }

  .tb-contact-social .row.content-right p {
    font-size: 16px !important;
    margin-bottom: 0; }

  .tb-contact-social .content-right span a {
    font-size: 12px; }

  .tp-consumer-project-detail-banner.tp-green-energry-banner.tb-contact-banner .row .col-md-6:nth-child(1) .tb-head-page-container {
    padding-top: 5%;
    padding-right: 0; }

  .tab-tb-content-contact .content-form .select-selected::after {
    width: 24px;
    height: 24px;
    font-size: 0;
    margin: 0;
    top: 14px;
    right: 18px; }

  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs {
    border-bottom: none;
    width: 100%;
    min-width: 100%;
    display: inline-block !important; }

  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link {
    float: left;
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center; }
    .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link:nth-child(3) {
      width: 97%;
      margin-top: 20px; }

  .tab-tb-content-contact .col-md-12 .tp-button.tb-btn-blue a {
    display: inline-block;
    position: relative;
    padding-right: 70px;
    width: 100%; }
    .tab-tb-content-contact .col-md-12 .tp-button.tb-btn-blue a span {
      width: 100%;
      padding-left: 30px !important; }
    .tab-tb-content-contact .col-md-12 .tp-button.tb-btn-blue a b {
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1.4px solid white; }

  .tab-tb-content-contact .content-form .select-selected {
    font-size: 16px; }

  .tab-tb-content-contact .content-form input, .tab-tb-content-contact .content-form .custom-select, .tab-tb-content-contact .content-form textarea {
    height: 57px;
    font-size: 16px;
    padding: 9px 15px; }
    .tab-tb-content-contact .content-form input::placeholder, .tab-tb-content-contact .content-form .custom-select::placeholder, .tab-tb-content-contact .content-form textarea::placeholder {
      font-size: 16px; }

  .tb-contact-banner .tb-head-page-container h1 {
    font-size: 36px; }

  .tb-contact-banner .tb-head-page-container nav .nav-tabs .nav-link {
    list-style: none;
    background: #0068FF;
    padding: 14px 22px;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 114%;
    letter-spacing: -0.4px;
    color: white;
    border-radius: 0;
    border: 0; }

  .mb-slide {
    display: block !important; }
    .mb-slide .tb-description-social {
      display: block !important; }
    .mb-slide .owl-theme .owl-dots .owl-dot.active span, .mb-slide .owl-theme .owl-dots .owl-dot:hover span {
      background: #0068FF; }
    .mb-slide .owl-theme .owl-dots .owl-dot span {
      background: #D9D9D9; }
    .mb-slide .owl-nav button {
      outline: none;
      position: absolute;
      top: 35%;
      font-size: 0; }
      .mb-slide .owl-nav button span {
        display: none !important; }
      .mb-slide .owl-nav button:hover {
        background-color: inherit !important; }
      .mb-slide .owl-nav button.owl-next {
        right: 0;
        z-index: 1;
        width: 74px;
        display: inline-block;
        height: 74px;
        background: url(../images/social_arrow-right.svg) no-repeat center !important;
        position: absolute;
        bottom: 330px; }
      .mb-slide .owl-nav button.owl-prev {
        left: 0;
        font-size: 0;
        z-index: 1;
        width: 74px;
        display: inline-block;
        height: 74px;
        background: url(../images/social_arrow-left.svg) no-repeat center !important;
        position: absolute;
        bottom: 330px; }

  .pc-slide {
    display: none !important; }

  .maps-green .title-green-maps h2 {
    font-size: 32px; }

  .maps-green .title-green-maps {
    position: absolute;
    bottom: -7%; }

  .maps-green {
    margin-top: 20px; }

  .tb-green-power-project.tb-explore-our-projects .owl-nav {
    display: none !important; }

  .tb-item-content-investment p {
    line-height: 30px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    padding-right: 0; }

  .tb-green-power-project.tb-explore-our-projects .tb-title-section {
    font-size: 36px;
    line-height: 123.4%; }

  .tb-section-investment .investment-row.left p span {
    font-size: 16px;
    line-height: 26px; }

  .tb-head-page-container h1 {
    font-size: 24px; }

  .tb-investment.tb-product-orientation {
    display: block !important; }

  .tb-content-absolute {
    left: 0;
    padding-right: 0;
    min-height: initial;
    position: relative;
    margin-bottom: 30px; }

  .tb-head-page-container p {
    font-size: 16px; }

  .tb-section-investment .investment-row.left .row .tb-item-content-investment {
    padding-left: 0; }

  .tb-item-content-investment h6 {
    padding-right: 0; }

  .tp-consumer-project-detail-banner {
    margin-bottom: 0px; }

  .tb-content-investment {
    flex-direction: column-reverse;
    display: flex; }

  .tb-project-in-cuba {
    margin-bottom: 30px; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left {
    max-width: 100%;
    width: 100%; }

  .tb-project-in-cuba .tb-project-in-cuba-container {
    display: inline-block !important; }

  .tb-project-in-cuba-container .line {
    display: inline-block;
    width: 100% !important;
    height: 1px !important;
    margin: 30px 0 !important; }

  .tb-project-in-cuba .tb-project-in-cuba-container .number h2 {
    font-size: 52px !important; }

  .product-mb .title-bottom, .product-mb .title-top {
    font-size: 14px !important; }

  .tb-logo-brands .tb-logo-brands-container .logo-brands-product img {
    height: 50px;
    margin: 17px 0;
    width: max-content;
    padding: 0 20px; }

  .tb-manufacturing-about .slider-image .content .desrep {
    color: #414142;
    text-align: left;
    font-family: 'Geologica', sans-serif;
    font-size: 18px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 133.4%;
    margin-bottom: 0; }

  .tb-section-investment .tb-item-content-investment h6 {
    font-size: 32px; }

  .tp-slide-project {
    margin-top: 85px; }

  .tp-slide-project video {
    height: 500px;
    object-fit: cover; }

  .tp-slide-project p {
    font-size: 42px !important; }

  .next-slick-img.slick-thumb-nav {
    background: white !important;
    background-image: none !important;
    width: 60px;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .next-slick-img.slick-thumb-nav img {
      display: none; }
    .next-slick-img.slick-thumb-nav::before {
      content: '';
      width: 8px;
      height: 14px;
      background: url(../images/arrow-right.svg) no-repeat;
      display: flex;
      justify-content: center;
      align-items: center; }

  .tb-manufacturing-about .slick-arrow.slick-next {
    right: 0;
    position: absolute;
    bottom: initial;
    top: 30%; }

  .tb-manufacturing-about .slider-image .content p {
    font-size: 16px; }

  .tb-manufacturing-about .slider-image .content h5 {
    font-size: 24px; }

  .tb-vision-mission .core-value img {
    width: 206px; }

  .tb-manufacturing-about .slider-image .image-wrap {
    width: 100%; }

  .tb-vision-mission .tb-box-vision b {
    font-size: 11px; }

  .tb-manufacturing-about .slider-image {
    display: inline-block;
    align-items: inherit; }

  .tb-manufacturing-about .slider-image .content {
    width: 100%;
    position: relative;
    padding: 0 20px; }

  .tb-vision-mission .tb-vision-mission-container .tb-labe-name-section {
    font-size: 82px; }

  .tb-vision-mission .tb-box-vision p b {
    font-size: 21px; }

  .tb-box-vision.core-value {
    padding-right: 250px; }

  .tb-vision-mission .tb-box-vision p {
    font-size: 21px; }

  .sub-languages-mb {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;
    background: #0068FF;
    padding: 15px;
    z-index: 9;
    display: block; }
    .sub-languages-mb .head-logo-mb {
      display: flex;
      justify-content: space-between; }
      .sub-languages-mb .head-logo-mb img:nth-child(1) {
        height: 59px;
        margin: -3px 0 0 9px; }
      .sub-languages-mb .head-logo-mb img:nth-child(2) {
        height: 25px;
        margin: 14px 10px; }
    .sub-languages-mb.active {
      display: block !important;
      opacity: 1 !important;
      visibility: initial !important; }

  .tb-header.tb-heade-mb .sub-languages .content-sub {
    margin-top: 0;
    width: 100%; }

  header.tb-header .search-show .content-search-show {
    width: 85%; }

  header.tb-header .search-show .content-search-show input {
    font-size: 16px; }

  header.tb-header .container-search .logo {
    display: none; }

  .slider-activities-pc {
    display: none !important; }

  .slider-activities-mb {
    display: block !important; }

  .tb-manufactures {
    display: none; }
    .tb-manufactures.tb-manufactures-mb {
      display: block; }
      .tb-manufactures.tb-manufactures-mb .box-list-manufacture {
        overflow: auto;
        margin-right: -20px; }
        .tb-manufactures.tb-manufactures-mb .box-list-manufacture .row {
          width: 320%;
          margin: 0;
          height: auto;
          margin-bottom: 40px;
          flex-wrap: nowrap; }
        .tb-manufactures.tb-manufactures-mb .box-list-manufacture .tb-infor-manafactures {
          min-height: 215px; }
          .tb-manufactures.tb-manufactures-mb .box-list-manufacture .tb-infor-manafactures h5 a {
            font-size: 24px; }
          .tb-manufactures.tb-manufactures-mb .box-list-manufacture .tb-infor-manafactures .tb-link-manafactures span {
            font-size: 20px; }

  .tb-together {
    margin-bottom: 0; }
    .tb-together .tb-avatar-together {
      width: 100%; }
      .tb-together .tb-avatar-together a {
        padding-top: 100%; }
    .tb-together .tb-infor-together {
      position: initial;
      width: 100%;
      padding: 65px 24px; }
      .tb-together .tb-infor-together .tb-content-infor-together span {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px; }
      .tb-together .tb-infor-together .tb-content-infor-together h3 {
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 40px; }
        .tb-together .tb-infor-together .tb-content-infor-together h3 b {
          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: normal; }
      .tb-together .tb-infor-together .tb-content-infor-together .tb-list-together a {
        margin-bottom: 8px; }
        .tb-together .tb-infor-together .tb-content-infor-together .tb-list-together a img {
          height: 33px; }
        .tb-together .tb-infor-together .tb-content-infor-together .tb-list-together a b {
          font-size: 20px;
          font-weight: 500; }

  .tb-manufactures .tb-title-section {
    margin-bottom: 0px !important; }

  .tb-investment-mb {
    display: block;
    padding-bottom: 100px; }
    .tb-investment-mb .tp-button.tb-btn-white a b {
      padding: 0 20px; }
    .tb-investment-mb .row {
      margin-top: 96px; }
    .tb-investment-mb .row .col-md-6:nth-child(2) .tb-item-content-investment {
      position: absolute;
      z-index: 1;
      top: 25px;
      left: 0;
      padding: 48px; }
      .tb-investment-mb .row .col-md-6:nth-child(2) .tb-item-content-investment h6 {
        color: white; }
      .tb-investment-mb .row .col-md-6:nth-child(2) .tb-item-content-investment p {
        color: white; }
    .tb-investment-mb .tb-mariel-special {
      margin-top: 0;
      padding: 15px;
      background: white; }
      .tb-investment-mb .tb-mariel-special .tb-avatar-mariel-special a {
        padding-top: 90%; }
      .tb-investment-mb .tb-mariel-special .tb-infor-mariel-special {
        position: inherit;
        padding: 32px 24px;
        width: 100%; }
        .tb-investment-mb .tb-mariel-special .tb-infor-mariel-special span {
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          text-transform: uppercase;
          margin-bottom: 8px; }
        .tb-investment-mb .tb-mariel-special .tb-infor-mariel-special h4 {
          margin-bottom: 16px; }
        .tb-investment-mb .tb-mariel-special .tb-infor-mariel-special p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 133%; }
    .tb-investment-mb .tb-img-investment {
      display: inline-block;
      width: 100%;
      position: relative;
      min-height: 320px; }
      .tb-investment-mb .tb-img-investment::before {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #002C54;
        content: '';
        opacity: .5; }
      .tb-investment-mb .tb-img-investment img {
        max-width: 100%;
        min-height: 320px;
        display: inline-block;
        object-fit: cover; }
    .tb-investment-mb .tb-item-content-investment {
      padding: 0; }
      .tb-investment-mb .tb-item-content-investment h6 {
        min-height: 100%;
        padding-right: 0;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px; }
      .tb-investment-mb .tb-item-content-investment p {
        min-height: 100%;
        color: #000;
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 144%;
        /* 23.04px */
        margin-bottom: 16px; }
    .tb-investment-mb .consumer-product {
      background: #F4F4F4;
      padding: 32px 24px; }

  .tb-investment {
    display: none; }

  .tb-investment .tb-labe-name-section {
    display: none; }

  .tb-product-slide {
    padding-top: 50px; }
    .tb-product-slide label {
      display: none !important; }

  .tb-product-section {
    margin-top: 120px; }

  .tp-button a {
    height: 60px; }
    .tp-button a span {
      font-size: 16px;
      padding: 0 20px; }

  .tb-avatar-archievement a {
    padding-top: 100%; }

  .tb-achrievement-item a.tb-infor-achrievement {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 114%;
    letter-spacing: -0.48px;
    text-align: center;
    bottom: 0;
    left: 0;
    top: initial;
    height: 100%;
    min-height: inherit;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    padding-bottom: 20px !important;
    align-items: end; }

  .tb-box-content-achrievement .row .col-md-6 .row .col-md-6 {
    width: 50%; }

  .tb-box-content-achrievement {
    flex-direction: column-reverse;
    display: flex; }
    .tb-box-content-achrievement .tb-content-archievement {
      position: initial; }
    .tb-box-content-achrievement .tb-infor-achrievement {
      padding: 100px 24px 92px 24px !important; }
      .tb-box-content-achrievement .tb-infor-achrievement .tp-button a {
        justify-content: center; }
        .tb-box-content-achrievement .tb-infor-achrievement .tp-button a b {
          padding: 0 20px; }
      .tb-box-content-achrievement .tb-infor-achrievement h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 114%;
        /* 45.6px */
        letter-spacing: -0.8px;
        text-align: center; }

  .archievement-section .tb-item-numbers-count h2 {
    font-size: 64px; }
  .archievement-section .tb-item-numbers-count b {
    font-size: 32px;
    line-height: 144%; }

  .tp-video {
    padding: 24px 24px 65px 24px; }

  footer {
    display: none; }

  .footer-mb {
    display: block;
    float: left;
    padding: 37px 24px 157px 24px; }
    .footer-mb .container-footer {
      padding: 0; }
      .footer-mb .container-footer .tb-body-footer {
        display: inherit; }
        .footer-mb .container-footer .tb-body-footer .tb-logo-footer {
          max-width: 100%; }
          .footer-mb .container-footer .tb-body-footer .tb-logo-footer .tb-img-logo-footer {
            width: 128px !important; }
        .footer-mb .container-footer .tb-body-footer .tb-link-footer {
          max-width: 100%;
          margin-right: 0; }
          .footer-mb .container-footer .tb-body-footer .tb-link-footer .address {
            margin-bottom: 32px; }
          .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer {
            margin-bottom: 16px; }
            .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer:last-child {
              margin-bottom: 0; }
            .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer span {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 124%;
              /* 19.84px */ }
              .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer span b {
                font-size: 16px !important;
                font-weight: 700; }
            .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer .number-phone {
              border-right: 1px solid #B0D0FF;
              padding-right: 5px;
              margin-right: 5px; }
              .footer-mb .container-footer .tb-body-footer .tb-link-footer .tb-item-adress-footer .number-phone:last-child {
                border-right: none; }
        .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul {
          display: inherit;
          margin-bottom: 23px !important; }
          .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li {
            align-items: center;
            display: flex;
            list-style: none;
            padding: 0;
            margin-bottom: 8px;
            justify-content: space-between; }
            .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li a {
              padding: 0; }
            .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li a.active {
              text-decoration: underline; }
            .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li .tb-content-tab-footer {
              width: 100%;
              display: inherit;
              padding: 0;
              align-items: flex-start;
              gap: 10px;
              align-self: stretch;
              border-radius: 3px;
              border: none;
              background: transparent;
              justify-content: flex-end; }
              .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li .tb-content-tab-footer img {
                margin-right: 10px; }
              .footer-mb .container-footer .tb-body-footer .tb-mail-footer ul li .tb-content-tab-footer a {
                margin-left: 30px; }
    .footer-mb .tb-link-footer-editor {
      display: none; }
      .footer-mb .tb-link-footer-editor a {
        margin-bottom: 16px;
        width: 50%;
        float: left; }
    .footer-mb .tb-title-footer {
      margin-bottom: 23px; }
      .footer-mb .tb-title-footer img {
        margin-left: 8px; }
    .footer-mb .tb-link-footer.active .tb-title-footer img {
      transform: rotate(180deg); }
    .footer-mb .tb-link-footer.active .tb-link-footer-editor {
      display: block; }
    .footer-mb .box {
      text-align: center;
      border-top: 1px solid #ffffff40;
      padding-top: 40px;
      width: 100%;
      margin: 0 auto;
      margin-top: 40px;
      float: left; }
      .footer-mb .box .social-footer img {
        height: 37px;
        margin: 0 15px; }
      .footer-mb .box .all-right {
        margin-top: 40px; }

  .tb-title-section {
    padding: 0 20px;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 114.5%;
    /* 45.8px */
    margin-bottom: 24px !important; }
    .tb-title-section b {
      font-size: 45px;
      text-transform: initial;
      white-space: nowrap; }

  .tp-button.tb-btn-blue.tb-btn-call-bottom a span {
    display: none; }

  .tp-button.tb-btn-blue.tb-btn-call-bottom a b img {
    height: 24px; }

  .tp-button.tb-btn-blue a b {
    padding: 0 20px; }
    .tp-button.tb-btn-blue a b img {
      height: 20px; }

  .tp-slide {
    display: none; }
    .tp-slide.tp-slide-mb {
      display: block; }
      .tp-slide.tp-slide-mb .bg-opacity {
        align-items: flex-end; }
        .tp-slide.tp-slide-mb .bg-opacity p {
          font-size: 30px;
          font-style: normal;
          font-weight: 800;
          line-height: 119.5%;
          /* 35.85px */
          letter-spacing: -0.75px;
          margin-bottom: 115px; }

  .tp-video .tp-content-video .avatar-thumb a {
    padding-top: 175%; }
    .tp-video .tp-content-video .avatar-thumb a video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

  .tb-together .tb-content-infor-together br {
    display: block; }

  .tb-box-vision.blue {
    padding-right: 30px; }

  .product-mb .col-md-12 .row .box-title.box4 .avatar-thumb a {
    padding-top: 151% !important; }

  .product-mb .box-title.box1 .avatar-thumb a {
    padding-top: 202%; }

  .product-mb .col-md-6:nth-child(1), .product-mb .col-md-6:nth-child(3) {
    padding-right: 3px !important; }

  .product-mb .col-md-6:nth-child(2), .product-mb .col-md-6:nth-child(4) {
    padding-left: 3px !important; }

  .tb-benefits-of-investment.tb-other-industries .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .tb-benefits-of-investment.tb-other-industries .tb-benefits-of-investment-container .tb-title-section {
    text-align: center;
    font-size: 32px !important; }

  .tb-how-we-add.tb-list-category-product {
    padding: 20px 15px; }

  .tb-product-categories .tb-product-categories-container .tab-content .content h2 {
    font-size: 28px; }

  .tb-item-manafuctures {
    margin-top: 40px; }

  .tb-social-activites.tb-mariel-special-development .tb-mariel-special-development-container .tb-title-section {
    font-size: 36px;
    font-style: normal;
    line-height: 100.4%;
    text-align: left;
    max-width: 100%;
    text-align: center; }

  .tb-social-activites.tb-mariel-special-development .tb-mariel-special-development-container {
    display: inline-block; }

  .tb-benefits-of-investment .tp-button {
    margin-bottom: 30px; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-title-section {
    padding-left: 0;
    text-align: center; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures {
    min-height: 110px;
    position: relative;
    padding-left: 110px;
    margin: 0 0 20px 0; }
    .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures img {
      position: absolute;
      left: 0px;
      top: 20px;
      width: 60px;
      height: initial; }
    .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures h5 {
      margin-top: 00; }

  .tb-benefits-of-investment .tb-title-section b {
    text-transform: uppercase; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures h5 a {
    pointer-events: none; }

  .btn-mb {
    display: flex !important;
    justify-content: center !important; }

  .btn-pc {
    display: none !important; }

  .tb-our-the-business .tb-item-manafuctures .tb-infor-manafactures {
    min-height: 243px; }
  .tb-our-the-business .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .tb-our-the-business .col-md-3 p {
      font-size: 15px !important; }
    .tb-our-the-business .col-md-3 h5 {
      font-size: 98px !important; }

  footer .tb-mail-footer ul li .tb-content-tab-footer a {
    position: relative;
    padding-left: 27px !important; }
    footer .tb-mail-footer ul li .tb-content-tab-footer a img {
      position: absolute;
      left: 0;
      width: 20px;
      top: 2px; }

  .consumer-pc {
    display: none !important; }

  .consumer-mb {
    display: block !important; }

  .hh-slider-items-camnhankhachhang-2 .tb-link-manafactures img {
    width: initial !important; }
  .hh-slider-items-camnhankhachhang-2 .owl-nav {
    display: none; }
  .hh-slider-items-camnhankhachhang-2 .owl-dots button span {
    background: #D9D9D9 !important; }
  .hh-slider-items-camnhankhachhang-2 .owl-dots button.active span {
    width: 37px;
    background: #0068FF !important; }
  .hh-slider-items-camnhankhachhang-2 .tb-description-social {
    display: block !important; }

  .tb-social-activites.tb-mariel-special-development {
    margin-bottom: 0 !important; }
    .tb-social-activites.tb-mariel-special-development .owl-nav {
      display: block !important; }
      .tb-social-activites.tb-mariel-special-development .owl-nav button {
        outline: none !important;
        border: 0 !important;
        position: absolute;
        top: 28%; }
        .tb-social-activites.tb-mariel-special-development .owl-nav button span {
          font-size: 0 !important; }
        .tb-social-activites.tb-mariel-special-development .owl-nav button.owl-next {
          width: 64px;
          height: 64px;
          right: 15px;
          background-size: contain !important;
          background: url(../images/social_arrow-right.svg) no-repeat !important; }
        .tb-social-activites.tb-mariel-special-development .owl-nav button.owl-prev {
          width: 64px;
          height: 64px;
          left: 15px;
          background-size: contain !important;
          background: url(../images/social_arrow-left.svg) no-repeat !important; }
    .tb-social-activites.tb-mariel-special-development .tb-mariel-special-development-container {
      margin-bottom: 0 !important; }
      .tb-social-activites.tb-mariel-special-development .tb-mariel-special-development-container p {
        text-align: center; }

  .tb-vision-mission-container {
    padding: 0; }

  .tb-head-page.tb-head-pageabout h1 {
    font-size: 64px; }

  .tb-attach-file .fileName {
    font-size: 12px !important; }

  header.tb-header .container-search {
    justify-content: center; }

  .mb-slide .owl-nav button.owl-next, .mb-slide .owl-nav button.owl-prev {
    width: 50px !important;
    height: 50px !important;
    background-size: contain !important; }

  .tb-history-page .tb-title-section {
    margin-bottom: 60px !important; }

  .horizontal-mb ul li.active h6 {
    font-size: 46px; }

  .tb-history-page .tb-history-page-container .tb-title-section b {
    font-size: 40px; }

  .tb-manufacturing-about .slider_counter {
    margin-bottom: 0;
    margin-top: 34px; }

  .tb-manufacturing-about .slick-arrow.slick-next {
    top: 18%; }

  .tb-manufacturing-about .slider-image .content p {
    font-size: 16px;
    margin-top: 8px; }

  .tb-list-product {
    margin: 20px 0 130px 0; }

  .tb-logo-brands.tb-our-biggest-products-brands .tb-title-section {
    padding: 40px 0; }

  .tb-product-categories .tb-product-categories-container nav .nav-tabs .nav-link span {
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 103px;
    line-height: 21px;
    overflow: hidden; }

  .tb-product-categories .body-content {
    padding: 0 !important; }

  .tb-together.tb-buy-from-us .tb-infor-together {
    padding: 70px 30px; }

  .tb-buy-from-us .tb-item-content-investment p, .tb-buy-from-us .tb-item-content-investment p span a {
    font-size: 16px !important; }

  .tb-buy-from-us .tb-item-content-investment p {
    margin-bottom: 20px !important; }

  .tb-consumer-product .tb-title-section {
    text-transform: none; }

  .tb-item-manafuctures .tb-infor-manafactures {
    min-height: 293px;
    display: inline-block;
    width: 100%;
    padding: 20px 35px;
    padding-bottom: 80px;
    position: relative; }

  .tb-item-manafuctures .tb-infor-manafactures h5 {
    margin-bottom: 20px; }

  .tb-social-activites.tb-mariel-special-development .tb-mariel-special-development-container p {
    padding: 30px 0; }

  .tb-social-activites.tb-mariel-special-development .owl-nav button.owl-next {
    width: 44px;
    height: 44px;
    background-size: contain !important;
    right: 0 !important; }

  .tb-social-activites.tb-mariel-special-development .owl-nav button.owl-prev {
    width: 44px;
    height: 44px;
    background-size: contain !important;
    right: 0 !important; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures img {
    position: absolute;
    left: 20px; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures p {
    display: block !important;
    font-size: 16px !important;
    margin-top: 13px;
    margin-bottom: 0 !important; }

  .tb-benefits-of-investment .tb-benefits-of-investment-container .tb-infor-manafactures img {
    top: 22%; }

  .tp-consumer-project-detail-banner::after {
    display: none; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-left .date-year,
  .tb-project-in-cuba .tb-project-in-cuba-container .content-left .quater {
    font-family: 'Geologica', sans-serif !important;
    font-weight: 300 !important; }

  .tb-project-in-cuba .tb-project-in-cuba-container .content-right .number p {
    font-family: 'Geologica', sans-serif !important;
    font-weight: 300 !important; }

  .tb-section-investment b {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    font-family: 'Geologica', sans-serif !important; }

  .tb-green-power-project.tb-explore-our-projects .tb-item-manafuctures {
    margin-top: 0; }
  .tb-green-power-project.tb-explore-our-projects .item {
    padding-bottom: 20px !important; }
  .tb-green-power-project.tb-explore-our-projects .tb-infor-manafactures h5 a {
    font-size: 24px !important;
    font-family: 'Geologica', sans-serif !important;
    line-height: 28.992px !important; }
  .tb-green-power-project.tb-explore-our-projects .tb-link-manafactures a span {
    font-size: 20px !important; }

  .tb-green-power-project.tb-explore-our-projects .owl-theme .owl-dots .owl-dot span {
    background: #d9d9d9;
    width: 10px;
    height: 10px;
    margin: 0 8px; }

  .tb-together .tb-infor-together .tb-content-infor-together h3 {
    line-height: 37px; }

  .tb-green-power-project.tb-explore-our-projects .slider-explore-our-projects .item .tb-link-manafactures img {
    width: 28px;
    height: 28px;
    margin-bottom: 0; }

  .tb-contact-banner .tb-head-page-container h1 {
    text-transform: uppercase; }

  .tb-contact-banner .row {
    margin: 0 !important; }

  .tb-contact-banner .tb-head-page-container {
    padding: 0 20px !important;
    padding-top: 30px !important;
    padding-left: 0 !important;
    margin: 0 !important; }
    .tb-contact-banner .tb-head-page-container p {
      padding: 0 20px !important; }

  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link {
    padding: 9px 46px; }

  body .bg-blue-alpha .nav-tabs .nav-link:nth-last-child(1) {
    width: 50% !important; }

  .tb-contact-banner.tb-head-product-category .tb-head-page-container {
    max-width: 100%;
    position: unset;
    padding: 30px 0 !important; }

  body .clothings-bg-phase2 .logo-brands-product img {
    height: 80px !important; }

  .tab-categories-phase2.tab-two-50 .nav-tabs .nav-link:nth-last-child(1) {
    width: 50% !important; }

  .tb-logo-brands.tb-our-biggest-products-brands .box-brand {
    width: 100%; }

  .bg-blue-alpha2 {
    margin-top: 40px !important; }

  .cosmetic-item-block {
    padding: 0 5px !important; }

  .tb-together-product {
    margin-bottom: 0 !important; }

  .stationary-bg-phase2 .box-brand {
    width: max-content !important; }
    .stationary-bg-phase2 .box-brand img {
      height: 110px !important; }

  .section-head-page-phase2 {
    margin-top: 85px; }

  .section-head-page-phase2 .infor-head-page-phase2 h1 {
    font-size: 32px; }
    .section-head-page-phase2 .infor-head-page-phase2 h1 br {
      display: none; }

  .section-head-page-phase2 .infor-head-page-phase2 {
    bottom: 20px; }

  .action-job .btn-expand-table-suplier a {
    font-size: 16px;
    font-weight: 700; }

  .action-job b {
    font-size: 16px;
    font-weight: 700; }

  .action-job .link-suplier a {
    font-size: 14px; }

  .list-job-post .head-job-list h2, .list-job-post .head-job-list h2 b {
    font-size: 32px; }

  .list-job-ulli {
    width: 100%;
    display: inline-block; }
    .list-job-ulli ul {
      margin: 0;
      width: 100%;
      display: inline-block;
      margin-top: 20px;
      border-top: 1px solid #E6E6E6;
      padding-top: 20px; }
      .list-job-ulli ul li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #E6E6E6; }
        .list-job-ulli ul li .item-job-list {
          padding: 10px 15px; }
        .list-job-ulli ul li .table-form-suplier table thead th {
          font-size: 16px; }
        .list-job-ulli ul li .table-form-suplier table td {
          border: 0;
          font-size: 14px; }
    .list-job-ulli .title-job a {
      font-size: 20px; }

  .list-job-post .head-job-list .row {
    text-align: center; }

  .search-job {
    margin: auto;
    float: none; }

  .list-job-ulli {
    overflow-x: auto; }
    .list-job-ulli ul li .table-form-suplier {
      overflow-x: auto; }
      .list-job-ulli ul li .table-form-suplier table {
        min-width: 800px; }

  .p48 {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .item-job-list.pc {
    display: none !important; }
  .item-job-list.mb {
    display: inline-block !important;
    padding-right: 130px !important;
    position: relative;
    padding-left: 0 !important; }
    .item-job-list.mb .action-job {
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      display: inline-block !important; }
      .item-job-list.mb .action-job .link-suplier {
        margin-left: 0 !important; }
    .item-job-list.mb .title-job {
      width: 100% !important; }
    .item-job-list.mb b {
      width: 100% !important;
      display: inline-block !important;
      font-weight: normal;
      color: #414141 !important;
      text-align: right;
      margin-bottom: 7px;
      margin-top: 9px; }
    .item-job-list.mb .title-job > a {
      color: #414141 !important;
      margin-bottom: 15px;
      display: inline-block; }
    .item-job-list.mb .btn-expand-table-suplier {
      margin-left: 0 !important; }
      .item-job-list.mb .btn-expand-table-suplier a {
        font-size: 18px !important; }

  .list-job-ulli ul li.show .item-job-list.mb {
    padding-left: 15px !important; }

  .filter-mb-results {
    position: absolute;
    left: 0;
    display: inline-block !important;
    top: 10px; }
    .filter-mb-results button {
      width: 90px;
      display: flex;
      align-items: center;
      outline: none;
      border: 0;
      background: #0068FF; }
      .filter-mb-results button img {
        height: 20px;
        margin-right: 4px; }
      .filter-mb-results button span {
        font-size: 13px;
        color: white;
        width: initial; }

  .right-sidebar .head-results-right {
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 270px;
    width: 100%;
    float: right; }

  .left-sidebar {
    display: none; }
    .left-sidebar.active {
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: white;
      z-index: 9999;
      padding: 15px; }
      .left-sidebar.active .close-filter {
        position: absolute;
        right: 15px;
        top: 15px;
        display: inline-block !important; }

  .no-result-body img {
    max-width: 250px; }

  .no-result-body {
    margin-bottom: 100px; }

  .head-img-pc {
    display: none !important; }

  .head-img-mb {
    display: inline-block !important; }

  .pr-40 {
    padding-right: 0; }

  .pl-40 {
    padding-left: 0; }

  .sumary-career .tp-button span {
    padding: 0 69px; }

  .title-relate h5 {
    margin-bottom: 20px; }

  .tb-how-we-add.tb-list-category-product .row .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .tb-how-we-add.tb-list-category-product .tb-list-category-product-container .tb-infor-manafactures h5 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700; }

  .process-box .item-process b {
    font-size: 16px;
    font-family: 'Geologica', sans-serif; }

  .life-thaibinh .owl-prev span, .life-thaibinh .owl-next span {
    width: 38px;
    height: 38px;
    margin: 0 !important; }

  .item-images-career {
    padding: 0; }

  .description-title {
    font-size: 14px; }

  .compentitive-reward .row .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .item-compenttitive b {
    font-family: 'Geologica', sans-serif; }

  .job-list-career .title-item-345 {
    margin-bottom: 0 !important; }

  .search-job {
    max-width: 500px;
    padding-right: 50px; }
    .search-job button {
      width: 50px;
      height: 50px; }
      .search-job button img {
        height: 30px !important;
        width: inherit !important;
        margin-left: 0 !important; }

  .list-job-career-luli .item-job-post h4 a {
    font-family: 'Manrope', sans-serif;
    font-weight: 700; }

  .list-job-career-luli .item-job-post .infor-item-jobpost span.title-cate-job,
  .view-job a label {
    font-family: 'Manrope', sans-serif;
    font-weight: 500; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container h1 {
    font-size: 32px;
    text-align: left; }

  .tb-contact-banner.tb-head-product-category .box-red .tb-head-page-container {
    padding: 50px 15px !important; }

  body section.tb-contact-banner.tb-head-product-category {
    margin-bottom: 0 !important; }
    body section.tb-contact-banner.tb-head-product-category .row {
      flex-direction: row-reverse; }

  .tb-contact-banner.tb-head-product-category .bg-opctity-contact img {
    height: 270px;
    object-fit: cover; }

  .post-job-editor {
    padding-top: 30px !important; }

  .title-relate a {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    font-size: 14px; }

  .title-relate {
    align-items: center; }
    .title-relate h5 {
      margin-bottom: 0; }

  .sumary-career ul li b span {
    font-weight: 400;
    font-size: 16px;
    opacity: .7; }

  .content-tab-news a {
    height: 60px;
    font-size: 16px;
    color: #414141;
    padding: 0 28px;
    border-radius: 100px;
    margin: 5px 5px; }

  .link-pagging-news .tp-button a, .sumary-career .tp-button a {
    width: 100% !important;
    background: #0068FF;
    display: flex;
    justify-content: space-between;
    padding-right: 61px;
    position: relative; }
    .link-pagging-news .tp-button a span, .sumary-career .tp-button a span {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .link-pagging-news .tp-button a span, .link-pagging-news .tp-button a b, .sumary-career .tp-button a span, .sumary-career .tp-button a b {
      background: none !important; }
    .link-pagging-news .tp-button a b, .sumary-career .tp-button a b {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      border-left: 1px solid white; }
    .link-pagging-news .tp-button a:hover, .sumary-career .tp-button a:hover {
      background: #ED1C24; }

  .search-job input {
    height: 50px;
    border-radius: 2px 0 0 2px;
    color: white; }

  .search-result-head img {
    height: 290px;
    object-fit: cover; }

  .right-sidebar .head-results-right .combobox-right-sidebar .select-selected {
    font-weight: 400 !important;
    color: #414142 !important; }

  .list-result-right .item-result .infor-item-result .head-infor-item-result b.active {
    font-family: 'Geologica', sans-serif; }

  .list-result-right .item-result .infor-item-result h6 a, .list-result-right .item-result .infor-item-result h6 {
    font-weight: 600;
    font-family: 'Geologica', sans-serif; }

  .list-result-right .item-result {
    flex-direction: column-reverse;
    display: flex; }
    .list-result-right .item-result .infor-item-result {
      margin-top: 20px; } }
.location-job b {
  display: flex; }
  .location-job b span {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-family: 'Manrope', sans-serif; }

@media only screen and (max-width: 400px) {
  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link {
    float: left;
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
    font-size: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }

  .tab-tb-content-contact .tab-custom .tab-title nav .nav-tabs .nav-link.active {
    font-size: 16px; } }

/*# sourceMappingURL=responsive.css.map */
